/*
FlashArray REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.53
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// RealmConnectionsAPIService RealmConnectionsAPI service
type RealmConnectionsAPIService service

type APIRealmConnectionsConnectionKeysDeleteRequest struct {
	ctx           context.Context
	APIService    *RealmConnectionsAPIService
	authorization *string
	xRequestID    *string
	contextNames  *[]string
	realmIds      *[]string
	realmNames    *[]string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIRealmConnectionsConnectionKeysDeleteRequest) Authorization(authorization string) APIRealmConnectionsConnectionKeysDeleteRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIRealmConnectionsConnectionKeysDeleteRequest) XRequestID(xRequestID string) APIRealmConnectionsConnectionKeysDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIRealmConnectionsConnectionKeysDeleteRequest) ContextNames(contextNames []string) APIRealmConnectionsConnectionKeysDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the specified unique resource IDs. Enter multiple resource IDs in comma-separated format. The realm_ids and realm_names parameters cannot be set together.
func (r APIRealmConnectionsConnectionKeysDeleteRequest) RealmIds(realmIds []string) APIRealmConnectionsConnectionKeysDeleteRequest {
	r.realmIds = &realmIds
	return r
}

// Performs the operation on the specified unique resource names. Enter multiple resource names in comma-separated format. The realm_names and realm_ids parameters cannot be set together.
func (r APIRealmConnectionsConnectionKeysDeleteRequest) RealmNames(realmNames []string) APIRealmConnectionsConnectionKeysDeleteRequest {
	r.realmNames = &realmNames
	return r
}

func (r APIRealmConnectionsConnectionKeysDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.RealmConnectionsConnectionKeysDeleteExecute(r)
}

/*
RealmConnectionsConnectionKeysDelete Delete realm connection keys

Deletes all connection keys for a given realm.
Note that every realm connection key is a one-time key
and is deleted automatically upon a successful connection or once it expires.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRealmConnectionsConnectionKeysDeleteRequest
*/
func (a *RealmConnectionsAPIService) RealmConnectionsConnectionKeysDelete(ctx context.Context) APIRealmConnectionsConnectionKeysDeleteRequest {
	return APIRealmConnectionsConnectionKeysDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *RealmConnectionsAPIService) RealmConnectionsConnectionKeysDeleteExecute(r APIRealmConnectionsConnectionKeysDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "RealmConnectionsAPIService.RealmConnectionsConnectionKeysDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.53/realm-connections/connection-keys"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.realmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "realm_ids", r.realmIds, "csv")
	}
	if r.realmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "realm_names", r.realmNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIRealmConnectionsConnectionKeysGetRequest struct {
	ctx               context.Context
	APIService        *RealmConnectionsAPIService
	authorization     *string
	xRequestID        *string
	allowErrors       *bool
	contextNames      *[]string
	continuationToken *string
	filter            *string
	limit             *int32
	offset            *int32
	realmIds          *[]string
	realmNames        *[]string
	sort              *[]string
	totalItemCount    *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIRealmConnectionsConnectionKeysGetRequest) Authorization(authorization string) APIRealmConnectionsConnectionKeysGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIRealmConnectionsConnectionKeysGetRequest) XRequestID(xRequestID string) APIRealmConnectionsConnectionKeysGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIRealmConnectionsConnectionKeysGetRequest) AllowErrors(allowErrors bool) APIRealmConnectionsConnectionKeysGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIRealmConnectionsConnectionKeysGetRequest) ContextNames(contextNames []string) APIRealmConnectionsConnectionKeysGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIRealmConnectionsConnectionKeysGetRequest) ContinuationToken(continuationToken string) APIRealmConnectionsConnectionKeysGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIRealmConnectionsConnectionKeysGetRequest) Filter(filter string) APIRealmConnectionsConnectionKeysGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIRealmConnectionsConnectionKeysGetRequest) Limit(limit int32) APIRealmConnectionsConnectionKeysGetRequest {
	r.limit = &limit
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIRealmConnectionsConnectionKeysGetRequest) Offset(offset int32) APIRealmConnectionsConnectionKeysGetRequest {
	r.offset = &offset
	return r
}

// Performs the operation on the specified unique resource IDs. Enter multiple resource IDs in comma-separated format. The realm_ids and realm_names parameters cannot be set together.
func (r APIRealmConnectionsConnectionKeysGetRequest) RealmIds(realmIds []string) APIRealmConnectionsConnectionKeysGetRequest {
	r.realmIds = &realmIds
	return r
}

// Performs the operation on the specified unique resource names. Enter multiple resource names in comma-separated format. The realm_names and realm_ids parameters cannot be set together.
func (r APIRealmConnectionsConnectionKeysGetRequest) RealmNames(realmNames []string) APIRealmConnectionsConnectionKeysGetRequest {
	r.realmNames = &realmNames
	return r
}

// Sorts the response objects by the specified fields. Sorting can be applied to any field name  in the response, in ascending order by default, or in descending order by prefixing the  field name with a minus sign (-). Multiple fields can be specified as a comma-separated  list (e.g., sort volumes by size descending, then by name ascending). If sort is provided,  the response will not include a continuation_token.
func (r APIRealmConnectionsConnectionKeysGetRequest) Sort(sort []string) APIRealmConnectionsConnectionKeysGetRequest {
	r.sort = &sort
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIRealmConnectionsConnectionKeysGetRequest) TotalItemCount(totalItemCount bool) APIRealmConnectionsConnectionKeysGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

func (r APIRealmConnectionsConnectionKeysGetRequest) Execute() (*RealmConnectionKeyGetResponse, *http.Response, error) {
	return r.APIService.RealmConnectionsConnectionKeysGetExecute(r)
}

/*
RealmConnectionsConnectionKeysGet Get realm connection key information

Displays information about existing realm connection keys.
Secret keys are not displayed, as they are only available at the time of key creation.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRealmConnectionsConnectionKeysGetRequest
*/
func (a *RealmConnectionsAPIService) RealmConnectionsConnectionKeysGet(ctx context.Context) APIRealmConnectionsConnectionKeysGetRequest {
	return APIRealmConnectionsConnectionKeysGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RealmConnectionKeyGetResponse
func (a *RealmConnectionsAPIService) RealmConnectionsConnectionKeysGetExecute(r APIRealmConnectionsConnectionKeysGetRequest) (*RealmConnectionKeyGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RealmConnectionKeyGetResponse
	)

	endpoint := "RealmConnectionsAPIService.RealmConnectionsConnectionKeysGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.53/realm-connections/connection-keys"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.realmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "realm_ids", r.realmIds, "csv")
	}
	if r.realmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "realm_names", r.realmNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIRealmConnectionsConnectionKeysPostRequest struct {
	ctx           context.Context
	APIService    *RealmConnectionsAPIService
	connectionKey *RealmConnectionKeyPost
	authorization *string
	xRequestID    *string
	contextNames  *[]string
	realmIds      *[]string
	realmNames    *[]string
}

func (r APIRealmConnectionsConnectionKeysPostRequest) ConnectionKey(connectionKey RealmConnectionKeyPost) APIRealmConnectionsConnectionKeysPostRequest {
	r.connectionKey = &connectionKey
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIRealmConnectionsConnectionKeysPostRequest) Authorization(authorization string) APIRealmConnectionsConnectionKeysPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIRealmConnectionsConnectionKeysPostRequest) XRequestID(xRequestID string) APIRealmConnectionsConnectionKeysPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIRealmConnectionsConnectionKeysPostRequest) ContextNames(contextNames []string) APIRealmConnectionsConnectionKeysPostRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the specified unique resource IDs. Enter multiple resource IDs in comma-separated format. The realm_ids and realm_names parameters cannot be set together.
func (r APIRealmConnectionsConnectionKeysPostRequest) RealmIds(realmIds []string) APIRealmConnectionsConnectionKeysPostRequest {
	r.realmIds = &realmIds
	return r
}

// Performs the operation on the specified unique resource names. Enter multiple resource names in comma-separated format. The realm_names and realm_ids parameters cannot be set together.
func (r APIRealmConnectionsConnectionKeysPostRequest) RealmNames(realmNames []string) APIRealmConnectionsConnectionKeysPostRequest {
	r.realmNames = &realmNames
	return r
}

func (r APIRealmConnectionsConnectionKeysPostRequest) Execute() (*RealmConnectionKeyPostResponse, *http.Response, error) {
	return r.APIService.RealmConnectionsConnectionKeysPostExecute(r)
}

/*
RealmConnectionsConnectionKeysPost Create realm connection key

Creates a new one-time connection key to allow establishing a connection to the specified realm.
The key is valid until a successful connection is established or its expiration time is reached.
Note that this is the only time the connection key is displayed; it cannot be retrieved subsequently.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRealmConnectionsConnectionKeysPostRequest
*/
func (a *RealmConnectionsAPIService) RealmConnectionsConnectionKeysPost(ctx context.Context) APIRealmConnectionsConnectionKeysPostRequest {
	return APIRealmConnectionsConnectionKeysPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RealmConnectionKeyPostResponse
func (a *RealmConnectionsAPIService) RealmConnectionsConnectionKeysPostExecute(r APIRealmConnectionsConnectionKeysPostRequest) (*RealmConnectionKeyPostResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RealmConnectionKeyPostResponse
	)

	endpoint := "RealmConnectionsAPIService.RealmConnectionsConnectionKeysPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.53/realm-connections/connection-keys"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.connectionKey == nil {
		return localVarReturnValue, nil, reportError("connectionKey is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.realmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "realm_ids", r.realmIds, "csv")
	}
	if r.realmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "realm_names", r.realmNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.connectionKey
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIRealmConnectionsDeleteRequest struct {
	ctx              context.Context
	APIService       *RealmConnectionsAPIService
	authorization    *string
	xRequestID       *string
	contextNames     *[]string
	ids              *[]string
	localRealmIds    *[]string
	localRealmNames  *[]string
	remoteRealmIds   *[]string
	remoteRealmNames *[]string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIRealmConnectionsDeleteRequest) Authorization(authorization string) APIRealmConnectionsDeleteRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIRealmConnectionsDeleteRequest) XRequestID(xRequestID string) APIRealmConnectionsDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIRealmConnectionsDeleteRequest) ContextNames(contextNames []string) APIRealmConnectionsDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format.
func (r APIRealmConnectionsDeleteRequest) Ids(ids []string) APIRealmConnectionsDeleteRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the specified unique resource IDs. Enter multiple resource IDs in comma-separated format. The local_realm_ids and local_realm_names parameters cannot be set together.
func (r APIRealmConnectionsDeleteRequest) LocalRealmIds(localRealmIds []string) APIRealmConnectionsDeleteRequest {
	r.localRealmIds = &localRealmIds
	return r
}

// Performs the operation on the specified unique resource names. Enter multiple resource names in comma-separated format. The local_realm_names and local_realm_ids parameters cannot be set together.
func (r APIRealmConnectionsDeleteRequest) LocalRealmNames(localRealmNames []string) APIRealmConnectionsDeleteRequest {
	r.localRealmNames = &localRealmNames
	return r
}

// Performs the operation on the specified unique resource IDs. Enter multiple resource IDs in comma-separated format. The remote_realm_ids and remote_realm_names parameters cannot be set together.
func (r APIRealmConnectionsDeleteRequest) RemoteRealmIds(remoteRealmIds []string) APIRealmConnectionsDeleteRequest {
	r.remoteRealmIds = &remoteRealmIds
	return r
}

// Performs the operation on the specified unique resource IDs. Enter multiple resource IDs in comma-separated format. The remote_realm_ids and remote_realm_names parameters cannot be set together.
func (r APIRealmConnectionsDeleteRequest) RemoteRealmNames(remoteRealmNames []string) APIRealmConnectionsDeleteRequest {
	r.remoteRealmNames = &remoteRealmNames
	return r
}

func (r APIRealmConnectionsDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.RealmConnectionsDeleteExecute(r)
}

/*
RealmConnectionsDelete Delete realm connections.

Deletes connections between realms.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRealmConnectionsDeleteRequest
*/
func (a *RealmConnectionsAPIService) RealmConnectionsDelete(ctx context.Context) APIRealmConnectionsDeleteRequest {
	return APIRealmConnectionsDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *RealmConnectionsAPIService) RealmConnectionsDeleteExecute(r APIRealmConnectionsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "RealmConnectionsAPIService.RealmConnectionsDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.53/realm-connections"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.localRealmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_realm_ids", r.localRealmIds, "csv")
	}
	if r.localRealmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_realm_names", r.localRealmNames, "csv")
	}
	if r.remoteRealmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_realm_ids", r.remoteRealmIds, "csv")
	}
	if r.remoteRealmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_realm_names", r.remoteRealmNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIRealmConnectionsGetRequest struct {
	ctx               context.Context
	APIService        *RealmConnectionsAPIService
	authorization     *string
	xRequestID        *string
	allowErrors       *bool
	contextNames      *[]string
	continuationToken *string
	filter            *string
	ids               *[]string
	limit             *int32
	localRealmIds     *[]string
	localRealmNames   *[]string
	offset            *int32
	remoteRealmIds    *[]string
	remoteRealmNames  *[]string
	sort              *[]string
	totalItemCount    *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIRealmConnectionsGetRequest) Authorization(authorization string) APIRealmConnectionsGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIRealmConnectionsGetRequest) XRequestID(xRequestID string) APIRealmConnectionsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIRealmConnectionsGetRequest) AllowErrors(allowErrors bool) APIRealmConnectionsGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIRealmConnectionsGetRequest) ContextNames(contextNames []string) APIRealmConnectionsGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIRealmConnectionsGetRequest) ContinuationToken(continuationToken string) APIRealmConnectionsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIRealmConnectionsGetRequest) Filter(filter string) APIRealmConnectionsGetRequest {
	r.filter = &filter
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format.
func (r APIRealmConnectionsGetRequest) Ids(ids []string) APIRealmConnectionsGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIRealmConnectionsGetRequest) Limit(limit int32) APIRealmConnectionsGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the specified unique resource IDs. Enter multiple resource IDs in comma-separated format. The local_realm_ids and local_realm_names parameters cannot be set together.
func (r APIRealmConnectionsGetRequest) LocalRealmIds(localRealmIds []string) APIRealmConnectionsGetRequest {
	r.localRealmIds = &localRealmIds
	return r
}

// Performs the operation on the specified unique resource names. Enter multiple resource names in comma-separated format. The local_realm_names and local_realm_ids parameters cannot be set together.
func (r APIRealmConnectionsGetRequest) LocalRealmNames(localRealmNames []string) APIRealmConnectionsGetRequest {
	r.localRealmNames = &localRealmNames
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIRealmConnectionsGetRequest) Offset(offset int32) APIRealmConnectionsGetRequest {
	r.offset = &offset
	return r
}

// Performs the operation on the specified unique resource IDs. Enter multiple resource IDs in comma-separated format. The remote_realm_ids and remote_realm_names parameters cannot be set together.
func (r APIRealmConnectionsGetRequest) RemoteRealmIds(remoteRealmIds []string) APIRealmConnectionsGetRequest {
	r.remoteRealmIds = &remoteRealmIds
	return r
}

// Performs the operation on the specified unique resource IDs. Enter multiple resource IDs in comma-separated format. The remote_realm_ids and remote_realm_names parameters cannot be set together.
func (r APIRealmConnectionsGetRequest) RemoteRealmNames(remoteRealmNames []string) APIRealmConnectionsGetRequest {
	r.remoteRealmNames = &remoteRealmNames
	return r
}

// Sorts the response objects by the specified fields. Sorting can be applied to any field name  in the response, in ascending order by default, or in descending order by prefixing the  field name with a minus sign (-). Multiple fields can be specified as a comma-separated  list (e.g., sort volumes by size descending, then by name ascending). If sort is provided,  the response will not include a continuation_token.
func (r APIRealmConnectionsGetRequest) Sort(sort []string) APIRealmConnectionsGetRequest {
	r.sort = &sort
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIRealmConnectionsGetRequest) TotalItemCount(totalItemCount bool) APIRealmConnectionsGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

func (r APIRealmConnectionsGetRequest) Execute() (*RealmConnectionsGetResponse, *http.Response, error) {
	return r.APIService.RealmConnectionsGetExecute(r)
}

/*
RealmConnectionsGet List realm connections.

Displays a list of configured realm connections.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRealmConnectionsGetRequest
*/
func (a *RealmConnectionsAPIService) RealmConnectionsGet(ctx context.Context) APIRealmConnectionsGetRequest {
	return APIRealmConnectionsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RealmConnectionsGetResponse
func (a *RealmConnectionsAPIService) RealmConnectionsGetExecute(r APIRealmConnectionsGetRequest) (*RealmConnectionsGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RealmConnectionsGetResponse
	)

	endpoint := "RealmConnectionsAPIService.RealmConnectionsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.53/realm-connections"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.localRealmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_realm_ids", r.localRealmIds, "csv")
	}
	if r.localRealmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_realm_names", r.localRealmNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.remoteRealmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_realm_ids", r.remoteRealmIds, "csv")
	}
	if r.remoteRealmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_realm_names", r.remoteRealmNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIRealmConnectionsPatchRequest struct {
	ctx              context.Context
	APIService       *RealmConnectionsAPIService
	connection       *RealmConnectionWithKey
	authorization    *string
	xRequestID       *string
	contextNames     *[]string
	ids              *[]string
	localRealmIds    *[]string
	localRealmNames  *[]string
	remoteRealmIds   *[]string
	remoteRealmNames *[]string
}

func (r APIRealmConnectionsPatchRequest) Connection(connection RealmConnectionWithKey) APIRealmConnectionsPatchRequest {
	r.connection = &connection
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIRealmConnectionsPatchRequest) Authorization(authorization string) APIRealmConnectionsPatchRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIRealmConnectionsPatchRequest) XRequestID(xRequestID string) APIRealmConnectionsPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIRealmConnectionsPatchRequest) ContextNames(contextNames []string) APIRealmConnectionsPatchRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format.
func (r APIRealmConnectionsPatchRequest) Ids(ids []string) APIRealmConnectionsPatchRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the specified unique resource IDs. Enter multiple resource IDs in comma-separated format. The local_realm_ids and local_realm_names parameters cannot be set together.
func (r APIRealmConnectionsPatchRequest) LocalRealmIds(localRealmIds []string) APIRealmConnectionsPatchRequest {
	r.localRealmIds = &localRealmIds
	return r
}

// Performs the operation on the specified unique resource names. Enter multiple resource names in comma-separated format. The local_realm_names and local_realm_ids parameters cannot be set together.
func (r APIRealmConnectionsPatchRequest) LocalRealmNames(localRealmNames []string) APIRealmConnectionsPatchRequest {
	r.localRealmNames = &localRealmNames
	return r
}

// Performs the operation on the specified unique resource IDs. Enter multiple resource IDs in comma-separated format. The remote_realm_ids and remote_realm_names parameters cannot be set together.
func (r APIRealmConnectionsPatchRequest) RemoteRealmIds(remoteRealmIds []string) APIRealmConnectionsPatchRequest {
	r.remoteRealmIds = &remoteRealmIds
	return r
}

// Performs the operation on the specified unique resource IDs. Enter multiple resource IDs in comma-separated format. The remote_realm_ids and remote_realm_names parameters cannot be set together.
func (r APIRealmConnectionsPatchRequest) RemoteRealmNames(remoteRealmNames []string) APIRealmConnectionsPatchRequest {
	r.remoteRealmNames = &remoteRealmNames
	return r
}

func (r APIRealmConnectionsPatchRequest) Execute() (*RealmConnectionsResponse, *http.Response, error) {
	return r.APIService.RealmConnectionsPatchExecute(r)
}

/*
RealmConnectionsPatch Modify realm connections.

Modifies the connection type between realms.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRealmConnectionsPatchRequest
*/
func (a *RealmConnectionsAPIService) RealmConnectionsPatch(ctx context.Context) APIRealmConnectionsPatchRequest {
	return APIRealmConnectionsPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RealmConnectionsResponse
func (a *RealmConnectionsAPIService) RealmConnectionsPatchExecute(r APIRealmConnectionsPatchRequest) (*RealmConnectionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RealmConnectionsResponse
	)

	endpoint := "RealmConnectionsAPIService.RealmConnectionsPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.53/realm-connections"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.connection == nil {
		return localVarReturnValue, nil, reportError("connection is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.localRealmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_realm_ids", r.localRealmIds, "csv")
	}
	if r.localRealmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_realm_names", r.localRealmNames, "csv")
	}
	if r.remoteRealmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_realm_ids", r.remoteRealmIds, "csv")
	}
	if r.remoteRealmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_realm_names", r.remoteRealmNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.connection
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIRealmConnectionsPostRequest struct {
	ctx              context.Context
	APIService       *RealmConnectionsAPIService
	connection       *RealmConnectionWithKey
	authorization    *string
	xRequestID       *string
	contextNames     *[]string
	localRealmIds    *[]string
	localRealmNames  *[]string
	remoteRealmIds   *[]string
	remoteRealmNames *[]string
}

func (r APIRealmConnectionsPostRequest) Connection(connection RealmConnectionWithKey) APIRealmConnectionsPostRequest {
	r.connection = &connection
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIRealmConnectionsPostRequest) Authorization(authorization string) APIRealmConnectionsPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIRealmConnectionsPostRequest) XRequestID(xRequestID string) APIRealmConnectionsPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIRealmConnectionsPostRequest) ContextNames(contextNames []string) APIRealmConnectionsPostRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the specified unique resource IDs. Enter multiple resource IDs in comma-separated format. The local_realm_ids and local_realm_names parameters cannot be set together.
func (r APIRealmConnectionsPostRequest) LocalRealmIds(localRealmIds []string) APIRealmConnectionsPostRequest {
	r.localRealmIds = &localRealmIds
	return r
}

// Performs the operation on the specified unique resource names. Enter multiple resource names in comma-separated format. The local_realm_names and local_realm_ids parameters cannot be set together.
func (r APIRealmConnectionsPostRequest) LocalRealmNames(localRealmNames []string) APIRealmConnectionsPostRequest {
	r.localRealmNames = &localRealmNames
	return r
}

// Performs the operation on the specified unique resource IDs. Enter multiple resource IDs in comma-separated format. The remote_realm_ids and remote_realm_names parameters cannot be set together.
func (r APIRealmConnectionsPostRequest) RemoteRealmIds(remoteRealmIds []string) APIRealmConnectionsPostRequest {
	r.remoteRealmIds = &remoteRealmIds
	return r
}

// Performs the operation on the specified unique resource IDs. Enter multiple resource IDs in comma-separated format. The remote_realm_ids and remote_realm_names parameters cannot be set together.
func (r APIRealmConnectionsPostRequest) RemoteRealmNames(remoteRealmNames []string) APIRealmConnectionsPostRequest {
	r.remoteRealmNames = &remoteRealmNames
	return r
}

func (r APIRealmConnectionsPostRequest) Execute() (*RealmConnectionsResponse, *http.Response, error) {
	return r.APIService.RealmConnectionsPostExecute(r)
}

/*
RealmConnectionsPost Create realm connection.

Creates a new connection between two realms.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRealmConnectionsPostRequest
*/
func (a *RealmConnectionsAPIService) RealmConnectionsPost(ctx context.Context) APIRealmConnectionsPostRequest {
	return APIRealmConnectionsPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RealmConnectionsResponse
func (a *RealmConnectionsAPIService) RealmConnectionsPostExecute(r APIRealmConnectionsPostRequest) (*RealmConnectionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RealmConnectionsResponse
	)

	endpoint := "RealmConnectionsAPIService.RealmConnectionsPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.53/realm-connections"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.connection == nil {
		return localVarReturnValue, nil, reportError("connection is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.localRealmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_realm_ids", r.localRealmIds, "csv")
	}
	if r.localRealmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_realm_names", r.localRealmNames, "csv")
	}
	if r.remoteRealmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_realm_ids", r.remoteRealmIds, "csv")
	}
	if r.remoteRealmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_realm_names", r.remoteRealmNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.connection
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
