/*
FlashArray REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.53
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// ConnectionsAPIService ConnectionsAPI service
type ConnectionsAPIService service

type APIConnectionsDeleteRequest struct {
	ctx            context.Context
	APIService     *ConnectionsAPIService
	authorization  *string
	xRequestID     *string
	contextNames   *[]string
	hostGroupNames *[]string
	hostNames      *[]string
	volumeIds      *[]string
	volumeNames    *[]string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIConnectionsDeleteRequest) Authorization(authorization string) APIConnectionsDeleteRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIConnectionsDeleteRequest) XRequestID(xRequestID string) APIConnectionsDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIConnectionsDeleteRequest) ContextNames(contextNames []string) APIConnectionsDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the host group specified. Enter multiple names in comma-separated format. A request cannot include a mix of multiple objects with multiple names. For example, a request cannot include a mix of multiple host group names and volume names; instead, at least one of the objects (e.g., &#x60;host_group_names&#x60;) must be set to only one name (e.g., &#x60;hgroup01&#x60;).
func (r APIConnectionsDeleteRequest) HostGroupNames(hostGroupNames []string) APIConnectionsDeleteRequest {
	r.hostGroupNames = &hostGroupNames
	return r
}

// Performs the operation on the hosts specified. Enter multiple names in comma-separated format. For example, &#x60;host01,host02&#x60;. A request cannot include a mix of multiple objects with multiple names. For example, a request cannot include a mix of multiple host names and volume names; instead, at least one of the objects (e.g., &#x60;host_names&#x60;) must be set to only one name (e.g., &#x60;host01&#x60;).
func (r APIConnectionsDeleteRequest) HostNames(hostNames []string) APIConnectionsDeleteRequest {
	r.hostNames = &hostNames
	return r
}

// Performs the operation on the specified volume. Enter multiple ids in comma-separated format. For example, &#x60;vol01id,vol02id&#x60;. A request cannot include a mix of multiple objects with multiple IDs. For example, a request cannot include a mix of multiple volume IDs and host names; instead, at least one of the objects (e.g., &#x60;volume_ids&#x60;) must be set to only one name (e.g., &#x60;vol01id&#x60;). Only one of the two between &#x60;volume_names&#x60; and &#x60;volume_ids&#x60; may be used at a time.
func (r APIConnectionsDeleteRequest) VolumeIds(volumeIds []string) APIConnectionsDeleteRequest {
	r.volumeIds = &volumeIds
	return r
}

// Performs the operation on the volume specified. Enter multiple names in comma-separated format. For example, &#x60;vol01,vol02&#x60;. A request cannot include a mix of multiple objects with multiple names. For example, a request cannot include a mix of multiple volume names and host names; instead, at least one of the objects (e.g., &#x60;volume_names&#x60;) must be set to only one name (e.g., &#x60;vol01&#x60;).
func (r APIConnectionsDeleteRequest) VolumeNames(volumeNames []string) APIConnectionsDeleteRequest {
	r.volumeNames = &volumeNames
	return r
}

func (r APIConnectionsDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.ConnectionsDeleteExecute(r)
}

/*
ConnectionsDelete Delete a connection between a volume and its host or host group

Deletes the connection between a volume and its associated host or host group.
One of `volume_names` or `volume_ids` and one of `host_names`
or `host_group_names` query parameters are required.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIConnectionsDeleteRequest
*/
func (a *ConnectionsAPIService) ConnectionsDelete(ctx context.Context) APIConnectionsDeleteRequest {
	return APIConnectionsDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ConnectionsAPIService) ConnectionsDeleteExecute(r APIConnectionsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "ConnectionsAPIService.ConnectionsDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.53/connections"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.hostGroupNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "host_group_names", r.hostGroupNames, "csv")
	}
	if r.hostNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "host_names", r.hostNames, "csv")
	}
	if r.volumeIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "volume_ids", r.volumeIds, "csv")
	}
	if r.volumeNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "volume_names", r.volumeNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIConnectionsGetRequest struct {
	ctx                   context.Context
	APIService            *ConnectionsAPIService
	authorization         *string
	xRequestID            *string
	allowErrors           *bool
	contextNames          *[]string
	continuationToken     *string
	filter                *string
	hostGroupNames        *[]string
	hostNames             *[]string
	limit                 *int32
	offset                *int32
	protocolEndpointIds   *[]string
	protocolEndpointNames *[]string
	sort                  *[]string
	totalItemCount        *bool
	volumeIds             *[]string
	volumeNames           *[]string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIConnectionsGetRequest) Authorization(authorization string) APIConnectionsGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIConnectionsGetRequest) XRequestID(xRequestID string) APIConnectionsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIConnectionsGetRequest) AllowErrors(allowErrors bool) APIConnectionsGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIConnectionsGetRequest) ContextNames(contextNames []string) APIConnectionsGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIConnectionsGetRequest) ContinuationToken(continuationToken string) APIConnectionsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIConnectionsGetRequest) Filter(filter string) APIConnectionsGetRequest {
	r.filter = &filter
	return r
}

// Performs the operation on the host group specified. Enter multiple names in comma-separated format. A request cannot include a mix of multiple objects with multiple names. For example, a request cannot include a mix of multiple host group names and volume names; instead, at least one of the objects (e.g., &#x60;host_group_names&#x60;) must be set to only one name (e.g., &#x60;hgroup01&#x60;).
func (r APIConnectionsGetRequest) HostGroupNames(hostGroupNames []string) APIConnectionsGetRequest {
	r.hostGroupNames = &hostGroupNames
	return r
}

// Performs the operation on the hosts specified. Enter multiple names in comma-separated format. For example, &#x60;host01,host02&#x60;. A request cannot include a mix of multiple objects with multiple names. For example, a request cannot include a mix of multiple host names and volume names; instead, at least one of the objects (e.g., &#x60;host_names&#x60;) must be set to only one name (e.g., &#x60;host01&#x60;).
func (r APIConnectionsGetRequest) HostNames(hostNames []string) APIConnectionsGetRequest {
	r.hostNames = &hostNames
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIConnectionsGetRequest) Limit(limit int32) APIConnectionsGetRequest {
	r.limit = &limit
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIConnectionsGetRequest) Offset(offset int32) APIConnectionsGetRequest {
	r.offset = &offset
	return r
}

// Performs the operation on the protocol endpoints specified. Enter multiple IDs in comma-separated format. For example, &#x60;peid01,peid02&#x60;. A request cannot include a mix of multiple objects with multiple IDs. For example, a request cannot include a mix of multiple protocol endpoint IDs and host names. Instead, at least one of the objects (e.g., &#x60;protocol_endpoint_ids&#x60;) must be set to one ID (e.g., &#x60;peid01&#x60;).
func (r APIConnectionsGetRequest) ProtocolEndpointIds(protocolEndpointIds []string) APIConnectionsGetRequest {
	r.protocolEndpointIds = &protocolEndpointIds
	return r
}

// Performs the operation on the protocol endpoints specified. Enter multiple names in comma-separated format. For example, &#x60;pe01,pe02&#x60;. A request cannot include a mix of multiple objects with multiple names. For example, a request cannot include a mix of multiple protocol endpoint names and host names; instead, at least one of the objects (e.g., &#x60;protocol_endpoint_names&#x60;) must be set to one name (e.g., &#x60;pe01&#x60;).
func (r APIConnectionsGetRequest) ProtocolEndpointNames(protocolEndpointNames []string) APIConnectionsGetRequest {
	r.protocolEndpointNames = &protocolEndpointNames
	return r
}

// Sorts the response objects by the specified fields. Sorting can be applied to any field name  in the response, in ascending order by default, or in descending order by prefixing the  field name with a minus sign (-). Multiple fields can be specified as a comma-separated  list (e.g., sort volumes by size descending, then by name ascending). If sort is provided,  the response will not include a continuation_token.
func (r APIConnectionsGetRequest) Sort(sort []string) APIConnectionsGetRequest {
	r.sort = &sort
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIConnectionsGetRequest) TotalItemCount(totalItemCount bool) APIConnectionsGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

// Performs the operation on the specified volume. Enter multiple ids in comma-separated format. For example, &#x60;vol01id,vol02id&#x60;. A request cannot include a mix of multiple objects with multiple IDs. For example, a request cannot include a mix of multiple volume IDs and host names; instead, at least one of the objects (e.g., &#x60;volume_ids&#x60;) must be set to only one name (e.g., &#x60;vol01id&#x60;). Only one of the two between &#x60;volume_names&#x60; and &#x60;volume_ids&#x60; may be used at a time.
func (r APIConnectionsGetRequest) VolumeIds(volumeIds []string) APIConnectionsGetRequest {
	r.volumeIds = &volumeIds
	return r
}

// Performs the operation on the volume specified. Enter multiple names in comma-separated format. For example, &#x60;vol01,vol02&#x60;. A request cannot include a mix of multiple objects with multiple names. For example, a request cannot include a mix of multiple volume names and host names; instead, at least one of the objects (e.g., &#x60;volume_names&#x60;) must be set to only one name (e.g., &#x60;vol01&#x60;).
func (r APIConnectionsGetRequest) VolumeNames(volumeNames []string) APIConnectionsGetRequest {
	r.volumeNames = &volumeNames
	return r
}

func (r APIConnectionsGetRequest) Execute() (*ConnectionGetResponse, *http.Response, error) {
	return r.APIService.ConnectionsGetExecute(r)
}

/*
ConnectionsGet List volume connections

Displays a list of connections between a volume and its hosts and host groups, as well as
the logical unit numbers (LUNs) or NVMe Namespace IDs (NSIDs) used by the associated hosts
to address these volumes.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIConnectionsGetRequest
*/
func (a *ConnectionsAPIService) ConnectionsGet(ctx context.Context) APIConnectionsGetRequest {
	return APIConnectionsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ConnectionGetResponse
func (a *ConnectionsAPIService) ConnectionsGetExecute(r APIConnectionsGetRequest) (*ConnectionGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConnectionGetResponse
	)

	endpoint := "ConnectionsAPIService.ConnectionsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.53/connections"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.hostGroupNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "host_group_names", r.hostGroupNames, "csv")
	}
	if r.hostNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "host_names", r.hostNames, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.protocolEndpointIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "protocol_endpoint_ids", r.protocolEndpointIds, "csv")
	}
	if r.protocolEndpointNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "protocol_endpoint_names", r.protocolEndpointNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	if r.volumeIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "volume_ids", r.volumeIds, "csv")
	}
	if r.volumeNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "volume_names", r.volumeNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIConnectionsPostRequest struct {
	ctx            context.Context
	APIService     *ConnectionsAPIService
	authorization  *string
	xRequestID     *string
	contextNames   *[]string
	hostGroupNames *[]string
	hostNames      *[]string
	volumeIds      *[]string
	volumeNames    *[]string
	connection     *ConnectionPost
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIConnectionsPostRequest) Authorization(authorization string) APIConnectionsPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIConnectionsPostRequest) XRequestID(xRequestID string) APIConnectionsPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIConnectionsPostRequest) ContextNames(contextNames []string) APIConnectionsPostRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the host group specified. Enter multiple names in comma-separated format. A request cannot include a mix of multiple objects with multiple names. For example, a request cannot include a mix of multiple host group names and volume names; instead, at least one of the objects (e.g., &#x60;host_group_names&#x60;) must be set to only one name (e.g., &#x60;hgroup01&#x60;).
func (r APIConnectionsPostRequest) HostGroupNames(hostGroupNames []string) APIConnectionsPostRequest {
	r.hostGroupNames = &hostGroupNames
	return r
}

// Performs the operation on the hosts specified. Enter multiple names in comma-separated format. For example, &#x60;host01,host02&#x60;. A request cannot include a mix of multiple objects with multiple names. For example, a request cannot include a mix of multiple host names and volume names; instead, at least one of the objects (e.g., &#x60;host_names&#x60;) must be set to only one name (e.g., &#x60;host01&#x60;).
func (r APIConnectionsPostRequest) HostNames(hostNames []string) APIConnectionsPostRequest {
	r.hostNames = &hostNames
	return r
}

// Performs the operation on the specified volume. Enter multiple ids in comma-separated format. For example, &#x60;vol01id,vol02id&#x60;. A request cannot include a mix of multiple objects with multiple IDs. For example, a request cannot include a mix of multiple volume IDs and host names; instead, at least one of the objects (e.g., &#x60;volume_ids&#x60;) must be set to only one name (e.g., &#x60;vol01id&#x60;). Only one of the two between &#x60;volume_names&#x60; and &#x60;volume_ids&#x60; may be used at a time.
func (r APIConnectionsPostRequest) VolumeIds(volumeIds []string) APIConnectionsPostRequest {
	r.volumeIds = &volumeIds
	return r
}

// Performs the operation on the volume specified. Enter multiple names in comma-separated format. For example, &#x60;vol01,vol02&#x60;. A request cannot include a mix of multiple objects with multiple names. For example, a request cannot include a mix of multiple volume names and host names; instead, at least one of the objects (e.g., &#x60;volume_names&#x60;) must be set to only one name (e.g., &#x60;vol01&#x60;).
func (r APIConnectionsPostRequest) VolumeNames(volumeNames []string) APIConnectionsPostRequest {
	r.volumeNames = &volumeNames
	return r
}

func (r APIConnectionsPostRequest) Connection(connection ConnectionPost) APIConnectionsPostRequest {
	r.connection = &connection
	return r
}

func (r APIConnectionsPostRequest) Execute() (*ConnectionResponse, *http.Response, error) {
	return r.APIService.ConnectionsPostExecute(r)
}

/*
ConnectionsPost Create a connection between a volume and host or host group

Creates a connection between a volume and a host or host group.
One of `volume_names` or `volume_ids` and one of `host_names`
or `host_group_names` query parameters are required.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIConnectionsPostRequest
*/
func (a *ConnectionsAPIService) ConnectionsPost(ctx context.Context) APIConnectionsPostRequest {
	return APIConnectionsPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ConnectionResponse
func (a *ConnectionsAPIService) ConnectionsPostExecute(r APIConnectionsPostRequest) (*ConnectionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConnectionResponse
	)

	endpoint := "ConnectionsAPIService.ConnectionsPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.53/connections"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.hostGroupNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "host_group_names", r.hostGroupNames, "csv")
	}
	if r.hostNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "host_names", r.hostNames, "csv")
	}
	if r.volumeIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "volume_ids", r.volumeIds, "csv")
	}
	if r.volumeNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "volume_names", r.volumeNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.connection
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
