/*
FlashArray REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.53
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// FileSystemsAPIService FileSystemsAPI service
type FileSystemsAPIService service

type APIFileSystemsDeleteRequest struct {
	ctx           context.Context
	APIService    *FileSystemsAPIService
	authorization *string
	xRequestID    *string
	contextNames  *[]string
	ids           *[]string
	names         *[]string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIFileSystemsDeleteRequest) Authorization(authorization string) APIFileSystemsDeleteRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIFileSystemsDeleteRequest) XRequestID(xRequestID string) APIFileSystemsDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIFileSystemsDeleteRequest) ContextNames(contextNames []string) APIFileSystemsDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of unique resource IDs. At least one resource must match  each specified ID, otherwise an error is returned. This parameter is required   if ids or names is not provided, but it cannot be used together with name or names.
func (r APIFileSystemsDeleteRequest) Ids(ids []string) APIFileSystemsDeleteRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIFileSystemsDeleteRequest) Names(names []string) APIFileSystemsDeleteRequest {
	r.names = &names
	return r
}

func (r APIFileSystemsDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.FileSystemsDeleteExecute(r)
}

/*
FileSystemsDelete Delete file system

Deletes a file system that has been destroyed and is pending eradication.
Eradicated file systems cannot be recovered. File systems are destroyed using the PATCH method.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemsDeleteRequest
*/
func (a *FileSystemsAPIService) FileSystemsDelete(ctx context.Context) APIFileSystemsDeleteRequest {
	return APIFileSystemsDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *FileSystemsAPIService) FileSystemsDeleteExecute(r APIFileSystemsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "FileSystemsAPIService.FileSystemsDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.53/file-systems"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIFileSystemsGetRequest struct {
	ctx               context.Context
	APIService        *FileSystemsAPIService
	authorization     *string
	xRequestID        *string
	allowErrors       *bool
	contextNames      *[]string
	continuationToken *string
	destroyed         *bool
	filter            *string
	ids               *[]string
	limit             *int32
	names             *[]string
	offset            *int32
	sort              *[]string
	totalItemCount    *bool
	workloadIds       *[]string
	workloadNames     *[]string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIFileSystemsGetRequest) Authorization(authorization string) APIFileSystemsGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIFileSystemsGetRequest) XRequestID(xRequestID string) APIFileSystemsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIFileSystemsGetRequest) AllowErrors(allowErrors bool) APIFileSystemsGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIFileSystemsGetRequest) ContextNames(contextNames []string) APIFileSystemsGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIFileSystemsGetRequest) ContinuationToken(continuationToken string) APIFileSystemsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// If set to &#x60;true&#x60;, lists only destroyed objects that are in the eradication pending state. If set to &#x60;false&#x60;, lists only objects that are not destroyed. If not set, lists both objects that are destroyed and those that are not destroyed.  For destroyed objects, the time remaining is displayed in milliseconds.  If object name(s) or id(s) are specified, then each object referenced must exist. If &#x60;destroyed&#x60; is set to &#x60;true&#x60;, then each object referenced must also be destroyed. If &#x60;destroyed&#x60; is set to &#x60;false&#x60;, then each object referenced must also not be destroyed. An error is returned if any of these conditions are not met.
func (r APIFileSystemsGetRequest) Destroyed(destroyed bool) APIFileSystemsGetRequest {
	r.destroyed = &destroyed
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIFileSystemsGetRequest) Filter(filter string) APIFileSystemsGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of unique resource IDs. At least one resource must match  each specified ID, otherwise an error is returned. This parameter is required   if ids or names is not provided, but it cannot be used together with name or names.
func (r APIFileSystemsGetRequest) Ids(ids []string) APIFileSystemsGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIFileSystemsGetRequest) Limit(limit int32) APIFileSystemsGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIFileSystemsGetRequest) Names(names []string) APIFileSystemsGetRequest {
	r.names = &names
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIFileSystemsGetRequest) Offset(offset int32) APIFileSystemsGetRequest {
	r.offset = &offset
	return r
}

// Sorts the response objects by the specified fields. Sorting can be applied to any field name  in the response, in ascending order by default, or in descending order by prefixing the  field name with a minus sign (-). Multiple fields can be specified as a comma-separated  list (e.g., sort volumes by size descending, then by name ascending). If sort is provided,  the response will not include a continuation_token.
func (r APIFileSystemsGetRequest) Sort(sort []string) APIFileSystemsGetRequest {
	r.sort = &sort
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIFileSystemsGetRequest) TotalItemCount(totalItemCount bool) APIFileSystemsGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

// A comma-separated list of workload IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;workload_names&#x60; query parameter.
func (r APIFileSystemsGetRequest) WorkloadIds(workloadIds []string) APIFileSystemsGetRequest {
	r.workloadIds = &workloadIds
	return r
}

// A comma-separated list of workload names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;workload_ids&#x60; query parameter.
func (r APIFileSystemsGetRequest) WorkloadNames(workloadNames []string) APIFileSystemsGetRequest {
	r.workloadNames = &workloadNames
	return r
}

func (r APIFileSystemsGetRequest) Execute() (*FileSystemGetResponse, *http.Response, error) {
	return r.APIService.FileSystemsGetExecute(r)
}

/*
FileSystemsGet List file systems

Displays a list of file systems, including those pending eradication.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemsGetRequest
*/
func (a *FileSystemsAPIService) FileSystemsGet(ctx context.Context) APIFileSystemsGetRequest {
	return APIFileSystemsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileSystemGetResponse
func (a *FileSystemsAPIService) FileSystemsGetExecute(r APIFileSystemsGetRequest) (*FileSystemGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FileSystemGetResponse
	)

	endpoint := "FileSystemsAPIService.FileSystemsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.53/file-systems"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.destroyed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destroyed", r.destroyed, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	if r.workloadIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workload_ids", r.workloadIds, "csv")
	}
	if r.workloadNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workload_names", r.workloadNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIFileSystemsPatchRequest struct {
	ctx           context.Context
	APIService    *FileSystemsAPIService
	fileSystem    *FileSystemPatch
	authorization *string
	xRequestID    *string
	contextNames  *[]string
	ids           *[]string
	names         *[]string
}

func (r APIFileSystemsPatchRequest) FileSystem(fileSystem FileSystemPatch) APIFileSystemsPatchRequest {
	r.fileSystem = &fileSystem
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIFileSystemsPatchRequest) Authorization(authorization string) APIFileSystemsPatchRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIFileSystemsPatchRequest) XRequestID(xRequestID string) APIFileSystemsPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIFileSystemsPatchRequest) ContextNames(contextNames []string) APIFileSystemsPatchRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of unique resource IDs. At least one resource must match  each specified ID, otherwise an error is returned. This parameter is required   if ids or names is not provided, but it cannot be used together with name or names.
func (r APIFileSystemsPatchRequest) Ids(ids []string) APIFileSystemsPatchRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIFileSystemsPatchRequest) Names(names []string) APIFileSystemsPatchRequest {
	r.names = &names
	return r
}

func (r APIFileSystemsPatchRequest) Execute() (*FileSystemResponse, *http.Response, error) {
	return r.APIService.FileSystemsPatchExecute(r)
}

/*
FileSystemsPatch Modify a file system

Modifies a file system. You can rename, destroy, move, or recover a file system.
To rename a file system, set `name` to the new name.
To destroy a file system, set `destroyed=true`.
To move a file system, set 'pod' to the destination pod reference.
To recover a file system that has been destroyed and is pending eradication,
set `destroyed=false`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemsPatchRequest
*/
func (a *FileSystemsAPIService) FileSystemsPatch(ctx context.Context) APIFileSystemsPatchRequest {
	return APIFileSystemsPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileSystemResponse
func (a *FileSystemsAPIService) FileSystemsPatchExecute(r APIFileSystemsPatchRequest) (*FileSystemResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FileSystemResponse
	)

	endpoint := "FileSystemsAPIService.FileSystemsPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.53/file-systems"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.fileSystem == nil {
		return localVarReturnValue, nil, reportError("fileSystem is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.fileSystem
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIFileSystemsPostRequest struct {
	ctx                   context.Context
	APIService            *FileSystemsAPIService
	authorization         *string
	xRequestID            *string
	addToPolicyIds        *[]string
	addToPolicyNames      *[]string
	contextNames          *[]string
	names                 *[]string
	withDefaultProtection *bool
	fileSystem            *FileSystemPost
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIFileSystemsPostRequest) Authorization(authorization string) APIFileSystemsPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIFileSystemsPostRequest) XRequestID(xRequestID string) APIFileSystemsPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// The root directories of the file systems will become members of the specified policies along with creation. Enter multiple ids in comma-separated format.
func (r APIFileSystemsPostRequest) AddToPolicyIds(addToPolicyIds []string) APIFileSystemsPostRequest {
	r.addToPolicyIds = &addToPolicyIds
	return r
}

// The root directories of the file systems will become members of the specified policies along with creation. Enter multiple names in a comma-separated format.
func (r APIFileSystemsPostRequest) AddToPolicyNames(addToPolicyNames []string) APIFileSystemsPostRequest {
	r.addToPolicyNames = &addToPolicyNames
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIFileSystemsPostRequest) ContextNames(contextNames []string) APIFileSystemsPostRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIFileSystemsPostRequest) Names(names []string) APIFileSystemsPostRequest {
	r.names = &names
	return r
}

// If specified as &#x60;true&#x60;, the initial protection of the root directories of the newly created file systems will be the union of the container default protection configuration and either &#x60;add_to_policy_names&#x60; or &#x60;add_to_policy_ids&#x60;. If specified as &#x60;false&#x60;, the default protection of the container will not be applied automatically. The initial protection of the root directories of the newly created file systems will be configured by either &#x60;add_to_policy_names&#x60; or &#x60;add_to_policy_ids&#x60;. If not specified, defaults to &#x60;true&#x60;.
func (r APIFileSystemsPostRequest) WithDefaultProtection(withDefaultProtection bool) APIFileSystemsPostRequest {
	r.withDefaultProtection = &withDefaultProtection
	return r
}

func (r APIFileSystemsPostRequest) FileSystem(fileSystem FileSystemPost) APIFileSystemsPostRequest {
	r.fileSystem = &fileSystem
	return r
}

func (r APIFileSystemsPostRequest) Execute() (*FileSystemResponse, *http.Response, error) {
	return r.APIService.FileSystemsPostExecute(r)
}

/*
FileSystemsPost Create file system

Creates one or more file systems.
The `add_to_policy_names` and `add_to_policy_ids` query parameters specify a list of policy
names or ids, respectively, that will be applied to the root directory
of the newly created file system. These parameters are mutually exclusive.
The `with_default_protection` query parameter specifies whether to use the container
default protection configuration for the root directory of the file system.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemsPostRequest
*/
func (a *FileSystemsAPIService) FileSystemsPost(ctx context.Context) APIFileSystemsPostRequest {
	return APIFileSystemsPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileSystemResponse
func (a *FileSystemsAPIService) FileSystemsPostExecute(r APIFileSystemsPostRequest) (*FileSystemResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FileSystemResponse
	)

	endpoint := "FileSystemsAPIService.FileSystemsPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.53/file-systems"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.addToPolicyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "add_to_policy_ids", r.addToPolicyIds, "csv")
	}
	if r.addToPolicyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "add_to_policy_names", r.addToPolicyNames, "csv")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.withDefaultProtection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_default_protection", r.withDefaultProtection, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.fileSystem
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
