/*
FlashBlade REST API

OpenAPI specification for FlashBlade REST API, developed by Everpure, Inc. (https://www.everpuredata.com/).

API version: 2.21
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// BucketReplicaLinksAPIService BucketReplicaLinksAPI service
type BucketReplicaLinksAPIService service

type APIBucketReplicaLinksDeleteRequest struct {
	ctx                 context.Context
	APIService          *BucketReplicaLinksAPIService
	xRequestID          *string
	contextNames        *[]string
	ids                 *[]string
	localBucketIds      *[]string
	localBucketNames    *[]string
	remoteBucketNames   *[]string
	remoteIds           *[]string
	remoteNames         *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIBucketReplicaLinksDeleteRequest) XRequestID(xRequestID string) APIBucketReplicaLinksDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIBucketReplicaLinksDeleteRequest) ContextNames(contextNames []string) APIBucketReplicaLinksDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIBucketReplicaLinksDeleteRequest) Ids(ids []string) APIBucketReplicaLinksDeleteRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of local bucket IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_bucket_names&#x60; query parameter.
func (r APIBucketReplicaLinksDeleteRequest) LocalBucketIds(localBucketIds []string) APIBucketReplicaLinksDeleteRequest {
	r.localBucketIds = &localBucketIds
	return r
}

// A comma-separated list of local bucket names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_bucket_ids&#x60; query parameter.
func (r APIBucketReplicaLinksDeleteRequest) LocalBucketNames(localBucketNames []string) APIBucketReplicaLinksDeleteRequest {
	r.localBucketNames = &localBucketNames
	return r
}

// A comma-separated list of remote bucket names. If there is not at least one resource that matches each of the elements, then an error is returned.
func (r APIBucketReplicaLinksDeleteRequest) RemoteBucketNames(remoteBucketNames []string) APIBucketReplicaLinksDeleteRequest {
	r.remoteBucketNames = &remoteBucketNames
	return r
}

// A comma-separated list of remote array IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIBucketReplicaLinksDeleteRequest) RemoteIds(remoteIds []string) APIBucketReplicaLinksDeleteRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_ids&#x60; query parameter.
func (r APIBucketReplicaLinksDeleteRequest) RemoteNames(remoteNames []string) APIBucketReplicaLinksDeleteRequest {
	r.remoteNames = &remoteNames
	return r
}

func (r APIBucketReplicaLinksDeleteRequest) AuthorizationHeader(authorizationHeader string) APIBucketReplicaLinksDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketReplicaLinksDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.BucketReplicaLinksDeleteExecute(r)
}

/*
BucketReplicaLinksDelete DELETE bucket-replica-links

Delete a bucket replica link.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketReplicaLinksDeleteRequest
*/
func (a *BucketReplicaLinksAPIService) BucketReplicaLinksDelete(ctx context.Context) APIBucketReplicaLinksDeleteRequest {
	return APIBucketReplicaLinksDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *BucketReplicaLinksAPIService) BucketReplicaLinksDeleteExecute(r APIBucketReplicaLinksDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "BucketReplicaLinksAPIService.BucketReplicaLinksDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.21/bucket-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.localBucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_bucket_ids", r.localBucketIds, "csv")
	}
	if r.localBucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_bucket_names", r.localBucketNames, "csv")
	}
	if r.remoteBucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_bucket_names", r.remoteBucketNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIBucketReplicaLinksGetRequest struct {
	ctx                 context.Context
	APIService          *BucketReplicaLinksAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	localBucketIds      *[]string
	localBucketNames    *[]string
	offset              *int32
	remoteBucketNames   *[]string
	remoteIds           *[]string
	remoteNames         *[]string
	sort                *[]string
	totalOnly           *bool
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIBucketReplicaLinksGetRequest) XRequestID(xRequestID string) APIBucketReplicaLinksGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIBucketReplicaLinksGetRequest) AllowErrors(allowErrors bool) APIBucketReplicaLinksGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified. If specified, each context name must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIBucketReplicaLinksGetRequest) ContextNames(contextNames []string) APIBucketReplicaLinksGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIBucketReplicaLinksGetRequest) ContinuationToken(continuationToken string) APIBucketReplicaLinksGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIBucketReplicaLinksGetRequest) Filter(filter string) APIBucketReplicaLinksGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIBucketReplicaLinksGetRequest) Ids(ids []string) APIBucketReplicaLinksGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIBucketReplicaLinksGetRequest) Limit(limit int32) APIBucketReplicaLinksGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of local bucket IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_bucket_names&#x60; query parameter.
func (r APIBucketReplicaLinksGetRequest) LocalBucketIds(localBucketIds []string) APIBucketReplicaLinksGetRequest {
	r.localBucketIds = &localBucketIds
	return r
}

// A comma-separated list of local bucket names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_bucket_ids&#x60; query parameter.
func (r APIBucketReplicaLinksGetRequest) LocalBucketNames(localBucketNames []string) APIBucketReplicaLinksGetRequest {
	r.localBucketNames = &localBucketNames
	return r
}

// The offset of the first resource to return from a collection.
func (r APIBucketReplicaLinksGetRequest) Offset(offset int32) APIBucketReplicaLinksGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of remote bucket names. If there is not at least one resource that matches each of the elements, then an error is returned.
func (r APIBucketReplicaLinksGetRequest) RemoteBucketNames(remoteBucketNames []string) APIBucketReplicaLinksGetRequest {
	r.remoteBucketNames = &remoteBucketNames
	return r
}

// A comma-separated list of remote array IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIBucketReplicaLinksGetRequest) RemoteIds(remoteIds []string) APIBucketReplicaLinksGetRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_ids&#x60; query parameter.
func (r APIBucketReplicaLinksGetRequest) RemoteNames(remoteNames []string) APIBucketReplicaLinksGetRequest {
	r.remoteNames = &remoteNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIBucketReplicaLinksGetRequest) Sort(sort []string) APIBucketReplicaLinksGetRequest {
	r.sort = &sort
	return r
}

// If set to &#x60;true&#x60;, returns the aggregate value of all items after filtering. Where it makes more sense, the average value is displayed instead. The values are displayed for each name where meaningful. If &#x60;total_only&#x3D;true&#x60;, the &#x60;items&#x60; list will be empty.
func (r APIBucketReplicaLinksGetRequest) TotalOnly(totalOnly bool) APIBucketReplicaLinksGetRequest {
	r.totalOnly = &totalOnly
	return r
}

func (r APIBucketReplicaLinksGetRequest) AuthorizationHeader(authorizationHeader string) APIBucketReplicaLinksGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketReplicaLinksGetRequest) Execute() (*BucketReplicaLinkGetResponse, *http.Response, error) {
	return r.APIService.BucketReplicaLinksGetExecute(r)
}

/*
BucketReplicaLinksGet GET bucket-replica-links

List bucket replica links for object replication.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketReplicaLinksGetRequest
*/
func (a *BucketReplicaLinksAPIService) BucketReplicaLinksGet(ctx context.Context) APIBucketReplicaLinksGetRequest {
	return APIBucketReplicaLinksGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BucketReplicaLinkGetResponse
func (a *BucketReplicaLinksAPIService) BucketReplicaLinksGetExecute(r APIBucketReplicaLinksGetRequest) (*BucketReplicaLinkGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BucketReplicaLinkGetResponse
	)

	endpoint := "BucketReplicaLinksAPIService.BucketReplicaLinksGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.21/bucket-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.localBucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_bucket_ids", r.localBucketIds, "csv")
	}
	if r.localBucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_bucket_names", r.localBucketNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.remoteBucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_bucket_names", r.remoteBucketNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_only", r.totalOnly, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIBucketReplicaLinksPatchRequest struct {
	ctx                 context.Context
	APIService          *BucketReplicaLinksAPIService
	bucketReplicaLink   *BucketReplicaLink
	xRequestID          *string
	contextNames        *[]string
	ids                 *[]string
	localBucketIds      *[]string
	localBucketNames    *[]string
	remoteBucketNames   *[]string
	remoteIds           *[]string
	remoteNames         *[]string
	authorizationHeader *string
}

func (r APIBucketReplicaLinksPatchRequest) BucketReplicaLink(bucketReplicaLink BucketReplicaLink) APIBucketReplicaLinksPatchRequest {
	r.bucketReplicaLink = &bucketReplicaLink
	return r
}

// Supplied by client during request or generated by server.
func (r APIBucketReplicaLinksPatchRequest) XRequestID(xRequestID string) APIBucketReplicaLinksPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIBucketReplicaLinksPatchRequest) ContextNames(contextNames []string) APIBucketReplicaLinksPatchRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIBucketReplicaLinksPatchRequest) Ids(ids []string) APIBucketReplicaLinksPatchRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of local bucket IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_bucket_names&#x60; query parameter.
func (r APIBucketReplicaLinksPatchRequest) LocalBucketIds(localBucketIds []string) APIBucketReplicaLinksPatchRequest {
	r.localBucketIds = &localBucketIds
	return r
}

// A comma-separated list of local bucket names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_bucket_ids&#x60; query parameter.
func (r APIBucketReplicaLinksPatchRequest) LocalBucketNames(localBucketNames []string) APIBucketReplicaLinksPatchRequest {
	r.localBucketNames = &localBucketNames
	return r
}

// A comma-separated list of remote bucket names. If there is not at least one resource that matches each of the elements, then an error is returned.
func (r APIBucketReplicaLinksPatchRequest) RemoteBucketNames(remoteBucketNames []string) APIBucketReplicaLinksPatchRequest {
	r.remoteBucketNames = &remoteBucketNames
	return r
}

// A comma-separated list of remote array IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIBucketReplicaLinksPatchRequest) RemoteIds(remoteIds []string) APIBucketReplicaLinksPatchRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_ids&#x60; query parameter.
func (r APIBucketReplicaLinksPatchRequest) RemoteNames(remoteNames []string) APIBucketReplicaLinksPatchRequest {
	r.remoteNames = &remoteNames
	return r
}

func (r APIBucketReplicaLinksPatchRequest) AuthorizationHeader(authorizationHeader string) APIBucketReplicaLinksPatchRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketReplicaLinksPatchRequest) Execute() (*BucketReplicaLinkResponse, *http.Response, error) {
	return r.APIService.BucketReplicaLinksPatchExecute(r)
}

/*
BucketReplicaLinksPatch PATCH bucket-replica-links

Modify the configuration of a bucket replica link including whether the link is paused and the object store remote credentials used.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketReplicaLinksPatchRequest
*/
func (a *BucketReplicaLinksAPIService) BucketReplicaLinksPatch(ctx context.Context) APIBucketReplicaLinksPatchRequest {
	return APIBucketReplicaLinksPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BucketReplicaLinkResponse
func (a *BucketReplicaLinksAPIService) BucketReplicaLinksPatchExecute(r APIBucketReplicaLinksPatchRequest) (*BucketReplicaLinkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BucketReplicaLinkResponse
	)

	endpoint := "BucketReplicaLinksAPIService.BucketReplicaLinksPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.21/bucket-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bucketReplicaLink == nil {
		return localVarReturnValue, nil, reportError("bucketReplicaLink is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.localBucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_bucket_ids", r.localBucketIds, "csv")
	}
	if r.localBucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_bucket_names", r.localBucketNames, "csv")
	}
	if r.remoteBucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_bucket_names", r.remoteBucketNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.bucketReplicaLink
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIBucketReplicaLinksPostRequest struct {
	ctx                    context.Context
	APIService             *BucketReplicaLinksAPIService
	bucketReplicaLink      *BucketReplicaLinkPost
	xRequestID             *string
	contextNames           *[]string
	localBucketIds         *[]string
	localBucketNames       *[]string
	remoteBucketNames      *[]string
	remoteCredentialsIds   *[]string
	remoteCredentialsNames *[]string
	authorizationHeader    *string
}

func (r APIBucketReplicaLinksPostRequest) BucketReplicaLink(bucketReplicaLink BucketReplicaLinkPost) APIBucketReplicaLinksPostRequest {
	r.bucketReplicaLink = &bucketReplicaLink
	return r
}

// Supplied by client during request or generated by server.
func (r APIBucketReplicaLinksPostRequest) XRequestID(xRequestID string) APIBucketReplicaLinksPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIBucketReplicaLinksPostRequest) ContextNames(contextNames []string) APIBucketReplicaLinksPostRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of local bucket IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_bucket_names&#x60; query parameter.
func (r APIBucketReplicaLinksPostRequest) LocalBucketIds(localBucketIds []string) APIBucketReplicaLinksPostRequest {
	r.localBucketIds = &localBucketIds
	return r
}

// A comma-separated list of local bucket names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_bucket_ids&#x60; query parameter.
func (r APIBucketReplicaLinksPostRequest) LocalBucketNames(localBucketNames []string) APIBucketReplicaLinksPostRequest {
	r.localBucketNames = &localBucketNames
	return r
}

// A comma-separated list of remote bucket names. If there is not at least one resource that matches each of the elements, then an error is returned.
func (r APIBucketReplicaLinksPostRequest) RemoteBucketNames(remoteBucketNames []string) APIBucketReplicaLinksPostRequest {
	r.remoteBucketNames = &remoteBucketNames
	return r
}

// A comma-separated list of remote credentials IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_credentials_names&#x60; query parameter.
func (r APIBucketReplicaLinksPostRequest) RemoteCredentialsIds(remoteCredentialsIds []string) APIBucketReplicaLinksPostRequest {
	r.remoteCredentialsIds = &remoteCredentialsIds
	return r
}

// A comma-separated list of remote credentials names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_credentials_ids&#x60; query parameter.
func (r APIBucketReplicaLinksPostRequest) RemoteCredentialsNames(remoteCredentialsNames []string) APIBucketReplicaLinksPostRequest {
	r.remoteCredentialsNames = &remoteCredentialsNames
	return r
}

func (r APIBucketReplicaLinksPostRequest) AuthorizationHeader(authorizationHeader string) APIBucketReplicaLinksPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketReplicaLinksPostRequest) Execute() (*BucketReplicaLinkResponse, *http.Response, error) {
	return r.APIService.BucketReplicaLinksPostExecute(r)
}

/*
BucketReplicaLinksPost POST bucket-replica-links

Create a bucket replica link for object replication.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketReplicaLinksPostRequest
*/
func (a *BucketReplicaLinksAPIService) BucketReplicaLinksPost(ctx context.Context) APIBucketReplicaLinksPostRequest {
	return APIBucketReplicaLinksPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BucketReplicaLinkResponse
func (a *BucketReplicaLinksAPIService) BucketReplicaLinksPostExecute(r APIBucketReplicaLinksPostRequest) (*BucketReplicaLinkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BucketReplicaLinkResponse
	)

	endpoint := "BucketReplicaLinksAPIService.BucketReplicaLinksPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.21/bucket-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bucketReplicaLink == nil {
		return localVarReturnValue, nil, reportError("bucketReplicaLink is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.localBucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_bucket_ids", r.localBucketIds, "csv")
	}
	if r.localBucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_bucket_names", r.localBucketNames, "csv")
	}
	if r.remoteBucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_bucket_names", r.remoteBucketNames, "csv")
	}
	if r.remoteCredentialsIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_credentials_ids", r.remoteCredentialsIds, "csv")
	}
	if r.remoteCredentialsNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_credentials_names", r.remoteCredentialsNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.bucketReplicaLink
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
