/*
FlashBlade REST API

A lightweight client for FlashBlade REST API 2.20, developed by Pure Storage, Inc. (http://www.purestorage.com/).

API version: 2.21
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// NetworkInterfacesAPIService NetworkInterfacesAPI service
type NetworkInterfacesAPIService service

type APINetworkInterfacesConnectorsGetRequest struct {
	ctx                 context.Context
	APIService          *NetworkInterfacesAPIService
	xRequestID          *string
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APINetworkInterfacesConnectorsGetRequest) XRequestID(xRequestID string) APINetworkInterfacesConnectorsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APINetworkInterfacesConnectorsGetRequest) ContinuationToken(continuationToken string) APINetworkInterfacesConnectorsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APINetworkInterfacesConnectorsGetRequest) Filter(filter string) APINetworkInterfacesConnectorsGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APINetworkInterfacesConnectorsGetRequest) Ids(ids []string) APINetworkInterfacesConnectorsGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APINetworkInterfacesConnectorsGetRequest) Limit(limit int32) APINetworkInterfacesConnectorsGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APINetworkInterfacesConnectorsGetRequest) Names(names []string) APINetworkInterfacesConnectorsGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APINetworkInterfacesConnectorsGetRequest) Offset(offset int32) APINetworkInterfacesConnectorsGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APINetworkInterfacesConnectorsGetRequest) Sort(sort []string) APINetworkInterfacesConnectorsGetRequest {
	r.sort = &sort
	return r
}

func (r APINetworkInterfacesConnectorsGetRequest) AuthorizationHeader(authorizationHeader string) APINetworkInterfacesConnectorsGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APINetworkInterfacesConnectorsGetRequest) Execute() (*NetworkInterfacesConnectorsGetResponse, *http.Response, error) {
	return r.APIService.NetworkInterfacesConnectorsGetExecute(r)
}

/*
NetworkInterfacesConnectorsGet GET network-interfaces/connectors

List network connector information

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APINetworkInterfacesConnectorsGetRequest
*/
func (a *NetworkInterfacesAPIService) NetworkInterfacesConnectorsGet(ctx context.Context) APINetworkInterfacesConnectorsGetRequest {
	return APINetworkInterfacesConnectorsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NetworkInterfacesConnectorsGetResponse
func (a *NetworkInterfacesAPIService) NetworkInterfacesConnectorsGetExecute(r APINetworkInterfacesConnectorsGetRequest) (*NetworkInterfacesConnectorsGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NetworkInterfacesConnectorsGetResponse
	)

	endpoint := "NetworkInterfacesAPIService.NetworkInterfacesConnectorsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.21/network-interfaces/connectors"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APINetworkInterfacesConnectorsPatchRequest struct {
	ctx                 context.Context
	APIService          *NetworkInterfacesAPIService
	networkConnector    *HardwareConnector
	xRequestID          *string
	ids                 *[]string
	names               *[]string
	authorizationHeader *string
}

func (r APINetworkInterfacesConnectorsPatchRequest) NetworkConnector(networkConnector HardwareConnector) APINetworkInterfacesConnectorsPatchRequest {
	r.networkConnector = &networkConnector
	return r
}

// Supplied by client during request or generated by server.
func (r APINetworkInterfacesConnectorsPatchRequest) XRequestID(xRequestID string) APINetworkInterfacesConnectorsPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APINetworkInterfacesConnectorsPatchRequest) Ids(ids []string) APINetworkInterfacesConnectorsPatchRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APINetworkInterfacesConnectorsPatchRequest) Names(names []string) APINetworkInterfacesConnectorsPatchRequest {
	r.names = &names
	return r
}

func (r APINetworkInterfacesConnectorsPatchRequest) AuthorizationHeader(authorizationHeader string) APINetworkInterfacesConnectorsPatchRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APINetworkInterfacesConnectorsPatchRequest) Execute() (*NetworkInterfacesConnectorsResponse, *http.Response, error) {
	return r.APIService.NetworkInterfacesConnectorsPatchExecute(r)
}

/*
NetworkInterfacesConnectorsPatch PATCH network-interfaces/connectors

Modify network connector information.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APINetworkInterfacesConnectorsPatchRequest
*/
func (a *NetworkInterfacesAPIService) NetworkInterfacesConnectorsPatch(ctx context.Context) APINetworkInterfacesConnectorsPatchRequest {
	return APINetworkInterfacesConnectorsPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NetworkInterfacesConnectorsResponse
func (a *NetworkInterfacesAPIService) NetworkInterfacesConnectorsPatchExecute(r APINetworkInterfacesConnectorsPatchRequest) (*NetworkInterfacesConnectorsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NetworkInterfacesConnectorsResponse
	)

	endpoint := "NetworkInterfacesAPIService.NetworkInterfacesConnectorsPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.21/network-interfaces/connectors"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.networkConnector == nil {
		return localVarReturnValue, nil, reportError("networkConnector is required and must be specified")
	}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.networkConnector
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APINetworkInterfacesConnectorsPerformanceGetRequest struct {
	ctx                 context.Context
	APIService          *NetworkInterfacesAPIService
	xRequestID          *string
	endTime             *int64
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	resolution          *int64
	sort                *[]string
	startTime           *int64
	totalOnly           *bool
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APINetworkInterfacesConnectorsPerformanceGetRequest) XRequestID(xRequestID string) APINetworkInterfacesConnectorsPerformanceGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// When the time window ends (in milliseconds since epoch).
func (r APINetworkInterfacesConnectorsPerformanceGetRequest) EndTime(endTime int64) APINetworkInterfacesConnectorsPerformanceGetRequest {
	r.endTime = &endTime
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APINetworkInterfacesConnectorsPerformanceGetRequest) Filter(filter string) APINetworkInterfacesConnectorsPerformanceGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APINetworkInterfacesConnectorsPerformanceGetRequest) Ids(ids []string) APINetworkInterfacesConnectorsPerformanceGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APINetworkInterfacesConnectorsPerformanceGetRequest) Limit(limit int32) APINetworkInterfacesConnectorsPerformanceGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APINetworkInterfacesConnectorsPerformanceGetRequest) Names(names []string) APINetworkInterfacesConnectorsPerformanceGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APINetworkInterfacesConnectorsPerformanceGetRequest) Offset(offset int32) APINetworkInterfacesConnectorsPerformanceGetRequest {
	r.offset = &offset
	return r
}

// The desired ms between samples. Available resolutions may depend on data type, &#x60;start_time&#x60; and &#x60;end_time&#x60;. In general &#x60;1000&#x60;, &#x60;30000&#x60;, &#x60;300000&#x60;, &#x60;1800000&#x60;, &#x60;7200000&#x60;, and &#x60;86400000&#x60; are possible values.
func (r APINetworkInterfacesConnectorsPerformanceGetRequest) Resolution(resolution int64) APINetworkInterfacesConnectorsPerformanceGetRequest {
	r.resolution = &resolution
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APINetworkInterfacesConnectorsPerformanceGetRequest) Sort(sort []string) APINetworkInterfacesConnectorsPerformanceGetRequest {
	r.sort = &sort
	return r
}

// When the time window starts (in milliseconds since epoch).
func (r APINetworkInterfacesConnectorsPerformanceGetRequest) StartTime(startTime int64) APINetworkInterfacesConnectorsPerformanceGetRequest {
	r.startTime = &startTime
	return r
}

// If set to &#x60;true&#x60;, returns the aggregate value of all items after filtering. Where it makes more sense, the average value is displayed instead. The values are displayed for each name where meaningful. If &#x60;total_only&#x3D;true&#x60;, the &#x60;items&#x60; list will be empty.
func (r APINetworkInterfacesConnectorsPerformanceGetRequest) TotalOnly(totalOnly bool) APINetworkInterfacesConnectorsPerformanceGetRequest {
	r.totalOnly = &totalOnly
	return r
}

func (r APINetworkInterfacesConnectorsPerformanceGetRequest) AuthorizationHeader(authorizationHeader string) APINetworkInterfacesConnectorsPerformanceGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APINetworkInterfacesConnectorsPerformanceGetRequest) Execute() (*NetworkInterfacesConnectorsPerformanceGetResponse, *http.Response, error) {
	return r.APIService.NetworkInterfacesConnectorsPerformanceGetExecute(r)
}

/*
NetworkInterfacesConnectorsPerformanceGet GET network connectors performance statistics

Displays network statistics, historical bandwidth, and error reporting for
all specified network connectors.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APINetworkInterfacesConnectorsPerformanceGetRequest
*/
func (a *NetworkInterfacesAPIService) NetworkInterfacesConnectorsPerformanceGet(ctx context.Context) APINetworkInterfacesConnectorsPerformanceGetRequest {
	return APINetworkInterfacesConnectorsPerformanceGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NetworkInterfacesConnectorsPerformanceGetResponse
func (a *NetworkInterfacesAPIService) NetworkInterfacesConnectorsPerformanceGetExecute(r APINetworkInterfacesConnectorsPerformanceGetRequest) (*NetworkInterfacesConnectorsPerformanceGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NetworkInterfacesConnectorsPerformanceGetResponse
	)

	endpoint := "NetworkInterfacesAPIService.NetworkInterfacesConnectorsPerformanceGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.21/network-interfaces/connectors/performance"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.resolution != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resolution", r.resolution, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime, "")
	}
	if r.totalOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_only", r.totalOnly, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APINetworkInterfacesConnectorsSettingsGetRequest struct {
	ctx                 context.Context
	APIService          *NetworkInterfacesAPIService
	xRequestID          *string
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APINetworkInterfacesConnectorsSettingsGetRequest) XRequestID(xRequestID string) APINetworkInterfacesConnectorsSettingsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APINetworkInterfacesConnectorsSettingsGetRequest) ContinuationToken(continuationToken string) APINetworkInterfacesConnectorsSettingsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APINetworkInterfacesConnectorsSettingsGetRequest) Filter(filter string) APINetworkInterfacesConnectorsSettingsGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APINetworkInterfacesConnectorsSettingsGetRequest) Ids(ids []string) APINetworkInterfacesConnectorsSettingsGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APINetworkInterfacesConnectorsSettingsGetRequest) Limit(limit int32) APINetworkInterfacesConnectorsSettingsGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APINetworkInterfacesConnectorsSettingsGetRequest) Names(names []string) APINetworkInterfacesConnectorsSettingsGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APINetworkInterfacesConnectorsSettingsGetRequest) Offset(offset int32) APINetworkInterfacesConnectorsSettingsGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APINetworkInterfacesConnectorsSettingsGetRequest) Sort(sort []string) APINetworkInterfacesConnectorsSettingsGetRequest {
	r.sort = &sort
	return r
}

func (r APINetworkInterfacesConnectorsSettingsGetRequest) AuthorizationHeader(authorizationHeader string) APINetworkInterfacesConnectorsSettingsGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APINetworkInterfacesConnectorsSettingsGetRequest) Execute() (*NetworkInterfacesConnectorsSettingsGetResponse, *http.Response, error) {
	return r.APIService.NetworkInterfacesConnectorsSettingsGetExecute(r)
}

/*
NetworkInterfacesConnectorsSettingsGet GET global network settings for network connectors

Display the global network settings for network connectors.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APINetworkInterfacesConnectorsSettingsGetRequest
*/
func (a *NetworkInterfacesAPIService) NetworkInterfacesConnectorsSettingsGet(ctx context.Context) APINetworkInterfacesConnectorsSettingsGetRequest {
	return APINetworkInterfacesConnectorsSettingsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NetworkInterfacesConnectorsSettingsGetResponse
func (a *NetworkInterfacesAPIService) NetworkInterfacesConnectorsSettingsGetExecute(r APINetworkInterfacesConnectorsSettingsGetRequest) (*NetworkInterfacesConnectorsSettingsGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NetworkInterfacesConnectorsSettingsGetResponse
	)

	endpoint := "NetworkInterfacesAPIService.NetworkInterfacesConnectorsSettingsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.21/network-interfaces/connectors/settings"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APINetworkInterfacesDeleteRequest struct {
	ctx                 context.Context
	APIService          *NetworkInterfacesAPIService
	xRequestID          *string
	ids                 *[]string
	names               *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APINetworkInterfacesDeleteRequest) XRequestID(xRequestID string) APINetworkInterfacesDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APINetworkInterfacesDeleteRequest) Ids(ids []string) APINetworkInterfacesDeleteRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APINetworkInterfacesDeleteRequest) Names(names []string) APINetworkInterfacesDeleteRequest {
	r.names = &names
	return r
}

func (r APINetworkInterfacesDeleteRequest) AuthorizationHeader(authorizationHeader string) APINetworkInterfacesDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APINetworkInterfacesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.NetworkInterfacesDeleteExecute(r)
}

/*
NetworkInterfacesDelete DELETE network-interfaces

Remove a VIP. Once a data VIP is removed, any clients connected through the data VIP will lose their connection to the file system or bucket.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APINetworkInterfacesDeleteRequest
*/
func (a *NetworkInterfacesAPIService) NetworkInterfacesDelete(ctx context.Context) APINetworkInterfacesDeleteRequest {
	return APINetworkInterfacesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *NetworkInterfacesAPIService) NetworkInterfacesDeleteExecute(r APINetworkInterfacesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "NetworkInterfacesAPIService.NetworkInterfacesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.21/network-interfaces"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APINetworkInterfacesGetRequest struct {
	ctx                 context.Context
	APIService          *NetworkInterfacesAPIService
	xRequestID          *string
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APINetworkInterfacesGetRequest) XRequestID(xRequestID string) APINetworkInterfacesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APINetworkInterfacesGetRequest) ContinuationToken(continuationToken string) APINetworkInterfacesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APINetworkInterfacesGetRequest) Filter(filter string) APINetworkInterfacesGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APINetworkInterfacesGetRequest) Ids(ids []string) APINetworkInterfacesGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APINetworkInterfacesGetRequest) Limit(limit int32) APINetworkInterfacesGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APINetworkInterfacesGetRequest) Names(names []string) APINetworkInterfacesGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APINetworkInterfacesGetRequest) Offset(offset int32) APINetworkInterfacesGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APINetworkInterfacesGetRequest) Sort(sort []string) APINetworkInterfacesGetRequest {
	r.sort = &sort
	return r
}

func (r APINetworkInterfacesGetRequest) AuthorizationHeader(authorizationHeader string) APINetworkInterfacesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APINetworkInterfacesGetRequest) Execute() (*NetworkInterfaceGetResponse, *http.Response, error) {
	return r.APIService.NetworkInterfacesGetExecute(r)
}

/*
NetworkInterfacesGet GET network-interfaces

List network interfaces and their attributes.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APINetworkInterfacesGetRequest
*/
func (a *NetworkInterfacesAPIService) NetworkInterfacesGet(ctx context.Context) APINetworkInterfacesGetRequest {
	return APINetworkInterfacesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NetworkInterfaceGetResponse
func (a *NetworkInterfacesAPIService) NetworkInterfacesGetExecute(r APINetworkInterfacesGetRequest) (*NetworkInterfaceGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NetworkInterfaceGetResponse
	)

	endpoint := "NetworkInterfacesAPIService.NetworkInterfacesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.21/network-interfaces"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APINetworkInterfacesNeighborsGetRequest struct {
	ctx                 context.Context
	APIService          *NetworkInterfacesAPIService
	xRequestID          *string
	continuationToken   *string
	filter              *string
	limit               *int32
	localPortNames      *[]string
	offset              *int32
	sort                *[]string
	totalItemCount      *bool
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APINetworkInterfacesNeighborsGetRequest) XRequestID(xRequestID string) APINetworkInterfacesNeighborsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APINetworkInterfacesNeighborsGetRequest) ContinuationToken(continuationToken string) APINetworkInterfacesNeighborsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APINetworkInterfacesNeighborsGetRequest) Filter(filter string) APINetworkInterfacesNeighborsGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APINetworkInterfacesNeighborsGetRequest) Limit(limit int32) APINetworkInterfacesNeighborsGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique local port name specified. Enter multiple names in comma-separated format. For example, &#x60;CH1.FM2.ETH1,CH1.FM1.ETH2&#x60;.
func (r APINetworkInterfacesNeighborsGetRequest) LocalPortNames(localPortNames []string) APINetworkInterfacesNeighborsGetRequest {
	r.localPortNames = &localPortNames
	return r
}

// The offset of the first resource to return from a collection.
func (r APINetworkInterfacesNeighborsGetRequest) Offset(offset int32) APINetworkInterfacesNeighborsGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APINetworkInterfacesNeighborsGetRequest) Sort(sort []string) APINetworkInterfacesNeighborsGetRequest {
	r.sort = &sort
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APINetworkInterfacesNeighborsGetRequest) TotalItemCount(totalItemCount bool) APINetworkInterfacesNeighborsGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

func (r APINetworkInterfacesNeighborsGetRequest) AuthorizationHeader(authorizationHeader string) APINetworkInterfacesNeighborsGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APINetworkInterfacesNeighborsGetRequest) Execute() (*NetworkInterfaceNeighborGetResponse, *http.Response, error) {
	return r.APIService.NetworkInterfacesNeighborsGetExecute(r)
}

/*
NetworkInterfacesNeighborsGet List network interface neighbors

Displays all neighbors for all network interfaces on the array.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APINetworkInterfacesNeighborsGetRequest
*/
func (a *NetworkInterfacesAPIService) NetworkInterfacesNeighborsGet(ctx context.Context) APINetworkInterfacesNeighborsGetRequest {
	return APINetworkInterfacesNeighborsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NetworkInterfaceNeighborGetResponse
func (a *NetworkInterfacesAPIService) NetworkInterfacesNeighborsGetExecute(r APINetworkInterfacesNeighborsGetRequest) (*NetworkInterfaceNeighborGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NetworkInterfaceNeighborGetResponse
	)

	endpoint := "NetworkInterfacesAPIService.NetworkInterfacesNeighborsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.21/network-interfaces/neighbors"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.localPortNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_port_names", r.localPortNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APINetworkInterfacesNetworkConnectionStatisticsGetRequest struct {
	ctx                 context.Context
	APIService          *NetworkInterfacesAPIService
	xRequestID          *string
	currentState        *[]string
	filter              *string
	limit               *int32
	localHost           *[]string
	localPort           *[]int32
	offset              *int32
	remoteHost          *[]string
	remotePort          *[]int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APINetworkInterfacesNetworkConnectionStatisticsGetRequest) XRequestID(xRequestID string) APINetworkInterfacesNetworkConnectionStatisticsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// The state to filter the results by. If specified, the results will only include connections which current state matches the specified states.
func (r APINetworkInterfacesNetworkConnectionStatisticsGetRequest) CurrentState(currentState []string) APINetworkInterfacesNetworkConnectionStatisticsGetRequest {
	r.currentState = &currentState
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APINetworkInterfacesNetworkConnectionStatisticsGetRequest) Filter(filter string) APINetworkInterfacesNetworkConnectionStatisticsGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APINetworkInterfacesNetworkConnectionStatisticsGetRequest) Limit(limit int32) APINetworkInterfacesNetworkConnectionStatisticsGetRequest {
	r.limit = &limit
	return r
}

// The local IP address to filter the results by. If specified, the results will only include connections that are either to or from the specified local host.
func (r APINetworkInterfacesNetworkConnectionStatisticsGetRequest) LocalHost(localHost []string) APINetworkInterfacesNetworkConnectionStatisticsGetRequest {
	r.localHost = &localHost
	return r
}

// The local port to filter the results by. If specified, the results will only include connections that are either to or from the specified local port.
func (r APINetworkInterfacesNetworkConnectionStatisticsGetRequest) LocalPort(localPort []int32) APINetworkInterfacesNetworkConnectionStatisticsGetRequest {
	r.localPort = &localPort
	return r
}

// The offset of the first resource to return from a collection.
func (r APINetworkInterfacesNetworkConnectionStatisticsGetRequest) Offset(offset int32) APINetworkInterfacesNetworkConnectionStatisticsGetRequest {
	r.offset = &offset
	return r
}

// The remote IP address to filter the results by. If specified, the results will only include connections that are either to or from the specified remote host.
func (r APINetworkInterfacesNetworkConnectionStatisticsGetRequest) RemoteHost(remoteHost []string) APINetworkInterfacesNetworkConnectionStatisticsGetRequest {
	r.remoteHost = &remoteHost
	return r
}

// The remote port to filter the results by. If specified, the results will only include connections that are either to or from the specified remote port.
func (r APINetworkInterfacesNetworkConnectionStatisticsGetRequest) RemotePort(remotePort []int32) APINetworkInterfacesNetworkConnectionStatisticsGetRequest {
	r.remotePort = &remotePort
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APINetworkInterfacesNetworkConnectionStatisticsGetRequest) Sort(sort []string) APINetworkInterfacesNetworkConnectionStatisticsGetRequest {
	r.sort = &sort
	return r
}

func (r APINetworkInterfacesNetworkConnectionStatisticsGetRequest) AuthorizationHeader(authorizationHeader string) APINetworkInterfacesNetworkConnectionStatisticsGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APINetworkInterfacesNetworkConnectionStatisticsGetRequest) Execute() (*NetworkConnectionStatisticsGetResponse, *http.Response, error) {
	return r.APIService.NetworkInterfacesNetworkConnectionStatisticsGetExecute(r)
}

/*
NetworkInterfacesNetworkConnectionStatisticsGet GET network-interfaces/network-connection-statistics

# Display network interface status

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APINetworkInterfacesNetworkConnectionStatisticsGetRequest
*/
func (a *NetworkInterfacesAPIService) NetworkInterfacesNetworkConnectionStatisticsGet(ctx context.Context) APINetworkInterfacesNetworkConnectionStatisticsGetRequest {
	return APINetworkInterfacesNetworkConnectionStatisticsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NetworkConnectionStatisticsGetResponse
func (a *NetworkInterfacesAPIService) NetworkInterfacesNetworkConnectionStatisticsGetExecute(r APINetworkInterfacesNetworkConnectionStatisticsGetRequest) (*NetworkConnectionStatisticsGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NetworkConnectionStatisticsGetResponse
	)

	endpoint := "NetworkInterfacesAPIService.NetworkInterfacesNetworkConnectionStatisticsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.21/network-interfaces/network-connection-statistics"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.currentState != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "current_state", r.currentState, "csv")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.localHost != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_host", r.localHost, "csv")
	}
	if r.localPort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_port", r.localPort, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.remoteHost != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_host", r.remoteHost, "csv")
	}
	if r.remotePort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_port", r.remotePort, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APINetworkInterfacesPatchRequest struct {
	ctx                 context.Context
	APIService          *NetworkInterfacesAPIService
	networkInterface    *NetworkInterfacePatch
	xRequestID          *string
	ids                 *[]string
	names               *[]string
	authorizationHeader *string
}

func (r APINetworkInterfacesPatchRequest) NetworkInterface(networkInterface NetworkInterfacePatch) APINetworkInterfacesPatchRequest {
	r.networkInterface = &networkInterface
	return r
}

// Supplied by client during request or generated by server.
func (r APINetworkInterfacesPatchRequest) XRequestID(xRequestID string) APINetworkInterfacesPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APINetworkInterfacesPatchRequest) Ids(ids []string) APINetworkInterfacesPatchRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APINetworkInterfacesPatchRequest) Names(names []string) APINetworkInterfacesPatchRequest {
	r.names = &names
	return r
}

func (r APINetworkInterfacesPatchRequest) AuthorizationHeader(authorizationHeader string) APINetworkInterfacesPatchRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APINetworkInterfacesPatchRequest) Execute() (*NetworkInterfaceResponse, *http.Response, error) {
	return r.APIService.NetworkInterfacesPatchExecute(r)
}

/*
NetworkInterfacesPatch PATCH network-interfaces

Modify the attributes of a VIP.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APINetworkInterfacesPatchRequest
*/
func (a *NetworkInterfacesAPIService) NetworkInterfacesPatch(ctx context.Context) APINetworkInterfacesPatchRequest {
	return APINetworkInterfacesPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NetworkInterfaceResponse
func (a *NetworkInterfacesAPIService) NetworkInterfacesPatchExecute(r APINetworkInterfacesPatchRequest) (*NetworkInterfaceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NetworkInterfaceResponse
	)

	endpoint := "NetworkInterfacesAPIService.NetworkInterfacesPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.21/network-interfaces"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.networkInterface == nil {
		return localVarReturnValue, nil, reportError("networkInterface is required and must be specified")
	}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.networkInterface
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APINetworkInterfacesPingGetRequest struct {
	ctx                 context.Context
	APIService          *NetworkInterfacesAPIService
	destination         *string
	xRequestID          *string
	componentName       *string
	count               *int32
	packetSize          *int32
	printLatency        *bool
	resolveHostname     *bool
	source              *string
	authorizationHeader *string
}

// A destination specified by user to run the network diagnosis against. Can be a hostname or an IP.
func (r APINetworkInterfacesPingGetRequest) Destination(destination string) APINetworkInterfacesPingGetRequest {
	r.destination = &destination
	return r
}

// Supplied by client during request or generated by server.
func (r APINetworkInterfacesPingGetRequest) XRequestID(xRequestID string) APINetworkInterfacesPingGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// Used by ping and trace to specify where to run the operation. Valid values are controllers and blades from hardware list. If not specified, defaults to all available controllers and selected blades.
func (r APINetworkInterfacesPingGetRequest) ComponentName(componentName string) APINetworkInterfacesPingGetRequest {
	r.componentName = &componentName
	return r
}

// Used by ping to specify the number of packets to send. If not specified, defaults to 1.
func (r APINetworkInterfacesPingGetRequest) Count(count int32) APINetworkInterfacesPingGetRequest {
	r.count = &count
	return r
}

// Used by ping to specify the number of data bytes to be sent per packet. If not specified, defaults to 56.
func (r APINetworkInterfacesPingGetRequest) PacketSize(packetSize int32) APINetworkInterfacesPingGetRequest {
	r.packetSize = &packetSize
	return r
}

// Used by ping to specify whether or not to print the full user-to-user latency. If not specified, defaults to false.
func (r APINetworkInterfacesPingGetRequest) PrintLatency(printLatency bool) APINetworkInterfacesPingGetRequest {
	r.printLatency = &printLatency
	return r
}

// Used by ping and trace to specify whether or not to map IP addresses to host names. If not specified, defaults to true.
func (r APINetworkInterfacesPingGetRequest) ResolveHostname(resolveHostname bool) APINetworkInterfacesPingGetRequest {
	r.resolveHostname = &resolveHostname
	return r
}

// Used by ping and trace to specify the property where to start to run the specified operation. The property can be subnet or IP.
func (r APINetworkInterfacesPingGetRequest) Source(source string) APINetworkInterfacesPingGetRequest {
	r.source = &source
	return r
}

func (r APINetworkInterfacesPingGetRequest) AuthorizationHeader(authorizationHeader string) APINetworkInterfacesPingGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APINetworkInterfacesPingGetRequest) Execute() (*NetworkInterfacePingGetResponse, *http.Response, error) {
	return r.APIService.NetworkInterfacesPingGetExecute(r)
}

/*
NetworkInterfacesPingGet GET network-interfaces/ping

Display network interface ping result.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APINetworkInterfacesPingGetRequest
*/
func (a *NetworkInterfacesAPIService) NetworkInterfacesPingGet(ctx context.Context) APINetworkInterfacesPingGetRequest {
	return APINetworkInterfacesPingGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NetworkInterfacePingGetResponse
func (a *NetworkInterfacesAPIService) NetworkInterfacesPingGetExecute(r APINetworkInterfacesPingGetRequest) (*NetworkInterfacePingGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NetworkInterfacePingGetResponse
	)

	endpoint := "NetworkInterfacesAPIService.NetworkInterfacesPingGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.21/network-interfaces/ping"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.destination == nil {
		return localVarReturnValue, nil, reportError("destination is required and must be specified")
	}

	if r.componentName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "component_name", r.componentName, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "destination", r.destination, "")
	if r.packetSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "packet_size", r.packetSize, "")
	}
	if r.printLatency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "print_latency", r.printLatency, "")
	}
	if r.resolveHostname != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resolve_hostname", r.resolveHostname, "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APINetworkInterfacesPostRequest struct {
	ctx                 context.Context
	APIService          *NetworkInterfacesAPIService
	names               *[]string
	networkInterface    *NetworkInterface
	xRequestID          *string
	authorizationHeader *string
}

// A comma-separated list of resource names.
func (r APINetworkInterfacesPostRequest) Names(names []string) APINetworkInterfacesPostRequest {
	r.names = &names
	return r
}

func (r APINetworkInterfacesPostRequest) NetworkInterface(networkInterface NetworkInterface) APINetworkInterfacesPostRequest {
	r.networkInterface = &networkInterface
	return r
}

// Supplied by client during request or generated by server.
func (r APINetworkInterfacesPostRequest) XRequestID(xRequestID string) APINetworkInterfacesPostRequest {
	r.xRequestID = &xRequestID
	return r
}

func (r APINetworkInterfacesPostRequest) AuthorizationHeader(authorizationHeader string) APINetworkInterfacesPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APINetworkInterfacesPostRequest) Execute() (*NetworkInterfaceResponse, *http.Response, error) {
	return r.APIService.NetworkInterfacesPostExecute(r)
}

/*
NetworkInterfacesPost POST network-interfaces

Create a VIP to export data or perform replication.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APINetworkInterfacesPostRequest
*/
func (a *NetworkInterfacesAPIService) NetworkInterfacesPost(ctx context.Context) APINetworkInterfacesPostRequest {
	return APINetworkInterfacesPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NetworkInterfaceResponse
func (a *NetworkInterfacesAPIService) NetworkInterfacesPostExecute(r APINetworkInterfacesPostRequest) (*NetworkInterfaceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NetworkInterfaceResponse
	)

	endpoint := "NetworkInterfacesAPIService.NetworkInterfacesPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.21/network-interfaces"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.names == nil {
		return localVarReturnValue, nil, reportError("names is required and must be specified")
	}
	if r.networkInterface == nil {
		return localVarReturnValue, nil, reportError("networkInterface is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.networkInterface
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APINetworkInterfacesTraceGetRequest struct {
	ctx                 context.Context
	APIService          *NetworkInterfacesAPIService
	destination         *string
	xRequestID          *string
	componentName       *string
	discoverMtu         *bool
	fragmentPacket      *bool
	method              *string
	port                *string
	resolveHostname     *bool
	source              *string
	authorizationHeader *string
}

// A destination specified by user to run the network diagnosis against. Can be a hostname or an IP.
func (r APINetworkInterfacesTraceGetRequest) Destination(destination string) APINetworkInterfacesTraceGetRequest {
	r.destination = &destination
	return r
}

// Supplied by client during request or generated by server.
func (r APINetworkInterfacesTraceGetRequest) XRequestID(xRequestID string) APINetworkInterfacesTraceGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// Used by ping and trace to specify where to run the operation. Valid values are controllers and blades from hardware list. If not specified, defaults to all available controllers and selected blades.
func (r APINetworkInterfacesTraceGetRequest) ComponentName(componentName string) APINetworkInterfacesTraceGetRequest {
	r.componentName = &componentName
	return r
}

// Used by trace to specify whether or not to discover the MTU along the path being traced. If not specified, defaults to false.
func (r APINetworkInterfacesTraceGetRequest) DiscoverMtu(discoverMtu bool) APINetworkInterfacesTraceGetRequest {
	r.discoverMtu = &discoverMtu
	return r
}

// Used by trace to specify whether or not to fragment packets. If not specified, defaults to true.
func (r APINetworkInterfacesTraceGetRequest) FragmentPacket(fragmentPacket bool) APINetworkInterfacesTraceGetRequest {
	r.fragmentPacket = &fragmentPacket
	return r
}

// Used by trace to specify which method to use for trace operations. Valid values are &#x60;icmp&#x60;, &#x60;tcp&#x60;, and &#x60;udp&#x60;. If not specified, defaults to &#39;udp&#39;.
func (r APINetworkInterfacesTraceGetRequest) Method(method string) APINetworkInterfacesTraceGetRequest {
	r.method = &method
	return r
}

// Used by trace to specify a destination port.
func (r APINetworkInterfacesTraceGetRequest) Port(port string) APINetworkInterfacesTraceGetRequest {
	r.port = &port
	return r
}

// Used by ping and trace to specify whether or not to map IP addresses to host names. If not specified, defaults to true.
func (r APINetworkInterfacesTraceGetRequest) ResolveHostname(resolveHostname bool) APINetworkInterfacesTraceGetRequest {
	r.resolveHostname = &resolveHostname
	return r
}

// Used by ping and trace to specify the property where to start to run the specified operation. The property can be subnet or IP.
func (r APINetworkInterfacesTraceGetRequest) Source(source string) APINetworkInterfacesTraceGetRequest {
	r.source = &source
	return r
}

func (r APINetworkInterfacesTraceGetRequest) AuthorizationHeader(authorizationHeader string) APINetworkInterfacesTraceGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APINetworkInterfacesTraceGetRequest) Execute() (*NetworkInterfaceTraceGetResponse, *http.Response, error) {
	return r.APIService.NetworkInterfacesTraceGetExecute(r)
}

/*
NetworkInterfacesTraceGet GET network-interfaces/trace

Display network interface trace result.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APINetworkInterfacesTraceGetRequest
*/
func (a *NetworkInterfacesAPIService) NetworkInterfacesTraceGet(ctx context.Context) APINetworkInterfacesTraceGetRequest {
	return APINetworkInterfacesTraceGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NetworkInterfaceTraceGetResponse
func (a *NetworkInterfacesAPIService) NetworkInterfacesTraceGetExecute(r APINetworkInterfacesTraceGetRequest) (*NetworkInterfaceTraceGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NetworkInterfaceTraceGetResponse
	)

	endpoint := "NetworkInterfacesAPIService.NetworkInterfacesTraceGet"
	localVarHeaderParams := make(map[string]string)

[...]
