/*
FlashArray REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.42
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// ProtectionGroupSnapshotsAPIService ProtectionGroupSnapshotsAPI service
type ProtectionGroupSnapshotsAPIService service

type APIProtectionGroupSnapshotsDeleteRequest struct {
	ctx           context.Context
	APIService    *ProtectionGroupSnapshotsAPIService
	authorization *string
	xRequestID    *string
	contextNames  *[]string
	ids           *[]string
	names         *[]string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIProtectionGroupSnapshotsDeleteRequest) Authorization(authorization string) APIProtectionGroupSnapshotsDeleteRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIProtectionGroupSnapshotsDeleteRequest) XRequestID(xRequestID string) APIProtectionGroupSnapshotsDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIProtectionGroupSnapshotsDeleteRequest) ContextNames(contextNames []string) APIProtectionGroupSnapshotsDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIProtectionGroupSnapshotsDeleteRequest) Ids(ids []string) APIProtectionGroupSnapshotsDeleteRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIProtectionGroupSnapshotsDeleteRequest) Names(names []string) APIProtectionGroupSnapshotsDeleteRequest {
	r.names = &names
	return r
}

func (r APIProtectionGroupSnapshotsDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.ProtectionGroupSnapshotsDeleteExecute(r)
}

/*
ProtectionGroupSnapshotsDelete Delete a protection group snapshot

Deletes a protection group snapshot that has been destroyed and is pending eradication.
Eradicating a protection group snapshot eradicates all of its protection group snapshots
and cannot be recovered.
Protection group snapshots are destroyed through the `PATCH` method.
The `names` or `ids` parameter is required, but they cannot be set together.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIProtectionGroupSnapshotsDeleteRequest
*/
func (a *ProtectionGroupSnapshotsAPIService) ProtectionGroupSnapshotsDelete(ctx context.Context) APIProtectionGroupSnapshotsDeleteRequest {
	return APIProtectionGroupSnapshotsDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProtectionGroupSnapshotsAPIService) ProtectionGroupSnapshotsDeleteExecute(r APIProtectionGroupSnapshotsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "ProtectionGroupSnapshotsAPIService.ProtectionGroupSnapshotsDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.42/protection-group-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIProtectionGroupSnapshotsGetRequest struct {
	ctx               context.Context
	APIService        *ProtectionGroupSnapshotsAPIService
	authorization     *string
	xRequestID        *string
	allowErrors       *bool
	contextNames      *[]string
	continuationToken *string
	destroyed         *bool
	filter            *string
	ids               *[]string
	limit             *int32
	names             *[]string
	offset            *int32
	sort              *[]string
	sourceIds         *[]string
	sourceNames       *[]string
	totalItemCount    *bool
	totalOnly         *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIProtectionGroupSnapshotsGetRequest) Authorization(authorization string) APIProtectionGroupSnapshotsGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIProtectionGroupSnapshotsGetRequest) XRequestID(xRequestID string) APIProtectionGroupSnapshotsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIProtectionGroupSnapshotsGetRequest) AllowErrors(allowErrors bool) APIProtectionGroupSnapshotsGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified. If specified, each context name must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIProtectionGroupSnapshotsGetRequest) ContextNames(contextNames []string) APIProtectionGroupSnapshotsGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIProtectionGroupSnapshotsGetRequest) ContinuationToken(continuationToken string) APIProtectionGroupSnapshotsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// If set to &#x60;true&#x60;, lists only destroyed objects that are in the eradication pending state. If set to &#x60;false&#x60;, lists only objects that are not destroyed. For destroyed objects, the time remaining is displayed in milliseconds.
func (r APIProtectionGroupSnapshotsGetRequest) Destroyed(destroyed bool) APIProtectionGroupSnapshotsGetRequest {
	r.destroyed = &destroyed
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIProtectionGroupSnapshotsGetRequest) Filter(filter string) APIProtectionGroupSnapshotsGetRequest {
	r.filter = &filter
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIProtectionGroupSnapshotsGetRequest) Ids(ids []string) APIProtectionGroupSnapshotsGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIProtectionGroupSnapshotsGetRequest) Limit(limit int32) APIProtectionGroupSnapshotsGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIProtectionGroupSnapshotsGetRequest) Names(names []string) APIProtectionGroupSnapshotsGetRequest {
	r.names = &names
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIProtectionGroupSnapshotsGetRequest) Offset(offset int32) APIProtectionGroupSnapshotsGetRequest {
	r.offset = &offset
	return r
}

// Returns the response objects in the order specified. Set &#x60;sort&#x60; to the name in the response by which to sort. Sorting can be performed on any of the names in the response, and the objects can be sorted in ascending or descending order. By default, the response objects are sorted in ascending order. To sort in descending order, append the minus sign (&#x60;-&#x60;) to the name. A single request can be sorted on multiple objects. For example, you can sort all volumes from largest to smallest volume size, and then sort volumes of the same size in ascending order by volume name. To sort on multiple names, list the names as comma-separated values.
func (r APIProtectionGroupSnapshotsGetRequest) Sort(sort []string) APIProtectionGroupSnapshotsGetRequest {
	r.sort = &sort
	return r
}

// Performs the operation on the source ID specified. Enter multiple source IDs in comma-separated format.
func (r APIProtectionGroupSnapshotsGetRequest) SourceIds(sourceIds []string) APIProtectionGroupSnapshotsGetRequest {
	r.sourceIds = &sourceIds
	return r
}

// Performs the operation on the source name specified. Enter multiple source names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIProtectionGroupSnapshotsGetRequest) SourceNames(sourceNames []string) APIProtectionGroupSnapshotsGetRequest {
	r.sourceNames = &sourceNames
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIProtectionGroupSnapshotsGetRequest) TotalItemCount(totalItemCount bool) APIProtectionGroupSnapshotsGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

// If set to &#x60;true&#x60;, returns the aggregate value of all items after filtering. Where it makes more sense, the average value is displayed instead. The values are displayed for each name where meaningful. If &#x60;total_only&#x3D;true&#x60;, the &#x60;items&#x60; list will be empty.
func (r APIProtectionGroupSnapshotsGetRequest) TotalOnly(totalOnly bool) APIProtectionGroupSnapshotsGetRequest {
	r.totalOnly = &totalOnly
	return r
}

func (r APIProtectionGroupSnapshotsGetRequest) Execute() (*ProtectionGroupSnapshotGetResponse, *http.Response, error) {
	return r.APIService.ProtectionGroupSnapshotsGetExecute(r)
}

/*
ProtectionGroupSnapshotsGet List protection group snapshots

Displays a list of protection group snapshots, including those pending eradication.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIProtectionGroupSnapshotsGetRequest
*/
func (a *ProtectionGroupSnapshotsAPIService) ProtectionGroupSnapshotsGet(ctx context.Context) APIProtectionGroupSnapshotsGetRequest {
	return APIProtectionGroupSnapshotsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProtectionGroupSnapshotGetResponse
func (a *ProtectionGroupSnapshotsAPIService) ProtectionGroupSnapshotsGetExecute(r APIProtectionGroupSnapshotsGetRequest) (*ProtectionGroupSnapshotGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProtectionGroupSnapshotGetResponse
	)

	endpoint := "ProtectionGroupSnapshotsAPIService.ProtectionGroupSnapshotsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.42/protection-group-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.destroyed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destroyed", r.destroyed, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.sourceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_ids", r.sourceIds, "csv")
	}
	if r.sourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_names", r.sourceNames, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	if r.totalOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_only", r.totalOnly, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIProtectionGroupSnapshotsPatchRequest struct {
	ctx                     context.Context
	APIService              *ProtectionGroupSnapshotsAPIService
	protectionGroupSnapshot *ProtectionGroupSnapshotPatch
	authorization           *string
	xRequestID              *string
	contextNames            *[]string
	ids                     *[]string
	names                   *[]string
}

func (r APIProtectionGroupSnapshotsPatchRequest) ProtectionGroupSnapshot(protectionGroupSnapshot ProtectionGroupSnapshotPatch) APIProtectionGroupSnapshotsPatchRequest {
	r.protectionGroupSnapshot = &protectionGroupSnapshot
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIProtectionGroupSnapshotsPatchRequest) Authorization(authorization string) APIProtectionGroupSnapshotsPatchRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIProtectionGroupSnapshotsPatchRequest) XRequestID(xRequestID string) APIProtectionGroupSnapshotsPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIProtectionGroupSnapshotsPatchRequest) ContextNames(contextNames []string) APIProtectionGroupSnapshotsPatchRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIProtectionGroupSnapshotsPatchRequest) Ids(ids []string) APIProtectionGroupSnapshotsPatchRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIProtectionGroupSnapshotsPatchRequest) Names(names []string) APIProtectionGroupSnapshotsPatchRequest {
	r.names = &names
	return r
}

func (r APIProtectionGroupSnapshotsPatchRequest) Execute() (*ProtectionGroupSnapshotResponse, *http.Response, error) {
	return r.APIService.ProtectionGroupSnapshotsPatchExecute(r)
}

/*
ProtectionGroupSnapshotsPatch Modify a protection group snapshot

Modifies a protection group snapshot so that it can be destroyed.
To destroy a volume, set `destroyed=true`.
To recover a volume that has been destroyed and is pending eradication, set `destroyed=false`.
The `names` or `ids` parameter is required, but they cannot be set together.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIProtectionGroupSnapshotsPatchRequest
*/
func (a *ProtectionGroupSnapshotsAPIService) ProtectionGroupSnapshotsPatch(ctx context.Context) APIProtectionGroupSnapshotsPatchRequest {
	return APIProtectionGroupSnapshotsPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProtectionGroupSnapshotResponse
func (a *ProtectionGroupSnapshotsAPIService) ProtectionGroupSnapshotsPatchExecute(r APIProtectionGroupSnapshotsPatchRequest) (*ProtectionGroupSnapshotResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProtectionGroupSnapshotResponse
	)

	endpoint := "ProtectionGroupSnapshotsAPIService.ProtectionGroupSnapshotsPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.42/protection-group-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.protectionGroupSnapshot == nil {
		return localVarReturnValue, nil, reportError("protectionGroupSnapshot is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.protectionGroupSnapshot
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIProtectionGroupSnapshotsPostRequest struct {
	ctx                     context.Context
	APIService              *ProtectionGroupSnapshotsAPIService
	authorization           *string
	xRequestID              *string
	allowThrottle           *bool
	applyRetention          *bool
	contextNames            *[]string
	forReplication          *bool
	replicate               *bool
	replicateNow            *bool
	sourceIds               *[]string
	sourceNames             *[]string
	protectionGroupSnapshot *ProtectionGroupSnapshotPost
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIProtectionGroupSnapshotsPostRequest) Authorization(authorization string) APIProtectionGroupSnapshotsPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIProtectionGroupSnapshotsPostRequest) XRequestID(xRequestID string) APIProtectionGroupSnapshotsPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, allows snapshot to fail if array health is not optimal.
func (r APIProtectionGroupSnapshotsPostRequest) AllowThrottle(allowThrottle bool) APIProtectionGroupSnapshotsPostRequest {
	r.allowThrottle = &allowThrottle
	return r
}

// If &#x60;true&#x60;, applies the local and remote retention policy to the snapshots.
func (r APIProtectionGroupSnapshotsPostRequest) ApplyRetention(applyRetention bool) APIProtectionGroupSnapshotsPostRequest {
	r.applyRetention = &applyRetention
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIProtectionGroupSnapshotsPostRequest) ContextNames(contextNames []string) APIProtectionGroupSnapshotsPostRequest {
	r.contextNames = &contextNames
	return r
}

// If &#x60;true&#x60;, destroys and eradicates the snapshot after 1 hour.
func (r APIProtectionGroupSnapshotsPostRequest) ForReplication(forReplication bool) APIProtectionGroupSnapshotsPostRequest {
	r.forReplication = &forReplication
	return r
}

// If set to &#x60;true&#x60;, queues up and begins replicating to each allowed target after all earlier replication sessions for the same protection group have been completed to that target. The &#x60;replicate&#x60; and &#x60;replicate_now&#x60; parameters cannot be used together.
func (r APIProtectionGroupSnapshotsPostRequest) Replicate(replicate bool) APIProtectionGroupSnapshotsPostRequest {
	r.replicate = &replicate
	return r
}

// If set to &#x60;true&#x60;, replicates the snapshots to each allowed target. The &#x60;replicate&#x60; and &#x60;replicate_now&#x60; parameters cannot be used together.
func (r APIProtectionGroupSnapshotsPostRequest) ReplicateNow(replicateNow bool) APIProtectionGroupSnapshotsPostRequest {
	r.replicateNow = &replicateNow
	return r
}

// Performs the operation on the source ID specified. Enter multiple source IDs in comma-separated format.
func (r APIProtectionGroupSnapshotsPostRequest) SourceIds(sourceIds []string) APIProtectionGroupSnapshotsPostRequest {
	r.sourceIds = &sourceIds
	return r
}

// Performs the operation on the source name specified. Enter multiple source names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIProtectionGroupSnapshotsPostRequest) SourceNames(sourceNames []string) APIProtectionGroupSnapshotsPostRequest {
	r.sourceNames = &sourceNames
	return r
}

func (r APIProtectionGroupSnapshotsPostRequest) ProtectionGroupSnapshot(protectionGroupSnapshot ProtectionGroupSnapshotPost) APIProtectionGroupSnapshotsPostRequest {
	r.protectionGroupSnapshot = &protectionGroupSnapshot
	return r
}

func (r APIProtectionGroupSnapshotsPostRequest) Execute() (*ProtectionGroupSnapshotResponse, *http.Response, error) {
	return r.APIService.ProtectionGroupSnapshotsPostExecute(r)
}

/*
ProtectionGroupSnapshotsPost Create a protection group snapshot

Creates a point-in-time snapshot of the contents of a protection group.
The `source_ids` or `source_names` parameter is required, but they cannot be set together.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIProtectionGroupSnapshotsPostRequest
*/
func (a *ProtectionGroupSnapshotsAPIService) ProtectionGroupSnapshotsPost(ctx context.Context) APIProtectionGroupSnapshotsPostRequest {
	return APIProtectionGroupSnapshotsPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProtectionGroupSnapshotResponse
func (a *ProtectionGroupSnapshotsAPIService) ProtectionGroupSnapshotsPostExecute(r APIProtectionGroupSnapshotsPostRequest) (*ProtectionGroupSnapshotResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProtectionGroupSnapshotResponse
	)

	endpoint := "ProtectionGroupSnapshotsAPIService.ProtectionGroupSnapshotsPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.42/protection-group-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowThrottle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_throttle", r.allowThrottle, "")
	}
	if r.applyRetention != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "apply_retention", r.applyRetention, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.forReplication != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "for_replication", r.forReplication, "")
	}
	if r.replicate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "replicate", r.replicate, "")
	}
	if r.replicateNow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "replicate_now", r.replicateNow, "")
	}
	if r.sourceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_ids", r.sourceIds, "csv")
	}
	if r.sourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_names", r.sourceNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.protectionGroupSnapshot
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIProtectionGroupSnapshotsReplicaPostRequest struct {
	ctx                     context.Context
	APIService              *ProtectionGroupSnapshotsAPIService
	authorization           *string
	xRequestID              *string
	contextNames            *[]string
	convertSourceToBaseline *bool
	ids                     *[]string
	names                   *[]string
	on                      *[]string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIProtectionGroupSnapshotsReplicaPostRequest) Authorization(authorization string) APIProtectionGroupSnapshotsReplicaPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIProtectionGroupSnapshotsReplicaPostRequest) XRequestID(xRequestID string) APIProtectionGroupSnapshotsReplicaPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIProtectionGroupSnapshotsReplicaPostRequest) ContextNames(contextNames []string) APIProtectionGroupSnapshotsReplicaPostRequest {
	r.contextNames = &contextNames
	return r
}

// Set to &#x60;true&#x60; to have the snapshot be eradicated when it is no longer baseline on source.
func (r APIProtectionGroupSnapshotsReplicaPostRequest) ConvertSourceToBaseline(convertSourceToBaseline bool) APIProtectionGroupSnapshotsReplicaPostRequest {
	r.convertSourceToBaseline = &convertSourceToBaseline
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIProtectionGroupSnapshotsReplicaPostRequest) Ids(ids []string) APIProtectionGroupSnapshotsReplicaPostRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIProtectionGroupSnapshotsReplicaPostRequest) Names(names []string) APIProtectionGroupSnapshotsReplicaPostRequest {
	r.names = &names
	return r
}

// Performs the operation locally with the target names specified as the destinations of the operation. Enter multiple target names in comma-separated format. For example, &#x60;targetName01,targetName02&#x60;.
func (r APIProtectionGroupSnapshotsReplicaPostRequest) On(on []string) APIProtectionGroupSnapshotsReplicaPostRequest {
	r.on = &on
	return r
}

func (r APIProtectionGroupSnapshotsReplicaPostRequest) Execute() (*ProtectionGroupSnapshotReplicaResponse, *http.Response, error) {
	return r.APIService.ProtectionGroupSnapshotsReplicaPostExecute(r)
}

/*
ProtectionGroupSnapshotsReplicaPost Create an action to send protection group snapshots

Creates an action to send protection group snapshots to protection pgroup targets.
When the `on` option is used, only specified targets will recieve the
protection group snapshots.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIProtectionGroupSnapshotsReplicaPostRequest
*/
func (a *ProtectionGroupSnapshotsAPIService) ProtectionGroupSnapshotsReplicaPost(ctx context.Context) APIProtectionGroupSnapshotsReplicaPostRequest {
	return APIProtectionGroupSnapshotsReplicaPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProtectionGroupSnapshotReplicaResponse
func (a *ProtectionGroupSnapshotsAPIService) ProtectionGroupSnapshotsReplicaPostExecute(r APIProtectionGroupSnapshotsReplicaPostRequest) (*ProtectionGroupSnapshotReplicaResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProtectionGroupSnapshotReplicaResponse
	)

	endpoint := "ProtectionGroupSnapshotsAPIService.ProtectionGroupSnapshotsReplicaPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.42/protection-group-snapshots/replica"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.convertSourceToBaseline != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "convert_source_to_baseline", r.convertSourceToBaseline, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.on != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "on", r.on, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIProtectionGroupSnapshotsTestPostRequest struct {
	ctx                     context.Context
	APIService              *ProtectionGroupSnapshotsAPIService
	authorization           *string
	xRequestID              *string
	allowThrottle           *bool
	applyRetention          *bool
	contextNames            *[]string
	forReplication          *bool
	replicate               *bool
	replicateNow            *bool
	sourceIds               *[]string
	sourceNames             *[]string
	protectionGroupSnapshot *ProtectionGroupSnapshotPost
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIProtectionGroupSnapshotsTestPostRequest) Authorization(authorization string) APIProtectionGroupSnapshotsTestPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIProtectionGroupSnapshotsTestPostRequest) XRequestID(xRequestID string) APIProtectionGroupSnapshotsTestPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, allows snapshot to fail if array health is not optimal.
func (r APIProtectionGroupSnapshotsTestPostRequest) AllowThrottle(allowThrottle bool) APIProtectionGroupSnapshotsTestPostRequest {
	r.allowThrottle = &allowThrottle
	return r
}

// If &#x60;true&#x60;, applies the local and remote retention policy to the snapshots.
func (r APIProtectionGroupSnapshotsTestPostRequest) ApplyRetention(applyRetention bool) APIProtectionGroupSnapshotsTestPostRequest {
	r.applyRetention = &applyRetention
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIProtectionGroupSnapshotsTestPostRequest) ContextNames(contextNames []string) APIProtectionGroupSnapshotsTestPostRequest {
	r.contextNames = &contextNames
	return r
}

// If &#x60;true&#x60;, destroys and eradicates the snapshot after 1 hour.
func (r APIProtectionGroupSnapshotsTestPostRequest) ForReplication(forReplication bool) APIProtectionGroupSnapshotsTestPostRequest {
	r.forReplication = &forReplication
	return r
}

// If set to &#x60;true&#x60;, queues up and begins replicating to each allowed target after all earlier replication sessions for the same protection group have been completed to that target. The &#x60;replicate&#x60; and &#x60;replicate_now&#x60; parameters cannot be used together.
func (r APIProtectionGroupSnapshotsTestPostRequest) Replicate(replicate bool) APIProtectionGroupSnapshotsTestPostRequest {
	r.replicate = &replicate
	return r
}

// If set to &#x60;true&#x60;, replicates the snapshots to each allowed target. The &#x60;replicate&#x60; and &#x60;replicate_now&#x60; parameters cannot be used together.
func (r APIProtectionGroupSnapshotsTestPostRequest) ReplicateNow(replicateNow bool) APIProtectionGroupSnapshotsTestPostRequest {
	r.replicateNow = &replicateNow
	return r
}

// Performs the operation on the source ID specified. Enter multiple source IDs in comma-separated format.
func (r APIProtectionGroupSnapshotsTestPostRequest) SourceIds(sourceIds []string) APIProtectionGroupSnapshotsTestPostRequest {
	r.sourceIds = &sourceIds
	return r
}

// Performs the operation on the source name specified. Enter multiple source names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIProtectionGroupSnapshotsTestPostRequest) SourceNames(sourceNames []string) APIProtectionGroupSnapshotsTestPostRequest {
	r.sourceNames = &sourceNames
	return r
}

func (r APIProtectionGroupSnapshotsTestPostRequest) ProtectionGroupSnapshot(protectionGroupSnapshot ProtectionGroupSnapshotPost) APIProtectionGroupSnapshotsTestPostRequest {
	r.protectionGroupSnapshot = &protectionGroupSnapshot
	return r
}

func (r APIProtectionGroupSnapshotsTestPostRequest) Execute() (*TestResultWithResourceWithIdPostResponse, *http.Response, error) {
	return r.APIService.ProtectionGroupSnapshotsTestPostExecute(r)
}

/*
ProtectionGroupSnapshotsTestPost Create an attempt to take protection group snapshot

Creates an attempt to take the protection group snapshot, without
actually taking it, to test if the snapshot can be successfully taken.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIProtectionGroupSnapshotsTestPostRequest
*/
func (a *ProtectionGroupSnapshotsAPIService) ProtectionGroupSnapshotsTestPost(ctx context.Context) APIProtectionGroupSnapshotsTestPostRequest {
	return APIProtectionGroupSnapshotsTestPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TestResultWithResourceWithIdPostResponse
func (a *ProtectionGroupSnapshotsAPIService) ProtectionGroupSnapshotsTestPostExecute(r APIProtectionGroupSnapshotsTestPostRequest) (*TestResultWithResourceWithIdPostResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TestResultWithResourceWithIdPostResponse
	)

	endpoint := "ProtectionGroupSnapshotsAPIService.ProtectionGroupSnapshotsTestPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.42/protection-group-snapshots/test"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowThrottle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_throttle", r.allowThrottle, "")
	}
	if r.applyRetention != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "apply_retention", r.applyRetention, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.forReplication != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "for_replication", r.forReplication, "")
	}
	if r.replicate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "replicate", r.replicate, "")
	}
	if r.replicateNow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "replicate_now", r.replicateNow, "")
	}
	if r.sourceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_ids", r.sourceIds, "csv")
	}
	if r.sourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_names", r.sourceNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.protectionGroupSnapshot
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIProtectionGroupSnapshotsTransferGetRequest struct {
	ctx               context.Context
	APIService        *ProtectionGroupSnapshotsAPIService
	authorization     *string
	xRequestID        *string
	allowErrors       *bool
	contextNames      *[]string
	continuationToken *string
	destroyed         *bool
	filter            *string
	ids               *[]string
	limit             *int32
	names             *[]string
	offset            *int32
	sort              *[]string
	sourceIds         *[]string
	sourceNames       *[]string
	totalItemCount    *bool
	totalOnly         *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIProtectionGroupSnapshotsTransferGetRequest) Authorization(authorization string) APIProtectionGroupSnapshotsTransferGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIProtectionGroupSnapshotsTransferGetRequest) XRequestID(xRequestID string) APIProtectionGroupSnapshotsTransferGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIProtectionGroupSnapshotsTransferGetRequest) AllowErrors(allowErrors bool) APIProtectionGroupSnapshotsTransferGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified. If specified, each context name must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIProtectionGroupSnapshotsTransferGetRequest) ContextNames(contextNames []string) APIProtectionGroupSnapshotsTransferGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIProtectionGroupSnapshotsTransferGetRequest) ContinuationToken(continuationToken string) APIProtectionGroupSnapshotsTransferGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// If set to &#x60;true&#x60;, lists only destroyed objects that are in the eradication pending state. If set to &#x60;false&#x60;, lists only objects that are not destroyed. For destroyed objects, the time remaining is displayed in milliseconds.
func (r APIProtectionGroupSnapshotsTransferGetRequest) Destroyed(destroyed bool) APIProtectionGroupSnapshotsTransferGetRequest {
	r.destroyed = &destroyed
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIProtectionGroupSnapshotsTransferGetRequest) Filter(filter string) APIProtectionGroupSnapshotsTransferGetRequest {
	r.filter = &filter
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIProtectionGroupSnapshotsTransferGetRequest) Ids(ids []string) APIProtectionGroupSnapshotsTransferGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIProtectionGroupSnapshotsTransferGetRequest) Limit(limit int32) APIProtectionGroupSnapshotsTransferGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIProtectionGroupSnapshotsTransferGetRequest) Names(names []string) APIProtectionGroupSnapshotsTransferGetRequest {
	r.names = &names
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIProtectionGroupSnapshotsTransferGetRequest) Offset(offset int32) APIProtectionGroupSnapshotsTransferGetRequest {
	r.offset = &offset
	return r
}

// Returns the response objects in the order specified. Set &#x60;sort&#x60; to the name in the response by which to sort. Sorting can be performed on any of the names in the response, and the objects can be sorted in ascending or descending order. By default, the response objects are sorted in ascending order. To sort in descending order, append the minus sign (&#x60;-&#x60;) to the name. A single request can be sorted on multiple objects. For example, you can sort all volumes from largest to smallest volume size, and then sort volumes of the same size in ascending order by volume name. To sort on multiple names, list the names as comma-separated values.
func (r APIProtectionGroupSnapshotsTransferGetRequest) Sort(sort []string) APIProtectionGroupSnapshotsTransferGetRequest {
	r.sort = &sort
	return r
}

// Performs the operation on the source ID specified. Enter multiple source IDs in comma-separated format.
func (r APIProtectionGroupSnapshotsTransferGetRequest) SourceIds(sourceIds []string) APIProtectionGroupSnapshotsTransferGetRequest {
	r.sourceIds = &sourceIds
	return r
}

// Performs the operation on the source name specified. Enter multiple source names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIProtectionGroupSnapshotsTransferGetRequest) SourceNames(sourceNames []string) APIProtectionGroupSnapshotsTransferGetRequest {
	r.sourceNames = &sourceNames
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIProtectionGroupSnapshotsTransferGetRequest) TotalItemCount(totalItemCount bool) APIProtectionGroupSnapshotsTransferGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

// If set to &#x60;true&#x60;, returns the aggregate value of all items after filtering. Where it makes more sense, the average value is displayed instead. The values are displayed for each name where meaningful. If &#x60;total_only&#x3D;true&#x60;, the &#x60;items&#x60; list will be empty.
func (r APIProtectionGroupSnapshotsTransferGetRequest) TotalOnly(totalOnly bool) APIProtectionGroupSnapshotsTransferGetRequest {
	r.totalOnly = &totalOnly
	return r
}

func (r APIProtectionGroupSnapshotsTransferGetRequest) Execute() (*ProtectionGroupSnapshotTransferGetResponse, *http.Response, error) {
	return r.APIService.ProtectionGroupSnapshotsTransferGetExecute(r)
}

/*
ProtectionGroupSnapshotsTransferGet List protection group snapshots with transfer statistics

Displays a list of protection group snapshots and corresponding transfer statistics.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIProtectionGroupSnapshotsTransferGetRequest
*/
func (a *ProtectionGroupSnapshotsAPIService) ProtectionGroupSnapshotsTransferGet(ctx context.Context) APIProtectionGroupSnapshotsTransferGetRequest {
	return APIProtectionGroupSnapshotsTransferGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProtectionGroupSnapshotTransferGetResponse
func (a *ProtectionGroupSnapshotsAPIService) ProtectionGroupSnapshotsTransferGetExecute(r APIProtectionGroupSnapshotsTransferGetRequest) (*ProtectionGroupSnapshotTransferGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProtectionGroupSnapshotTransferGetResponse
	)

	endpoint := "ProtectionGroupSnapshotsAPIService.ProtectionGroupSnapshotsTransferGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.42/protection-group-snapshots/transfer"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.destroyed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destroyed", r.destroyed, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.sourceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_ids", r.sourceIds, "csv")
	}
	if r.sourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_names", r.sourceNames, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	if r.totalOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_only", r.totalOnly, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
