/*
FlashArray REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.46
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// DirectoryExportsAPIService DirectoryExportsAPI service
type DirectoryExportsAPIService service

type APIDirectoryExportsDeleteRequest struct {
	ctx            context.Context
	APIService     *DirectoryExportsAPIService
	authorization  *string
	xRequestID     *string
	contextNames   *[]string
	directoryIds   *[]string
	directoryNames *[]string
	exportNames    *[]string
	names          *[]string
	policyIds      *[]string
	policyNames    *[]string
	serverIds      *[]string
	serverNames    *[]string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIDirectoryExportsDeleteRequest) Authorization(authorization string) APIDirectoryExportsDeleteRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIDirectoryExportsDeleteRequest) XRequestID(xRequestID string) APIDirectoryExportsDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIDirectoryExportsDeleteRequest) ContextNames(contextNames []string) APIDirectoryExportsDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the unique managed directory IDs specified. Enter multiple managed directory IDs in comma-separated format. The &#x60;directory_ids&#x60; or &#x60;directory_names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectoryExportsDeleteRequest) DirectoryIds(directoryIds []string) APIDirectoryExportsDeleteRequest {
	r.directoryIds = &directoryIds
	return r
}

// Performs the operation on the managed directory names specified. Enter multiple full managed directory names in comma-separated format. The name is expected to be fully qualified, meaning if the object is contained in some context, the corresponding name would provide complete information about the containment hierarchy. For example, &#x60;fs:dir01,pod01::fs:dir01&#x60;.
func (r APIDirectoryExportsDeleteRequest) DirectoryNames(directoryNames []string) APIDirectoryExportsDeleteRequest {
	r.directoryNames = &directoryNames
	return r
}

// Performs the operation on the export names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIDirectoryExportsDeleteRequest) ExportNames(exportNames []string) APIDirectoryExportsDeleteRequest {
	r.exportNames = &exportNames
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. Combines the export containment hierarchy (server), the protocol (smb or nfs) and the export_name. For example, &#x60;server01::smb::export01,server01::nfs::export01&#x60;.
func (r APIDirectoryExportsDeleteRequest) Names(names []string) APIDirectoryExportsDeleteRequest {
	r.names = &names
	return r
}

// Performs the operation on the unique policy IDs specified. Enter multiple policy IDs in comma-separated format. The &#x60;policy_ids&#x60; or &#x60;policy_names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectoryExportsDeleteRequest) PolicyIds(policyIds []string) APIDirectoryExportsDeleteRequest {
	r.policyIds = &policyIds
	return r
}

// Performs the operation on the policy names specified. Enter multiple policy names in comma-separated format. The name is expected to be fully qualified, meaning if the object is contained in some context, the corresponding name would provide complete information about the containment hierarchy. For example, &#x60;policy01,pod01::policy01&#x60;.
func (r APIDirectoryExportsDeleteRequest) PolicyNames(policyNames []string) APIDirectoryExportsDeleteRequest {
	r.policyNames = &policyNames
	return r
}

// A comma-separated list of server IDs.
func (r APIDirectoryExportsDeleteRequest) ServerIds(serverIds []string) APIDirectoryExportsDeleteRequest {
	r.serverIds = &serverIds
	return r
}

// Server names for which the export object is going to be evaluated. Names are expected to be fully qualified, meaning if the object is contained in some context, the corresponding name would provide complete information about the containment hierarchy. For example, &#x60;server01,server02&#x60;.
func (r APIDirectoryExportsDeleteRequest) ServerNames(serverNames []string) APIDirectoryExportsDeleteRequest {
	r.serverNames = &serverNames
	return r
}

func (r APIDirectoryExportsDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.DirectoryExportsDeleteExecute(r)
}

/*
DirectoryExportsDelete Delete directory exports

Deletes one or more directory exports.
If any of the `export_names` is not unique across the system,
`policy_ids` or `policy_names` must be specified to determine the exports.
When server reference is not provided, the `_array_server` is set as effective default.
The API provides two options for identifying an export object. One option is to reference
it by its fully qualified export name, or alternatively, by a combination of
parameters-specifically, the `server_names` (or `server_ids`) and `export_names`. All
identifying parameters must always be provided, either explicitly or as part of the
fully qualified name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryExportsDeleteRequest
*/
func (a *DirectoryExportsAPIService) DirectoryExportsDelete(ctx context.Context) APIDirectoryExportsDeleteRequest {
	return APIDirectoryExportsDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *DirectoryExportsAPIService) DirectoryExportsDeleteExecute(r APIDirectoryExportsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "DirectoryExportsAPIService.DirectoryExportsDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.46/directory-exports"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.directoryIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directory_ids", r.directoryIds, "csv")
	}
	if r.directoryNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directory_names", r.directoryNames, "csv")
	}
	if r.exportNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "export_names", r.exportNames, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.serverIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_ids", r.serverIds, "csv")
	}
	if r.serverNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_names", r.serverNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIDirectoryExportsGetRequest struct {
	ctx               context.Context
	APIService        *DirectoryExportsAPIService
	authorization     *string
	xRequestID        *string
	allowErrors       *bool
	contextNames      *[]string
	continuationToken *string
	destroyed         *bool
	directoryIds      *[]string
	directoryNames    *[]string
	exportNames       *[]string
	filter            *string
	limit             *int32
	names             *[]string
	offset            *int32
	policyIds         *[]string
	policyNames       *[]string
	sort              *[]string
	totalItemCount    *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIDirectoryExportsGetRequest) Authorization(authorization string) APIDirectoryExportsGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIDirectoryExportsGetRequest) XRequestID(xRequestID string) APIDirectoryExportsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIDirectoryExportsGetRequest) AllowErrors(allowErrors bool) APIDirectoryExportsGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified. If specified, each context name must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIDirectoryExportsGetRequest) ContextNames(contextNames []string) APIDirectoryExportsGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIDirectoryExportsGetRequest) ContinuationToken(continuationToken string) APIDirectoryExportsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// If set to &#x60;true&#x60;, lists only destroyed objects that are in the eradication pending state. If set to &#x60;false&#x60;, lists only objects that are not destroyed. For destroyed objects, the time remaining is displayed in milliseconds.
func (r APIDirectoryExportsGetRequest) Destroyed(destroyed bool) APIDirectoryExportsGetRequest {
	r.destroyed = &destroyed
	return r
}

// Performs the operation on the unique managed directory IDs specified. Enter multiple managed directory IDs in comma-separated format. The &#x60;directory_ids&#x60; or &#x60;directory_names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectoryExportsGetRequest) DirectoryIds(directoryIds []string) APIDirectoryExportsGetRequest {
	r.directoryIds = &directoryIds
	return r
}

// Performs the operation on the managed directory names specified. Enter multiple full managed directory names in comma-separated format. The name is expected to be fully qualified, meaning if the object is contained in some context, the corresponding name would provide complete information about the containment hierarchy. For example, &#x60;fs:dir01,pod01::fs:dir01&#x60;.
func (r APIDirectoryExportsGetRequest) DirectoryNames(directoryNames []string) APIDirectoryExportsGetRequest {
	r.directoryNames = &directoryNames
	return r
}

// Performs the operation on the export names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIDirectoryExportsGetRequest) ExportNames(exportNames []string) APIDirectoryExportsGetRequest {
	r.exportNames = &exportNames
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIDirectoryExportsGetRequest) Filter(filter string) APIDirectoryExportsGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIDirectoryExportsGetRequest) Limit(limit int32) APIDirectoryExportsGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. Combines the export containment hierarchy (server), the protocol (smb or nfs) and the export_name. For example, &#x60;server01::smb::export01,server01::nfs::export01&#x60;.
func (r APIDirectoryExportsGetRequest) Names(names []string) APIDirectoryExportsGetRequest {
	r.names = &names
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIDirectoryExportsGetRequest) Offset(offset int32) APIDirectoryExportsGetRequest {
	r.offset = &offset
	return r
}

// Performs the operation on the unique policy IDs specified. Enter multiple policy IDs in comma-separated format. The &#x60;policy_ids&#x60; or &#x60;policy_names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectoryExportsGetRequest) PolicyIds(policyIds []string) APIDirectoryExportsGetRequest {
	r.policyIds = &policyIds
	return r
}

// Performs the operation on the policy names specified. Enter multiple policy names in comma-separated format. The name is expected to be fully qualified, meaning if the object is contained in some context, the corresponding name would provide complete information about the containment hierarchy. For example, &#x60;policy01,pod01::policy01&#x60;.
func (r APIDirectoryExportsGetRequest) PolicyNames(policyNames []string) APIDirectoryExportsGetRequest {
	r.policyNames = &policyNames
	return r
}

// Returns the response objects in the order specified. Set &#x60;sort&#x60; to the name in the response by which to sort. Sorting can be performed on any of the names in the response, and the objects can be sorted in ascending or descending order. By default, the response objects are sorted in ascending order. To sort in descending order, append the minus sign (&#x60;-&#x60;) to the name. A single request can be sorted on multiple objects. For example, you can sort all volumes from largest to smallest volume size, and then sort volumes of the same size in ascending order by volume name. To sort on multiple names, list the names as comma-separated values.
func (r APIDirectoryExportsGetRequest) Sort(sort []string) APIDirectoryExportsGetRequest {
	r.sort = &sort
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIDirectoryExportsGetRequest) TotalItemCount(totalItemCount bool) APIDirectoryExportsGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

func (r APIDirectoryExportsGetRequest) Execute() (*DirectoryExportGetResponse, *http.Response, error) {
	return r.APIService.DirectoryExportsGetExecute(r)
}

/*
DirectoryExportsGet List directory exports

Displays a list of directory exports.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryExportsGetRequest
*/
func (a *DirectoryExportsAPIService) DirectoryExportsGet(ctx context.Context) APIDirectoryExportsGetRequest {
	return APIDirectoryExportsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DirectoryExportGetResponse
func (a *DirectoryExportsAPIService) DirectoryExportsGetExecute(r APIDirectoryExportsGetRequest) (*DirectoryExportGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DirectoryExportGetResponse
	)

	endpoint := "DirectoryExportsAPIService.DirectoryExportsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.46/directory-exports"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.destroyed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destroyed", r.destroyed, "")
	}
	if r.directoryIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directory_ids", r.directoryIds, "csv")
	}
	if r.directoryNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directory_names", r.directoryNames, "csv")
	}
	if r.exportNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "export_names", r.exportNames, "csv")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIDirectoryExportsPatchRequest struct {
	ctx            context.Context
	APIService     *DirectoryExportsAPIService
	export         *DirectoryExportPatch
	authorization  *string
	xRequestID     *string
	contextNames   *[]string
	directoryIds   *[]string
	directoryNames *[]string
	exportNames    *[]string
	names          *[]string
	policyIds      *[]string
	policyNames    *[]string
	serverIds      *[]string
	serverNames    *[]string
}

func (r APIDirectoryExportsPatchRequest) Export(export DirectoryExportPatch) APIDirectoryExportsPatchRequest {
	r.export = &export
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIDirectoryExportsPatchRequest) Authorization(authorization string) APIDirectoryExportsPatchRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIDirectoryExportsPatchRequest) XRequestID(xRequestID string) APIDirectoryExportsPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIDirectoryExportsPatchRequest) ContextNames(contextNames []string) APIDirectoryExportsPatchRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the unique managed directory IDs specified. Enter multiple managed directory IDs in comma-separated format. The &#x60;directory_ids&#x60; or &#x60;directory_names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectoryExportsPatchRequest) DirectoryIds(directoryIds []string) APIDirectoryExportsPatchRequest {
	r.directoryIds = &directoryIds
	return r
}

// Performs the operation on the managed directory names specified. Enter multiple full managed directory names in comma-separated format. The name is expected to be fully qualified, meaning if the object is contained in some context, the corresponding name would provide complete information about the containment hierarchy. For example, &#x60;fs:dir01,pod01::fs:dir01&#x60;.
func (r APIDirectoryExportsPatchRequest) DirectoryNames(directoryNames []string) APIDirectoryExportsPatchRequest {
	r.directoryNames = &directoryNames
	return r
}

// Performs the operation on the export names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIDirectoryExportsPatchRequest) ExportNames(exportNames []string) APIDirectoryExportsPatchRequest {
	r.exportNames = &exportNames
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. Combines the export containment hierarchy (server), the protocol (smb or nfs) and the export_name. For example, &#x60;server01::smb::export01,server01::nfs::export01&#x60;.
func (r APIDirectoryExportsPatchRequest) Names(names []string) APIDirectoryExportsPatchRequest {
	r.names = &names
	return r
}

// Performs the operation on the unique policy IDs specified. Enter multiple policy IDs in comma-separated format. The &#x60;policy_ids&#x60; or &#x60;policy_names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectoryExportsPatchRequest) PolicyIds(policyIds []string) APIDirectoryExportsPatchRequest {
	r.policyIds = &policyIds
	return r
}

// Performs the operation on the policy names specified. Enter multiple policy names in comma-separated format. The name is expected to be fully qualified, meaning if the object is contained in some context, the corresponding name would provide complete information about the containment hierarchy. For example, &#x60;policy01,pod01::policy01&#x60;.
func (r APIDirectoryExportsPatchRequest) PolicyNames(policyNames []string) APIDirectoryExportsPatchRequest {
	r.policyNames = &policyNames
	return r
}

// A comma-separated list of server IDs.
func (r APIDirectoryExportsPatchRequest) ServerIds(serverIds []string) APIDirectoryExportsPatchRequest {
	r.serverIds = &serverIds
	return r
}

// Server names for which the export object is going to be evaluated. Names are expected to be fully qualified, meaning if the object is contained in some context, the corresponding name would provide complete information about the containment hierarchy. For example, &#x60;server01,server02&#x60;.
func (r APIDirectoryExportsPatchRequest) ServerNames(serverNames []string) APIDirectoryExportsPatchRequest {
	r.serverNames = &serverNames
	return r
}

func (r APIDirectoryExportsPatchRequest) Execute() (*DirectoryExportResponse, *http.Response, error) {
	return r.APIService.DirectoryExportsPatchExecute(r)
}

/*
DirectoryExportsPatch Modify directory exports

Modifies a directory export.
Used for manually renaming, enabling, and disabling directory exports.
To rename a directory export, set 'export_name' to the new name.
When server reference is not provided, the `_array_server` is set as effective default.
The API provides two options for identifying an export object. One option is to reference
it by its fully qualified export name, or alternatively, by a combination of
parameters—specifically, the `server` and `export_name`. All identifying parameters must
always be provided, either explicitly or as part of the fully qualified name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryExportsPatchRequest
*/
func (a *DirectoryExportsAPIService) DirectoryExportsPatch(ctx context.Context) APIDirectoryExportsPatchRequest {
	return APIDirectoryExportsPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DirectoryExportResponse
func (a *DirectoryExportsAPIService) DirectoryExportsPatchExecute(r APIDirectoryExportsPatchRequest) (*DirectoryExportResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DirectoryExportResponse
	)

	endpoint := "DirectoryExportsAPIService.DirectoryExportsPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.46/directory-exports"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.export == nil {
		return localVarReturnValue, nil, reportError("export is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.directoryIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directory_ids", r.directoryIds, "csv")
	}
	if r.directoryNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directory_names", r.directoryNames, "csv")
	}
	if r.exportNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "export_names", r.exportNames, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.serverIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_ids", r.serverIds, "csv")
	}
	if r.serverNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_names", r.serverNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.export
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIDirectoryExportsPostRequest struct {
	ctx            context.Context
	APIService     *DirectoryExportsAPIService
	exports        *DirectoryExportPost
	authorization  *string
	xRequestID     *string
	contextNames   *[]string
	directoryIds   *[]string
	directoryNames *[]string
	names          *[]string
	policyIds      *[]string
	policyNames    *[]string
}

func (r APIDirectoryExportsPostRequest) Exports(exports DirectoryExportPost) APIDirectoryExportsPostRequest {
	r.exports = &exports
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIDirectoryExportsPostRequest) Authorization(authorization string) APIDirectoryExportsPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIDirectoryExportsPostRequest) XRequestID(xRequestID string) APIDirectoryExportsPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIDirectoryExportsPostRequest) ContextNames(contextNames []string) APIDirectoryExportsPostRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the unique managed directory IDs specified. Enter multiple managed directory IDs in comma-separated format. The &#x60;directory_ids&#x60; or &#x60;directory_names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectoryExportsPostRequest) DirectoryIds(directoryIds []string) APIDirectoryExportsPostRequest {
	r.directoryIds = &directoryIds
	return r
}

// Performs the operation on the managed directory names specified. Enter multiple full managed directory names in comma-separated format. The name is expected to be fully qualified, meaning if the object is contained in some context, the corresponding name would provide complete information about the containment hierarchy. For example, &#x60;fs:dir01,pod01::fs:dir01&#x60;.
func (r APIDirectoryExportsPostRequest) DirectoryNames(directoryNames []string) APIDirectoryExportsPostRequest {
	r.directoryNames = &directoryNames
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. Combines the export containment hierarchy (server), the protocol (smb or nfs) and the export_name. For example, &#x60;server01::smb::export01,server01::nfs::export01&#x60;.
func (r APIDirectoryExportsPostRequest) Names(names []string) APIDirectoryExportsPostRequest {
	r.names = &names
	return r
}

// Performs the operation on the unique policy IDs specified. Enter multiple policy IDs in comma-separated format. The &#x60;policy_ids&#x60; or &#x60;policy_names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectoryExportsPostRequest) PolicyIds(policyIds []string) APIDirectoryExportsPostRequest {
	r.policyIds = &policyIds
	return r
}

// Performs the operation on the policy names specified. Enter multiple policy names in comma-separated format. The name is expected to be fully qualified, meaning if the object is contained in some context, the corresponding name would provide complete information about the containment hierarchy. For example, &#x60;policy01,pod01::policy01&#x60;.
func (r APIDirectoryExportsPostRequest) PolicyNames(policyNames []string) APIDirectoryExportsPostRequest {
	r.policyNames = &policyNames
	return r
}

func (r APIDirectoryExportsPostRequest) Execute() (*DirectoryExportResponse, *http.Response, error) {
	return r.APIService.DirectoryExportsPostExecute(r)
}

/*
DirectoryExportsPost Create directory exports

Creates an export of a managed directory.
The `directory_ids` or `directory_names` parameter is required, but cannot be set together.
The `policy_ids` or `policy_names` parameter is required, but cannot be set together.
When server reference is not provided, the `_array_server` is set as effective default.
The API provides two options for identifying an export object. One option is to reference
it by its fully qualified export name, or alternatively, by a combination of
parameters—specifically, the `server` and `export_name`. All identifying parameters must
always be provided, either explicitly or as part of the fully qualified name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryExportsPostRequest
*/
func (a *DirectoryExportsAPIService) DirectoryExportsPost(ctx context.Context) APIDirectoryExportsPostRequest {
	return APIDirectoryExportsPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DirectoryExportResponse
func (a *DirectoryExportsAPIService) DirectoryExportsPostExecute(r APIDirectoryExportsPostRequest) (*DirectoryExportResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DirectoryExportResponse
	)

	endpoint := "DirectoryExportsAPIService.DirectoryExportsPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.46/directory-exports"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.exports == nil {
		return localVarReturnValue, nil, reportError("exports is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.directoryIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directory_ids", r.directoryIds, "csv")
	}
	if r.directoryNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directory_names", r.directoryNames, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.exports
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
