/*
FlashBlade REST API

A lightweight client for FlashBlade REST API 2.18, developed by Pure Storage, Inc. (http://www.purestorage.com/).

API version: 2.18
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// FileSystemReplicaLinksAPIService FileSystemReplicaLinksAPI service
type FileSystemReplicaLinksAPIService service

type APIFileSystemReplicaLinksDeleteRequest struct {
	ctx                       context.Context
	APIService                *FileSystemReplicaLinksAPIService
	xRequestID                *string
	cancelInProgressTransfers *bool
	contextNames              *[]string
	ids                       *[]string
	localFileSystemIds        *[]string
	localFileSystemNames      *[]string
	remoteFileSystemIds       *[]string
	remoteFileSystemNames     *[]string
	remoteIds                 *[]string
	remoteNames               *[]string
	authorizationHeader       *string
}

// Supplied by client during request or generated by server.
func (r APIFileSystemReplicaLinksDeleteRequest) XRequestID(xRequestID string) APIFileSystemReplicaLinksDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// This parameter must be set to &#x60;true&#x60; in order to delete a file system replication link (which can cancel any in-progress replication transfers). Setting this parameter to &#x60;true&#x60; is acknowledgement that any in-progress replication transfers on the specified links will be cancelled when this request is fulfilled.
func (r APIFileSystemReplicaLinksDeleteRequest) CancelInProgressTransfers(cancelInProgressTransfers bool) APIFileSystemReplicaLinksDeleteRequest {
	r.cancelInProgressTransfers = &cancelInProgressTransfers
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIFileSystemReplicaLinksDeleteRequest) ContextNames(contextNames []string) APIFileSystemReplicaLinksDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIFileSystemReplicaLinksDeleteRequest) Ids(ids []string) APIFileSystemReplicaLinksDeleteRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of local file system IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksDeleteRequest) LocalFileSystemIds(localFileSystemIds []string) APIFileSystemReplicaLinksDeleteRequest {
	r.localFileSystemIds = &localFileSystemIds
	return r
}

// A comma-separated list of local file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksDeleteRequest) LocalFileSystemNames(localFileSystemNames []string) APIFileSystemReplicaLinksDeleteRequest {
	r.localFileSystemNames = &localFileSystemNames
	return r
}

// A comma-separated list of remote file system IDs. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksDeleteRequest) RemoteFileSystemIds(remoteFileSystemIds []string) APIFileSystemReplicaLinksDeleteRequest {
	r.remoteFileSystemIds = &remoteFileSystemIds
	return r
}

// A comma-separated list of remote file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksDeleteRequest) RemoteFileSystemNames(remoteFileSystemNames []string) APIFileSystemReplicaLinksDeleteRequest {
	r.remoteFileSystemNames = &remoteFileSystemNames
	return r
}

// A comma-separated list of remote array IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksDeleteRequest) RemoteIds(remoteIds []string) APIFileSystemReplicaLinksDeleteRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksDeleteRequest) RemoteNames(remoteNames []string) APIFileSystemReplicaLinksDeleteRequest {
	r.remoteNames = &remoteNames
	return r
}

func (r APIFileSystemReplicaLinksDeleteRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemReplicaLinksDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemReplicaLinksDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.FileSystemReplicaLinksDeleteExecute(r)
}

/*
FileSystemReplicaLinksDelete DELETE file-system-replica-links

Delete a file system replication link.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemReplicaLinksDeleteRequest
*/
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksDelete(ctx context.Context) APIFileSystemReplicaLinksDeleteRequest {
	return APIFileSystemReplicaLinksDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksDeleteExecute(r APIFileSystemReplicaLinksDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "FileSystemReplicaLinksAPIService.FileSystemReplicaLinksDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.18/file-system-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cancelInProgressTransfers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cancel_in_progress_transfers", r.cancelInProgressTransfers, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.localFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_ids", r.localFileSystemIds, "csv")
	}
	if r.localFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_names", r.localFileSystemNames, "csv")
	}
	if r.remoteFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_file_system_ids", r.remoteFileSystemIds, "csv")
	}
	if r.remoteFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_file_system_names", r.remoteFileSystemNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIFileSystemReplicaLinksGetRequest struct {
	ctx                   context.Context
	APIService            *FileSystemReplicaLinksAPIService
	xRequestID            *string
	allowErrors           *bool
	contextNames          *[]string
	continuationToken     *string
	filter                *string
	ids                   *[]string
	limit                 *int32
	localFileSystemIds    *[]string
	localFileSystemNames  *[]string
	offset                *int32
	remoteFileSystemIds   *[]string
	remoteFileSystemNames *[]string
	remoteIds             *[]string
	remoteNames           *[]string
	sort                  *[]string
	authorizationHeader   *string
}

// Supplied by client during request or generated by server.
func (r APIFileSystemReplicaLinksGetRequest) XRequestID(xRequestID string) APIFileSystemReplicaLinksGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIFileSystemReplicaLinksGetRequest) AllowErrors(allowErrors bool) APIFileSystemReplicaLinksGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified. If specified, each context name must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIFileSystemReplicaLinksGetRequest) ContextNames(contextNames []string) APIFileSystemReplicaLinksGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIFileSystemReplicaLinksGetRequest) ContinuationToken(continuationToken string) APIFileSystemReplicaLinksGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIFileSystemReplicaLinksGetRequest) Filter(filter string) APIFileSystemReplicaLinksGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIFileSystemReplicaLinksGetRequest) Ids(ids []string) APIFileSystemReplicaLinksGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIFileSystemReplicaLinksGetRequest) Limit(limit int32) APIFileSystemReplicaLinksGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of local file system IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksGetRequest) LocalFileSystemIds(localFileSystemIds []string) APIFileSystemReplicaLinksGetRequest {
	r.localFileSystemIds = &localFileSystemIds
	return r
}

// A comma-separated list of local file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksGetRequest) LocalFileSystemNames(localFileSystemNames []string) APIFileSystemReplicaLinksGetRequest {
	r.localFileSystemNames = &localFileSystemNames
	return r
}

// The offset of the first resource to return from a collection.
func (r APIFileSystemReplicaLinksGetRequest) Offset(offset int32) APIFileSystemReplicaLinksGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of remote file system IDs. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksGetRequest) RemoteFileSystemIds(remoteFileSystemIds []string) APIFileSystemReplicaLinksGetRequest {
	r.remoteFileSystemIds = &remoteFileSystemIds
	return r
}

// A comma-separated list of remote file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksGetRequest) RemoteFileSystemNames(remoteFileSystemNames []string) APIFileSystemReplicaLinksGetRequest {
	r.remoteFileSystemNames = &remoteFileSystemNames
	return r
}

// A comma-separated list of remote array IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksGetRequest) RemoteIds(remoteIds []string) APIFileSystemReplicaLinksGetRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksGetRequest) RemoteNames(remoteNames []string) APIFileSystemReplicaLinksGetRequest {
	r.remoteNames = &remoteNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIFileSystemReplicaLinksGetRequest) Sort(sort []string) APIFileSystemReplicaLinksGetRequest {
	r.sort = &sort
	return r
}

func (r APIFileSystemReplicaLinksGetRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemReplicaLinksGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemReplicaLinksGetRequest) Execute() (*FileSystemReplicaLinkGetResponse, *http.Response, error) {
	return r.APIService.FileSystemReplicaLinksGetExecute(r)
}

/*
FileSystemReplicaLinksGet GET file-system-replica-links

List file system replication link.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemReplicaLinksGetRequest
*/
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksGet(ctx context.Context) APIFileSystemReplicaLinksGetRequest {
	return APIFileSystemReplicaLinksGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileSystemReplicaLinkGetResponse
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksGetExecute(r APIFileSystemReplicaLinksGetRequest) (*FileSystemReplicaLinkGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FileSystemReplicaLinkGetResponse
	)

	endpoint := "FileSystemReplicaLinksAPIService.FileSystemReplicaLinksGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.18/file-system-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.localFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_ids", r.localFileSystemIds, "csv")
	}
	if r.localFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_names", r.localFileSystemNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.remoteFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_file_system_ids", r.remoteFileSystemIds, "csv")
	}
	if r.remoteFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_file_system_names", r.remoteFileSystemNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIFileSystemReplicaLinksPatchRequest struct {
	ctx                  context.Context
	APIService           *FileSystemReplicaLinksAPIService
	xRequestID           *string
	contextNames         *[]string
	ids                  *[]string
	localFileSystemIds   *[]string
	localFileSystemNames *[]string
	remoteIds            *[]string
	remoteNames          *[]string
	replicateNow         *bool
	authorizationHeader  *string
}

// Supplied by client during request or generated by server.
func (r APIFileSystemReplicaLinksPatchRequest) XRequestID(xRequestID string) APIFileSystemReplicaLinksPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIFileSystemReplicaLinksPatchRequest) ContextNames(contextNames []string) APIFileSystemReplicaLinksPatchRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIFileSystemReplicaLinksPatchRequest) Ids(ids []string) APIFileSystemReplicaLinksPatchRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of local file system IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPatchRequest) LocalFileSystemIds(localFileSystemIds []string) APIFileSystemReplicaLinksPatchRequest {
	r.localFileSystemIds = &localFileSystemIds
	return r
}

// A comma-separated list of local file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPatchRequest) LocalFileSystemNames(localFileSystemNames []string) APIFileSystemReplicaLinksPatchRequest {
	r.localFileSystemNames = &localFileSystemNames
	return r
}

// A comma-separated list of remote array IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPatchRequest) RemoteIds(remoteIds []string) APIFileSystemReplicaLinksPatchRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPatchRequest) RemoteNames(remoteNames []string) APIFileSystemReplicaLinksPatchRequest {
	r.remoteNames = &remoteNames
	return r
}

// If set to &#x60;true&#x60;, replicates the contents to the specified targets. The &#x60;replicate_now&#x60; parameters can only be &#x60;true&#x60; with the partial-replica file system links.
func (r APIFileSystemReplicaLinksPatchRequest) ReplicateNow(replicateNow bool) APIFileSystemReplicaLinksPatchRequest {
	r.replicateNow = &replicateNow
	return r
}

func (r APIFileSystemReplicaLinksPatchRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemReplicaLinksPatchRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemReplicaLinksPatchRequest) Execute() (*FileSystemReplicaLinkResponse, *http.Response, error) {
	return r.APIService.FileSystemReplicaLinksPatchExecute(r)
}

/*
FileSystemReplicaLinksPatch PATCH file-system-replica-links

Update a file system replication link.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemReplicaLinksPatchRequest
*/
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPatch(ctx context.Context) APIFileSystemReplicaLinksPatchRequest {
	return APIFileSystemReplicaLinksPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileSystemReplicaLinkResponse
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPatchExecute(r APIFileSystemReplicaLinksPatchRequest) (*FileSystemReplicaLinkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FileSystemReplicaLinkResponse
	)

	endpoint := "FileSystemReplicaLinksAPIService.FileSystemReplicaLinksPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.18/file-system-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.localFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_ids", r.localFileSystemIds, "csv")
	}
	if r.localFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_names", r.localFileSystemNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	if r.replicateNow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "replicate_now", r.replicateNow, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIFileSystemReplicaLinksPoliciesDeleteRequest struct {
	ctx                  context.Context
	APIService           *FileSystemReplicaLinksAPIService
	xRequestID           *string
	contextNames         *[]string
	localFileSystemIds   *[]string
	localFileSystemNames *[]string
	memberIds            *[]string
	policyIds            *[]string
	policyNames          *[]string
	remoteIds            *[]string
	remoteNames          *[]string
	authorizationHeader  *string
}

// Supplied by client during request or generated by server.
func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) XRequestID(xRequestID string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) ContextNames(contextNames []string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of local file system IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) LocalFileSystemIds(localFileSystemIds []string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.localFileSystemIds = &localFileSystemIds
	return r
}

// A comma-separated list of local file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) LocalFileSystemNames(localFileSystemNames []string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.localFileSystemNames = &localFileSystemNames
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) MemberIds(memberIds []string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) PolicyIds(policyIds []string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) PolicyNames(policyNames []string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.policyNames = &policyNames
	return r
}

// A comma-separated list of remote array IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) RemoteIds(remoteIds []string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) RemoteNames(remoteNames []string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.remoteNames = &remoteNames
	return r
}

func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.FileSystemReplicaLinksPoliciesDeleteExecute(r)
}

/*
FileSystemReplicaLinksPoliciesDelete DELETE file-system-replica-links/policies

Remove a policy from a file system replication link.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemReplicaLinksPoliciesDeleteRequest
*/
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPoliciesDelete(ctx context.Context) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	return APIFileSystemReplicaLinksPoliciesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPoliciesDeleteExecute(r APIFileSystemReplicaLinksPoliciesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "FileSystemReplicaLinksAPIService.FileSystemReplicaLinksPoliciesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.18/file-system-replica-links/policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.localFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_ids", r.localFileSystemIds, "csv")
	}
	if r.localFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_names", r.localFileSystemNames, "csv")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIFileSystemReplicaLinksPoliciesGetRequest struct {
	ctx                   context.Context
	APIService            *FileSystemReplicaLinksAPIService
	xRequestID            *string
	allowErrors           *bool
	contextNames          *[]string
	continuationToken     *string
	filter                *string
	limit                 *int32
	localFileSystemIds    *[]string
	localFileSystemNames  *[]string
	memberIds             *[]string
	offset                *int32
	policyIds             *[]string
	policyNames           *[]string
	remoteFileSystemIds   *[]string
	remoteFileSystemNames *[]string
	remoteIds             *[]string
	remoteNames           *[]string
	sort                  *[]string
	authorizationHeader   *string
}

// Supplied by client during request or generated by server.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) XRequestID(xRequestID string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) AllowErrors(allowErrors bool) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified. If specified, each context name must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) ContextNames(contextNames []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) ContinuationToken(continuationToken string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) Filter(filter string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) Limit(limit int32) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of local file system IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) LocalFileSystemIds(localFileSystemIds []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.localFileSystemIds = &localFileSystemIds
	return r
}

// A comma-separated list of local file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) LocalFileSystemNames(localFileSystemNames []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.localFileSystemNames = &localFileSystemNames
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) MemberIds(memberIds []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.memberIds = &memberIds
	return r
}

// The offset of the first resource to return from a collection.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) Offset(offset int32) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) PolicyIds(policyIds []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) PolicyNames(policyNames []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.policyNames = &policyNames
	return r
}

// A comma-separated list of remote file system IDs. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) RemoteFileSystemIds(remoteFileSystemIds []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.remoteFileSystemIds = &remoteFileSystemIds
	return r
}

// A comma-separated list of remote file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) RemoteFileSystemNames(remoteFileSystemNames []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.remoteFileSystemNames = &remoteFileSystemNames
	return r
}

// A comma-separated list of remote array IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) RemoteIds(remoteIds []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) RemoteNames(remoteNames []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.remoteNames = &remoteNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) Sort(sort []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.sort = &sort
	return r
}

func (r APIFileSystemReplicaLinksPoliciesGetRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemReplicaLinksPoliciesGetRequest) Execute() (*PolicyMemberWithRemoteGetResponse, *http.Response, error) {
	return r.APIService.FileSystemReplicaLinksPoliciesGetExecute(r)
}

/*
FileSystemReplicaLinksPoliciesGet GET file-system-replica-links/policies

List file system replication link policies.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemReplicaLinksPoliciesGetRequest
*/
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPoliciesGet(ctx context.Context) APIFileSystemReplicaLinksPoliciesGetRequest {
	return APIFileSystemReplicaLinksPoliciesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PolicyMemberWithRemoteGetResponse
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPoliciesGetExecute(r APIFileSystemReplicaLinksPoliciesGetRequest) (*PolicyMemberWithRemoteGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PolicyMemberWithRemoteGetResponse
	)

	endpoint := "FileSystemReplicaLinksAPIService.FileSystemReplicaLinksPoliciesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.18/file-system-replica-links/policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.localFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_ids", r.localFileSystemIds, "csv")
	}
	if r.localFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_names", r.localFileSystemNames, "csv")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.remoteFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_file_system_ids", r.remoteFileSystemIds, "csv")
	}
	if r.remoteFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_file_system_names", r.remoteFileSystemNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIFileSystemReplicaLinksPoliciesPostRequest struct {
	ctx                  context.Context
	APIService           *FileSystemReplicaLinksAPIService
	xRequestID           *string
	contextNames         *[]string
	localFileSystemIds   *[]string
	localFileSystemNames *[]string
	memberIds            *[]string
	policyIds            *[]string
	policyNames          *[]string
	remoteIds            *[]string
	remoteNames          *[]string
	authorizationHeader  *string
}

// Supplied by client during request or generated by server.
func (r APIFileSystemReplicaLinksPoliciesPostRequest) XRequestID(xRequestID string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIFileSystemReplicaLinksPoliciesPostRequest) ContextNames(contextNames []string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of local file system IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesPostRequest) LocalFileSystemIds(localFileSystemIds []string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.localFileSystemIds = &localFileSystemIds
	return r
}

// A comma-separated list of local file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesPostRequest) LocalFileSystemNames(localFileSystemNames []string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.localFileSystemNames = &localFileSystemNames
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesPostRequest) MemberIds(memberIds []string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesPostRequest) PolicyIds(policyIds []string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIFileSystemReplicaLinksPoliciesPostRequest) PolicyNames(policyNames []string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.policyNames = &policyNames
	return r
}

// A comma-separated list of remote array IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesPostRequest) RemoteIds(remoteIds []string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesPostRequest) RemoteNames(remoteNames []string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.remoteNames = &remoteNames
	return r
}

func (r APIFileSystemReplicaLinksPoliciesPostRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemReplicaLinksPoliciesPostRequest) Execute() (*PolicyMemberWithRemoteResponse, *http.Response, error) {
	return r.APIService.FileSystemReplicaLinksPoliciesPostExecute(r)
}

/*
FileSystemReplicaLinksPoliciesPost POST file-system-replica-links/policies

Add a policy to a file system replication link.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemReplicaLinksPoliciesPostRequest
*/
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPoliciesPost(ctx context.Context) APIFileSystemReplicaLinksPoliciesPostRequest {
	return APIFileSystemReplicaLinksPoliciesPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PolicyMemberWithRemoteResponse
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPoliciesPostExecute(r APIFileSystemReplicaLinksPoliciesPostRequest) (*PolicyMemberWithRemoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PolicyMemberWithRemoteResponse
	)

	endpoint := "FileSystemReplicaLinksAPIService.FileSystemReplicaLinksPoliciesPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.18/file-system-replica-links/policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.localFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_ids", r.localFileSystemIds, "csv")
	}
	if r.localFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_names", r.localFileSystemNames, "csv")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIFileSystemReplicaLinksPostRequest struct {
	ctx                   context.Context
	APIService            *FileSystemReplicaLinksAPIService
	fileSystemReplicaLink *FileSystemReplicaLink
	xRequestID            *string
	contextNames          *[]string
	ids                   *[]string
	localFileSystemIds    *[]string
	localFileSystemNames  *[]string
	remoteFileSystemNames *[]string
	remoteIds             *[]string
	remoteNames           *[]string
	authorizationHeader   *string
}

func (r APIFileSystemReplicaLinksPostRequest) FileSystemReplicaLink(fileSystemReplicaLink FileSystemReplicaLink) APIFileSystemReplicaLinksPostRequest {
	r.fileSystemReplicaLink = &fileSystemReplicaLink
	return r
}

// Supplied by client during request or generated by server.
func (r APIFileSystemReplicaLinksPostRequest) XRequestID(xRequestID string) APIFileSystemReplicaLinksPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIFileSystemReplicaLinksPostRequest) ContextNames(contextNames []string) APIFileSystemReplicaLinksPostRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIFileSystemReplicaLinksPostRequest) Ids(ids []string) APIFileSystemReplicaLinksPostRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of local file system IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPostRequest) LocalFileSystemIds(localFileSystemIds []string) APIFileSystemReplicaLinksPostRequest {
	r.localFileSystemIds = &localFileSystemIds
	return r
}

// A comma-separated list of local file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPostRequest) LocalFileSystemNames(localFileSystemNames []string) APIFileSystemReplicaLinksPostRequest {
	r.localFileSystemNames = &localFileSystemNames
	return r
}

// A comma-separated list of remote file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPostRequest) RemoteFileSystemNames(remoteFileSystemNames []string) APIFileSystemReplicaLinksPostRequest {
	r.remoteFileSystemNames = &remoteFileSystemNames
	return r
}

// A comma-separated list of remote array IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPostRequest) RemoteIds(remoteIds []string) APIFileSystemReplicaLinksPostRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPostRequest) RemoteNames(remoteNames []string) APIFileSystemReplicaLinksPostRequest {
	r.remoteNames = &remoteNames
	return r
}

func (r APIFileSystemReplicaLinksPostRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemReplicaLinksPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemReplicaLinksPostRequest) Execute() (*FileSystemReplicaLinkResponse, *http.Response, error) {
	return r.APIService.FileSystemReplicaLinksPostExecute(r)
}

/*
FileSystemReplicaLinksPost POST file-system-replica-links

Create a file system replication link.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemReplicaLinksPostRequest
*/
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPost(ctx context.Context) APIFileSystemReplicaLinksPostRequest {
	return APIFileSystemReplicaLinksPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileSystemReplicaLinkResponse
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPostExecute(r APIFileSystemReplicaLinksPostRequest) (*FileSystemReplicaLinkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FileSystemReplicaLinkResponse
	)

	endpoint := "FileSystemReplicaLinksAPIService.FileSystemReplicaLinksPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.18/file-system-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.fileSystemReplicaLink == nil {
		return localVarReturnValue, nil, reportError("fileSystemReplicaLink is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.localFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_ids", r.localFileSystemIds, "csv")
	}
	if r.localFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_names", r.localFileSystemNames, "csv")
	}
	if r.remoteFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_file_system_names", r.remoteFileSystemNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.fileSystemReplicaLink
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIFileSystemReplicaLinksTransferGetRequest struct {
	ctx                 context.Context
	APIService          *FileSystemReplicaLinksAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	namesOrOwnerNames   *[]string
	offset              *int32
	remoteIds           *[]string
	remoteNames         *[]string
	sort                *[]string
	totalOnly           *bool
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIFileSystemReplicaLinksTransferGetRequest) XRequestID(xRequestID string) APIFileSystemReplicaLinksTransferGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIFileSystemReplicaLinksTransferGetRequest) AllowErrors(allowErrors bool) APIFileSystemReplicaLinksTransferGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified. If specified, each context name must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIFileSystemReplicaLinksTransferGetRequest) ContextNames(contextNames []string) APIFileSystemReplicaLinksTransferGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIFileSystemReplicaLinksTransferGetRequest) ContinuationToken(continuationToken string) APIFileSystemReplicaLinksTransferGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIFileSystemReplicaLinksTransferGetRequest) Filter(filter string) APIFileSystemReplicaLinksTransferGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIFileSystemReplicaLinksTransferGetRequest) Ids(ids []string) APIFileSystemReplicaLinksTransferGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIFileSystemReplicaLinksTransferGetRequest) Limit(limit int32) APIFileSystemReplicaLinksTransferGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. Either the names of the snapshots or the owning file systems.
func (r APIFileSystemReplicaLinksTransferGetRequest) NamesOrOwnerNames(namesOrOwnerNames []string) APIFileSystemReplicaLinksTransferGetRequest {
	r.namesOrOwnerNames = &namesOrOwnerNames
	return r
}

// The offset of the first resource to return from a collection.
func (r APIFileSystemReplicaLinksTransferGetRequest) Offset(offset int32) APIFileSystemReplicaLinksTransferGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of remote array IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksTransferGetRequest) RemoteIds(remoteIds []string) APIFileSystemReplicaLinksTransferGetRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksTransferGetRequest) RemoteNames(remoteNames []string) APIFileSystemReplicaLinksTransferGetRequest {
	r.remoteNames = &remoteNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIFileSystemReplicaLinksTransferGetRequest) Sort(sort []string) APIFileSystemReplicaLinksTransferGetRequest {
	r.sort = &sort
	return r
}

// If set to &#x60;true&#x60;, returns the aggregate value of all items after filtering. Where it makes more sense, the average value is displayed instead. The values are displayed for each name where meaningful. If &#x60;total_only&#x3D;true&#x60;, the &#x60;items&#x60; list will be empty.
func (r APIFileSystemReplicaLinksTransferGetRequest) TotalOnly(totalOnly bool) APIFileSystemReplicaLinksTransferGetRequest {
	r.totalOnly = &totalOnly
	return r
}

func (r APIFileSystemReplicaLinksTransferGetRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemReplicaLinksTransferGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemReplicaLinksTransferGetRequest) Execute() (*FileSystemSnapshotGetTransferResponse, *http.Response, error) {
	return r.APIService.FileSystemReplicaLinksTransferGetExecute(r)
}

/*
FileSystemReplicaLinksTransferGet GET file-system-replica-links/transfer

List the transfer status details for file system replication.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemReplicaLinksTransferGetRequest
*/
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksTransferGet(ctx context.Context) APIFileSystemReplicaLinksTransferGetRequest {
	return APIFileSystemReplicaLinksTransferGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileSystemSnapshotGetTransferResponse
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksTransferGetExecute(r APIFileSystemReplicaLinksTransferGetRequest) (*FileSystemSnapshotGetTransferResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FileSystemSnapshotGetTransferResponse
	)

	endpoint := "FileSystemReplicaLinksAPIService.FileSystemReplicaLinksTransferGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.18/file-system-replica-links/transfer"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.namesOrOwnerNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names_or_owner_names", r.namesOrOwnerNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_only", r.totalOnly, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
