/*
FlashBlade REST API

OpenAPI specification for FlashBlade REST API, developed by Everpure, Inc. (https://www.everpuredata.com/).

API version: 2.15
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// UsageAPIService UsageAPI service
type UsageAPIService service

type APIUsageGroupsGetRequest struct {
	ctx                 context.Context
	APIService          *UsageAPIService
	xRequestID          *string
	continuationToken   *string
	fileSystemIds       *[]string
	fileSystemNames     *[]string
	filter              *string
	gids                *[]int32
	groupNames          *[]string
	limit               *int32
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIUsageGroupsGetRequest) XRequestID(xRequestID string) APIUsageGroupsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// An opaque token used to iterate over a collection. The token to use on the next request is returned in the &#x60;continuation_token&#x60; field of the result.
func (r APIUsageGroupsGetRequest) ContinuationToken(continuationToken string) APIUsageGroupsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// A comma-separated list of file system IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;file_system_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;file_system_names&#x60; query parameter.
func (r APIUsageGroupsGetRequest) FileSystemIds(fileSystemIds []string) APIUsageGroupsGetRequest {
	r.fileSystemIds = &fileSystemIds
	return r
}

// A comma-separated list of file system names. If there is not at least one resource that matches each of the elements of &#x60;file_system_names&#x60;, then an error is returned.
func (r APIUsageGroupsGetRequest) FileSystemNames(fileSystemNames []string) APIUsageGroupsGetRequest {
	r.fileSystemNames = &fileSystemNames
	return r
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APIUsageGroupsGetRequest) Filter(filter string) APIUsageGroupsGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of group IDs. If there is not at least one resource that matches each of the elements of &#x60;gids&#x60;, then an error is returned. This cannot be provided together with &#x60;group_names&#x60; query parameter.
func (r APIUsageGroupsGetRequest) Gids(gids []int32) APIUsageGroupsGetRequest {
	r.gids = &gids
	return r
}

// A comma-separated list of group names. If there is not at least one resource that matches each of the elements of &#x60;group_names&#x60;, then an error is returned. This cannot be provided together with &#x60;gids&#x60; query parameter.
func (r APIUsageGroupsGetRequest) GroupNames(groupNames []string) APIUsageGroupsGetRequest {
	r.groupNames = &groupNames
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APIUsageGroupsGetRequest) Limit(limit int32) APIUsageGroupsGetRequest {
	r.limit = &limit
	return r
}

// The offset of the first resource to return from a collection.
func (r APIUsageGroupsGetRequest) Offset(offset int32) APIUsageGroupsGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIUsageGroupsGetRequest) Sort(sort []string) APIUsageGroupsGetRequest {
	r.sort = &sort
	return r
}

func (r APIUsageGroupsGetRequest) AuthorizationHeader(authorizationHeader string) APIUsageGroupsGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIUsageGroupsGetRequest) Execute() (*GroupQuotaGetResponse, *http.Response, error) {
	return r.APIService.UsageGroupsGetExecute(r)
}

/*
UsageGroupsGet GET usage/groups

List groups with hard limit quotas and their file system usage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIUsageGroupsGetRequest
*/
func (a *UsageAPIService) UsageGroupsGet(ctx context.Context) APIUsageGroupsGetRequest {
	return APIUsageGroupsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GroupQuotaGetResponse
func (a *UsageAPIService) UsageGroupsGetExecute(r APIUsageGroupsGetRequest) (*GroupQuotaGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GroupQuotaGetResponse
	)

	endpoint := "UsageAPIService.UsageGroupsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.15/usage/groups"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.fileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_system_ids", r.fileSystemIds, "csv")
	}
	if r.fileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_system_names", r.fileSystemNames, "csv")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.gids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gids", r.gids, "csv")
	}
	if r.groupNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_names", r.groupNames, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("x-auth-token"), r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
		403: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIUsageUsersGetRequest struct {
	ctx                 context.Context
	APIService          *UsageAPIService
	xRequestID          *string
	continuationToken   *string
	fileSystemIds       *[]string
	fileSystemNames     *[]string
	filter              *string
	limit               *int32
	offset              *int32
	sort                *[]string
	uids                *[]int32
	userNames           *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIUsageUsersGetRequest) XRequestID(xRequestID string) APIUsageUsersGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// An opaque token used to iterate over a collection. The token to use on the next request is returned in the &#x60;continuation_token&#x60; field of the result.
func (r APIUsageUsersGetRequest) ContinuationToken(continuationToken string) APIUsageUsersGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// A comma-separated list of file system IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;file_system_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;file_system_names&#x60; query parameter.
func (r APIUsageUsersGetRequest) FileSystemIds(fileSystemIds []string) APIUsageUsersGetRequest {
	r.fileSystemIds = &fileSystemIds
	return r
}

// A comma-separated list of file system names. If there is not at least one resource that matches each of the elements of &#x60;file_system_names&#x60;, then an error is returned.
func (r APIUsageUsersGetRequest) FileSystemNames(fileSystemNames []string) APIUsageUsersGetRequest {
	r.fileSystemNames = &fileSystemNames
	return r
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APIUsageUsersGetRequest) Filter(filter string) APIUsageUsersGetRequest {
	r.filter = &filter
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APIUsageUsersGetRequest) Limit(limit int32) APIUsageUsersGetRequest {
	r.limit = &limit
	return r
}

// The offset of the first resource to return from a collection.
func (r APIUsageUsersGetRequest) Offset(offset int32) APIUsageUsersGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIUsageUsersGetRequest) Sort(sort []string) APIUsageUsersGetRequest {
	r.sort = &sort
	return r
}

// A comma-separated list of user IDs. If there is not at least one resource that matches each of the elements of &#x60;uids&#x60;, then an error is returned. This cannot be provided together with &#x60;user_names&#x60; query parameter.
func (r APIUsageUsersGetRequest) Uids(uids []int32) APIUsageUsersGetRequest {
	r.uids = &uids
	return r
}

// A comma-separated list of user names. If there is not at least one resource that matches each of the elements of &#x60;user_names&#x60;, then an error is returned. This cannot be provided together with &#x60;uids&#x60; query parameter.
func (r APIUsageUsersGetRequest) UserNames(userNames []string) APIUsageUsersGetRequest {
	r.userNames = &userNames
	return r
}

func (r APIUsageUsersGetRequest) AuthorizationHeader(authorizationHeader string) APIUsageUsersGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIUsageUsersGetRequest) Execute() (*UserQuotaGetResponse, *http.Response, error) {
	return r.APIService.UsageUsersGetExecute(r)
}

/*
UsageUsersGet GET usage/users

List users with hard limit quotas and their file system usage.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIUsageUsersGetRequest
*/
func (a *UsageAPIService) UsageUsersGet(ctx context.Context) APIUsageUsersGetRequest {
	return APIUsageUsersGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UserQuotaGetResponse
func (a *UsageAPIService) UsageUsersGetExecute(r APIUsageUsersGetRequest) (*UserQuotaGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UserQuotaGetResponse
	)

	endpoint := "UsageAPIService.UsageUsersGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.15/usage/users"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.fileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_system_ids", r.fileSystemIds, "csv")
	}
	if r.fileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_system_names", r.fileSystemNames, "csv")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.uids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "uids", r.uids, "csv")
	}
	if r.userNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_names", r.userNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("x-auth-token"), r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
		403: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
