/*
FlashBlade REST API Client

OpenAPI specification for FlashBlade REST API, developed by Everpure, Inc. (https://www.everpuredata.com/).

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// DirectoryServicesAPIService DirectoryServicesAPI service
type DirectoryServicesAPIService service

type APIDirectoryServicesGetRequest struct {
	ctx                 context.Context
	APIService          *DirectoryServicesAPIService
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// An opaque token used to iterate over a collection. The token to use on the next request is returned in the &#x60;continuation_token&#x60; field of the result.
func (r APIDirectoryServicesGetRequest) ContinuationToken(continuationToken string) APIDirectoryServicesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APIDirectoryServicesGetRequest) Filter(filter string) APIDirectoryServicesGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIDirectoryServicesGetRequest) Ids(ids []string) APIDirectoryServicesGetRequest {
	r.ids = &ids
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APIDirectoryServicesGetRequest) Limit(limit int32) APIDirectoryServicesGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APIDirectoryServicesGetRequest) Names(names []string) APIDirectoryServicesGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APIDirectoryServicesGetRequest) Offset(offset int32) APIDirectoryServicesGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIDirectoryServicesGetRequest) Sort(sort []string) APIDirectoryServicesGetRequest {
	r.sort = &sort
	return r
}

func (r APIDirectoryServicesGetRequest) AuthorizationHeader(authorizationHeader string) APIDirectoryServicesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIDirectoryServicesGetRequest) Execute() (*DirectoryServiceGetResponse, *http.Response, error) {
	return r.APIService.DirectoryServicesGetExecute(r)
}

/*
DirectoryServicesGet GET directory-services

List directory service configuration information for the array.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryServicesGetRequest
*/
func (a *DirectoryServicesAPIService) DirectoryServicesGet(ctx context.Context) APIDirectoryServicesGetRequest {
	return APIDirectoryServicesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DirectoryServiceGetResponse
func (a *DirectoryServicesAPIService) DirectoryServicesGetExecute(r APIDirectoryServicesGetRequest) (*DirectoryServiceGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DirectoryServiceGetResponse
	)

	endpoint := "DirectoryServicesAPIService.DirectoryServicesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.0/directory-services"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("x-auth-token"), r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
		403: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIDirectoryServicesPatchRequest struct {
	ctx                 context.Context
	APIService          *DirectoryServicesAPIService
	directoryService    *DirectoryService
	ids                 *[]string
	names               *[]string
	authorizationHeader *string
}

func (r APIDirectoryServicesPatchRequest) DirectoryService(directoryService DirectoryService) APIDirectoryServicesPatchRequest {
	r.directoryService = &directoryService
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIDirectoryServicesPatchRequest) Ids(ids []string) APIDirectoryServicesPatchRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APIDirectoryServicesPatchRequest) Names(names []string) APIDirectoryServicesPatchRequest {
	r.names = &names
	return r
}

func (r APIDirectoryServicesPatchRequest) AuthorizationHeader(authorizationHeader string) APIDirectoryServicesPatchRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIDirectoryServicesPatchRequest) Execute() (*DirectoryServiceResponse, *http.Response, error) {
	return r.APIService.DirectoryServicesPatchExecute(r)
}

/*
DirectoryServicesPatch PATCH directory-services

Modifies and tests the directory service configuration.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryServicesPatchRequest
*/
func (a *DirectoryServicesAPIService) DirectoryServicesPatch(ctx context.Context) APIDirectoryServicesPatchRequest {
	return APIDirectoryServicesPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DirectoryServiceResponse
func (a *DirectoryServicesAPIService) DirectoryServicesPatchExecute(r APIDirectoryServicesPatchRequest) (*DirectoryServiceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DirectoryServiceResponse
	)

	endpoint := "DirectoryServicesAPIService.DirectoryServicesPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.0/directory-services"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.directoryService == nil {
		return localVarReturnValue, nil, reportError("directoryService is required and must be specified")
	}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("x-auth-token"), r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.directoryService
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
		403: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIDirectoryServicesRolesGetRequest struct {
	ctx                 context.Context
	APIService          *DirectoryServicesAPIService
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	offset              *int32
	roleIds             *[]string
	roleNames           *[]string
	sort                *[]string
	authorizationHeader *string
}

// An opaque token used to iterate over a collection. The token to use on the next request is returned in the &#x60;continuation_token&#x60; field of the result.
func (r APIDirectoryServicesRolesGetRequest) ContinuationToken(continuationToken string) APIDirectoryServicesRolesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APIDirectoryServicesRolesGetRequest) Filter(filter string) APIDirectoryServicesRolesGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;role_names&#x60; or &#x60;role_ids&#x60; query parameters.
func (r APIDirectoryServicesRolesGetRequest) Ids(ids []string) APIDirectoryServicesRolesGetRequest {
	r.ids = &ids
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APIDirectoryServicesRolesGetRequest) Limit(limit int32) APIDirectoryServicesRolesGetRequest {
	r.limit = &limit
	return r
}

// The offset of the first resource to return from a collection.
func (r APIDirectoryServicesRolesGetRequest) Offset(offset int32) APIDirectoryServicesRolesGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of role_ids. If after filtering, there is not at least one resource that matches each of the elements of &#x60;role_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;ids&#x60; or &#x60;role_names&#x60; query parameters.
func (r APIDirectoryServicesRolesGetRequest) RoleIds(roleIds []string) APIDirectoryServicesRolesGetRequest {
	r.roleIds = &roleIds
	return r
}

// A comma-separated list of role_names. If there is not at least one resource that matches each of the elements of &#x60;role_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;ids&#x60; or &#x60;role_ids&#x60; query parameters.
func (r APIDirectoryServicesRolesGetRequest) RoleNames(roleNames []string) APIDirectoryServicesRolesGetRequest {
	r.roleNames = &roleNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIDirectoryServicesRolesGetRequest) Sort(sort []string) APIDirectoryServicesRolesGetRequest {
	r.sort = &sort
	return r
}

func (r APIDirectoryServicesRolesGetRequest) AuthorizationHeader(authorizationHeader string) APIDirectoryServicesRolesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIDirectoryServicesRolesGetRequest) Execute() (*DirectoryServiceRolesGetResponse, *http.Response, error) {
	return r.APIService.DirectoryServicesRolesGetExecute(r)
}

/*
DirectoryServicesRolesGet GET directory-service/roles

Return array's RBAC group configuration settings for manageability.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryServicesRolesGetRequest
*/
func (a *DirectoryServicesAPIService) DirectoryServicesRolesGet(ctx context.Context) APIDirectoryServicesRolesGetRequest {
	return APIDirectoryServicesRolesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DirectoryServiceRolesGetResponse
func (a *DirectoryServicesAPIService) DirectoryServicesRolesGetExecute(r APIDirectoryServicesRolesGetRequest) (*DirectoryServiceRolesGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DirectoryServiceRolesGetResponse
	)

	endpoint := "DirectoryServicesAPIService.DirectoryServicesRolesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.0/directory-services/roles"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.roleIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "role_ids", r.roleIds, "csv")
	}
	if r.roleNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "role_names", r.roleNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("x-auth-token"), r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
		403: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIDirectoryServicesRolesPatchRequest struct {
	ctx                   context.Context
	APIService            *DirectoryServicesAPIService
	directoryServiceRoles *DirectoryServiceRole
	ids                   *[]string
	roleIds               *[]string
	roleNames             *[]string
	authorizationHeader   *string
}

func (r APIDirectoryServicesRolesPatchRequest) DirectoryServiceRoles(directoryServiceRoles DirectoryServiceRole) APIDirectoryServicesRolesPatchRequest {
	r.directoryServiceRoles = &directoryServiceRoles
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;role_names&#x60; or &#x60;role_ids&#x60; query parameters.
func (r APIDirectoryServicesRolesPatchRequest) Ids(ids []string) APIDirectoryServicesRolesPatchRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of role_ids. If after filtering, there is not at least one resource that matches each of the elements of &#x60;role_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;ids&#x60; or &#x60;role_names&#x60; query parameters.
func (r APIDirectoryServicesRolesPatchRequest) RoleIds(roleIds []string) APIDirectoryServicesRolesPatchRequest {
	r.roleIds = &roleIds
	return r
}

// A comma-separated list of role_names. If there is not at least one resource that matches each of the elements of &#x60;role_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;ids&#x60; or &#x60;role_ids&#x60; query parameters.
func (r APIDirectoryServicesRolesPatchRequest) RoleNames(roleNames []string) APIDirectoryServicesRolesPatchRequest {
	r.roleNames = &roleNames
	return r
}

func (r APIDirectoryServicesRolesPatchRequest) AuthorizationHeader(authorizationHeader string) APIDirectoryServicesRolesPatchRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIDirectoryServicesRolesPatchRequest) Execute() (*DirectoryServiceRolesResponse, *http.Response, error) {
	return r.APIService.DirectoryServicesRolesPatchExecute(r)
}

/*
DirectoryServicesRolesPatch PATCH directory-service/roles

Update an RBAC group configuration setting for manageability.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryServicesRolesPatchRequest
*/
func (a *DirectoryServicesAPIService) DirectoryServicesRolesPatch(ctx context.Context) APIDirectoryServicesRolesPatchRequest {
	return APIDirectoryServicesRolesPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DirectoryServiceRolesResponse
func (a *DirectoryServicesAPIService) DirectoryServicesRolesPatchExecute(r APIDirectoryServicesRolesPatchRequest) (*DirectoryServiceRolesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DirectoryServiceRolesResponse
	)

	endpoint := "DirectoryServicesAPIService.DirectoryServicesRolesPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.0/directory-services/roles"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.directoryServiceRoles == nil {
		return localVarReturnValue, nil, reportError("directoryServiceRoles is required and must be specified")
	}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.roleIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "role_ids", r.roleIds, "csv")
	}
	if r.roleNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "role_names", r.roleNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("x-auth-token"), r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.directoryServiceRoles
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
		403: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIDirectoryServicesTestGetRequest struct {
	ctx                 context.Context
	APIService          *DirectoryServicesAPIService
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	sort                *[]string
	authorizationHeader *string
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APIDirectoryServicesTestGetRequest) Filter(filter string) APIDirectoryServicesTestGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIDirectoryServicesTestGetRequest) Ids(ids []string) APIDirectoryServicesTestGetRequest {
	r.ids = &ids
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APIDirectoryServicesTestGetRequest) Limit(limit int32) APIDirectoryServicesTestGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APIDirectoryServicesTestGetRequest) Names(names []string) APIDirectoryServicesTestGetRequest {
	r.names = &names
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIDirectoryServicesTestGetRequest) Sort(sort []string) APIDirectoryServicesTestGetRequest {
	r.sort = &sort
	return r
}

func (r APIDirectoryServicesTestGetRequest) AuthorizationHeader(authorizationHeader string) APIDirectoryServicesTestGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIDirectoryServicesTestGetRequest) Execute() (*TestResultGetResponse, *http.Response, error) {
	return r.APIService.DirectoryServicesTestGetExecute(r)
}

/*
DirectoryServicesTestGet GET directory-services/test

Test the configured directory services on the array.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryServicesTestGetRequest
*/
func (a *DirectoryServicesAPIService) DirectoryServicesTestGet(ctx context.Context) APIDirectoryServicesTestGetRequest {
	return APIDirectoryServicesTestGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TestResultGetResponse
func (a *DirectoryServicesAPIService) DirectoryServicesTestGetExecute(r APIDirectoryServicesTestGetRequest) (*TestResultGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TestResultGetResponse
	)

	endpoint := "DirectoryServicesAPIService.DirectoryServicesTestGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.0/directory-services/test"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("x-auth-token"), r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
		403: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIDirectoryServicesTestPatchRequest struct {
	ctx                 context.Context
	APIService          *DirectoryServicesAPIService
	filter              *string
	ids                 *[]string
	names               *[]string
	sort                *[]string
	directoryService    *DirectoryService
	authorizationHeader *string
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APIDirectoryServicesTestPatchRequest) Filter(filter string) APIDirectoryServicesTestPatchRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIDirectoryServicesTestPatchRequest) Ids(ids []string) APIDirectoryServicesTestPatchRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APIDirectoryServicesTestPatchRequest) Names(names []string) APIDirectoryServicesTestPatchRequest {
	r.names = &names
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIDirectoryServicesTestPatchRequest) Sort(sort []string) APIDirectoryServicesTestPatchRequest {
	r.sort = &sort
	return r
}

// An optional directory service configuration that, if provided, will be used to overwrite aspects of the existing directory service objects when performing tests.
func (r APIDirectoryServicesTestPatchRequest) DirectoryService(directoryService DirectoryService) APIDirectoryServicesTestPatchRequest {
	r.directoryService = &directoryService
	return r
}

func (r APIDirectoryServicesTestPatchRequest) AuthorizationHeader(authorizationHeader string) APIDirectoryServicesTestPatchRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIDirectoryServicesTestPatchRequest) Execute() (*TestResultResponse, *http.Response, error) {
	return r.APIService.DirectoryServicesTestPatchExecute(r)
}

/*
DirectoryServicesTestPatch PATCH directory-service/test

Test the configured directory services on the array. Optionally, provide modifications which will be used to perform the tests, but will not be applied to the current configuration.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryServicesTestPatchRequest
*/
func (a *DirectoryServicesAPIService) DirectoryServicesTestPatch(ctx context.Context) APIDirectoryServicesTestPatchRequest {
	return APIDirectoryServicesTestPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TestResultResponse
func (a *DirectoryServicesAPIService) DirectoryServicesTestPatchExecute(r APIDirectoryServicesTestPatchRequest) (*TestResultResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TestResultResponse
	)

	endpoint := "DirectoryServicesAPIService.DirectoryServicesTestPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.0/directory-services/test"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("x-auth-token"), r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.directoryService
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
		403: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
