/*
FlashArray REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// RemoteVolumeSnapshotsAPIService RemoteVolumeSnapshotsAPI service
type RemoteVolumeSnapshotsAPIService service

type APIRemoteVolumeSnapshotsGetRequest struct {
	ctx            context.Context
	APIService     *RemoteVolumeSnapshotsAPIService
	authorization  *string
	xRequestID     *string
	destroyed      *bool
	filter         *string
	ids            *[]string
	limit          *int32
	names          *[]string
	offset         *int32
	on             *[]string
	sort           *[]string
	sourceIds      *[]string
	sourceNames    *[]string
	totalItemCount *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIRemoteVolumeSnapshotsGetRequest) Authorization(authorization string) APIRemoteVolumeSnapshotsGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIRemoteVolumeSnapshotsGetRequest) XRequestID(xRequestID string) APIRemoteVolumeSnapshotsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, lists only destroyed objects that are in the eradication pending state. If set to &#x60;false&#x60;, lists only objects that are not destroyed. For destroyed objects, the time remaining is displayed in milliseconds.
func (r APIRemoteVolumeSnapshotsGetRequest) Destroyed(destroyed bool) APIRemoteVolumeSnapshotsGetRequest {
	r.destroyed = &destroyed
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIRemoteVolumeSnapshotsGetRequest) Filter(filter string) APIRemoteVolumeSnapshotsGetRequest {
	r.filter = &filter
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIRemoteVolumeSnapshotsGetRequest) Ids(ids []string) APIRemoteVolumeSnapshotsGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIRemoteVolumeSnapshotsGetRequest) Limit(limit int32) APIRemoteVolumeSnapshotsGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIRemoteVolumeSnapshotsGetRequest) Names(names []string) APIRemoteVolumeSnapshotsGetRequest {
	r.names = &names
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIRemoteVolumeSnapshotsGetRequest) Offset(offset int32) APIRemoteVolumeSnapshotsGetRequest {
	r.offset = &offset
	return r
}

// Performs the operation on the target name specified. Enter multiple target names in comma-separated format. For example, &#x60;targetName01,targetName02&#x60;.
func (r APIRemoteVolumeSnapshotsGetRequest) On(on []string) APIRemoteVolumeSnapshotsGetRequest {
	r.on = &on
	return r
}

// Returns the response objects in the order specified. Set &#x60;sort&#x60; to the name in the response by which to sort. Sorting can be performed on any of the names in the response, and the objects can be sorted in ascending or descending order. By default, the response objects are sorted in ascending order. To sort in descending order, append the minus sign (&#x60;-&#x60;) to the name. A single request can be sorted on multiple objects. For example, you can sort all volumes from largest to smallest volume size, and then sort volumes of the same size in ascending order by volume name. To sort on multiple names, list the names as comma-separated values.
func (r APIRemoteVolumeSnapshotsGetRequest) Sort(sort []string) APIRemoteVolumeSnapshotsGetRequest {
	r.sort = &sort
	return r
}

// Performs the operation on the source ID specified. Enter multiple source IDs in comma-separated format.
func (r APIRemoteVolumeSnapshotsGetRequest) SourceIds(sourceIds []string) APIRemoteVolumeSnapshotsGetRequest {
	r.sourceIds = &sourceIds
	return r
}

// Performs the operation on the source name specified. Enter multiple source names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIRemoteVolumeSnapshotsGetRequest) SourceNames(sourceNames []string) APIRemoteVolumeSnapshotsGetRequest {
	r.sourceNames = &sourceNames
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIRemoteVolumeSnapshotsGetRequest) TotalItemCount(totalItemCount bool) APIRemoteVolumeSnapshotsGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

func (r APIRemoteVolumeSnapshotsGetRequest) Execute() (*RemoteVolumeSnapshotGetResponse, *http.Response, error) {
	return r.APIService.RemoteVolumeSnapshotsGetExecute(r)
}

/*
RemoteVolumeSnapshotsGet List remote volume snapshots

Returns a list of remote volume snapshots.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRemoteVolumeSnapshotsGetRequest
*/
func (a *RemoteVolumeSnapshotsAPIService) RemoteVolumeSnapshotsGet(ctx context.Context) APIRemoteVolumeSnapshotsGetRequest {
	return APIRemoteVolumeSnapshotsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RemoteVolumeSnapshotGetResponse
func (a *RemoteVolumeSnapshotsAPIService) RemoteVolumeSnapshotsGetExecute(r APIRemoteVolumeSnapshotsGetRequest) (*RemoteVolumeSnapshotGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RemoteVolumeSnapshotGetResponse
	)

	endpoint := "RemoteVolumeSnapshotsAPIService.RemoteVolumeSnapshotsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.1/remote-volume-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.destroyed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destroyed", r.destroyed, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.on != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "on", r.on, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.sourceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_ids", r.sourceIds, "csv")
	}
	if r.sourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_names", r.sourceNames, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIRemoteVolumeSnapshotsTransferGetRequest struct {
	ctx            context.Context
	APIService     *RemoteVolumeSnapshotsAPIService
	authorization  *string
	xRequestID     *string
	destroyed      *bool
	filter         *string
	ids            *[]string
	limit          *int32
	names          *[]string
	offset         *int32
	on             *[]string
	sort           *[]string
	sourceIds      *[]string
	sourceNames    *[]string
	totalItemCount *bool
	totalOnly      *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIRemoteVolumeSnapshotsTransferGetRequest) Authorization(authorization string) APIRemoteVolumeSnapshotsTransferGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIRemoteVolumeSnapshotsTransferGetRequest) XRequestID(xRequestID string) APIRemoteVolumeSnapshotsTransferGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, lists only destroyed objects that are in the eradication pending state. If set to &#x60;false&#x60;, lists only objects that are not destroyed. For destroyed objects, the time remaining is displayed in milliseconds.
func (r APIRemoteVolumeSnapshotsTransferGetRequest) Destroyed(destroyed bool) APIRemoteVolumeSnapshotsTransferGetRequest {
	r.destroyed = &destroyed
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIRemoteVolumeSnapshotsTransferGetRequest) Filter(filter string) APIRemoteVolumeSnapshotsTransferGetRequest {
	r.filter = &filter
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIRemoteVolumeSnapshotsTransferGetRequest) Ids(ids []string) APIRemoteVolumeSnapshotsTransferGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIRemoteVolumeSnapshotsTransferGetRequest) Limit(limit int32) APIRemoteVolumeSnapshotsTransferGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIRemoteVolumeSnapshotsTransferGetRequest) Names(names []string) APIRemoteVolumeSnapshotsTransferGetRequest {
	r.names = &names
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIRemoteVolumeSnapshotsTransferGetRequest) Offset(offset int32) APIRemoteVolumeSnapshotsTransferGetRequest {
	r.offset = &offset
	return r
}

// Performs the operation on the target name specified. Enter multiple target names in comma-separated format. For example, &#x60;targetName01,targetName02&#x60;.
func (r APIRemoteVolumeSnapshotsTransferGetRequest) On(on []string) APIRemoteVolumeSnapshotsTransferGetRequest {
	r.on = &on
	return r
}

// Returns the response objects in the order specified. Set &#x60;sort&#x60; to the name in the response by which to sort. Sorting can be performed on any of the names in the response, and the objects can be sorted in ascending or descending order. By default, the response objects are sorted in ascending order. To sort in descending order, append the minus sign (&#x60;-&#x60;) to the name. A single request can be sorted on multiple objects. For example, you can sort all volumes from largest to smallest volume size, and then sort volumes of the same size in ascending order by volume name. To sort on multiple names, list the names as comma-separated values.
func (r APIRemoteVolumeSnapshotsTransferGetRequest) Sort(sort []string) APIRemoteVolumeSnapshotsTransferGetRequest {
	r.sort = &sort
	return r
}

// Performs the operation on the source ID specified. Enter multiple source IDs in comma-separated format.
func (r APIRemoteVolumeSnapshotsTransferGetRequest) SourceIds(sourceIds []string) APIRemoteVolumeSnapshotsTransferGetRequest {
	r.sourceIds = &sourceIds
	return r
}

// Performs the operation on the source name specified. Enter multiple source names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIRemoteVolumeSnapshotsTransferGetRequest) SourceNames(sourceNames []string) APIRemoteVolumeSnapshotsTransferGetRequest {
	r.sourceNames = &sourceNames
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIRemoteVolumeSnapshotsTransferGetRequest) TotalItemCount(totalItemCount bool) APIRemoteVolumeSnapshotsTransferGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

// If set to &#x60;true&#x60;, returns the aggregate value of all items after filtering. Where it makes more sense, the average value is displayed instead. The values are displayed for each name where meaningful. If &#x60;total_only&#x3D;true&#x60;, the &#x60;items&#x60; list will be empty.
func (r APIRemoteVolumeSnapshotsTransferGetRequest) TotalOnly(totalOnly bool) APIRemoteVolumeSnapshotsTransferGetRequest {
	r.totalOnly = &totalOnly
	return r
}

func (r APIRemoteVolumeSnapshotsTransferGetRequest) Execute() (*RemoteVolumeSnapshotTransferGetResponse, *http.Response, error) {
	return r.APIService.RemoteVolumeSnapshotsTransferGetExecute(r)
}

/*
RemoteVolumeSnapshotsTransferGet List remote volume snapshots with transfer statistics

Returns a list of remote volume snapshots and their transfer statistics.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRemoteVolumeSnapshotsTransferGetRequest
*/
func (a *RemoteVolumeSnapshotsAPIService) RemoteVolumeSnapshotsTransferGet(ctx context.Context) APIRemoteVolumeSnapshotsTransferGetRequest {
	return APIRemoteVolumeSnapshotsTransferGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RemoteVolumeSnapshotTransferGetResponse
func (a *RemoteVolumeSnapshotsAPIService) RemoteVolumeSnapshotsTransferGetExecute(r APIRemoteVolumeSnapshotsTransferGetRequest) (*RemoteVolumeSnapshotTransferGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RemoteVolumeSnapshotTransferGetResponse
	)

	endpoint := "RemoteVolumeSnapshotsAPIService.RemoteVolumeSnapshotsTransferGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.1/remote-volume-snapshots/transfer"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.destroyed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destroyed", r.destroyed, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.on != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "on", r.on, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.sourceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_ids", r.sourceIds, "csv")
	}
	if r.sourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_names", r.sourceNames, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	if r.totalOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_only", r.totalOnly, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
