/*
FlashArray REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.44
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// VchostConnectionsAPIService VchostConnectionsAPI service
type VchostConnectionsAPIService service

type APIVchostConnectionsDeleteRequest struct {
	ctx                   context.Context
	APIService            *VchostConnectionsAPIService
	authorization         *string
	xRequestID            *string
	allVchosts            *bool
	protocolEndpointIds   *[]string
	protocolEndpointNames *[]string
	vchostIds             *[]string
	vchostNames           *[]string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIVchostConnectionsDeleteRequest) Authorization(authorization string) APIVchostConnectionsDeleteRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIVchostConnectionsDeleteRequest) XRequestID(xRequestID string) APIVchostConnectionsDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the storage container represented by the protocol endpoint is accessible to all vchosts. Users should not specify &#x60;vchost_ids&#x60; or &#x60;vchost_names&#x60; in the request. If set to &#x60;false&#x60;, the storage container represented by the protocol endpoint is only accessible to the vchosts that have explicit vchost-connections with the protocol endpoint. Users need to specify &#x60;vchost_ids&#x60; or &#x60;vchost_names&#x60; in the request.
func (r APIVchostConnectionsDeleteRequest) AllVchosts(allVchosts bool) APIVchostConnectionsDeleteRequest {
	r.allVchosts = &allVchosts
	return r
}

// A comma-separated list of protocol endpoint IDs. Performs the operation on the protocol endpoints specified. For example, &#x60;peid01,peid02&#x60;. Cannot be used in conjunction with &#x60;protocol_endpoint_names&#x60;. If the list contains more than one value, then &#x60;vchost_ids&#x60; or &#x60;vchost_names&#x60; must have exactly one value.
func (r APIVchostConnectionsDeleteRequest) ProtocolEndpointIds(protocolEndpointIds []string) APIVchostConnectionsDeleteRequest {
	r.protocolEndpointIds = &protocolEndpointIds
	return r
}

// A comma-separated list of protocol endpoint names. Performs the operation on the protocol endpoints specified. For example, &#x60;pe01,pe02&#x60;. Cannot be used in conjunction with &#x60;protocol_endpoint_ids&#x60;. If the list contains more than one value, then &#x60;vchost_ids&#x60; or &#x60;vchost_names&#x60; must have exactly one value.
func (r APIVchostConnectionsDeleteRequest) ProtocolEndpointNames(protocolEndpointNames []string) APIVchostConnectionsDeleteRequest {
	r.protocolEndpointNames = &protocolEndpointNames
	return r
}

// A comma-separated list of vchost IDs. Performs the operation on the vchosts specified. For example, &#x60;vchostid01,vchostid02&#x60;. Cannot be used in conjunction with &#x60;vchost_names&#x60;. If the list contains more than one value, then &#x60;protocol_endpoint_ids&#x60; or &#x60;protocol_endpoint_names&#x60; must have exactly one value.
func (r APIVchostConnectionsDeleteRequest) VchostIds(vchostIds []string) APIVchostConnectionsDeleteRequest {
	r.vchostIds = &vchostIds
	return r
}

// A comma-separated list of vchost names. Performs the operation on the vchosts specified. For example, &#x60;vchost01,vchost02&#x60;. Cannot be used in conjunction with &#x60;vchost_ids&#x60;. If the list contains more than one value, then &#x60;protocol_endpoint_ids&#x60; or &#x60;protocol_endpoint_names&#x60; must have exactly one value.
func (r APIVchostConnectionsDeleteRequest) VchostNames(vchostNames []string) APIVchostConnectionsDeleteRequest {
	r.vchostNames = &vchostNames
	return r
}

func (r APIVchostConnectionsDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.VchostConnectionsDeleteExecute(r)
}

/*
VchostConnectionsDelete Delete the vchost-connection between a protocol endpoint and its vchost

Deletes the vchost-connection between a protocol endpoint and its vchost.
The storage container represented by the protocol endpoint will no longer
be visible to the vCenter represented by the vchost.
One of the `protocol_endpoint_names` or `protocol_endpoint_ids` query parameters,
and one of the `vchost_names` or `vchost_ids` query parameters are required.
But if `all_vchosts` is set to `true`, `vchost_names` and `vchost_ids`
should not be specified.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIVchostConnectionsDeleteRequest
*/
func (a *VchostConnectionsAPIService) VchostConnectionsDelete(ctx context.Context) APIVchostConnectionsDeleteRequest {
	return APIVchostConnectionsDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *VchostConnectionsAPIService) VchostConnectionsDeleteExecute(r APIVchostConnectionsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "VchostConnectionsAPIService.VchostConnectionsDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.44/vchost-connections"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allVchosts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "all_vchosts", r.allVchosts, "")
	}
	if r.protocolEndpointIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "protocol_endpoint_ids", r.protocolEndpointIds, "csv")
	}
	if r.protocolEndpointNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "protocol_endpoint_names", r.protocolEndpointNames, "csv")
	}
	if r.vchostIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vchost_ids", r.vchostIds, "csv")
	}
	if r.vchostNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vchost_names", r.vchostNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIVchostConnectionsGetRequest struct {
	ctx                   context.Context
	APIService            *VchostConnectionsAPIService
	authorization         *string
	xRequestID            *string
	allVchosts            *bool
	continuationToken     *string
	filter                *string
	limit                 *int32
	offset                *int32
	protocolEndpointIds   *[]string
	protocolEndpointNames *[]string
	sort                  *[]string
	totalItemCount        *bool
	vchostIds             *[]string
	vchostNames           *[]string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIVchostConnectionsGetRequest) Authorization(authorization string) APIVchostConnectionsGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIVchostConnectionsGetRequest) XRequestID(xRequestID string) APIVchostConnectionsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the storage container represented by the protocol endpoint is accessible to all vchosts. Users should not specify &#x60;vchost_ids&#x60; or &#x60;vchost_names&#x60; in the request. If set to &#x60;false&#x60;, the storage container represented by the protocol endpoint is only accessible to the vchosts that have explicit vchost-connections with the protocol endpoint. Users need to specify &#x60;vchost_ids&#x60; or &#x60;vchost_names&#x60; in the request.
func (r APIVchostConnectionsGetRequest) AllVchosts(allVchosts bool) APIVchostConnectionsGetRequest {
	r.allVchosts = &allVchosts
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIVchostConnectionsGetRequest) ContinuationToken(continuationToken string) APIVchostConnectionsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIVchostConnectionsGetRequest) Filter(filter string) APIVchostConnectionsGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIVchostConnectionsGetRequest) Limit(limit int32) APIVchostConnectionsGetRequest {
	r.limit = &limit
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIVchostConnectionsGetRequest) Offset(offset int32) APIVchostConnectionsGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of protocol endpoint IDs. Performs the operation on the protocol endpoints specified. For example, &#x60;peid01,peid02&#x60;. Cannot be used in conjunction with &#x60;protocol_endpoint_names&#x60;. If the list contains more than one value, then &#x60;vchost_ids&#x60; or &#x60;vchost_names&#x60; must have exactly one value.
func (r APIVchostConnectionsGetRequest) ProtocolEndpointIds(protocolEndpointIds []string) APIVchostConnectionsGetRequest {
	r.protocolEndpointIds = &protocolEndpointIds
	return r
}

// A comma-separated list of protocol endpoint names. Performs the operation on the protocol endpoints specified. For example, &#x60;pe01,pe02&#x60;. Cannot be used in conjunction with &#x60;protocol_endpoint_ids&#x60;. If the list contains more than one value, then &#x60;vchost_ids&#x60; or &#x60;vchost_names&#x60; must have exactly one value.
func (r APIVchostConnectionsGetRequest) ProtocolEndpointNames(protocolEndpointNames []string) APIVchostConnectionsGetRequest {
	r.protocolEndpointNames = &protocolEndpointNames
	return r
}

// Returns the response objects in the order specified. Set &#x60;sort&#x60; to the name in the response by which to sort. Sorting can be performed on any of the names in the response, and the objects can be sorted in ascending or descending order. By default, the response objects are sorted in ascending order. To sort in descending order, append the minus sign (&#x60;-&#x60;) to the name. A single request can be sorted on multiple objects. For example, you can sort all volumes from largest to smallest volume size, and then sort volumes of the same size in ascending order by volume name. To sort on multiple names, list the names as comma-separated values.
func (r APIVchostConnectionsGetRequest) Sort(sort []string) APIVchostConnectionsGetRequest {
	r.sort = &sort
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIVchostConnectionsGetRequest) TotalItemCount(totalItemCount bool) APIVchostConnectionsGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

// A comma-separated list of vchost IDs. Performs the operation on the vchosts specified. For example, &#x60;vchostid01,vchostid02&#x60;. Cannot be used in conjunction with &#x60;vchost_names&#x60;. If the list contains more than one value, then &#x60;protocol_endpoint_ids&#x60; or &#x60;protocol_endpoint_names&#x60; must have exactly one value.
func (r APIVchostConnectionsGetRequest) VchostIds(vchostIds []string) APIVchostConnectionsGetRequest {
	r.vchostIds = &vchostIds
	return r
}

// A comma-separated list of vchost names. Performs the operation on the vchosts specified. For example, &#x60;vchost01,vchost02&#x60;. Cannot be used in conjunction with &#x60;vchost_ids&#x60;. If the list contains more than one value, then &#x60;protocol_endpoint_ids&#x60; or &#x60;protocol_endpoint_names&#x60; must have exactly one value.
func (r APIVchostConnectionsGetRequest) VchostNames(vchostNames []string) APIVchostConnectionsGetRequest {
	r.vchostNames = &vchostNames
	return r
}

func (r APIVchostConnectionsGetRequest) Execute() (*VchostConnectionGetResponse, *http.Response, error) {
	return r.APIService.VchostConnectionsGetExecute(r)
}

/*
VchostConnectionsGet List the vchost-connections between protocol endpoint and vchost.

Displays a list of vchost-connections between the protocol endpoint and vchost.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIVchostConnectionsGetRequest
*/
func (a *VchostConnectionsAPIService) VchostConnectionsGet(ctx context.Context) APIVchostConnectionsGetRequest {
	return APIVchostConnectionsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return VchostConnectionGetResponse
func (a *VchostConnectionsAPIService) VchostConnectionsGetExecute(r APIVchostConnectionsGetRequest) (*VchostConnectionGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *VchostConnectionGetResponse
	)

	endpoint := "VchostConnectionsAPIService.VchostConnectionsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.44/vchost-connections"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allVchosts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "all_vchosts", r.allVchosts, "")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.protocolEndpointIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "protocol_endpoint_ids", r.protocolEndpointIds, "csv")
	}
	if r.protocolEndpointNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "protocol_endpoint_names", r.protocolEndpointNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	if r.vchostIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vchost_ids", r.vchostIds, "csv")
	}
	if r.vchostNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vchost_names", r.vchostNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIVchostConnectionsPostRequest struct {
	ctx                       context.Context
	APIService                *VchostConnectionsAPIService
	authorization             *string
	xRequestID                *string
	allVchosts                *bool
	allowStretchedMultiVchost *bool
	protocolEndpointIds       *[]string
	protocolEndpointNames     *[]string
	vchostIds                 *[]string
	vchostNames               *[]string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIVchostConnectionsPostRequest) Authorization(authorization string) APIVchostConnectionsPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIVchostConnectionsPostRequest) XRequestID(xRequestID string) APIVchostConnectionsPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the storage container represented by the protocol endpoint is accessible to all vchosts. Users should not specify &#x60;vchost_ids&#x60; or &#x60;vchost_names&#x60; in the request. If set to &#x60;false&#x60;, the storage container represented by the protocol endpoint is only accessible to the vchosts that have explicit vchost-connections with the protocol endpoint. Users need to specify &#x60;vchost_ids&#x60; or &#x60;vchost_names&#x60; in the request.
func (r APIVchostConnectionsPostRequest) AllVchosts(allVchosts bool) APIVchostConnectionsPostRequest {
	r.allVchosts = &allVchosts
	return r
}

// If set to &#x60;true&#x60;, users are allowed to create a new vchost-connection to a stretched container that already has a vchost-connection. In principle, a stretched container can only have one vchost-connection at a time.
func (r APIVchostConnectionsPostRequest) AllowStretchedMultiVchost(allowStretchedMultiVchost bool) APIVchostConnectionsPostRequest {
	r.allowStretchedMultiVchost = &allowStretchedMultiVchost
	return r
}

// A comma-separated list of protocol endpoint IDs. Performs the operation on the protocol endpoints specified. For example, &#x60;peid01,peid02&#x60;. Cannot be used in conjunction with &#x60;protocol_endpoint_names&#x60;. If the list contains more than one value, then &#x60;vchost_ids&#x60; or &#x60;vchost_names&#x60; must have exactly one value.
func (r APIVchostConnectionsPostRequest) ProtocolEndpointIds(protocolEndpointIds []string) APIVchostConnectionsPostRequest {
	r.protocolEndpointIds = &protocolEndpointIds
	return r
}

// A comma-separated list of protocol endpoint names. Performs the operation on the protocol endpoints specified. For example, &#x60;pe01,pe02&#x60;. Cannot be used in conjunction with &#x60;protocol_endpoint_ids&#x60;. If the list contains more than one value, then &#x60;vchost_ids&#x60; or &#x60;vchost_names&#x60; must have exactly one value.
func (r APIVchostConnectionsPostRequest) ProtocolEndpointNames(protocolEndpointNames []string) APIVchostConnectionsPostRequest {
	r.protocolEndpointNames = &protocolEndpointNames
	return r
}

// A comma-separated list of vchost IDs. Performs the operation on the vchosts specified. For example, &#x60;vchostid01,vchostid02&#x60;. Cannot be used in conjunction with &#x60;vchost_names&#x60;. If the list contains more than one value, then &#x60;protocol_endpoint_ids&#x60; or &#x60;protocol_endpoint_names&#x60; must have exactly one value.
func (r APIVchostConnectionsPostRequest) VchostIds(vchostIds []string) APIVchostConnectionsPostRequest {
	r.vchostIds = &vchostIds
	return r
}

// A comma-separated list of vchost names. Performs the operation on the vchosts specified. For example, &#x60;vchost01,vchost02&#x60;. Cannot be used in conjunction with &#x60;vchost_ids&#x60;. If the list contains more than one value, then &#x60;protocol_endpoint_ids&#x60; or &#x60;protocol_endpoint_names&#x60; must have exactly one value.
func (r APIVchostConnectionsPostRequest) VchostNames(vchostNames []string) APIVchostConnectionsPostRequest {
	r.vchostNames = &vchostNames
	return r
}

func (r APIVchostConnectionsPostRequest) Execute() (*VchostConnectionResponse, *http.Response, error) {
	return r.APIService.VchostConnectionsPostExecute(r)
}

/*
VchostConnectionsPost Create a vchost-connection between protocol endpoint and vchost.

Creates a vchost-connection between protocol endpoint and vchost.
Each vchost is associated with a vCenter. Each protocol endpoint
is associated with a storage container. A vchost-connection makes
the storage container accessible to the vCenter when the vCenter
attempts to mount the container. One of `protocol_endpoint_names`
or `protocol_endpoint_ids` query parameters and one of `vchost_names`
or `vchost_ids` query parameters are required. But if `all_vchosts` is
set to `true`, `vchost_names` and `vchost_ids` should not be specified.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIVchostConnectionsPostRequest
*/
func (a *VchostConnectionsAPIService) VchostConnectionsPost(ctx context.Context) APIVchostConnectionsPostRequest {
	return APIVchostConnectionsPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return VchostConnectionResponse
func (a *VchostConnectionsAPIService) VchostConnectionsPostExecute(r APIVchostConnectionsPostRequest) (*VchostConnectionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *VchostConnectionResponse
	)

	endpoint := "VchostConnectionsAPIService.VchostConnectionsPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.44/vchost-connections"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allVchosts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "all_vchosts", r.allVchosts, "")
	}
	if r.allowStretchedMultiVchost != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_stretched_multi_vchost", r.allowStretchedMultiVchost, "")
	}
	if r.protocolEndpointIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "protocol_endpoint_ids", r.protocolEndpointIds, "csv")
	}
	if r.protocolEndpointNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "protocol_endpoint_names", r.protocolEndpointNames, "csv")
	}
	if r.vchostIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vchost_ids", r.vchostIds, "csv")
	}
	if r.vchostNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vchost_names", r.vchostNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
