/*
FlashBlade REST API

OpenAPI specification for FlashBlade REST API, developed by Pure Storage, Inc. (https://www.purestorage.com/).

API version: 2.24
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// PoliciesStorageClassTieringAPIService PoliciesStorageClassTieringAPI service
type PoliciesStorageClassTieringAPIService service

type APIStorageClassTieringPoliciesDeleteRequest struct {
	ctx                 context.Context
	APIService          *PoliciesStorageClassTieringAPIService
	xRequestID          *string
	ids                 *[]string
	names               *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIStorageClassTieringPoliciesDeleteRequest) XRequestID(xRequestID string) APIStorageClassTieringPoliciesDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIStorageClassTieringPoliciesDeleteRequest) Ids(ids []string) APIStorageClassTieringPoliciesDeleteRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIStorageClassTieringPoliciesDeleteRequest) Names(names []string) APIStorageClassTieringPoliciesDeleteRequest {
	r.names = &names
	return r
}

func (r APIStorageClassTieringPoliciesDeleteRequest) AuthorizationHeader(authorizationHeader string) APIStorageClassTieringPoliciesDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIStorageClassTieringPoliciesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.StorageClassTieringPoliciesDeleteExecute(r)
}

/*
StorageClassTieringPoliciesDelete DELETE storage-class-tiering-policies

Delete a storage class tiering policy.
Deletion is not allowed if the policy is attached to one or more file systems.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIStorageClassTieringPoliciesDeleteRequest
*/
func (a *PoliciesStorageClassTieringAPIService) StorageClassTieringPoliciesDelete(ctx context.Context) APIStorageClassTieringPoliciesDeleteRequest {
	return APIStorageClassTieringPoliciesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *PoliciesStorageClassTieringAPIService) StorageClassTieringPoliciesDeleteExecute(r APIStorageClassTieringPoliciesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "PoliciesStorageClassTieringAPIService.StorageClassTieringPoliciesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.24/storage-class-tiering-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIStorageClassTieringPoliciesGetRequest struct {
	ctx                 context.Context
	APIService          *PoliciesStorageClassTieringAPIService
	xRequestID          *string
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIStorageClassTieringPoliciesGetRequest) XRequestID(xRequestID string) APIStorageClassTieringPoliciesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIStorageClassTieringPoliciesGetRequest) ContinuationToken(continuationToken string) APIStorageClassTieringPoliciesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIStorageClassTieringPoliciesGetRequest) Filter(filter string) APIStorageClassTieringPoliciesGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIStorageClassTieringPoliciesGetRequest) Ids(ids []string) APIStorageClassTieringPoliciesGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIStorageClassTieringPoliciesGetRequest) Limit(limit int32) APIStorageClassTieringPoliciesGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIStorageClassTieringPoliciesGetRequest) Names(names []string) APIStorageClassTieringPoliciesGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APIStorageClassTieringPoliciesGetRequest) Offset(offset int32) APIStorageClassTieringPoliciesGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIStorageClassTieringPoliciesGetRequest) Sort(sort []string) APIStorageClassTieringPoliciesGetRequest {
	r.sort = &sort
	return r
}

func (r APIStorageClassTieringPoliciesGetRequest) AuthorizationHeader(authorizationHeader string) APIStorageClassTieringPoliciesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIStorageClassTieringPoliciesGetRequest) Execute() (*StorageClassTieringPoliciesGetResponse, *http.Response, error) {
	return r.APIService.StorageClassTieringPoliciesGetExecute(r)
}

/*
StorageClassTieringPoliciesGet GET storage-class-tiering-policies

List storage class tiering policies.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIStorageClassTieringPoliciesGetRequest
*/
func (a *PoliciesStorageClassTieringAPIService) StorageClassTieringPoliciesGet(ctx context.Context) APIStorageClassTieringPoliciesGetRequest {
	return APIStorageClassTieringPoliciesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StorageClassTieringPoliciesGetResponse
func (a *PoliciesStorageClassTieringAPIService) StorageClassTieringPoliciesGetExecute(r APIStorageClassTieringPoliciesGetRequest) (*StorageClassTieringPoliciesGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StorageClassTieringPoliciesGetResponse
	)

	endpoint := "PoliciesStorageClassTieringAPIService.StorageClassTieringPoliciesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.24/storage-class-tiering-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIStorageClassTieringPoliciesMembersGetRequest struct {
	ctx                 context.Context
	APIService          *PoliciesStorageClassTieringAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	filter              *string
	limit               *int32
	memberIds           *[]string
	memberNames         *[]string
	offset              *int32
	policyIds           *[]string
	policyNames         *[]string
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIStorageClassTieringPoliciesMembersGetRequest) XRequestID(xRequestID string) APIStorageClassTieringPoliciesMembersGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIStorageClassTieringPoliciesMembersGetRequest) AllowErrors(allowErrors bool) APIStorageClassTieringPoliciesMembersGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIStorageClassTieringPoliciesMembersGetRequest) ContextNames(contextNames []string) APIStorageClassTieringPoliciesMembersGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIStorageClassTieringPoliciesMembersGetRequest) ContinuationToken(continuationToken string) APIStorageClassTieringPoliciesMembersGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIStorageClassTieringPoliciesMembersGetRequest) Filter(filter string) APIStorageClassTieringPoliciesMembersGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIStorageClassTieringPoliciesMembersGetRequest) Limit(limit int32) APIStorageClassTieringPoliciesMembersGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIStorageClassTieringPoliciesMembersGetRequest) MemberIds(memberIds []string) APIStorageClassTieringPoliciesMembersGetRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of member names.
func (r APIStorageClassTieringPoliciesMembersGetRequest) MemberNames(memberNames []string) APIStorageClassTieringPoliciesMembersGetRequest {
	r.memberNames = &memberNames
	return r
}

// The offset of the first resource to return from a collection.
func (r APIStorageClassTieringPoliciesMembersGetRequest) Offset(offset int32) APIStorageClassTieringPoliciesMembersGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIStorageClassTieringPoliciesMembersGetRequest) PolicyIds(policyIds []string) APIStorageClassTieringPoliciesMembersGetRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIStorageClassTieringPoliciesMembersGetRequest) PolicyNames(policyNames []string) APIStorageClassTieringPoliciesMembersGetRequest {
	r.policyNames = &policyNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIStorageClassTieringPoliciesMembersGetRequest) Sort(sort []string) APIStorageClassTieringPoliciesMembersGetRequest {
	r.sort = &sort
	return r
}

func (r APIStorageClassTieringPoliciesMembersGetRequest) AuthorizationHeader(authorizationHeader string) APIStorageClassTieringPoliciesMembersGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIStorageClassTieringPoliciesMembersGetRequest) Execute() (*StorageClassTieringPoliciesMembersGetResponse, *http.Response, error) {
	return r.APIService.StorageClassTieringPoliciesMembersGetExecute(r)
}

/*
StorageClassTieringPoliciesMembersGet GET storage-class-tiering-policies/members

List members mapped to a storage class tiering policy.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIStorageClassTieringPoliciesMembersGetRequest
*/
func (a *PoliciesStorageClassTieringAPIService) StorageClassTieringPoliciesMembersGet(ctx context.Context) APIStorageClassTieringPoliciesMembersGetRequest {
	return APIStorageClassTieringPoliciesMembersGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StorageClassTieringPoliciesMembersGetResponse
func (a *PoliciesStorageClassTieringAPIService) StorageClassTieringPoliciesMembersGetExecute(r APIStorageClassTieringPoliciesMembersGetRequest) (*StorageClassTieringPoliciesMembersGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StorageClassTieringPoliciesMembersGetResponse
	)

	endpoint := "PoliciesStorageClassTieringAPIService.StorageClassTieringPoliciesMembersGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.24/storage-class-tiering-policies/members"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.memberNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_names", r.memberNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIStorageClassTieringPoliciesPatchRequest struct {
	ctx                 context.Context
	APIService          *PoliciesStorageClassTieringAPIService
	xRequestID          *string
	ids                 *[]string
	names               *[]string
	policy              *StorageClassTieringPolicy
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIStorageClassTieringPoliciesPatchRequest) XRequestID(xRequestID string) APIStorageClassTieringPoliciesPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIStorageClassTieringPoliciesPatchRequest) Ids(ids []string) APIStorageClassTieringPoliciesPatchRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIStorageClassTieringPoliciesPatchRequest) Names(names []string) APIStorageClassTieringPoliciesPatchRequest {
	r.names = &names
	return r
}

func (r APIStorageClassTieringPoliciesPatchRequest) Policy(policy StorageClassTieringPolicy) APIStorageClassTieringPoliciesPatchRequest {
	r.policy = &policy
	return r
}

func (r APIStorageClassTieringPoliciesPatchRequest) AuthorizationHeader(authorizationHeader string) APIStorageClassTieringPoliciesPatchRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIStorageClassTieringPoliciesPatchRequest) Execute() (*StorageClassTieringPoliciesResponse, *http.Response, error) {
	return r.APIService.StorageClassTieringPoliciesPatchExecute(r)
}

/*
StorageClassTieringPoliciesPatch PATCH storage-class-tiering-policies

Modify a storage class tiering policy.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIStorageClassTieringPoliciesPatchRequest
*/
func (a *PoliciesStorageClassTieringAPIService) StorageClassTieringPoliciesPatch(ctx context.Context) APIStorageClassTieringPoliciesPatchRequest {
	return APIStorageClassTieringPoliciesPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StorageClassTieringPoliciesResponse
func (a *PoliciesStorageClassTieringAPIService) StorageClassTieringPoliciesPatchExecute(r APIStorageClassTieringPoliciesPatchRequest) (*StorageClassTieringPoliciesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StorageClassTieringPoliciesResponse
	)

	endpoint := "PoliciesStorageClassTieringAPIService.StorageClassTieringPoliciesPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.24/storage-class-tiering-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.policy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIStorageClassTieringPoliciesPostRequest struct {
	ctx                 context.Context
	APIService          *PoliciesStorageClassTieringAPIService
	names               *[]string
	xRequestID          *string
	policy              *StorageClassTieringPolicy
	authorizationHeader *string
}

// A comma-separated list of resource names.
func (r APIStorageClassTieringPoliciesPostRequest) Names(names []string) APIStorageClassTieringPoliciesPostRequest {
	r.names = &names
	return r
}

// Supplied by client during request or generated by server.
func (r APIStorageClassTieringPoliciesPostRequest) XRequestID(xRequestID string) APIStorageClassTieringPoliciesPostRequest {
	r.xRequestID = &xRequestID
	return r
}

func (r APIStorageClassTieringPoliciesPostRequest) Policy(policy StorageClassTieringPolicy) APIStorageClassTieringPoliciesPostRequest {
	r.policy = &policy
	return r
}

func (r APIStorageClassTieringPoliciesPostRequest) AuthorizationHeader(authorizationHeader string) APIStorageClassTieringPoliciesPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIStorageClassTieringPoliciesPostRequest) Execute() (*StorageClassTieringPoliciesResponse, *http.Response, error) {
	return r.APIService.StorageClassTieringPoliciesPostExecute(r)
}

/*
StorageClassTieringPoliciesPost POST storage-class-tiering-policies

Create a storage class tiering policy.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIStorageClassTieringPoliciesPostRequest
*/
func (a *PoliciesStorageClassTieringAPIService) StorageClassTieringPoliciesPost(ctx context.Context) APIStorageClassTieringPoliciesPostRequest {
	return APIStorageClassTieringPoliciesPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StorageClassTieringPoliciesResponse
func (a *PoliciesStorageClassTieringAPIService) StorageClassTieringPoliciesPostExecute(r APIStorageClassTieringPoliciesPostRequest) (*StorageClassTieringPoliciesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StorageClassTieringPoliciesResponse
	)

	endpoint := "PoliciesStorageClassTieringAPIService.StorageClassTieringPoliciesPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.24/storage-class-tiering-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.names == nil {
		return localVarReturnValue, nil, reportError("names is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.policy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
