/*
FlashBlade REST API

A lightweight client for FlashBlade REST API 2.20, developed by Pure Storage, Inc. (http://www.purestorage.com/).

API version: 2.23
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// PoliciesManagementAuthenticationAPIService PoliciesManagementAuthenticationAPI service
type PoliciesManagementAuthenticationAPIService service

type APIAdminsManagementAuthenticationPoliciesDeleteRequest struct {
	ctx                 context.Context
	APIService          *PoliciesManagementAuthenticationAPIService
	xRequestID          *string
	contextNames        *[]string
	memberIds           *[]string
	memberNames         *[]string
	policyIds           *[]string
	policyNames         *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIAdminsManagementAuthenticationPoliciesDeleteRequest) XRequestID(xRequestID string) APIAdminsManagementAuthenticationPoliciesDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIAdminsManagementAuthenticationPoliciesDeleteRequest) ContextNames(contextNames []string) APIAdminsManagementAuthenticationPoliciesDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIAdminsManagementAuthenticationPoliciesDeleteRequest) MemberIds(memberIds []string) APIAdminsManagementAuthenticationPoliciesDeleteRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of member names.
func (r APIAdminsManagementAuthenticationPoliciesDeleteRequest) MemberNames(memberNames []string) APIAdminsManagementAuthenticationPoliciesDeleteRequest {
	r.memberNames = &memberNames
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIAdminsManagementAuthenticationPoliciesDeleteRequest) PolicyIds(policyIds []string) APIAdminsManagementAuthenticationPoliciesDeleteRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIAdminsManagementAuthenticationPoliciesDeleteRequest) PolicyNames(policyNames []string) APIAdminsManagementAuthenticationPoliciesDeleteRequest {
	r.policyNames = &policyNames
	return r
}

func (r APIAdminsManagementAuthenticationPoliciesDeleteRequest) AuthorizationHeader(authorizationHeader string) APIAdminsManagementAuthenticationPoliciesDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIAdminsManagementAuthenticationPoliciesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.AdminsManagementAuthenticationPoliciesDeleteExecute(r)
}

/*
AdminsManagementAuthenticationPoliciesDelete DELETE admins/management-authentication-policies

Remove the management authentication policy mapped to a member.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIAdminsManagementAuthenticationPoliciesDeleteRequest
*/
func (a *PoliciesManagementAuthenticationAPIService) AdminsManagementAuthenticationPoliciesDelete(ctx context.Context) APIAdminsManagementAuthenticationPoliciesDeleteRequest {
	return APIAdminsManagementAuthenticationPoliciesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *PoliciesManagementAuthenticationAPIService) AdminsManagementAuthenticationPoliciesDeleteExecute(r APIAdminsManagementAuthenticationPoliciesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "PoliciesManagementAuthenticationAPIService.AdminsManagementAuthenticationPoliciesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.23/admins/management-authentication-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.memberNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_names", r.memberNames, "csv")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIAdminsManagementAuthenticationPoliciesGetRequest struct {
	ctx                 context.Context
	APIService          *PoliciesManagementAuthenticationAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	filter              *string
	limit               *int32
	memberIds           *[]string
	memberNames         *[]string
	offset              *int32
	policyIds           *[]string
	policyNames         *[]string
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIAdminsManagementAuthenticationPoliciesGetRequest) XRequestID(xRequestID string) APIAdminsManagementAuthenticationPoliciesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIAdminsManagementAuthenticationPoliciesGetRequest) AllowErrors(allowErrors bool) APIAdminsManagementAuthenticationPoliciesGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIAdminsManagementAuthenticationPoliciesGetRequest) ContextNames(contextNames []string) APIAdminsManagementAuthenticationPoliciesGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIAdminsManagementAuthenticationPoliciesGetRequest) ContinuationToken(continuationToken string) APIAdminsManagementAuthenticationPoliciesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIAdminsManagementAuthenticationPoliciesGetRequest) Filter(filter string) APIAdminsManagementAuthenticationPoliciesGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIAdminsManagementAuthenticationPoliciesGetRequest) Limit(limit int32) APIAdminsManagementAuthenticationPoliciesGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIAdminsManagementAuthenticationPoliciesGetRequest) MemberIds(memberIds []string) APIAdminsManagementAuthenticationPoliciesGetRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of member names.
func (r APIAdminsManagementAuthenticationPoliciesGetRequest) MemberNames(memberNames []string) APIAdminsManagementAuthenticationPoliciesGetRequest {
	r.memberNames = &memberNames
	return r
}

// The offset of the first resource to return from a collection.
func (r APIAdminsManagementAuthenticationPoliciesGetRequest) Offset(offset int32) APIAdminsManagementAuthenticationPoliciesGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIAdminsManagementAuthenticationPoliciesGetRequest) PolicyIds(policyIds []string) APIAdminsManagementAuthenticationPoliciesGetRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIAdminsManagementAuthenticationPoliciesGetRequest) PolicyNames(policyNames []string) APIAdminsManagementAuthenticationPoliciesGetRequest {
	r.policyNames = &policyNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIAdminsManagementAuthenticationPoliciesGetRequest) Sort(sort []string) APIAdminsManagementAuthenticationPoliciesGetRequest {
	r.sort = &sort
	return r
}

func (r APIAdminsManagementAuthenticationPoliciesGetRequest) AuthorizationHeader(authorizationHeader string) APIAdminsManagementAuthenticationPoliciesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIAdminsManagementAuthenticationPoliciesGetRequest) Execute() (*PolicyMemberContextGetResponse, *http.Response, error) {
	return r.APIService.AdminsManagementAuthenticationPoliciesGetExecute(r)
}

/*
AdminsManagementAuthenticationPoliciesGet GET admins/management-authentication-policies

List the members mapped to management authentication policies.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIAdminsManagementAuthenticationPoliciesGetRequest
*/
func (a *PoliciesManagementAuthenticationAPIService) AdminsManagementAuthenticationPoliciesGet(ctx context.Context) APIAdminsManagementAuthenticationPoliciesGetRequest {
	return APIAdminsManagementAuthenticationPoliciesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PolicyMemberContextGetResponse
func (a *PoliciesManagementAuthenticationAPIService) AdminsManagementAuthenticationPoliciesGetExecute(r APIAdminsManagementAuthenticationPoliciesGetRequest) (*PolicyMemberContextGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PolicyMemberContextGetResponse
	)

	endpoint := "PoliciesManagementAuthenticationAPIService.AdminsManagementAuthenticationPoliciesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.23/admins/management-authentication-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.memberNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_names", r.memberNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIAdminsManagementAuthenticationPoliciesPostRequest struct {
	ctx                 context.Context
	APIService          *PoliciesManagementAuthenticationAPIService
	xRequestID          *string
	contextNames        *[]string
	memberIds           *[]string
	memberNames         *[]string
	policyIds           *[]string
	policyNames         *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIAdminsManagementAuthenticationPoliciesPostRequest) XRequestID(xRequestID string) APIAdminsManagementAuthenticationPoliciesPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIAdminsManagementAuthenticationPoliciesPostRequest) ContextNames(contextNames []string) APIAdminsManagementAuthenticationPoliciesPostRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIAdminsManagementAuthenticationPoliciesPostRequest) MemberIds(memberIds []string) APIAdminsManagementAuthenticationPoliciesPostRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of member names.
func (r APIAdminsManagementAuthenticationPoliciesPostRequest) MemberNames(memberNames []string) APIAdminsManagementAuthenticationPoliciesPostRequest {
	r.memberNames = &memberNames
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIAdminsManagementAuthenticationPoliciesPostRequest) PolicyIds(policyIds []string) APIAdminsManagementAuthenticationPoliciesPostRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIAdminsManagementAuthenticationPoliciesPostRequest) PolicyNames(policyNames []string) APIAdminsManagementAuthenticationPoliciesPostRequest {
	r.policyNames = &policyNames
	return r
}

func (r APIAdminsManagementAuthenticationPoliciesPostRequest) AuthorizationHeader(authorizationHeader string) APIAdminsManagementAuthenticationPoliciesPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIAdminsManagementAuthenticationPoliciesPostRequest) Execute() (*PolicyMemberContextResponse, *http.Response, error) {
	return r.APIService.AdminsManagementAuthenticationPoliciesPostExecute(r)
}

/*
AdminsManagementAuthenticationPoliciesPost POST admins/management-authentication-policies

Map a member to a management authentication policy.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIAdminsManagementAuthenticationPoliciesPostRequest
*/
func (a *PoliciesManagementAuthenticationAPIService) AdminsManagementAuthenticationPoliciesPost(ctx context.Context) APIAdminsManagementAuthenticationPoliciesPostRequest {
	return APIAdminsManagementAuthenticationPoliciesPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PolicyMemberContextResponse
func (a *PoliciesManagementAuthenticationAPIService) AdminsManagementAuthenticationPoliciesPostExecute(r APIAdminsManagementAuthenticationPoliciesPostRequest) (*PolicyMemberContextResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PolicyMemberContextResponse
	)

	endpoint := "PoliciesManagementAuthenticationAPIService.AdminsManagementAuthenticationPoliciesPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.23/admins/management-authentication-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.memberNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_names", r.memberNames, "csv")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIArraysManagementAuthenticationPoliciesDeleteRequest struct {
	ctx                 context.Context
	APIService          *PoliciesManagementAuthenticationAPIService
	xRequestID          *string
	contextNames        *[]string
	memberIds           *[]string
	memberNames         *[]string
	policyIds           *[]string
	policyNames         *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIArraysManagementAuthenticationPoliciesDeleteRequest) XRequestID(xRequestID string) APIArraysManagementAuthenticationPoliciesDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIArraysManagementAuthenticationPoliciesDeleteRequest) ContextNames(contextNames []string) APIArraysManagementAuthenticationPoliciesDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIArraysManagementAuthenticationPoliciesDeleteRequest) MemberIds(memberIds []string) APIArraysManagementAuthenticationPoliciesDeleteRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of member names.
func (r APIArraysManagementAuthenticationPoliciesDeleteRequest) MemberNames(memberNames []string) APIArraysManagementAuthenticationPoliciesDeleteRequest {
	r.memberNames = &memberNames
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIArraysManagementAuthenticationPoliciesDeleteRequest) PolicyIds(policyIds []string) APIArraysManagementAuthenticationPoliciesDeleteRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIArraysManagementAuthenticationPoliciesDeleteRequest) PolicyNames(policyNames []string) APIArraysManagementAuthenticationPoliciesDeleteRequest {
	r.policyNames = &policyNames
	return r
}

func (r APIArraysManagementAuthenticationPoliciesDeleteRequest) AuthorizationHeader(authorizationHeader string) APIArraysManagementAuthenticationPoliciesDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIArraysManagementAuthenticationPoliciesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.ArraysManagementAuthenticationPoliciesDeleteExecute(r)
}

/*
ArraysManagementAuthenticationPoliciesDelete DELETE arrays/management-authentication-policies

Remove a management authentication policy from being a default for admins.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIArraysManagementAuthenticationPoliciesDeleteRequest
*/
func (a *PoliciesManagementAuthenticationAPIService) ArraysManagementAuthenticationPoliciesDelete(ctx context.Context) APIArraysManagementAuthenticationPoliciesDeleteRequest {
	return APIArraysManagementAuthenticationPoliciesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *PoliciesManagementAuthenticationAPIService) ArraysManagementAuthenticationPoliciesDeleteExecute(r APIArraysManagementAuthenticationPoliciesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "PoliciesManagementAuthenticationAPIService.ArraysManagementAuthenticationPoliciesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.23/arrays/management-authentication-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.memberNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_names", r.memberNames, "csv")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIArraysManagementAuthenticationPoliciesGetRequest struct {
	ctx                 context.Context
	APIService          *PoliciesManagementAuthenticationAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	filter              *string
	limit               *int32
	memberIds           *[]string
	memberNames         *[]string
	offset              *int32
	policyIds           *[]string
	policyNames         *[]string
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIArraysManagementAuthenticationPoliciesGetRequest) XRequestID(xRequestID string) APIArraysManagementAuthenticationPoliciesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIArraysManagementAuthenticationPoliciesGetRequest) AllowErrors(allowErrors bool) APIArraysManagementAuthenticationPoliciesGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIArraysManagementAuthenticationPoliciesGetRequest) ContextNames(contextNames []string) APIArraysManagementAuthenticationPoliciesGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIArraysManagementAuthenticationPoliciesGetRequest) ContinuationToken(continuationToken string) APIArraysManagementAuthenticationPoliciesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIArraysManagementAuthenticationPoliciesGetRequest) Filter(filter string) APIArraysManagementAuthenticationPoliciesGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIArraysManagementAuthenticationPoliciesGetRequest) Limit(limit int32) APIArraysManagementAuthenticationPoliciesGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIArraysManagementAuthenticationPoliciesGetRequest) MemberIds(memberIds []string) APIArraysManagementAuthenticationPoliciesGetRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of member names.
func (r APIArraysManagementAuthenticationPoliciesGetRequest) MemberNames(memberNames []string) APIArraysManagementAuthenticationPoliciesGetRequest {
	r.memberNames = &memberNames
	return r
}

// The offset of the first resource to return from a collection.
func (r APIArraysManagementAuthenticationPoliciesGetRequest) Offset(offset int32) APIArraysManagementAuthenticationPoliciesGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIArraysManagementAuthenticationPoliciesGetRequest) PolicyIds(policyIds []string) APIArraysManagementAuthenticationPoliciesGetRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIArraysManagementAuthenticationPoliciesGetRequest) PolicyNames(policyNames []string) APIArraysManagementAuthenticationPoliciesGetRequest {
	r.policyNames = &policyNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIArraysManagementAuthenticationPoliciesGetRequest) Sort(sort []string) APIArraysManagementAuthenticationPoliciesGetRequest {
	r.sort = &sort
	return r
}

func (r APIArraysManagementAuthenticationPoliciesGetRequest) AuthorizationHeader(authorizationHeader string) APIArraysManagementAuthenticationPoliciesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIArraysManagementAuthenticationPoliciesGetRequest) Execute() (*PolicyMemberContextGetResponse, *http.Response, error) {
	return r.APIService.ArraysManagementAuthenticationPoliciesGetExecute(r)
}

/*
ArraysManagementAuthenticationPoliciesGet GET arrays/management-authentication-policies

List management authentication policies mapped as default for admins.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIArraysManagementAuthenticationPoliciesGetRequest
*/
func (a *PoliciesManagementAuthenticationAPIService) ArraysManagementAuthenticationPoliciesGet(ctx context.Context) APIArraysManagementAuthenticationPoliciesGetRequest {
	return APIArraysManagementAuthenticationPoliciesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PolicyMemberContextGetResponse
func (a *PoliciesManagementAuthenticationAPIService) ArraysManagementAuthenticationPoliciesGetExecute(r APIArraysManagementAuthenticationPoliciesGetRequest) (*PolicyMemberContextGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PolicyMemberContextGetResponse
	)

	endpoint := "PoliciesManagementAuthenticationAPIService.ArraysManagementAuthenticationPoliciesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.23/arrays/management-authentication-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.memberNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_names", r.memberNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIArraysManagementAuthenticationPoliciesPostRequest struct {
	ctx                 context.Context
	APIService          *PoliciesManagementAuthenticationAPIService
	xRequestID          *string
	contextNames        *[]string
	memberIds           *[]string
	memberNames         *[]string
	policyIds           *[]string
	policyNames         *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIArraysManagementAuthenticationPoliciesPostRequest) XRequestID(xRequestID string) APIArraysManagementAuthenticationPoliciesPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIArraysManagementAuthenticationPoliciesPostRequest) ContextNames(contextNames []string) APIArraysManagementAuthenticationPoliciesPostRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIArraysManagementAuthenticationPoliciesPostRequest) MemberIds(memberIds []string) APIArraysManagementAuthenticationPoliciesPostRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of member names.
func (r APIArraysManagementAuthenticationPoliciesPostRequest) MemberNames(memberNames []string) APIArraysManagementAuthenticationPoliciesPostRequest {
	r.memberNames = &memberNames
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIArraysManagementAuthenticationPoliciesPostRequest) PolicyIds(policyIds []string) APIArraysManagementAuthenticationPoliciesPostRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIArraysManagementAuthenticationPoliciesPostRequest) PolicyNames(policyNames []string) APIArraysManagementAuthenticationPoliciesPostRequest {
	r.policyNames = &policyNames
	return r
}

func (r APIArraysManagementAuthenticationPoliciesPostRequest) AuthorizationHeader(authorizationHeader string) APIArraysManagementAuthenticationPoliciesPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIArraysManagementAuthenticationPoliciesPostRequest) Execute() (*PolicyMemberContextResponse, *http.Response, error) {
	return r.APIService.ArraysManagementAuthenticationPoliciesPostExecute(r)
}

/*
ArraysManagementAuthenticationPoliciesPost POST arrays/management-authentication-policies

Map a management authentication policy as default for admins.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIArraysManagementAuthenticationPoliciesPostRequest
*/
func (a *PoliciesManagementAuthenticationAPIService) ArraysManagementAuthenticationPoliciesPost(ctx context.Context) APIArraysManagementAuthenticationPoliciesPostRequest {
	return APIArraysManagementAuthenticationPoliciesPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PolicyMemberContextResponse
func (a *PoliciesManagementAuthenticationAPIService) ArraysManagementAuthenticationPoliciesPostExecute(r APIArraysManagementAuthenticationPoliciesPostRequest) (*PolicyMemberContextResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PolicyMemberContextResponse
	)

	endpoint := "PoliciesManagementAuthenticationAPIService.ArraysManagementAuthenticationPoliciesPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.23/arrays/management-authentication-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.memberNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_names", r.memberNames, "csv")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIManagementAuthenticationPoliciesDeleteRequest struct {
	ctx                 context.Context
	APIService          *PoliciesManagementAuthenticationAPIService
	xRequestID          *string
	contextNames        *[]string
	ids                 *[]string
	names               *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIManagementAuthenticationPoliciesDeleteRequest) XRequestID(xRequestID string) APIManagementAuthenticationPoliciesDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIManagementAuthenticationPoliciesDeleteRequest) ContextNames(contextNames []string) APIManagementAuthenticationPoliciesDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIManagementAuthenticationPoliciesDeleteRequest) Ids(ids []string) APIManagementAuthenticationPoliciesDeleteRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIManagementAuthenticationPoliciesDeleteRequest) Names(names []string) APIManagementAuthenticationPoliciesDeleteRequest {
	r.names = &names
	return r
}

func (r APIManagementAuthenticationPoliciesDeleteRequest) AuthorizationHeader(authorizationHeader string) APIManagementAuthenticationPoliciesDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIManagementAuthenticationPoliciesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.ManagementAuthenticationPoliciesDeleteExecute(r)
}

/*
ManagementAuthenticationPoliciesDelete DELETE management-authentication-policies

Delete management authentication policies.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIManagementAuthenticationPoliciesDeleteRequest
*/
func (a *PoliciesManagementAuthenticationAPIService) ManagementAuthenticationPoliciesDelete(ctx context.Context) APIManagementAuthenticationPoliciesDeleteRequest {
	return APIManagementAuthenticationPoliciesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *PoliciesManagementAuthenticationAPIService) ManagementAuthenticationPoliciesDeleteExecute(r APIManagementAuthenticationPoliciesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "PoliciesManagementAuthenticationAPIService.ManagementAuthenticationPoliciesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.23/management-authentication-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIManagementAuthenticationPoliciesGetRequest struct {
	ctx                 context.Context
	APIService          *PoliciesManagementAuthenticationAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIManagementAuthenticationPoliciesGetRequest) XRequestID(xRequestID string) APIManagementAuthenticationPoliciesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIManagementAuthenticationPoliciesGetRequest) AllowErrors(allowErrors bool) APIManagementAuthenticationPoliciesGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIManagementAuthenticationPoliciesGetRequest) ContextNames(contextNames []string) APIManagementAuthenticationPoliciesGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIManagementAuthenticationPoliciesGetRequest) ContinuationToken(continuationToken string) APIManagementAuthenticationPoliciesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIManagementAuthenticationPoliciesGetRequest) Filter(filter string) APIManagementAuthenticationPoliciesGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIManagementAuthenticationPoliciesGetRequest) Ids(ids []string) APIManagementAuthenticationPoliciesGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIManagementAuthenticationPoliciesGetRequest) Limit(limit int32) APIManagementAuthenticationPoliciesGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIManagementAuthenticationPoliciesGetRequest) Names(names []string) APIManagementAuthenticationPoliciesGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APIManagementAuthenticationPoliciesGetRequest) Offset(offset int32) APIManagementAuthenticationPoliciesGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIManagementAuthenticationPoliciesGetRequest) Sort(sort []string) APIManagementAuthenticationPoliciesGetRequest {
	r.sort = &sort
	return r
}

func (r APIManagementAuthenticationPoliciesGetRequest) AuthorizationHeader(authorizationHeader string) APIManagementAuthenticationPoliciesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIManagementAuthenticationPoliciesGetRequest) Execute() (*ManagementAuthenticationPoliciesGetResponse, *http.Response, error) {
	return r.APIService.ManagementAuthenticationPoliciesGetExecute(r)
}

/*
ManagementAuthenticationPoliciesGet GET management-authentication-policies

Displays a list of management authentication policies, which can be assigned to admins and
arrays.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIManagementAuthenticationPoliciesGetRequest
*/
func (a *PoliciesManagementAuthenticationAPIService) ManagementAuthenticationPoliciesGet(ctx context.Context) APIManagementAuthenticationPoliciesGetRequest {
	return APIManagementAuthenticationPoliciesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ManagementAuthenticationPoliciesGetResponse
func (a *PoliciesManagementAuthenticationAPIService) ManagementAuthenticationPoliciesGetExecute(r APIManagementAuthenticationPoliciesGetRequest) (*ManagementAuthenticationPoliciesGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ManagementAuthenticationPoliciesGetResponse
	)

	endpoint := "PoliciesManagementAuthenticationAPIService.ManagementAuthenticationPoliciesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.23/management-authentication-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIManagementAuthenticationPoliciesMembersDeleteRequest struct {
	ctx                 context.Context
	APIService          *PoliciesManagementAuthenticationAPIService
	xRequestID          *string
	contextNames        *[]string
	memberIds           *[]string
	memberNames         *[]string
	memberTypes         *[]string
	policyIds           *[]string
	policyNames         *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIManagementAuthenticationPoliciesMembersDeleteRequest) XRequestID(xRequestID string) APIManagementAuthenticationPoliciesMembersDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIManagementAuthenticationPoliciesMembersDeleteRequest) ContextNames(contextNames []string) APIManagementAuthenticationPoliciesMembersDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIManagementAuthenticationPoliciesMembersDeleteRequest) MemberIds(memberIds []string) APIManagementAuthenticationPoliciesMembersDeleteRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of member names.
func (r APIManagementAuthenticationPoliciesMembersDeleteRequest) MemberNames(memberNames []string) APIManagementAuthenticationPoliciesMembersDeleteRequest {
	r.memberNames = &memberNames
	return r
}

// A comma-separated list of member types. Valid values are &#x60;admins&#x60; and &#x60;arrays&#x60;.
func (r APIManagementAuthenticationPoliciesMembersDeleteRequest) MemberTypes(memberTypes []string) APIManagementAuthenticationPoliciesMembersDeleteRequest {
	r.memberTypes = &memberTypes
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIManagementAuthenticationPoliciesMembersDeleteRequest) PolicyIds(policyIds []string) APIManagementAuthenticationPoliciesMembersDeleteRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIManagementAuthenticationPoliciesMembersDeleteRequest) PolicyNames(policyNames []string) APIManagementAuthenticationPoliciesMembersDeleteRequest {
	r.policyNames = &policyNames
	return r
}

func (r APIManagementAuthenticationPoliciesMembersDeleteRequest) AuthorizationHeader(authorizationHeader string) APIManagementAuthenticationPoliciesMembersDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIManagementAuthenticationPoliciesMembersDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.ManagementAuthenticationPoliciesMembersDeleteExecute(r)
}

/*
ManagementAuthenticationPoliciesMembersDelete DELETE management-authentication-policies/members

Remove the management authentication policy mapped to a member.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIManagementAuthenticationPoliciesMembersDeleteRequest
*/
func (a *PoliciesManagementAuthenticationAPIService) ManagementAuthenticationPoliciesMembersDelete(ctx context.Context) APIManagementAuthenticationPoliciesMembersDeleteRequest {
	return APIManagementAuthenticationPoliciesMembersDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *PoliciesManagementAuthenticationAPIService) ManagementAuthenticationPoliciesMembersDeleteExecute(r APIManagementAuthenticationPoliciesMembersDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "PoliciesManagementAuthenticationAPIService.ManagementAuthenticationPoliciesMembersDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.23/management-authentication-policies/members"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.memberNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_names", r.memberNames, "csv")
	}
	if r.memberTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_types", r.memberTypes, "csv")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIManagementAuthenticationPoliciesMembersGetRequest struct {
	ctx                 context.Context
	APIService          *PoliciesManagementAuthenticationAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	filter              *string
	limit               *int32
	memberIds           *[]string
	memberNames         *[]string
	memberTypes         *[]string
	offset              *int32
	policyIds           *[]string
	policyNames         *[]string
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIManagementAuthenticationPoliciesMembersGetRequest) XRequestID(xRequestID string) APIManagementAuthenticationPoliciesMembersGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIManagementAuthenticationPoliciesMembersGetRequest) AllowErrors(allowErrors bool) APIManagementAuthenticationPoliciesMembersGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIManagementAuthenticationPoliciesMembersGetRequest) ContextNames(contextNames []string) APIManagementAuthenticationPoliciesMembersGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIManagementAuthenticationPoliciesMembersGetRequest) ContinuationToken(continuationToken string) APIManagementAuthenticationPoliciesMembersGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIManagementAuthenticationPoliciesMembersGetRequest) Filter(filter string) APIManagementAuthenticationPoliciesMembersGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIManagementAuthenticationPoliciesMembersGetRequest) Limit(limit int32) APIManagementAuthenticationPoliciesMembersGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIManagementAuthenticationPoliciesMembersGetRequest) MemberIds(memberIds []string) APIManagementAuthenticationPoliciesMembersGetRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of member names.
func (r APIManagementAuthenticationPoliciesMembersGetRequest) MemberNames(memberNames []string) APIManagementAuthenticationPoliciesMembersGetRequest {
	r.memberNames = &memberNames
	return r
}

// A comma-separated list of member types. Valid values are &#x60;admins&#x60; and &#x60;arrays&#x60;.
func (r APIManagementAuthenticationPoliciesMembersGetRequest) MemberTypes(memberTypes []string) APIManagementAuthenticationPoliciesMembersGetRequest {
	r.memberTypes = &memberTypes
	return r
}

// The offset of the first resource to return from a collection.
func (r APIManagementAuthenticationPoliciesMembersGetRequest) Offset(offset int32) APIManagementAuthenticationPoliciesMembersGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIManagementAuthenticationPoliciesMembersGetRequest) PolicyIds(policyIds []string) APIManagementAuthenticationPoliciesMembersGetRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIManagementAuthenticationPoliciesMembersGetRequest) PolicyNames(policyNames []string) APIManagementAuthenticationPoliciesMembersGetRequest {
	r.policyNames = &policyNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIManagementAuthenticationPoliciesMembersGetRequest) Sort(sort []string) APIManagementAuthenticationPoliciesMembersGetRequest {
	r.sort = &sort
	return r
}

func (r APIManagementAuthenticationPoliciesMembersGetRequest) AuthorizationHeader(authorizationHeader string) APIManagementAuthenticationPoliciesMembersGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIManagementAuthenticationPoliciesMembersGetRequest) Execute() (*PolicyMemberContextGetResponse, *http.Response, error) {
	return r.APIService.ManagementAuthenticationPoliciesMembersGetExecute(r)
}

/*
ManagementAuthenticationPoliciesMembersGet GET management-authentication-policies/members

List the members mapped to management authentication policies.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIManagementAuthenticationPoliciesMembersGetRequest
*/
func (a *PoliciesManagementAuthenticationAPIService) ManagementAuthenticationPoliciesMembersGet(ctx context.Context) APIManagementAuthenticationPoliciesMembersGetRequest {
	return APIManagementAuthenticationPoliciesMembersGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PolicyMemberContextGetResponse
func (a *PoliciesManagementAuthenticationAPIService) ManagementAuthenticationPoliciesMembersGetExecute(r APIManagementAuthenticationPoliciesMembersGetRequest) (*PolicyMemberContextGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PolicyMemberContextGetResponse
	)

	endpoint := "PoliciesManagementAuthenticationAPIService.ManagementAuthenticationPoliciesMembersGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.23/management-authentication-policies/members"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.memberNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_names", r.memberNames, "csv")
	}
	if r.memberTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_types", r.memberTypes, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIManagementAuthenticationPoliciesMembersPostRequest struct {
	ctx                 context.Context
	APIService          *PoliciesManagementAuthenticationAPIService
	xRequestID          *string
	contextNames        *[]string
	memberIds           *[]string
	memberNames         *[]string
	memberTypes         *[]string
	policyIds           *[]string
	policyNames         *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIManagementAuthenticationPoliciesMembersPostRequest) XRequestID(xRequestID string) APIManagementAuthenticationPoliciesMembersPostRequest {
	r.xRequestID = &xRequestID
	return r
}

[...]
