/*
FlashArray REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.58
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// FilesAPIService FilesAPI service
type FilesAPIService service

type APIFilesAntivirusGetRequest struct {
	ctx               context.Context
	APIService        *FilesAPIService
	authorization     *string
	xRequestID        *string
	allowErrors       *bool
	contextNames      *[]string
	continuationToken *string
	directoryIds      *[]string
	directoryNames    *[]string
	filter            *string
	limit             *int32
	offset            *int32
	path              *string
	sort              *[]string
	totalItemCount    *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIFilesAntivirusGetRequest) Authorization(authorization string) APIFilesAntivirusGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIFilesAntivirusGetRequest) XRequestID(xRequestID string) APIFilesAntivirusGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIFilesAntivirusGetRequest) AllowErrors(allowErrors bool) APIFilesAntivirusGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIFilesAntivirusGetRequest) ContextNames(contextNames []string) APIFilesAntivirusGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIFilesAntivirusGetRequest) ContinuationToken(continuationToken string) APIFilesAntivirusGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Performs the operation on the unique managed directory IDs specified. Enter multiple managed directory IDs in comma-separated format. The &#x60;directory_ids&#x60; or &#x60;directory_names&#x60; parameter is required, but they cannot be set together.
func (r APIFilesAntivirusGetRequest) DirectoryIds(directoryIds []string) APIFilesAntivirusGetRequest {
	r.directoryIds = &directoryIds
	return r
}

// Performs the operation on the managed directory names specified. Enter multiple full managed directory names in comma-separated format. For example, &#x60;fs:dir01,fs:dir02&#x60;.
func (r APIFilesAntivirusGetRequest) DirectoryNames(directoryNames []string) APIFilesAntivirusGetRequest {
	r.directoryNames = &directoryNames
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIFilesAntivirusGetRequest) Filter(filter string) APIFilesAntivirusGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIFilesAntivirusGetRequest) Limit(limit int32) APIFilesAntivirusGetRequest {
	r.limit = &limit
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIFilesAntivirusGetRequest) Offset(offset int32) APIFilesAntivirusGetRequest {
	r.offset = &offset
	return r
}

// The path of the file relative to the managed directory, for example, &#x60;/dir1/file1.txt&#x60;.
func (r APIFilesAntivirusGetRequest) Path(path string) APIFilesAntivirusGetRequest {
	r.path = &path
	return r
}

// Sorts the response objects by the specified fields. Sorting can be applied to any field name  in the response, in ascending order by default, or in descending order by prefixing the  field name with a minus sign (-). Multiple fields can be specified as a comma-separated  list (e.g., sort volumes by size descending, then by name ascending). If sort is provided,  the response will not include a continuation_token.
func (r APIFilesAntivirusGetRequest) Sort(sort []string) APIFilesAntivirusGetRequest {
	r.sort = &sort
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIFilesAntivirusGetRequest) TotalItemCount(totalItemCount bool) APIFilesAntivirusGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

func (r APIFilesAntivirusGetRequest) Execute() (*AntivirusFileGetResponse, *http.Response, error) {
	return r.APIService.FilesAntivirusGetExecute(r)
}

/*
FilesAntivirusGet List antivirus file status

Displays the antivirus status of a file. The `directory_names` and
`path` query parameters are required.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFilesAntivirusGetRequest
*/
func (a *FilesAPIService) FilesAntivirusGet(ctx context.Context) APIFilesAntivirusGetRequest {
	return APIFilesAntivirusGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AntivirusFileGetResponse
func (a *FilesAPIService) FilesAntivirusGetExecute(r APIFilesAntivirusGetRequest) (*AntivirusFileGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AntivirusFileGetResponse
	)

	endpoint := "FilesAPIService.FilesAntivirusGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.58/files/antivirus"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.directoryIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directory_ids", r.directoryIds, "csv")
	}
	if r.directoryNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directory_names", r.directoryNames, "csv")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.path != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIFilesAntivirusPatchRequest struct {
	ctx             context.Context
	APIService      *FilesAPIService
	authorization   *string
	xRequestID      *string
	contextNames    *[]string
	directoryIds    *[]string
	directoryNames  *[]string
	forceClean      *bool
	forceScanOnRead *bool
	markInfected    *bool
	path            *string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIFilesAntivirusPatchRequest) Authorization(authorization string) APIFilesAntivirusPatchRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIFilesAntivirusPatchRequest) XRequestID(xRequestID string) APIFilesAntivirusPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIFilesAntivirusPatchRequest) ContextNames(contextNames []string) APIFilesAntivirusPatchRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the unique managed directory IDs specified. Enter multiple managed directory IDs in comma-separated format. The &#x60;directory_ids&#x60; or &#x60;directory_names&#x60; parameter is required, but they cannot be set together.
func (r APIFilesAntivirusPatchRequest) DirectoryIds(directoryIds []string) APIFilesAntivirusPatchRequest {
	r.directoryIds = &directoryIds
	return r
}

// Performs the operation on the managed directory names specified. Enter multiple full managed directory names in comma-separated format. For example, &#x60;fs:dir01,fs:dir02&#x60;.
func (r APIFilesAntivirusPatchRequest) DirectoryNames(directoryNames []string) APIFilesAntivirusPatchRequest {
	r.directoryNames = &directoryNames
	return r
}

// Set to &#x60;true&#x60; to mark the file as clean (not infected) and allow access to it. This action sets the last scan timestamp to the current time. This parameter is mutually exclusive with &#x60;mark_infected&#x60; and requires the &#x60;path&#x60; query parameter.
func (r APIFilesAntivirusPatchRequest) ForceClean(forceClean bool) APIFilesAntivirusPatchRequest {
	r.forceClean = &forceClean
	return r
}

// Set to &#x60;true&#x60; to force a scan of the file on the next read access. This requires the &#x60;path&#x60; query parameter.
func (r APIFilesAntivirusPatchRequest) ForceScanOnRead(forceScanOnRead bool) APIFilesAntivirusPatchRequest {
	r.forceScanOnRead = &forceScanOnRead
	return r
}

// Set to &#x60;true&#x60; to mark the file as infected. This parameter is mutually exclusive with &#x60;force_clean&#x60; and requires the &#x60;path&#x60; query parameter.
func (r APIFilesAntivirusPatchRequest) MarkInfected(markInfected bool) APIFilesAntivirusPatchRequest {
	r.markInfected = &markInfected
	return r
}

// The path of the file relative to the managed directory, for example, &#x60;/dir1/file1.txt&#x60;.
func (r APIFilesAntivirusPatchRequest) Path(path string) APIFilesAntivirusPatchRequest {
	r.path = &path
	return r
}

func (r APIFilesAntivirusPatchRequest) Execute() (*AntivirusFileResponse, *http.Response, error) {
	return r.APIService.FilesAntivirusPatchExecute(r)
}

/*
FilesAntivirusPatch Modify antivirus file status

Modifies the antivirus status of a file or managed directory. Use
`mark_infected` to mark a file as infected. Use `force_clean` to
mark a file as clean (not infected) and allow access to it. Use
`force_scan_on_read` to force a scan of the file on the next read
access. The `mark_infected` and `force_clean` parameters are
mutually exclusive. The `path` query parameter is required when
using either `mark_infected` or `force_clean`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFilesAntivirusPatchRequest
*/
func (a *FilesAPIService) FilesAntivirusPatch(ctx context.Context) APIFilesAntivirusPatchRequest {
	return APIFilesAntivirusPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AntivirusFileResponse
func (a *FilesAPIService) FilesAntivirusPatchExecute(r APIFilesAntivirusPatchRequest) (*AntivirusFileResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AntivirusFileResponse
	)

	endpoint := "FilesAPIService.FilesAntivirusPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.58/files/antivirus"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.directoryIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directory_ids", r.directoryIds, "csv")
	}
	if r.directoryNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directory_names", r.directoryNames, "csv")
	}
	if r.forceClean != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "force_clean", r.forceClean, "")
	}
	if r.forceScanOnRead != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "force_scan_on_read", r.forceScanOnRead, "")
	}
	if r.markInfected != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mark_infected", r.markInfected, "")
	}
	if r.path != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIFilesPostRequest struct {
	ctx            context.Context
	APIService     *FilesAPIService
	sourceFile     *FilePost
	authorization  *string
	xRequestID     *string
	directoryIds   *[]string
	directoryNames *[]string
	overwrite      *bool
	paths          *[]string
}

func (r APIFilesPostRequest) SourceFile(sourceFile FilePost) APIFilesPostRequest {
	r.sourceFile = &sourceFile
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIFilesPostRequest) Authorization(authorization string) APIFilesPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIFilesPostRequest) XRequestID(xRequestID string) APIFilesPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the unique managed directory IDs specified. Enter multiple managed directory IDs in comma-separated format. The &#x60;directory_ids&#x60; or &#x60;directory_names&#x60; parameter is required, but they cannot be set together.
func (r APIFilesPostRequest) DirectoryIds(directoryIds []string) APIFilesPostRequest {
	r.directoryIds = &directoryIds
	return r
}

// Performs the operation on the managed directory names specified. Enter multiple full managed directory names in comma-separated format. For example, &#x60;fs:dir01,fs:dir02&#x60;.
func (r APIFilesPostRequest) DirectoryNames(directoryNames []string) APIFilesPostRequest {
	r.directoryNames = &directoryNames
	return r
}

// If set to &#x60;true&#x60;, overwrites an existing object during an object copy operation. If set to &#x60;false&#x60; or not set at all and the target name is an existing object, the copy operation fails. Required if the &#x60;source&#x60; body parameter is set and the source overwrites an existing object during the copy operation.
func (r APIFilesPostRequest) Overwrite(overwrite bool) APIFilesPostRequest {
	r.overwrite = &overwrite
	return r
}

// Target file path relative to the target directory. Enter multiple target file path in a comma-separated format. For example, &#x60;/dir1/dir2/file1,/dir3/dir4/file2&#x60;.
func (r APIFilesPostRequest) Paths(paths []string) APIFilesPostRequest {
	r.paths = &paths
	return r
}

func (r APIFilesPostRequest) Execute() (*http.Response, error) {
	return r.APIService.FilesPostExecute(r)
}

/*
FilesPost Create a file copy

Creates a file copy from one path to another path.
The `directory_ids`, `directory_names` or `paths` value must be specified.
If the `directory_ids` or `directory_names` value is not specified, the file is copied to the
source directory specified in the body params.
The `paths` value refers to the path of the target file relative to the target directory.
If `paths` value is not specified, the file will be copied to the relative path specified
in `source_path` under the target directory.
The `source_path` value refers to the path of the source file relative to the source directory.
To overwrite an existing file, set the `overwrite` flag to `true`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFilesPostRequest
*/
func (a *FilesAPIService) FilesPost(ctx context.Context) APIFilesPostRequest {
	return APIFilesPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *FilesAPIService) FilesPostExecute(r APIFilesPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "FilesAPIService.FilesPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.58/files"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sourceFile == nil {
		return nil, reportError("sourceFile is required and must be specified")
	}

	if r.directoryIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directory_ids", r.directoryIds, "csv")
	}
	if r.directoryNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directory_names", r.directoryNames, "csv")
	}
	if r.overwrite != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "overwrite", r.overwrite, "")
	}
	if r.paths != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "paths", r.paths, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.sourceFile
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
