/*
FlashArray REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.48
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// DirectorySnapshotsAPIService DirectorySnapshotsAPI service
type DirectorySnapshotsAPIService service

type APIDirectorySnapshotsDeleteRequest struct {
	ctx           context.Context
	APIService    *DirectorySnapshotsAPIService
	authorization *string
	xRequestID    *string
	contextNames  *[]string
	ids           *[]string
	names         *[]string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIDirectorySnapshotsDeleteRequest) Authorization(authorization string) APIDirectorySnapshotsDeleteRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIDirectorySnapshotsDeleteRequest) XRequestID(xRequestID string) APIDirectorySnapshotsDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIDirectorySnapshotsDeleteRequest) ContextNames(contextNames []string) APIDirectorySnapshotsDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectorySnapshotsDeleteRequest) Ids(ids []string) APIDirectorySnapshotsDeleteRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIDirectorySnapshotsDeleteRequest) Names(names []string) APIDirectorySnapshotsDeleteRequest {
	r.names = &names
	return r
}

func (r APIDirectorySnapshotsDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.DirectorySnapshotsDeleteExecute(r)
}

/*
DirectorySnapshotsDelete Delete directory snapshot

Deletes a directory snapshot that has been destroyed and is pending eradication.
Eradicated directory snapshots cannot be recovered.
Directory snapshots are destroyed by using the PATCH method.
The `ids` or `names` parameter is required, but they cannot be set together.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectorySnapshotsDeleteRequest
*/
func (a *DirectorySnapshotsAPIService) DirectorySnapshotsDelete(ctx context.Context) APIDirectorySnapshotsDeleteRequest {
	return APIDirectorySnapshotsDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *DirectorySnapshotsAPIService) DirectorySnapshotsDeleteExecute(r APIDirectorySnapshotsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "DirectorySnapshotsAPIService.DirectorySnapshotsDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.48/directory-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIDirectorySnapshotsGetRequest struct {
	ctx               context.Context
	APIService        *DirectorySnapshotsAPIService
	authorization     *string
	xRequestID        *string
	allowErrors       *bool
	contextNames      *[]string
	continuationToken *string
	destroyed         *bool
	filter            *string
	ids               *[]string
	limit             *int32
	names             *[]string
	offset            *int32
	sort              *[]string
	sourceIds         *[]string
	sourceNames       *[]string
	totalItemCount    *bool
	totalOnly         *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIDirectorySnapshotsGetRequest) Authorization(authorization string) APIDirectorySnapshotsGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIDirectorySnapshotsGetRequest) XRequestID(xRequestID string) APIDirectorySnapshotsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIDirectorySnapshotsGetRequest) AllowErrors(allowErrors bool) APIDirectorySnapshotsGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified. If specified, each context name must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIDirectorySnapshotsGetRequest) ContextNames(contextNames []string) APIDirectorySnapshotsGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIDirectorySnapshotsGetRequest) ContinuationToken(continuationToken string) APIDirectorySnapshotsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// If set to &#x60;true&#x60;, lists only destroyed objects that are in the eradication pending state. If set to &#x60;false&#x60;, lists only objects that are not destroyed. If not set, lists both objects that are destroyed and those that are not destroyed. For destroyed objects, the time remaining is displayed in milliseconds.  If object name(s) or id(s) are specified, then each object referenced must exist. If &#x60;destroyed&#x60; is set to &#x60;true&#x60;, then each object referenced must also be destroyed. If &#x60;destroyed&#x60; is set to &#x60;false&#x60;, then each object referenced must also not be destroyed. An error is returned if any of these conditions are not met.
func (r APIDirectorySnapshotsGetRequest) Destroyed(destroyed bool) APIDirectorySnapshotsGetRequest {
	r.destroyed = &destroyed
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIDirectorySnapshotsGetRequest) Filter(filter string) APIDirectorySnapshotsGetRequest {
	r.filter = &filter
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectorySnapshotsGetRequest) Ids(ids []string) APIDirectorySnapshotsGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIDirectorySnapshotsGetRequest) Limit(limit int32) APIDirectorySnapshotsGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIDirectorySnapshotsGetRequest) Names(names []string) APIDirectorySnapshotsGetRequest {
	r.names = &names
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIDirectorySnapshotsGetRequest) Offset(offset int32) APIDirectorySnapshotsGetRequest {
	r.offset = &offset
	return r
}

// Returns the response objects in the order specified. Set &#x60;sort&#x60; to the name in the response by which to sort. Sorting can be performed on any of the names in the response, and the objects can be sorted in ascending or descending order. By default, the response objects are sorted in ascending order. To sort in descending order, append the minus sign (&#x60;-&#x60;) to the name. A single request can be sorted on multiple objects. For example, you can sort all volumes from largest to smallest volume size, and then sort volumes of the same size in ascending order by volume name. To sort on multiple names, list the names as comma-separated values.
func (r APIDirectorySnapshotsGetRequest) Sort(sort []string) APIDirectorySnapshotsGetRequest {
	r.sort = &sort
	return r
}

// Performs the operation on the source ID specified. Enter multiple source IDs in comma-separated format.
func (r APIDirectorySnapshotsGetRequest) SourceIds(sourceIds []string) APIDirectorySnapshotsGetRequest {
	r.sourceIds = &sourceIds
	return r
}

// Performs the operation on the source name specified. Enter multiple source names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIDirectorySnapshotsGetRequest) SourceNames(sourceNames []string) APIDirectorySnapshotsGetRequest {
	r.sourceNames = &sourceNames
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIDirectorySnapshotsGetRequest) TotalItemCount(totalItemCount bool) APIDirectorySnapshotsGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

// If set to &#x60;true&#x60;, returns the aggregate value of all items after filtering. Where it makes more sense, the average value is displayed instead. The values are displayed for each name where meaningful. If &#x60;total_only&#x3D;true&#x60;, the &#x60;items&#x60; list will be empty.
func (r APIDirectorySnapshotsGetRequest) TotalOnly(totalOnly bool) APIDirectorySnapshotsGetRequest {
	r.totalOnly = &totalOnly
	return r
}

func (r APIDirectorySnapshotsGetRequest) Execute() (*DirectorySnapshotGetResponse, *http.Response, error) {
	return r.APIService.DirectorySnapshotsGetExecute(r)
}

/*
DirectorySnapshotsGet List directory snapshots

Displays a list of directory snapshots, including those pending eradication.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectorySnapshotsGetRequest
*/
func (a *DirectorySnapshotsAPIService) DirectorySnapshotsGet(ctx context.Context) APIDirectorySnapshotsGetRequest {
	return APIDirectorySnapshotsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DirectorySnapshotGetResponse
func (a *DirectorySnapshotsAPIService) DirectorySnapshotsGetExecute(r APIDirectorySnapshotsGetRequest) (*DirectorySnapshotGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DirectorySnapshotGetResponse
	)

	endpoint := "DirectorySnapshotsAPIService.DirectorySnapshotsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.48/directory-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.destroyed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destroyed", r.destroyed, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.sourceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_ids", r.sourceIds, "csv")
	}
	if r.sourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_names", r.sourceNames, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	if r.totalOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_only", r.totalOnly, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIDirectorySnapshotsPatchRequest struct {
	ctx               context.Context
	APIService        *DirectorySnapshotsAPIService
	directorySnapshot *DirectorySnapshotPatch
	authorization     *string
	xRequestID        *string
	contextNames      *[]string
	ids               *[]string
	names             *[]string
}

func (r APIDirectorySnapshotsPatchRequest) DirectorySnapshot(directorySnapshot DirectorySnapshotPatch) APIDirectorySnapshotsPatchRequest {
	r.directorySnapshot = &directorySnapshot
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIDirectorySnapshotsPatchRequest) Authorization(authorization string) APIDirectorySnapshotsPatchRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIDirectorySnapshotsPatchRequest) XRequestID(xRequestID string) APIDirectorySnapshotsPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIDirectorySnapshotsPatchRequest) ContextNames(contextNames []string) APIDirectorySnapshotsPatchRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectorySnapshotsPatchRequest) Ids(ids []string) APIDirectorySnapshotsPatchRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIDirectorySnapshotsPatchRequest) Names(names []string) APIDirectorySnapshotsPatchRequest {
	r.names = &names
	return r
}

func (r APIDirectorySnapshotsPatchRequest) Execute() (*DirectorySnapshotResponse, *http.Response, error) {
	return r.APIService.DirectorySnapshotsPatchExecute(r)
}

/*
DirectorySnapshotsPatch Modify directory snapshot

Modifies a directory snapshot. You can destroy, recover, or update the policy or time remaining
of a directory snapshot.
To destroy a directory snapshot, set `destroyed=true`.
To recover a directory snapshot that has been destroyed and is pending eradication,
set `destroyed=false`.
To rename a directory snapshot, set `name` to the new name.
The `ids` or `names` parameter is required, but they cannot be set together.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectorySnapshotsPatchRequest
*/
func (a *DirectorySnapshotsAPIService) DirectorySnapshotsPatch(ctx context.Context) APIDirectorySnapshotsPatchRequest {
	return APIDirectorySnapshotsPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DirectorySnapshotResponse
func (a *DirectorySnapshotsAPIService) DirectorySnapshotsPatchExecute(r APIDirectorySnapshotsPatchRequest) (*DirectorySnapshotResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DirectorySnapshotResponse
	)

	endpoint := "DirectorySnapshotsAPIService.DirectorySnapshotsPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.48/directory-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.directorySnapshot == nil {
		return localVarReturnValue, nil, reportError("directorySnapshot is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.directorySnapshot
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIDirectorySnapshotsPostRequest struct {
	ctx               context.Context
	APIService        *DirectorySnapshotsAPIService
	directorySnapshot *DirectorySnapshotPost
	authorization     *string
	xRequestID        *string
	contextNames      *[]string
	sourceIds         *[]string
	sourceNames       *[]string
}

func (r APIDirectorySnapshotsPostRequest) DirectorySnapshot(directorySnapshot DirectorySnapshotPost) APIDirectorySnapshotsPostRequest {
	r.directorySnapshot = &directorySnapshot
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIDirectorySnapshotsPostRequest) Authorization(authorization string) APIDirectorySnapshotsPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIDirectorySnapshotsPostRequest) XRequestID(xRequestID string) APIDirectorySnapshotsPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified. If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIDirectorySnapshotsPostRequest) ContextNames(contextNames []string) APIDirectorySnapshotsPostRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the source ID specified. Enter multiple source IDs in comma-separated format.
func (r APIDirectorySnapshotsPostRequest) SourceIds(sourceIds []string) APIDirectorySnapshotsPostRequest {
	r.sourceIds = &sourceIds
	return r
}

// Performs the operation on the source name specified. Enter multiple source names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIDirectorySnapshotsPostRequest) SourceNames(sourceNames []string) APIDirectorySnapshotsPostRequest {
	r.sourceNames = &sourceNames
	return r
}

func (r APIDirectorySnapshotsPostRequest) Execute() (*DirectorySnapshotResponse, *http.Response, error) {
	return r.APIService.DirectorySnapshotsPostExecute(r)
}

/*
DirectorySnapshotsPost Create directory snapshot

Creates a snapshot of the contents of a directory.
The `source_ids` or `source_names` parameter is required, but they cannot be set together.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectorySnapshotsPostRequest
*/
func (a *DirectorySnapshotsAPIService) DirectorySnapshotsPost(ctx context.Context) APIDirectorySnapshotsPostRequest {
	return APIDirectorySnapshotsPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DirectorySnapshotResponse
func (a *DirectorySnapshotsAPIService) DirectorySnapshotsPostExecute(r APIDirectorySnapshotsPostRequest) (*DirectorySnapshotResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DirectorySnapshotResponse
	)

	endpoint := "DirectorySnapshotsAPIService.DirectorySnapshotsPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.48/directory-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.directorySnapshot == nil {
		return localVarReturnValue, nil, reportError("directorySnapshot is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.sourceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_ids", r.sourceIds, "csv")
	}
	if r.sourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_names", r.sourceNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.directorySnapshot
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
