/*
FlashBlade REST API

OpenAPI specification for FlashBlade REST API, developed by Everpure, Inc. (https://www.everpuredata.com/).

API version: 2.14
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// PoliciesSMBClientAPIService PoliciesSMBClientAPI service
type PoliciesSMBClientAPIService service

type APISmbClientPoliciesDeleteRequest struct {
	ctx                 context.Context
	APIService          *PoliciesSMBClientAPIService
	xRequestID          *string
	ids                 *[]string
	names               *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APISmbClientPoliciesDeleteRequest) XRequestID(xRequestID string) APISmbClientPoliciesDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APISmbClientPoliciesDeleteRequest) Ids(ids []string) APISmbClientPoliciesDeleteRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APISmbClientPoliciesDeleteRequest) Names(names []string) APISmbClientPoliciesDeleteRequest {
	r.names = &names
	return r
}

func (r APISmbClientPoliciesDeleteRequest) AuthorizationHeader(authorizationHeader string) APISmbClientPoliciesDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APISmbClientPoliciesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.SmbClientPoliciesDeleteExecute(r)
}

/*
SmbClientPoliciesDelete DELETE smb-client-policies

Delete one or more SMB Client policies.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APISmbClientPoliciesDeleteRequest
*/
func (a *PoliciesSMBClientAPIService) SmbClientPoliciesDelete(ctx context.Context) APISmbClientPoliciesDeleteRequest {
	return APISmbClientPoliciesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *PoliciesSMBClientAPIService) SmbClientPoliciesDeleteExecute(r APISmbClientPoliciesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "PoliciesSMBClientAPIService.SmbClientPoliciesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.14/smb-client-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APISmbClientPoliciesGetRequest struct {
	ctx                 context.Context
	APIService          *PoliciesSMBClientAPIService
	xRequestID          *string
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APISmbClientPoliciesGetRequest) XRequestID(xRequestID string) APISmbClientPoliciesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// An opaque token used to iterate over a collection. The token to use on the next request is returned in the &#x60;continuation_token&#x60; field of the result.
func (r APISmbClientPoliciesGetRequest) ContinuationToken(continuationToken string) APISmbClientPoliciesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APISmbClientPoliciesGetRequest) Filter(filter string) APISmbClientPoliciesGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APISmbClientPoliciesGetRequest) Ids(ids []string) APISmbClientPoliciesGetRequest {
	r.ids = &ids
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APISmbClientPoliciesGetRequest) Limit(limit int32) APISmbClientPoliciesGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APISmbClientPoliciesGetRequest) Names(names []string) APISmbClientPoliciesGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APISmbClientPoliciesGetRequest) Offset(offset int32) APISmbClientPoliciesGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APISmbClientPoliciesGetRequest) Sort(sort []string) APISmbClientPoliciesGetRequest {
	r.sort = &sort
	return r
}

func (r APISmbClientPoliciesGetRequest) AuthorizationHeader(authorizationHeader string) APISmbClientPoliciesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APISmbClientPoliciesGetRequest) Execute() (*SmbClientPolicyGetResponse, *http.Response, error) {
	return r.APIService.SmbClientPoliciesGetExecute(r)
}

/*
SmbClientPoliciesGet GET smb-client-policies

Display SMB Client policies and their attributes.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APISmbClientPoliciesGetRequest
*/
func (a *PoliciesSMBClientAPIService) SmbClientPoliciesGet(ctx context.Context) APISmbClientPoliciesGetRequest {
	return APISmbClientPoliciesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SmbClientPolicyGetResponse
func (a *PoliciesSMBClientAPIService) SmbClientPoliciesGetExecute(r APISmbClientPoliciesGetRequest) (*SmbClientPolicyGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SmbClientPolicyGetResponse
	)

	endpoint := "PoliciesSMBClientAPIService.SmbClientPoliciesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.14/smb-client-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APISmbClientPoliciesPatchRequest struct {
	ctx                 context.Context
	APIService          *PoliciesSMBClientAPIService
	policy              *SmbClientPolicy
	xRequestID          *string
	ids                 *[]string
	names               *[]string
	authorizationHeader *string
}

func (r APISmbClientPoliciesPatchRequest) Policy(policy SmbClientPolicy) APISmbClientPoliciesPatchRequest {
	r.policy = &policy
	return r
}

// Supplied by client during request or generated by server.
func (r APISmbClientPoliciesPatchRequest) XRequestID(xRequestID string) APISmbClientPoliciesPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APISmbClientPoliciesPatchRequest) Ids(ids []string) APISmbClientPoliciesPatchRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APISmbClientPoliciesPatchRequest) Names(names []string) APISmbClientPoliciesPatchRequest {
	r.names = &names
	return r
}

func (r APISmbClientPoliciesPatchRequest) AuthorizationHeader(authorizationHeader string) APISmbClientPoliciesPatchRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APISmbClientPoliciesPatchRequest) Execute() (*SmbClientPolicyResponse, *http.Response, error) {
	return r.APIService.SmbClientPoliciesPatchExecute(r)
}

/*
SmbClientPoliciesPatch PATCH smb-client-policies

Modify an existing SMB Client policy's attributes.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APISmbClientPoliciesPatchRequest
*/
func (a *PoliciesSMBClientAPIService) SmbClientPoliciesPatch(ctx context.Context) APISmbClientPoliciesPatchRequest {
	return APISmbClientPoliciesPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SmbClientPolicyResponse
func (a *PoliciesSMBClientAPIService) SmbClientPoliciesPatchExecute(r APISmbClientPoliciesPatchRequest) (*SmbClientPolicyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SmbClientPolicyResponse
	)

	endpoint := "PoliciesSMBClientAPIService.SmbClientPoliciesPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.14/smb-client-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.policy == nil {
		return localVarReturnValue, nil, reportError("policy is required and must be specified")
	}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.policy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APISmbClientPoliciesPostRequest struct {
	ctx                 context.Context
	APIService          *PoliciesSMBClientAPIService
	names               *[]string
	xRequestID          *string
	policy              *SmbClientPolicyPost
	authorizationHeader *string
}

// A comma-separated list of resource names.
func (r APISmbClientPoliciesPostRequest) Names(names []string) APISmbClientPoliciesPostRequest {
	r.names = &names
	return r
}

// Supplied by client during request or generated by server.
func (r APISmbClientPoliciesPostRequest) XRequestID(xRequestID string) APISmbClientPoliciesPostRequest {
	r.xRequestID = &xRequestID
	return r
}

func (r APISmbClientPoliciesPostRequest) Policy(policy SmbClientPolicyPost) APISmbClientPoliciesPostRequest {
	r.policy = &policy
	return r
}

func (r APISmbClientPoliciesPostRequest) AuthorizationHeader(authorizationHeader string) APISmbClientPoliciesPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APISmbClientPoliciesPostRequest) Execute() (*SmbClientPolicyResponse, *http.Response, error) {
	return r.APIService.SmbClientPoliciesPostExecute(r)
}

/*
SmbClientPoliciesPost POST smb-client-policies

Create a new SMB Client policy.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APISmbClientPoliciesPostRequest
*/
func (a *PoliciesSMBClientAPIService) SmbClientPoliciesPost(ctx context.Context) APISmbClientPoliciesPostRequest {
	return APISmbClientPoliciesPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SmbClientPolicyResponse
func (a *PoliciesSMBClientAPIService) SmbClientPoliciesPostExecute(r APISmbClientPoliciesPostRequest) (*SmbClientPolicyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SmbClientPolicyResponse
	)

	endpoint := "PoliciesSMBClientAPIService.SmbClientPoliciesPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.14/smb-client-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.names == nil {
		return localVarReturnValue, nil, reportError("names is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.policy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APISmbClientPoliciesRulesDeleteRequest struct {
	ctx                 context.Context
	APIService          *PoliciesSMBClientAPIService
	xRequestID          *string
	ids                 *[]string
	names               *[]string
	versions            *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APISmbClientPoliciesRulesDeleteRequest) XRequestID(xRequestID string) APISmbClientPoliciesRulesDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APISmbClientPoliciesRulesDeleteRequest) Ids(ids []string) APISmbClientPoliciesRulesDeleteRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APISmbClientPoliciesRulesDeleteRequest) Names(names []string) APISmbClientPoliciesRulesDeleteRequest {
	r.names = &names
	return r
}

// A comma-separated list of versions. This is an optional query param used for concurrency control. The ordering should match the names or ids query param. This will fail with a 412 Precondition failed if the resource was changed and the current version of the resource doesn&#39;t match the value in the query param.
func (r APISmbClientPoliciesRulesDeleteRequest) Versions(versions []string) APISmbClientPoliciesRulesDeleteRequest {
	r.versions = &versions
	return r
}

func (r APISmbClientPoliciesRulesDeleteRequest) AuthorizationHeader(authorizationHeader string) APISmbClientPoliciesRulesDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APISmbClientPoliciesRulesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.SmbClientPoliciesRulesDeleteExecute(r)
}

/*
SmbClientPoliciesRulesDelete DELETE smb-client-policies/rules

Delete one or more SMB Client policy rules.
One of the following is required: `ids` or `names`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APISmbClientPoliciesRulesDeleteRequest
*/
func (a *PoliciesSMBClientAPIService) SmbClientPoliciesRulesDelete(ctx context.Context) APISmbClientPoliciesRulesDeleteRequest {
	return APISmbClientPoliciesRulesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *PoliciesSMBClientAPIService) SmbClientPoliciesRulesDeleteExecute(r APISmbClientPoliciesRulesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "PoliciesSMBClientAPIService.SmbClientPoliciesRulesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.14/smb-client-policies/rules"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.versions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "versions", r.versions, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APISmbClientPoliciesRulesGetRequest struct {
	ctx                 context.Context
	APIService          *PoliciesSMBClientAPIService
	xRequestID          *string
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	policyIds           *[]string
	policyNames         *[]string
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APISmbClientPoliciesRulesGetRequest) XRequestID(xRequestID string) APISmbClientPoliciesRulesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// An opaque token used to iterate over a collection. The token to use on the next request is returned in the &#x60;continuation_token&#x60; field of the result.
func (r APISmbClientPoliciesRulesGetRequest) ContinuationToken(continuationToken string) APISmbClientPoliciesRulesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APISmbClientPoliciesRulesGetRequest) Filter(filter string) APISmbClientPoliciesRulesGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APISmbClientPoliciesRulesGetRequest) Ids(ids []string) APISmbClientPoliciesRulesGetRequest {
	r.ids = &ids
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APISmbClientPoliciesRulesGetRequest) Limit(limit int32) APISmbClientPoliciesRulesGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APISmbClientPoliciesRulesGetRequest) Names(names []string) APISmbClientPoliciesRulesGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APISmbClientPoliciesRulesGetRequest) Offset(offset int32) APISmbClientPoliciesRulesGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APISmbClientPoliciesRulesGetRequest) PolicyIds(policyIds []string) APISmbClientPoliciesRulesGetRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APISmbClientPoliciesRulesGetRequest) PolicyNames(policyNames []string) APISmbClientPoliciesRulesGetRequest {
	r.policyNames = &policyNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APISmbClientPoliciesRulesGetRequest) Sort(sort []string) APISmbClientPoliciesRulesGetRequest {
	r.sort = &sort
	return r
}

func (r APISmbClientPoliciesRulesGetRequest) AuthorizationHeader(authorizationHeader string) APISmbClientPoliciesRulesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APISmbClientPoliciesRulesGetRequest) Execute() (*SmbClientPolicyRuleGetResponse, *http.Response, error) {
	return r.APIService.SmbClientPoliciesRulesGetExecute(r)
}

/*
SmbClientPoliciesRulesGet GET smb-client-policies/rules

Displays a list of SMB Client policy rules.
The default sort is by policy name, then index.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APISmbClientPoliciesRulesGetRequest
*/
func (a *PoliciesSMBClientAPIService) SmbClientPoliciesRulesGet(ctx context.Context) APISmbClientPoliciesRulesGetRequest {
	return APISmbClientPoliciesRulesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SmbClientPolicyRuleGetResponse
func (a *PoliciesSMBClientAPIService) SmbClientPoliciesRulesGetExecute(r APISmbClientPoliciesRulesGetRequest) (*SmbClientPolicyRuleGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SmbClientPolicyRuleGetResponse
	)

	endpoint := "PoliciesSMBClientAPIService.SmbClientPoliciesRulesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.14/smb-client-policies/rules"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APISmbClientPoliciesRulesPatchRequest struct {
	ctx                 context.Context
	APIService          *PoliciesSMBClientAPIService
	rule                *SmbClientPolicyRule
	xRequestID          *string
	beforeRuleId        *string
	beforeRuleName      *string
	ids                 *[]string
	names               *[]string
	versions            *[]string
	authorizationHeader *string
}

func (r APISmbClientPoliciesRulesPatchRequest) Rule(rule SmbClientPolicyRule) APISmbClientPoliciesRulesPatchRequest {
	r.rule = &rule
	return r
}

// Supplied by client during request or generated by server.
func (r APISmbClientPoliciesRulesPatchRequest) XRequestID(xRequestID string) APISmbClientPoliciesRulesPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// The id of the rule to insert or move a rule before. This cannot be provided together with the &#x60;before_rule_name&#x60; query parameter.
func (r APISmbClientPoliciesRulesPatchRequest) BeforeRuleId(beforeRuleId string) APISmbClientPoliciesRulesPatchRequest {
	r.beforeRuleId = &beforeRuleId
	return r
}

// The name of the rule to insert or move a rule before. This cannot be provided together with the &#x60;before_rule_id&#x60; query parameter.
func (r APISmbClientPoliciesRulesPatchRequest) BeforeRuleName(beforeRuleName string) APISmbClientPoliciesRulesPatchRequest {
	r.beforeRuleName = &beforeRuleName
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APISmbClientPoliciesRulesPatchRequest) Ids(ids []string) APISmbClientPoliciesRulesPatchRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APISmbClientPoliciesRulesPatchRequest) Names(names []string) APISmbClientPoliciesRulesPatchRequest {
	r.names = &names
	return r
}

// A comma-separated list of versions. This is an optional query param used for concurrency control. The ordering should match the names or ids query param. This will fail with a 412 Precondition failed if the resource was changed and the current version of the resource doesn&#39;t match the value in the query param.
func (r APISmbClientPoliciesRulesPatchRequest) Versions(versions []string) APISmbClientPoliciesRulesPatchRequest {
	r.versions = &versions
	return r
}

func (r APISmbClientPoliciesRulesPatchRequest) AuthorizationHeader(authorizationHeader string) APISmbClientPoliciesRulesPatchRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APISmbClientPoliciesRulesPatchRequest) Execute() (*SmbClientPolicyRuleResponse, *http.Response, error) {
	return r.APIService.SmbClientPoliciesRulesPatchExecute(r)
}

/*
SmbClientPoliciesRulesPatch PATCH smb-client-policies/rules

Modify an existing SMB Client policy rule.
If `before_rule_id` or `before_rule_name` are specified, the rule will be
moved before that rule.
Rules are ordered in three groups; ip addresses, other and `*` and can only
be moved within the appropriate group.
One of the following is required: `ids` or `names`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APISmbClientPoliciesRulesPatchRequest
*/
func (a *PoliciesSMBClientAPIService) SmbClientPoliciesRulesPatch(ctx context.Context) APISmbClientPoliciesRulesPatchRequest {
	return APISmbClientPoliciesRulesPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SmbClientPolicyRuleResponse
func (a *PoliciesSMBClientAPIService) SmbClientPoliciesRulesPatchExecute(r APISmbClientPoliciesRulesPatchRequest) (*SmbClientPolicyRuleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SmbClientPolicyRuleResponse
	)

	endpoint := "PoliciesSMBClientAPIService.SmbClientPoliciesRulesPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.14/smb-client-policies/rules"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.rule == nil {
		return localVarReturnValue, nil, reportError("rule is required and must be specified")
	}

	if r.beforeRuleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before_rule_id", r.beforeRuleId, "")
	}
	if r.beforeRuleName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before_rule_name", r.beforeRuleName, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.versions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "versions", r.versions, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.rule
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APISmbClientPoliciesRulesPostRequest struct {
	ctx                 context.Context
	APIService          *PoliciesSMBClientAPIService
	rule                *SmbClientPolicyRulePost
	xRequestID          *string
	beforeRuleId        *string
	beforeRuleName      *string
	policyIds           *[]string
	policyNames         *[]string
	versions            *[]string
	authorizationHeader *string
}

func (r APISmbClientPoliciesRulesPostRequest) Rule(rule SmbClientPolicyRulePost) APISmbClientPoliciesRulesPostRequest {
	r.rule = &rule
	return r
}

// Supplied by client during request or generated by server.
func (r APISmbClientPoliciesRulesPostRequest) XRequestID(xRequestID string) APISmbClientPoliciesRulesPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// The id of the rule to insert or move a rule before. This cannot be provided together with the &#x60;before_rule_name&#x60; query parameter.
func (r APISmbClientPoliciesRulesPostRequest) BeforeRuleId(beforeRuleId string) APISmbClientPoliciesRulesPostRequest {
	r.beforeRuleId = &beforeRuleId
	return r
}

// The name of the rule to insert or move a rule before. This cannot be provided together with the &#x60;before_rule_id&#x60; query parameter.
func (r APISmbClientPoliciesRulesPostRequest) BeforeRuleName(beforeRuleName string) APISmbClientPoliciesRulesPostRequest {
	r.beforeRuleName = &beforeRuleName
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APISmbClientPoliciesRulesPostRequest) PolicyIds(policyIds []string) APISmbClientPoliciesRulesPostRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APISmbClientPoliciesRulesPostRequest) PolicyNames(policyNames []string) APISmbClientPoliciesRulesPostRequest {
	r.policyNames = &policyNames
	return r
}

// A comma-separated list of versions. This is an optional query param used for concurrency control. The ordering should match the names or ids query param. This will fail with a 412 Precondition failed if the resource was changed and the current version of the resource doesn&#39;t match the value in the query param.
func (r APISmbClientPoliciesRulesPostRequest) Versions(versions []string) APISmbClientPoliciesRulesPostRequest {
	r.versions = &versions
	return r
}

func (r APISmbClientPoliciesRulesPostRequest) AuthorizationHeader(authorizationHeader string) APISmbClientPoliciesRulesPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APISmbClientPoliciesRulesPostRequest) Execute() (*SmbClientPolicyRuleResponse, *http.Response, error) {
	return r.APIService.SmbClientPoliciesRulesPostExecute(r)
}

/*
SmbClientPoliciesRulesPost POST smb-client-policies/rules

Add an SMB Client policy rule.
Rules are ordered in three groups; ip addresses, other and `*`.
The new rule will be added at the end of the appropriate group if neither
`before_rule_id` nor `before_rule_name` are specified.
Rules can only be inserted into the appropriate group.
The `policy_ids` or `policy_names` parameter is required, but they cannot be
set together.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APISmbClientPoliciesRulesPostRequest
*/
func (a *PoliciesSMBClientAPIService) SmbClientPoliciesRulesPost(ctx context.Context) APISmbClientPoliciesRulesPostRequest {
	return APISmbClientPoliciesRulesPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SmbClientPolicyRuleResponse
func (a *PoliciesSMBClientAPIService) SmbClientPoliciesRulesPostExecute(r APISmbClientPoliciesRulesPostRequest) (*SmbClientPolicyRuleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SmbClientPolicyRuleResponse
	)

	endpoint := "PoliciesSMBClientAPIService.SmbClientPoliciesRulesPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.14/smb-client-policies/rules"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.rule == nil {
		return localVarReturnValue, nil, reportError("rule is required and must be specified")
	}

	if r.beforeRuleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before_rule_id", r.beforeRuleId, "")
	}
	if r.beforeRuleName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before_rule_name", r.beforeRuleName, "")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.versions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "versions", r.versions, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.rule
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
