/*
FlashArray REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.26
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// FilesAPIService FilesAPI service
type FilesAPIService service

type APIFilesPostRequest struct {
	ctx            context.Context
	APIService     *FilesAPIService
	sourceFile     *FilePost
	authorization  *string
	xRequestID     *string
	directoryIds   *[]string
	directoryNames *[]string
	overwrite      *bool
	paths          *[]string
}

func (r APIFilesPostRequest) SourceFile(sourceFile FilePost) APIFilesPostRequest {
	r.sourceFile = &sourceFile
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIFilesPostRequest) Authorization(authorization string) APIFilesPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIFilesPostRequest) XRequestID(xRequestID string) APIFilesPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the unique managed directory IDs specified. Enter multiple managed directory IDs in comma-separated format. The &#x60;directory_ids&#x60; or &#x60;directory_names&#x60; parameter is required, but they cannot be set together.
func (r APIFilesPostRequest) DirectoryIds(directoryIds []string) APIFilesPostRequest {
	r.directoryIds = &directoryIds
	return r
}

// Performs the operation on the managed directory names specified. Enter multiple full managed directory names in comma-separated format. For example, &#x60;fs:dir01,fs:dir02&#x60;.
func (r APIFilesPostRequest) DirectoryNames(directoryNames []string) APIFilesPostRequest {
	r.directoryNames = &directoryNames
	return r
}

// If set to &#x60;true&#x60;, overwrites an existing object during an object copy operation. If set to &#x60;false&#x60; or not set at all and the target name is an existing object, the copy operation fails. Required if the &#x60;source&#x60; body parameter is set and the source overwrites an existing object during the copy operation.
func (r APIFilesPostRequest) Overwrite(overwrite bool) APIFilesPostRequest {
	r.overwrite = &overwrite
	return r
}

// Target file path relative to the target directory. Enter multiple target file path in a comma-separated format. For example, &#x60;/dir1/dir2/file1,/dir3/dir4/file2&#x60;.
func (r APIFilesPostRequest) Paths(paths []string) APIFilesPostRequest {
	r.paths = &paths
	return r
}

func (r APIFilesPostRequest) Execute() (*http.Response, error) {
	return r.APIService.FilesPostExecute(r)
}

/*
FilesPost Create a file copy

Creates a file copy from one path to another path.
The `directory_ids`, `directory_names` or `paths` value must be specified.
If the `directory_ids` or `directory_names` value is not specified, the file is copied to the
source directory specified in the body params.
The `paths` value refers to the path of the target file relative to the target directory.
If `paths` value is not specified, the file will be copied to the relative path specified
in `source_path` under the target directory.
The `source_path` value refers to the path of the source file relative to the source directory.
To overwrite an existing file, set the `overwrite` flag to `true`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFilesPostRequest
*/
func (a *FilesAPIService) FilesPost(ctx context.Context) APIFilesPostRequest {
	return APIFilesPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *FilesAPIService) FilesPostExecute(r APIFilesPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "FilesAPIService.FilesPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.26/files"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sourceFile == nil {
		return nil, reportError("sourceFile is required and must be specified")
	}

	if r.directoryIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directory_ids", r.directoryIds, "csv")
	}
	if r.directoryNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "directory_names", r.directoryNames, "csv")
	}
	if r.overwrite != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "overwrite", r.overwrite, "")
	}
	if r.paths != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "paths", r.paths, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("Authorization"), r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.sourceFile
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
