/*
FlashBlade REST API

OpenAPI specification for FlashBlade REST API, developed by Everpure, Inc. (https://www.everpuredata.com/).

API version: 2.25
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// UserGroupQuotasAPIService UserGroupQuotasAPI service
type UserGroupQuotasAPIService service

type APIFileSystemGroupQuotasGetRequest struct {
	ctx                 context.Context
	APIService          *UserGroupQuotasAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	fileSystemIds       *[]string
	fileSystemNames     *[]string
	filter              *string
	gids                *[]int32
	groupNames          *[]string
	limit               *int32
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIFileSystemGroupQuotasGetRequest) XRequestID(xRequestID string) APIFileSystemGroupQuotasGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIFileSystemGroupQuotasGetRequest) AllowErrors(allowErrors bool) APIFileSystemGroupQuotasGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIFileSystemGroupQuotasGetRequest) ContextNames(contextNames []string) APIFileSystemGroupQuotasGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIFileSystemGroupQuotasGetRequest) ContinuationToken(continuationToken string) APIFileSystemGroupQuotasGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// A comma-separated list of file system IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;file_system_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;file_system_names&#x60; query parameter.
func (r APIFileSystemGroupQuotasGetRequest) FileSystemIds(fileSystemIds []string) APIFileSystemGroupQuotasGetRequest {
	r.fileSystemIds = &fileSystemIds
	return r
}

// A comma-separated list of file system names. If there is not at least one resource that matches each of the elements of &#x60;file_system_names&#x60;, then an error is returned.
func (r APIFileSystemGroupQuotasGetRequest) FileSystemNames(fileSystemNames []string) APIFileSystemGroupQuotasGetRequest {
	r.fileSystemNames = &fileSystemNames
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIFileSystemGroupQuotasGetRequest) Filter(filter string) APIFileSystemGroupQuotasGetRequest {
	r.filter = &filter
	return r
}

// Performs the operation on the specified GIDs. Enter multiple GIDs in comma-separated format. For example, &#x60;4234235,9681923&#x60;.
func (r APIFileSystemGroupQuotasGetRequest) Gids(gids []int32) APIFileSystemGroupQuotasGetRequest {
	r.gids = &gids
	return r
}

// A comma-separated list of group names. If there is not at least one resource that matches each of the elements of &#x60;group_names&#x60;, then an error is returned. This cannot be provided together with &#x60;gids&#x60; query parameter.
func (r APIFileSystemGroupQuotasGetRequest) GroupNames(groupNames []string) APIFileSystemGroupQuotasGetRequest {
	r.groupNames = &groupNames
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIFileSystemGroupQuotasGetRequest) Limit(limit int32) APIFileSystemGroupQuotasGetRequest {
	r.limit = &limit
	return r
}

// The offset of the first resource to return from a collection.
func (r APIFileSystemGroupQuotasGetRequest) Offset(offset int32) APIFileSystemGroupQuotasGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIFileSystemGroupQuotasGetRequest) Sort(sort []string) APIFileSystemGroupQuotasGetRequest {
	r.sort = &sort
	return r
}

func (r APIFileSystemGroupQuotasGetRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemGroupQuotasGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemGroupQuotasGetRequest) Execute() (*FileSystemGroupQuotaGetResponse, *http.Response, error) {
	return r.APIService.FileSystemGroupQuotasGetExecute(r)
}

/*
FileSystemGroupQuotasGet GET /file-system-group-quotas

Lists groups with their respective usage and all the quota rules applicable to them.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemGroupQuotasGetRequest
*/
func (a *UserGroupQuotasAPIService) FileSystemGroupQuotasGet(ctx context.Context) APIFileSystemGroupQuotasGetRequest {
	return APIFileSystemGroupQuotasGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileSystemGroupQuotaGetResponse
func (a *UserGroupQuotasAPIService) FileSystemGroupQuotasGetExecute(r APIFileSystemGroupQuotasGetRequest) (*FileSystemGroupQuotaGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FileSystemGroupQuotaGetResponse
	)

	endpoint := "UserGroupQuotasAPIService.FileSystemGroupQuotasGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/file-system-group-quotas"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.fileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_system_ids", r.fileSystemIds, "csv")
	}
	if r.fileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_system_names", r.fileSystemNames, "csv")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.gids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gids", r.gids, "csv")
	}
	if r.groupNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_names", r.groupNames, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIFileSystemUserQuotasGetRequest struct {
	ctx                 context.Context
	APIService          *UserGroupQuotasAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	fileSystemIds       *[]string
	fileSystemNames     *[]string
	filter              *string
	limit               *int32
	offset              *int32
	sort                *[]string
	uids                *[]int32
	userNames           *[]string
	userSids            *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIFileSystemUserQuotasGetRequest) XRequestID(xRequestID string) APIFileSystemUserQuotasGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIFileSystemUserQuotasGetRequest) AllowErrors(allowErrors bool) APIFileSystemUserQuotasGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIFileSystemUserQuotasGetRequest) ContextNames(contextNames []string) APIFileSystemUserQuotasGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIFileSystemUserQuotasGetRequest) ContinuationToken(continuationToken string) APIFileSystemUserQuotasGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// A comma-separated list of file system IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;file_system_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;file_system_names&#x60; query parameter.
func (r APIFileSystemUserQuotasGetRequest) FileSystemIds(fileSystemIds []string) APIFileSystemUserQuotasGetRequest {
	r.fileSystemIds = &fileSystemIds
	return r
}

// A comma-separated list of file system names. If there is not at least one resource that matches each of the elements of &#x60;file_system_names&#x60;, then an error is returned.
func (r APIFileSystemUserQuotasGetRequest) FileSystemNames(fileSystemNames []string) APIFileSystemUserQuotasGetRequest {
	r.fileSystemNames = &fileSystemNames
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIFileSystemUserQuotasGetRequest) Filter(filter string) APIFileSystemUserQuotasGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIFileSystemUserQuotasGetRequest) Limit(limit int32) APIFileSystemUserQuotasGetRequest {
	r.limit = &limit
	return r
}

// The offset of the first resource to return from a collection.
func (r APIFileSystemUserQuotasGetRequest) Offset(offset int32) APIFileSystemUserQuotasGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIFileSystemUserQuotasGetRequest) Sort(sort []string) APIFileSystemUserQuotasGetRequest {
	r.sort = &sort
	return r
}

// A comma-separated list of user IDs (UIDs). Enter multiple user IDs in comma-separated format. For example, &#x60;423,51234&#x60;.
func (r APIFileSystemUserQuotasGetRequest) Uids(uids []int32) APIFileSystemUserQuotasGetRequest {
	r.uids = &uids
	return r
}

// A comma-separated list of user names. If there is not at least one resource that matches each of the elements of &#x60;user_names&#x60;, then an error is returned. This cannot be provided together with &#x60;uids&#x60; query parameter.
func (r APIFileSystemUserQuotasGetRequest) UserNames(userNames []string) APIFileSystemUserQuotasGetRequest {
	r.userNames = &userNames
	return r
}

// A comma-separated list of WINDOWS user SIDs. If there is not at least one resource that matches each of the elements of &#x60;user_sids&#x60;, then an error is returned. This cannot be provided together with &#x60;uids&#x60; or &#x60;user_names&#x60; query parameters.
func (r APIFileSystemUserQuotasGetRequest) UserSids(userSids []string) APIFileSystemUserQuotasGetRequest {
	r.userSids = &userSids
	return r
}

func (r APIFileSystemUserQuotasGetRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemUserQuotasGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemUserQuotasGetRequest) Execute() (*FileSystemUserQuotaGetResponse, *http.Response, error) {
	return r.APIService.FileSystemUserQuotasGetExecute(r)
}

/*
FileSystemUserQuotasGet GET /file-system-user-quotas

Lists users with their respective usage and all the quota rules applicable to them.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemUserQuotasGetRequest
*/
func (a *UserGroupQuotasAPIService) FileSystemUserQuotasGet(ctx context.Context) APIFileSystemUserQuotasGetRequest {
	return APIFileSystemUserQuotasGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileSystemUserQuotaGetResponse
func (a *UserGroupQuotasAPIService) FileSystemUserQuotasGetExecute(r APIFileSystemUserQuotasGetRequest) (*FileSystemUserQuotaGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FileSystemUserQuotaGetResponse
	)

	endpoint := "UserGroupQuotasAPIService.FileSystemUserQuotasGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/file-system-user-quotas"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.fileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_system_ids", r.fileSystemIds, "csv")
	}
	if r.fileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_system_names", r.fileSystemNames, "csv")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.uids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "uids", r.uids, "csv")
	}
	if r.userNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_names", r.userNames, "csv")
	}
	if r.userSids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_sids", r.userSids, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
