/*
FlashBlade REST API

OpenAPI specification for FlashBlade REST API, developed by Everpure, Inc. (https://www.everpuredata.com/).

API version: 2.25
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// PoliciesUserAndGroupQuotaPolicyAPIService PoliciesUserAndGroupQuotaPolicyAPI service
type PoliciesUserAndGroupQuotaPolicyAPIService service

type APIUserGroupQuotaPoliciesDeleteRequest struct {
	ctx                 context.Context
	APIService          *PoliciesUserAndGroupQuotaPolicyAPIService
	xRequestID          *string
	contextNames        *[]string
	ids                 *[]string
	names               *[]string
	versions            *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIUserGroupQuotaPoliciesDeleteRequest) XRequestID(xRequestID string) APIUserGroupQuotaPoliciesDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIUserGroupQuotaPoliciesDeleteRequest) ContextNames(contextNames []string) APIUserGroupQuotaPoliciesDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIUserGroupQuotaPoliciesDeleteRequest) Ids(ids []string) APIUserGroupQuotaPoliciesDeleteRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIUserGroupQuotaPoliciesDeleteRequest) Names(names []string) APIUserGroupQuotaPoliciesDeleteRequest {
	r.names = &names
	return r
}

// A comma-separated list of versions. This is an optional query param used for concurrency control. The ordering should match the names or ids query param. This will fail with a 412 Precondition failed if the resource was changed and the current version of the resource doesn&#39;t match the value in the query param.
func (r APIUserGroupQuotaPoliciesDeleteRequest) Versions(versions []string) APIUserGroupQuotaPoliciesDeleteRequest {
	r.versions = &versions
	return r
}

func (r APIUserGroupQuotaPoliciesDeleteRequest) AuthorizationHeader(authorizationHeader string) APIUserGroupQuotaPoliciesDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIUserGroupQuotaPoliciesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.UserGroupQuotaPoliciesDeleteExecute(r)
}

/*
UserGroupQuotaPoliciesDelete DELETE user-group-quota-policies

Deletes one or more user-group-quota policies.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIUserGroupQuotaPoliciesDeleteRequest
*/
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesDelete(ctx context.Context) APIUserGroupQuotaPoliciesDeleteRequest {
	return APIUserGroupQuotaPoliciesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesDeleteExecute(r APIUserGroupQuotaPoliciesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "PoliciesUserAndGroupQuotaPolicyAPIService.UserGroupQuotaPoliciesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/user-group-quota-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.versions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "versions", r.versions, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIUserGroupQuotaPoliciesFileSystemsDeleteRequest struct {
	ctx                 context.Context
	APIService          *PoliciesUserAndGroupQuotaPolicyAPIService
	xRequestID          *string
	contextNames        *[]string
	memberIds           *[]string
	memberNames         *[]string
	policyIds           *[]string
	policyNames         *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIUserGroupQuotaPoliciesFileSystemsDeleteRequest) XRequestID(xRequestID string) APIUserGroupQuotaPoliciesFileSystemsDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIUserGroupQuotaPoliciesFileSystemsDeleteRequest) ContextNames(contextNames []string) APIUserGroupQuotaPoliciesFileSystemsDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIUserGroupQuotaPoliciesFileSystemsDeleteRequest) MemberIds(memberIds []string) APIUserGroupQuotaPoliciesFileSystemsDeleteRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of member names.
func (r APIUserGroupQuotaPoliciesFileSystemsDeleteRequest) MemberNames(memberNames []string) APIUserGroupQuotaPoliciesFileSystemsDeleteRequest {
	r.memberNames = &memberNames
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIUserGroupQuotaPoliciesFileSystemsDeleteRequest) PolicyIds(policyIds []string) APIUserGroupQuotaPoliciesFileSystemsDeleteRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIUserGroupQuotaPoliciesFileSystemsDeleteRequest) PolicyNames(policyNames []string) APIUserGroupQuotaPoliciesFileSystemsDeleteRequest {
	r.policyNames = &policyNames
	return r
}

func (r APIUserGroupQuotaPoliciesFileSystemsDeleteRequest) AuthorizationHeader(authorizationHeader string) APIUserGroupQuotaPoliciesFileSystemsDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIUserGroupQuotaPoliciesFileSystemsDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.UserGroupQuotaPoliciesFileSystemsDeleteExecute(r)
}

/*
UserGroupQuotaPoliciesFileSystemsDelete DELETE user-group-quota-policies/file-systems

Removes the user-group-quota policy mapped to a file system.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIUserGroupQuotaPoliciesFileSystemsDeleteRequest
*/
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesFileSystemsDelete(ctx context.Context) APIUserGroupQuotaPoliciesFileSystemsDeleteRequest {
	return APIUserGroupQuotaPoliciesFileSystemsDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesFileSystemsDeleteExecute(r APIUserGroupQuotaPoliciesFileSystemsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "PoliciesUserAndGroupQuotaPolicyAPIService.UserGroupQuotaPoliciesFileSystemsDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/user-group-quota-policies/file-systems"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.memberNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_names", r.memberNames, "csv")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIUserGroupQuotaPoliciesFileSystemsGetRequest struct {
	ctx                 context.Context
	APIService          *PoliciesUserAndGroupQuotaPolicyAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	filter              *string
	limit               *int32
	memberIds           *[]string
	memberNames         *[]string
	offset              *int32
	policyIds           *[]string
	policyNames         *[]string
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIUserGroupQuotaPoliciesFileSystemsGetRequest) XRequestID(xRequestID string) APIUserGroupQuotaPoliciesFileSystemsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIUserGroupQuotaPoliciesFileSystemsGetRequest) AllowErrors(allowErrors bool) APIUserGroupQuotaPoliciesFileSystemsGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIUserGroupQuotaPoliciesFileSystemsGetRequest) ContextNames(contextNames []string) APIUserGroupQuotaPoliciesFileSystemsGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIUserGroupQuotaPoliciesFileSystemsGetRequest) ContinuationToken(continuationToken string) APIUserGroupQuotaPoliciesFileSystemsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIUserGroupQuotaPoliciesFileSystemsGetRequest) Filter(filter string) APIUserGroupQuotaPoliciesFileSystemsGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIUserGroupQuotaPoliciesFileSystemsGetRequest) Limit(limit int32) APIUserGroupQuotaPoliciesFileSystemsGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIUserGroupQuotaPoliciesFileSystemsGetRequest) MemberIds(memberIds []string) APIUserGroupQuotaPoliciesFileSystemsGetRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of member names.
func (r APIUserGroupQuotaPoliciesFileSystemsGetRequest) MemberNames(memberNames []string) APIUserGroupQuotaPoliciesFileSystemsGetRequest {
	r.memberNames = &memberNames
	return r
}

// The offset of the first resource to return from a collection.
func (r APIUserGroupQuotaPoliciesFileSystemsGetRequest) Offset(offset int32) APIUserGroupQuotaPoliciesFileSystemsGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIUserGroupQuotaPoliciesFileSystemsGetRequest) PolicyIds(policyIds []string) APIUserGroupQuotaPoliciesFileSystemsGetRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIUserGroupQuotaPoliciesFileSystemsGetRequest) PolicyNames(policyNames []string) APIUserGroupQuotaPoliciesFileSystemsGetRequest {
	r.policyNames = &policyNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIUserGroupQuotaPoliciesFileSystemsGetRequest) Sort(sort []string) APIUserGroupQuotaPoliciesFileSystemsGetRequest {
	r.sort = &sort
	return r
}

func (r APIUserGroupQuotaPoliciesFileSystemsGetRequest) AuthorizationHeader(authorizationHeader string) APIUserGroupQuotaPoliciesFileSystemsGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIUserGroupQuotaPoliciesFileSystemsGetRequest) Execute() (*UserGroupQuotaPoliciesMembersGetResponse, *http.Response, error) {
	return r.APIService.UserGroupQuotaPoliciesFileSystemsGetExecute(r)
}

/*
UserGroupQuotaPoliciesFileSystemsGet GET user-group-quota-policies/file-systems

Lists file systems mapped to a user-group-quota policy.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIUserGroupQuotaPoliciesFileSystemsGetRequest
*/
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesFileSystemsGet(ctx context.Context) APIUserGroupQuotaPoliciesFileSystemsGetRequest {
	return APIUserGroupQuotaPoliciesFileSystemsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UserGroupQuotaPoliciesMembersGetResponse
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesFileSystemsGetExecute(r APIUserGroupQuotaPoliciesFileSystemsGetRequest) (*UserGroupQuotaPoliciesMembersGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UserGroupQuotaPoliciesMembersGetResponse
	)

	endpoint := "PoliciesUserAndGroupQuotaPolicyAPIService.UserGroupQuotaPoliciesFileSystemsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/user-group-quota-policies/file-systems"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.memberNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_names", r.memberNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIUserGroupQuotaPoliciesFileSystemsPostRequest struct {
	ctx                                  context.Context
	APIService                           *PoliciesUserAndGroupQuotaPolicyAPIService
	xRequestID                           *string
	contextNames                         *[]string
	deleteExistingUserGroupQuotaSettings *bool
	ignoreUsage                          *bool
	memberIds                            *[]string
	memberNames                          *[]string
	policyIds                            *[]string
	policyNames                          *[]string
	authorizationHeader                  *string
}

// Supplied by client during request or generated by server.
func (r APIUserGroupQuotaPoliciesFileSystemsPostRequest) XRequestID(xRequestID string) APIUserGroupQuotaPoliciesFileSystemsPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIUserGroupQuotaPoliciesFileSystemsPostRequest) ContextNames(contextNames []string) APIUserGroupQuotaPoliciesFileSystemsPostRequest {
	r.contextNames = &contextNames
	return r
}

// This parameter must be set to &#x60;true&#x60; in order to delete existing quota configurations(default_group_quota, default_user_quota or specific quotas) set on a file system using either using &#x60;quotas/users&#x60;, &#x60;quotas/groups&#x60; or &#x60;/file-systems&#x60;. Setting this parameter to &#x60;true&#x60; is acknowledgement that the currently configured quotas would be erased before attaching the policy. Defaults to &#x60;false&#x60;.
func (r APIUserGroupQuotaPoliciesFileSystemsPostRequest) DeleteExistingUserGroupQuotaSettings(deleteExistingUserGroupQuotaSettings bool) APIUserGroupQuotaPoliciesFileSystemsPostRequest {
	r.deleteExistingUserGroupQuotaSettings = &deleteExistingUserGroupQuotaSettings
	return r
}

// Flag used to override checks for user-group-quota management operations. If set to &#x60;true&#x60;, user/group usage is not checked against the &#x60;quota_limits&#x60; of user-group-quota rules.
func (r APIUserGroupQuotaPoliciesFileSystemsPostRequest) IgnoreUsage(ignoreUsage bool) APIUserGroupQuotaPoliciesFileSystemsPostRequest {
	r.ignoreUsage = &ignoreUsage
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIUserGroupQuotaPoliciesFileSystemsPostRequest) MemberIds(memberIds []string) APIUserGroupQuotaPoliciesFileSystemsPostRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of member names.
func (r APIUserGroupQuotaPoliciesFileSystemsPostRequest) MemberNames(memberNames []string) APIUserGroupQuotaPoliciesFileSystemsPostRequest {
	r.memberNames = &memberNames
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIUserGroupQuotaPoliciesFileSystemsPostRequest) PolicyIds(policyIds []string) APIUserGroupQuotaPoliciesFileSystemsPostRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIUserGroupQuotaPoliciesFileSystemsPostRequest) PolicyNames(policyNames []string) APIUserGroupQuotaPoliciesFileSystemsPostRequest {
	r.policyNames = &policyNames
	return r
}

func (r APIUserGroupQuotaPoliciesFileSystemsPostRequest) AuthorizationHeader(authorizationHeader string) APIUserGroupQuotaPoliciesFileSystemsPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIUserGroupQuotaPoliciesFileSystemsPostRequest) Execute() (*UserGroupQuotaPoliciesMembersResponse, *http.Response, error) {
	return r.APIService.UserGroupQuotaPoliciesFileSystemsPostExecute(r)
}

/*
UserGroupQuotaPoliciesFileSystemsPost POST user-group-quota-policies/file-systems

Maps a user-group-quota policy to a file system.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIUserGroupQuotaPoliciesFileSystemsPostRequest
*/
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesFileSystemsPost(ctx context.Context) APIUserGroupQuotaPoliciesFileSystemsPostRequest {
	return APIUserGroupQuotaPoliciesFileSystemsPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UserGroupQuotaPoliciesMembersResponse
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesFileSystemsPostExecute(r APIUserGroupQuotaPoliciesFileSystemsPostRequest) (*UserGroupQuotaPoliciesMembersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UserGroupQuotaPoliciesMembersResponse
	)

	endpoint := "PoliciesUserAndGroupQuotaPolicyAPIService.UserGroupQuotaPoliciesFileSystemsPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/user-group-quota-policies/file-systems"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.deleteExistingUserGroupQuotaSettings != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "delete_existing_user_group_quota_settings", r.deleteExistingUserGroupQuotaSettings, "")
	}
	if r.ignoreUsage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ignore_usage", r.ignoreUsage, "")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.memberNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_names", r.memberNames, "csv")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIUserGroupQuotaPoliciesGetRequest struct {
	ctx                 context.Context
	APIService          *PoliciesUserAndGroupQuotaPolicyAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIUserGroupQuotaPoliciesGetRequest) XRequestID(xRequestID string) APIUserGroupQuotaPoliciesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIUserGroupQuotaPoliciesGetRequest) AllowErrors(allowErrors bool) APIUserGroupQuotaPoliciesGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIUserGroupQuotaPoliciesGetRequest) ContextNames(contextNames []string) APIUserGroupQuotaPoliciesGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIUserGroupQuotaPoliciesGetRequest) ContinuationToken(continuationToken string) APIUserGroupQuotaPoliciesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIUserGroupQuotaPoliciesGetRequest) Filter(filter string) APIUserGroupQuotaPoliciesGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIUserGroupQuotaPoliciesGetRequest) Ids(ids []string) APIUserGroupQuotaPoliciesGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIUserGroupQuotaPoliciesGetRequest) Limit(limit int32) APIUserGroupQuotaPoliciesGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIUserGroupQuotaPoliciesGetRequest) Names(names []string) APIUserGroupQuotaPoliciesGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APIUserGroupQuotaPoliciesGetRequest) Offset(offset int32) APIUserGroupQuotaPoliciesGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIUserGroupQuotaPoliciesGetRequest) Sort(sort []string) APIUserGroupQuotaPoliciesGetRequest {
	r.sort = &sort
	return r
}

func (r APIUserGroupQuotaPoliciesGetRequest) AuthorizationHeader(authorizationHeader string) APIUserGroupQuotaPoliciesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIUserGroupQuotaPoliciesGetRequest) Execute() (*UserGroupQuotaPoliciesGetResponse, *http.Response, error) {
	return r.APIService.UserGroupQuotaPoliciesGetExecute(r)
}

/*
UserGroupQuotaPoliciesGet GET user-group-quota-policies

Displays a list of quota policies for users and groups for file systems.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIUserGroupQuotaPoliciesGetRequest
*/
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesGet(ctx context.Context) APIUserGroupQuotaPoliciesGetRequest {
	return APIUserGroupQuotaPoliciesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UserGroupQuotaPoliciesGetResponse
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesGetExecute(r APIUserGroupQuotaPoliciesGetRequest) (*UserGroupQuotaPoliciesGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UserGroupQuotaPoliciesGetResponse
	)

	endpoint := "PoliciesUserAndGroupQuotaPolicyAPIService.UserGroupQuotaPoliciesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/user-group-quota-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIUserGroupQuotaPoliciesMembersGetRequest struct {
	ctx                 context.Context
	APIService          *PoliciesUserAndGroupQuotaPolicyAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	filter              *string
	limit               *int32
	memberIds           *[]string
	memberNames         *[]string
	offset              *int32
	policyIds           *[]string
	policyNames         *[]string
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIUserGroupQuotaPoliciesMembersGetRequest) XRequestID(xRequestID string) APIUserGroupQuotaPoliciesMembersGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIUserGroupQuotaPoliciesMembersGetRequest) AllowErrors(allowErrors bool) APIUserGroupQuotaPoliciesMembersGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIUserGroupQuotaPoliciesMembersGetRequest) ContextNames(contextNames []string) APIUserGroupQuotaPoliciesMembersGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIUserGroupQuotaPoliciesMembersGetRequest) ContinuationToken(continuationToken string) APIUserGroupQuotaPoliciesMembersGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIUserGroupQuotaPoliciesMembersGetRequest) Filter(filter string) APIUserGroupQuotaPoliciesMembersGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIUserGroupQuotaPoliciesMembersGetRequest) Limit(limit int32) APIUserGroupQuotaPoliciesMembersGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIUserGroupQuotaPoliciesMembersGetRequest) MemberIds(memberIds []string) APIUserGroupQuotaPoliciesMembersGetRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of member names.
func (r APIUserGroupQuotaPoliciesMembersGetRequest) MemberNames(memberNames []string) APIUserGroupQuotaPoliciesMembersGetRequest {
	r.memberNames = &memberNames
	return r
}

// The offset of the first resource to return from a collection.
func (r APIUserGroupQuotaPoliciesMembersGetRequest) Offset(offset int32) APIUserGroupQuotaPoliciesMembersGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIUserGroupQuotaPoliciesMembersGetRequest) PolicyIds(policyIds []string) APIUserGroupQuotaPoliciesMembersGetRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIUserGroupQuotaPoliciesMembersGetRequest) PolicyNames(policyNames []string) APIUserGroupQuotaPoliciesMembersGetRequest {
	r.policyNames = &policyNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIUserGroupQuotaPoliciesMembersGetRequest) Sort(sort []string) APIUserGroupQuotaPoliciesMembersGetRequest {
	r.sort = &sort
	return r
}

func (r APIUserGroupQuotaPoliciesMembersGetRequest) AuthorizationHeader(authorizationHeader string) APIUserGroupQuotaPoliciesMembersGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIUserGroupQuotaPoliciesMembersGetRequest) Execute() (*UserGroupQuotaPoliciesMembersGetResponse, *http.Response, error) {
	return r.APIService.UserGroupQuotaPoliciesMembersGetExecute(r)
}

/*
UserGroupQuotaPoliciesMembersGet GET user-group-quota-policies/members

Lists file systems mapped to a user-group-quota policy.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIUserGroupQuotaPoliciesMembersGetRequest
*/
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesMembersGet(ctx context.Context) APIUserGroupQuotaPoliciesMembersGetRequest {
	return APIUserGroupQuotaPoliciesMembersGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UserGroupQuotaPoliciesMembersGetResponse
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesMembersGetExecute(r APIUserGroupQuotaPoliciesMembersGetRequest) (*UserGroupQuotaPoliciesMembersGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UserGroupQuotaPoliciesMembersGetResponse
	)

	endpoint := "PoliciesUserAndGroupQuotaPolicyAPIService.UserGroupQuotaPoliciesMembersGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/user-group-quota-policies/members"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.memberNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_names", r.memberNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIUserGroupQuotaPoliciesPatchRequest struct {
	ctx                 context.Context
	APIService          *PoliciesUserAndGroupQuotaPolicyAPIService
	policy              *UserGroupQuotaPolicy
	xRequestID          *string
	contextNames        *[]string
	ids                 *[]string
	ignoreUsage         *bool
	names               *[]string
	versions            *[]string
	authorizationHeader *string
}

func (r APIUserGroupQuotaPoliciesPatchRequest) Policy(policy UserGroupQuotaPolicy) APIUserGroupQuotaPoliciesPatchRequest {
	r.policy = &policy
	return r
}

// Supplied by client during request or generated by server.
func (r APIUserGroupQuotaPoliciesPatchRequest) XRequestID(xRequestID string) APIUserGroupQuotaPoliciesPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIUserGroupQuotaPoliciesPatchRequest) ContextNames(contextNames []string) APIUserGroupQuotaPoliciesPatchRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIUserGroupQuotaPoliciesPatchRequest) Ids(ids []string) APIUserGroupQuotaPoliciesPatchRequest {
	r.ids = &ids
	return r
}

// Flag used to override checks for user-group-quota management operations. If set to &#x60;true&#x60;, user/group usage is not checked against the &#x60;quota_limits&#x60; of user-group-quota rules.
func (r APIUserGroupQuotaPoliciesPatchRequest) IgnoreUsage(ignoreUsage bool) APIUserGroupQuotaPoliciesPatchRequest {
	r.ignoreUsage = &ignoreUsage
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIUserGroupQuotaPoliciesPatchRequest) Names(names []string) APIUserGroupQuotaPoliciesPatchRequest {
	r.names = &names
	return r
}

// A comma-separated list of versions. This is an optional query param used for concurrency control. The ordering should match the names or ids query param. This will fail with a 412 Precondition failed if the resource was changed and the current version of the resource doesn&#39;t match the value in the query param.
func (r APIUserGroupQuotaPoliciesPatchRequest) Versions(versions []string) APIUserGroupQuotaPoliciesPatchRequest {
	r.versions = &versions
	return r
}

func (r APIUserGroupQuotaPoliciesPatchRequest) AuthorizationHeader(authorizationHeader string) APIUserGroupQuotaPoliciesPatchRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIUserGroupQuotaPoliciesPatchRequest) Execute() (*UserGroupQuotaPoliciesResponse, *http.Response, error) {
	return r.APIService.UserGroupQuotaPoliciesPatchExecute(r)
}

/*
UserGroupQuotaPoliciesPatch PATCH user-group-quota-policies

Modifies an existing user-group-quota policy's attributes.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIUserGroupQuotaPoliciesPatchRequest
*/
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesPatch(ctx context.Context) APIUserGroupQuotaPoliciesPatchRequest {
	return APIUserGroupQuotaPoliciesPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UserGroupQuotaPoliciesResponse
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesPatchExecute(r APIUserGroupQuotaPoliciesPatchRequest) (*UserGroupQuotaPoliciesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UserGroupQuotaPoliciesResponse
	)

	endpoint := "PoliciesUserAndGroupQuotaPolicyAPIService.UserGroupQuotaPoliciesPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/user-group-quota-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.policy == nil {
		return localVarReturnValue, nil, reportError("policy is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.ignoreUsage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ignore_usage", r.ignoreUsage, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.versions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "versions", r.versions, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.policy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIUserGroupQuotaPoliciesPostRequest struct {
	ctx                 context.Context
	APIService          *PoliciesUserAndGroupQuotaPolicyAPIService
	names               *[]string
	policy              *UserGroupQuotaPolicyPost
	xRequestID          *string
	contextNames        *[]string
	fileSystemIds       *[]string
	fileSystemNames     *[]string
	authorizationHeader *string
}

// A comma-separated list of resource names.
func (r APIUserGroupQuotaPoliciesPostRequest) Names(names []string) APIUserGroupQuotaPoliciesPostRequest {
	r.names = &names
	return r
}

func (r APIUserGroupQuotaPoliciesPostRequest) Policy(policy UserGroupQuotaPolicyPost) APIUserGroupQuotaPoliciesPostRequest {
	r.policy = &policy
	return r
}

// Supplied by client during request or generated by server.
func (r APIUserGroupQuotaPoliciesPostRequest) XRequestID(xRequestID string) APIUserGroupQuotaPoliciesPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIUserGroupQuotaPoliciesPostRequest) ContextNames(contextNames []string) APIUserGroupQuotaPoliciesPostRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of file system IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;file_system_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;file_system_names&#x60; query parameter.
func (r APIUserGroupQuotaPoliciesPostRequest) FileSystemIds(fileSystemIds []string) APIUserGroupQuotaPoliciesPostRequest {
	r.fileSystemIds = &fileSystemIds
	return r
}

// A comma-separated list of file system names. If there is not at least one resource that matches each of the elements of &#x60;file_system_names&#x60;, then an error is returned.
func (r APIUserGroupQuotaPoliciesPostRequest) FileSystemNames(fileSystemNames []string) APIUserGroupQuotaPoliciesPostRequest {
	r.fileSystemNames = &fileSystemNames
	return r
}

func (r APIUserGroupQuotaPoliciesPostRequest) AuthorizationHeader(authorizationHeader string) APIUserGroupQuotaPoliciesPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIUserGroupQuotaPoliciesPostRequest) Execute() (*UserGroupQuotaPoliciesResponse, *http.Response, error) {
	return r.APIService.UserGroupQuotaPoliciesPostExecute(r)
}

/*
UserGroupQuotaPoliciesPost POST user-group-quota-policies

Creates a new user-group-quota policy for file systems. To import existing purequota and purefs configured quotas to a new policy, the file_system_names or file_system_ids parameter is required, but they cannot be set together. To create a policy from scratch, policy body is required.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIUserGroupQuotaPoliciesPostRequest
*/
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesPost(ctx context.Context) APIUserGroupQuotaPoliciesPostRequest {
	return APIUserGroupQuotaPoliciesPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UserGroupQuotaPoliciesResponse
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesPostExecute(r APIUserGroupQuotaPoliciesPostRequest) (*UserGroupQuotaPoliciesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UserGroupQuotaPoliciesResponse
	)

	endpoint := "PoliciesUserAndGroupQuotaPolicyAPIService.UserGroupQuotaPoliciesPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/user-group-quota-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.names == nil {
		return localVarReturnValue, nil, reportError("names is required and must be specified")
	}
	if r.policy == nil {
		return localVarReturnValue, nil, reportError("policy is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.fileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_system_ids", r.fileSystemIds, "csv")
	}
	if r.fileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file_system_names", r.fileSystemNames, "csv")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.policy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIUserGroupQuotaPoliciesRulesDeleteRequest struct {
	ctx                 context.Context
	APIService          *PoliciesUserAndGroupQuotaPolicyAPIService
	xRequestID          *string
	contextNames        *[]string
	ids                 *[]string
	names               *[]string
	policyIds           *[]string
	policyNames         *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIUserGroupQuotaPoliciesRulesDeleteRequest) XRequestID(xRequestID string) APIUserGroupQuotaPoliciesRulesDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIUserGroupQuotaPoliciesRulesDeleteRequest) ContextNames(contextNames []string) APIUserGroupQuotaPoliciesRulesDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIUserGroupQuotaPoliciesRulesDeleteRequest) Ids(ids []string) APIUserGroupQuotaPoliciesRulesDeleteRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIUserGroupQuotaPoliciesRulesDeleteRequest) Names(names []string) APIUserGroupQuotaPoliciesRulesDeleteRequest {
	r.names = &names
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIUserGroupQuotaPoliciesRulesDeleteRequest) PolicyIds(policyIds []string) APIUserGroupQuotaPoliciesRulesDeleteRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIUserGroupQuotaPoliciesRulesDeleteRequest) PolicyNames(policyNames []string) APIUserGroupQuotaPoliciesRulesDeleteRequest {
	r.policyNames = &policyNames
	return r
}

func (r APIUserGroupQuotaPoliciesRulesDeleteRequest) AuthorizationHeader(authorizationHeader string) APIUserGroupQuotaPoliciesRulesDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIUserGroupQuotaPoliciesRulesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.UserGroupQuotaPoliciesRulesDeleteExecute(r)
}

/*
UserGroupQuotaPoliciesRulesDelete DELETE user-group-quota-policies/rules

Deletes one or more user-group-quota policy rules.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIUserGroupQuotaPoliciesRulesDeleteRequest
*/
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesRulesDelete(ctx context.Context) APIUserGroupQuotaPoliciesRulesDeleteRequest {
	return APIUserGroupQuotaPoliciesRulesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesRulesDeleteExecute(r APIUserGroupQuotaPoliciesRulesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "PoliciesUserAndGroupQuotaPolicyAPIService.UserGroupQuotaPoliciesRulesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/user-group-quota-policies/rules"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIUserGroupQuotaPoliciesRulesGetRequest struct {
	ctx                 context.Context
	APIService          *PoliciesUserAndGroupQuotaPolicyAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIUserGroupQuotaPoliciesRulesGetRequest) XRequestID(xRequestID string) APIUserGroupQuotaPoliciesRulesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIUserGroupQuotaPoliciesRulesGetRequest) AllowErrors(allowErrors bool) APIUserGroupQuotaPoliciesRulesGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIUserGroupQuotaPoliciesRulesGetRequest) ContextNames(contextNames []string) APIUserGroupQuotaPoliciesRulesGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIUserGroupQuotaPoliciesRulesGetRequest) ContinuationToken(continuationToken string) APIUserGroupQuotaPoliciesRulesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIUserGroupQuotaPoliciesRulesGetRequest) Filter(filter string) APIUserGroupQuotaPoliciesRulesGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIUserGroupQuotaPoliciesRulesGetRequest) Ids(ids []string) APIUserGroupQuotaPoliciesRulesGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIUserGroupQuotaPoliciesRulesGetRequest) Limit(limit int32) APIUserGroupQuotaPoliciesRulesGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIUserGroupQuotaPoliciesRulesGetRequest) Names(names []string) APIUserGroupQuotaPoliciesRulesGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APIUserGroupQuotaPoliciesRulesGetRequest) Offset(offset int32) APIUserGroupQuotaPoliciesRulesGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIUserGroupQuotaPoliciesRulesGetRequest) Sort(sort []string) APIUserGroupQuotaPoliciesRulesGetRequest {
	r.sort = &sort
	return r
}

func (r APIUserGroupQuotaPoliciesRulesGetRequest) AuthorizationHeader(authorizationHeader string) APIUserGroupQuotaPoliciesRulesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIUserGroupQuotaPoliciesRulesGetRequest) Execute() (*UserGroupQuotaPolicyRulesGetResponse, *http.Response, error) {
	return r.APIService.UserGroupQuotaPoliciesRulesGetExecute(r)
}

/*
UserGroupQuotaPoliciesRulesGet GET user-group-quota-policies/rules

Displays a list of user-group-quota policy rules.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIUserGroupQuotaPoliciesRulesGetRequest
*/
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesRulesGet(ctx context.Context) APIUserGroupQuotaPoliciesRulesGetRequest {
	return APIUserGroupQuotaPoliciesRulesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UserGroupQuotaPolicyRulesGetResponse
func (a *PoliciesUserAndGroupQuotaPolicyAPIService) UserGroupQuotaPoliciesRulesGetExecute(r APIUserGroupQuotaPoliciesRulesGetRequest) (*UserGroupQuotaPolicyRulesGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UserGroupQuotaPolicyRulesGetResponse
	)

	endpoint := "PoliciesUserAndGroupQuotaPolicyAPIService.UserGroupQuotaPoliciesRulesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/user-group-quota-policies/rules"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIUserGroupQuotaPoliciesRulesPatchRequest struct {
	ctx                 context.Context
	APIService          *PoliciesUserAndGroupQuotaPolicyAPIService
	rule                *UserGroupQuotaPolicyRulePatch
	contextNames        *[]string
	ids                 *[]string
	ignoreUsage         *bool
	names               *[]string
	authorizationHeader *string
}

func (r APIUserGroupQuotaPoliciesRulesPatchRequest) Rule(rule UserGroupQuotaPolicyRulePatch) APIUserGroupQuotaPoliciesRulesPatchRequest {
	r.rule = &rule
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIUserGroupQuotaPoliciesRulesPatchRequest) ContextNames(contextNames []string) APIUserGroupQuotaPoliciesRulesPatchRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
[...]
