/*
FlashBlade REST API

OpenAPI specification for FlashBlade REST API, developed by Pure Storage, Inc. (https://www.purestorage.com/).

API version: 2.25
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// DirectoryServicesAPIService DirectoryServicesAPI service
type DirectoryServicesAPIService service

type APIDirectoryServicesGetRequest struct {
	ctx                 context.Context
	APIService          *DirectoryServicesAPIService
	xRequestID          *string
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIDirectoryServicesGetRequest) XRequestID(xRequestID string) APIDirectoryServicesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIDirectoryServicesGetRequest) ContinuationToken(continuationToken string) APIDirectoryServicesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIDirectoryServicesGetRequest) Filter(filter string) APIDirectoryServicesGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIDirectoryServicesGetRequest) Ids(ids []string) APIDirectoryServicesGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIDirectoryServicesGetRequest) Limit(limit int32) APIDirectoryServicesGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIDirectoryServicesGetRequest) Names(names []string) APIDirectoryServicesGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APIDirectoryServicesGetRequest) Offset(offset int32) APIDirectoryServicesGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIDirectoryServicesGetRequest) Sort(sort []string) APIDirectoryServicesGetRequest {
	r.sort = &sort
	return r
}

func (r APIDirectoryServicesGetRequest) AuthorizationHeader(authorizationHeader string) APIDirectoryServicesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIDirectoryServicesGetRequest) Execute() (*DirectoryServiceGetResponse, *http.Response, error) {
	return r.APIService.DirectoryServicesGetExecute(r)
}

/*
DirectoryServicesGet GET directory-services

List directory service configuration information.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryServicesGetRequest
*/
func (a *DirectoryServicesAPIService) DirectoryServicesGet(ctx context.Context) APIDirectoryServicesGetRequest {
	return APIDirectoryServicesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DirectoryServiceGetResponse
func (a *DirectoryServicesAPIService) DirectoryServicesGetExecute(r APIDirectoryServicesGetRequest) (*DirectoryServiceGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DirectoryServiceGetResponse
	)

	endpoint := "DirectoryServicesAPIService.DirectoryServicesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/directory-services"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIDirectoryServicesLocalDirectoryServicesDeleteRequest struct {
	ctx                 context.Context
	APIService          *DirectoryServicesAPIService
	xRequestID          *string
	contextNames        *[]string
	ids                 *[]string
	names               *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIDirectoryServicesLocalDirectoryServicesDeleteRequest) XRequestID(xRequestID string) APIDirectoryServicesLocalDirectoryServicesDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIDirectoryServicesLocalDirectoryServicesDeleteRequest) ContextNames(contextNames []string) APIDirectoryServicesLocalDirectoryServicesDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectoryServicesLocalDirectoryServicesDeleteRequest) Ids(ids []string) APIDirectoryServicesLocalDirectoryServicesDeleteRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique name specified. For example, &#x60;name01&#x60;. Enter multiple names in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectoryServicesLocalDirectoryServicesDeleteRequest) Names(names []string) APIDirectoryServicesLocalDirectoryServicesDeleteRequest {
	r.names = &names
	return r
}

func (r APIDirectoryServicesLocalDirectoryServicesDeleteRequest) AuthorizationHeader(authorizationHeader string) APIDirectoryServicesLocalDirectoryServicesDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIDirectoryServicesLocalDirectoryServicesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.DirectoryServicesLocalDirectoryServicesDeleteExecute(r)
}

/*
DirectoryServicesLocalDirectoryServicesDelete Delete local directory services

Deletes local directory services.
Local directory service can't be deleted when referenced
by any server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryServicesLocalDirectoryServicesDeleteRequest
*/
func (a *DirectoryServicesAPIService) DirectoryServicesLocalDirectoryServicesDelete(ctx context.Context) APIDirectoryServicesLocalDirectoryServicesDeleteRequest {
	return APIDirectoryServicesLocalDirectoryServicesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *DirectoryServicesAPIService) DirectoryServicesLocalDirectoryServicesDeleteExecute(r APIDirectoryServicesLocalDirectoryServicesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "DirectoryServicesAPIService.DirectoryServicesLocalDirectoryServicesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/directory-services/local/directory-services"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIDirectoryServicesLocalDirectoryServicesGetRequest struct {
	ctx                 context.Context
	APIService          *DirectoryServicesAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	destroyed           *bool
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	totalItemCount      *bool
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIDirectoryServicesLocalDirectoryServicesGetRequest) XRequestID(xRequestID string) APIDirectoryServicesLocalDirectoryServicesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIDirectoryServicesLocalDirectoryServicesGetRequest) AllowErrors(allowErrors bool) APIDirectoryServicesLocalDirectoryServicesGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIDirectoryServicesLocalDirectoryServicesGetRequest) ContextNames(contextNames []string) APIDirectoryServicesLocalDirectoryServicesGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIDirectoryServicesLocalDirectoryServicesGetRequest) ContinuationToken(continuationToken string) APIDirectoryServicesLocalDirectoryServicesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// If set to &#x60;true&#x60;, lists only destroyed objects that are in the eradication pending state. If set to &#x60;false&#x60;, lists only objects that are not destroyed. If not set, lists both objects that are destroyed and those that are not destroyed.  For destroyed objects, the time remaining is displayed in milliseconds.  If object name(s) or id(s) are specified, then each object referenced must exist. If &#x60;destroyed&#x60; is set to &#x60;true&#x60;, then each object referenced must also be destroyed. If &#x60;destroyed&#x60; is set to &#x60;false&#x60;, then each object referenced must also not be destroyed. An error is returned if any of these conditions are not met.
func (r APIDirectoryServicesLocalDirectoryServicesGetRequest) Destroyed(destroyed bool) APIDirectoryServicesLocalDirectoryServicesGetRequest {
	r.destroyed = &destroyed
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIDirectoryServicesLocalDirectoryServicesGetRequest) Filter(filter string) APIDirectoryServicesLocalDirectoryServicesGetRequest {
	r.filter = &filter
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectoryServicesLocalDirectoryServicesGetRequest) Ids(ids []string) APIDirectoryServicesLocalDirectoryServicesGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIDirectoryServicesLocalDirectoryServicesGetRequest) Limit(limit int32) APIDirectoryServicesLocalDirectoryServicesGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique name specified. For example, &#x60;name01&#x60;. Enter multiple names in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectoryServicesLocalDirectoryServicesGetRequest) Names(names []string) APIDirectoryServicesLocalDirectoryServicesGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APIDirectoryServicesLocalDirectoryServicesGetRequest) Offset(offset int32) APIDirectoryServicesLocalDirectoryServicesGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIDirectoryServicesLocalDirectoryServicesGetRequest) Sort(sort []string) APIDirectoryServicesLocalDirectoryServicesGetRequest {
	r.sort = &sort
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIDirectoryServicesLocalDirectoryServicesGetRequest) TotalItemCount(totalItemCount bool) APIDirectoryServicesLocalDirectoryServicesGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

func (r APIDirectoryServicesLocalDirectoryServicesGetRequest) AuthorizationHeader(authorizationHeader string) APIDirectoryServicesLocalDirectoryServicesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIDirectoryServicesLocalDirectoryServicesGetRequest) Execute() (*LocalDirectoryServiceGetResponse, *http.Response, error) {
	return r.APIService.DirectoryServicesLocalDirectoryServicesGetExecute(r)
}

/*
DirectoryServicesLocalDirectoryServicesGet List local directory services

Displays a list of local directory services.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryServicesLocalDirectoryServicesGetRequest
*/
func (a *DirectoryServicesAPIService) DirectoryServicesLocalDirectoryServicesGet(ctx context.Context) APIDirectoryServicesLocalDirectoryServicesGetRequest {
	return APIDirectoryServicesLocalDirectoryServicesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalDirectoryServiceGetResponse
func (a *DirectoryServicesAPIService) DirectoryServicesLocalDirectoryServicesGetExecute(r APIDirectoryServicesLocalDirectoryServicesGetRequest) (*LocalDirectoryServiceGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LocalDirectoryServiceGetResponse
	)

	endpoint := "DirectoryServicesAPIService.DirectoryServicesLocalDirectoryServicesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/directory-services/local/directory-services"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.destroyed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destroyed", r.destroyed, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIDirectoryServicesLocalDirectoryServicesPatchRequest struct {
	ctx                 context.Context
	APIService          *DirectoryServicesAPIService
	localDirectory      *LocalDirectoryService
	xRequestID          *string
	contextNames        *[]string
	ids                 *[]string
	names               *[]string
	authorizationHeader *string
}

func (r APIDirectoryServicesLocalDirectoryServicesPatchRequest) LocalDirectory(localDirectory LocalDirectoryService) APIDirectoryServicesLocalDirectoryServicesPatchRequest {
	r.localDirectory = &localDirectory
	return r
}

// Supplied by client during request or generated by server.
func (r APIDirectoryServicesLocalDirectoryServicesPatchRequest) XRequestID(xRequestID string) APIDirectoryServicesLocalDirectoryServicesPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIDirectoryServicesLocalDirectoryServicesPatchRequest) ContextNames(contextNames []string) APIDirectoryServicesLocalDirectoryServicesPatchRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectoryServicesLocalDirectoryServicesPatchRequest) Ids(ids []string) APIDirectoryServicesLocalDirectoryServicesPatchRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique name specified. For example, &#x60;name01&#x60;. Enter multiple names in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectoryServicesLocalDirectoryServicesPatchRequest) Names(names []string) APIDirectoryServicesLocalDirectoryServicesPatchRequest {
	r.names = &names
	return r
}

func (r APIDirectoryServicesLocalDirectoryServicesPatchRequest) AuthorizationHeader(authorizationHeader string) APIDirectoryServicesLocalDirectoryServicesPatchRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIDirectoryServicesLocalDirectoryServicesPatchRequest) Execute() (*LocalDirectoryServiceResponse, *http.Response, error) {
	return r.APIService.DirectoryServicesLocalDirectoryServicesPatchExecute(r)
}

/*
DirectoryServicesLocalDirectoryServicesPatch Modify local directory service

Modifies local directory services.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryServicesLocalDirectoryServicesPatchRequest
*/
func (a *DirectoryServicesAPIService) DirectoryServicesLocalDirectoryServicesPatch(ctx context.Context) APIDirectoryServicesLocalDirectoryServicesPatchRequest {
	return APIDirectoryServicesLocalDirectoryServicesPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalDirectoryServiceResponse
func (a *DirectoryServicesAPIService) DirectoryServicesLocalDirectoryServicesPatchExecute(r APIDirectoryServicesLocalDirectoryServicesPatchRequest) (*LocalDirectoryServiceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LocalDirectoryServiceResponse
	)

	endpoint := "DirectoryServicesAPIService.DirectoryServicesLocalDirectoryServicesPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/directory-services/local/directory-services"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localDirectory == nil {
		return localVarReturnValue, nil, reportError("localDirectory is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.localDirectory
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIDirectoryServicesLocalDirectoryServicesPostRequest struct {
	ctx                 context.Context
	APIService          *DirectoryServicesAPIService
	names               *[]string
	xRequestID          *string
	contextNames        *[]string
	localDirectory      *LocalDirectoryServicePost
	authorizationHeader *string
}

// A comma-separated list of resource names.
func (r APIDirectoryServicesLocalDirectoryServicesPostRequest) Names(names []string) APIDirectoryServicesLocalDirectoryServicesPostRequest {
	r.names = &names
	return r
}

// Supplied by client during request or generated by server.
func (r APIDirectoryServicesLocalDirectoryServicesPostRequest) XRequestID(xRequestID string) APIDirectoryServicesLocalDirectoryServicesPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIDirectoryServicesLocalDirectoryServicesPostRequest) ContextNames(contextNames []string) APIDirectoryServicesLocalDirectoryServicesPostRequest {
	r.contextNames = &contextNames
	return r
}

func (r APIDirectoryServicesLocalDirectoryServicesPostRequest) LocalDirectory(localDirectory LocalDirectoryServicePost) APIDirectoryServicesLocalDirectoryServicesPostRequest {
	r.localDirectory = &localDirectory
	return r
}

func (r APIDirectoryServicesLocalDirectoryServicesPostRequest) AuthorizationHeader(authorizationHeader string) APIDirectoryServicesLocalDirectoryServicesPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIDirectoryServicesLocalDirectoryServicesPostRequest) Execute() (*LocalDirectoryServiceResponse, *http.Response, error) {
	return r.APIService.DirectoryServicesLocalDirectoryServicesPostExecute(r)
}

/*
DirectoryServicesLocalDirectoryServicesPost Create local directory service

Creates a local directory service.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryServicesLocalDirectoryServicesPostRequest
*/
func (a *DirectoryServicesAPIService) DirectoryServicesLocalDirectoryServicesPost(ctx context.Context) APIDirectoryServicesLocalDirectoryServicesPostRequest {
	return APIDirectoryServicesLocalDirectoryServicesPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalDirectoryServiceResponse
func (a *DirectoryServicesAPIService) DirectoryServicesLocalDirectoryServicesPostExecute(r APIDirectoryServicesLocalDirectoryServicesPostRequest) (*LocalDirectoryServiceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LocalDirectoryServiceResponse
	)

	endpoint := "DirectoryServicesAPIService.DirectoryServicesLocalDirectoryServicesPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/directory-services/local/directory-services"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.names == nil {
		return localVarReturnValue, nil, reportError("names is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.localDirectory
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIDirectoryServicesLocalGroupsDeleteRequest struct {
	ctx                        context.Context
	APIService                 *DirectoryServicesAPIService
	xRequestID                 *string
	contextNames               *[]string
	gids                       *[]int32
	localDirectoryServiceIds   *[]string
	localDirectoryServiceNames *[]string
	names                      *[]string
	sids                       *[]string
	authorizationHeader        *string
}

// Supplied by client during request or generated by server.
func (r APIDirectoryServicesLocalGroupsDeleteRequest) XRequestID(xRequestID string) APIDirectoryServicesLocalGroupsDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIDirectoryServicesLocalGroupsDeleteRequest) ContextNames(contextNames []string) APIDirectoryServicesLocalGroupsDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the specified GIDs. Enter multiple GIDs in comma-separated format. For example, &#x60;4234235,9681923&#x60;.
func (r APIDirectoryServicesLocalGroupsDeleteRequest) Gids(gids []int32) APIDirectoryServicesLocalGroupsDeleteRequest {
	r.gids = &gids
	return r
}

// Performs the operation on the specified local directory service. Supports exactly one value. When not specified, the local directory service connected to the &#x60;_array_server&#x60; will be used. This cannot be provided in conjunction with the &#x60;local_directory_service_names&#x60; parameter.
func (r APIDirectoryServicesLocalGroupsDeleteRequest) LocalDirectoryServiceIds(localDirectoryServiceIds []string) APIDirectoryServicesLocalGroupsDeleteRequest {
	r.localDirectoryServiceIds = &localDirectoryServiceIds
	return r
}

// Performs the operation on the specified local directory service. Supports exactly one value. When not specified, the local directory service connected to the &#x60;_array_server&#x60; will be used. This cannot be provided in conjunction with the &#x60;local_directory_service_ids&#x60; parameter.
func (r APIDirectoryServicesLocalGroupsDeleteRequest) LocalDirectoryServiceNames(localDirectoryServiceNames []string) APIDirectoryServicesLocalGroupsDeleteRequest {
	r.localDirectoryServiceNames = &localDirectoryServiceNames
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIDirectoryServicesLocalGroupsDeleteRequest) Names(names []string) APIDirectoryServicesLocalGroupsDeleteRequest {
	r.names = &names
	return r
}

// Performs the operation on the object SID specified. Enter multiple SIDs in comma-separated format. For example, &#x60;S-1-2-532-582374278-329482934,S-1-2-532-234235245-423425234&#x60;.
func (r APIDirectoryServicesLocalGroupsDeleteRequest) Sids(sids []string) APIDirectoryServicesLocalGroupsDeleteRequest {
	r.sids = &sids
	return r
}

func (r APIDirectoryServicesLocalGroupsDeleteRequest) AuthorizationHeader(authorizationHeader string) APIDirectoryServicesLocalGroupsDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIDirectoryServicesLocalGroupsDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.DirectoryServicesLocalGroupsDeleteExecute(r)
}

/*
DirectoryServicesLocalGroupsDelete Delete local groups

Deletes one or more local groups.
The `gids`, `names`, or `sids` parameter is required, but cannot be set together.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryServicesLocalGroupsDeleteRequest
*/
func (a *DirectoryServicesAPIService) DirectoryServicesLocalGroupsDelete(ctx context.Context) APIDirectoryServicesLocalGroupsDeleteRequest {
	return APIDirectoryServicesLocalGroupsDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *DirectoryServicesAPIService) DirectoryServicesLocalGroupsDeleteExecute(r APIDirectoryServicesLocalGroupsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "DirectoryServicesAPIService.DirectoryServicesLocalGroupsDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/directory-services/local/groups"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.gids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gids", r.gids, "csv")
	}
	if r.localDirectoryServiceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_directory_service_ids", r.localDirectoryServiceIds, "csv")
	}
	if r.localDirectoryServiceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_directory_service_names", r.localDirectoryServiceNames, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.sids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sids", r.sids, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIDirectoryServicesLocalGroupsGetRequest struct {
	ctx                 context.Context
	APIService          *DirectoryServicesAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	filter              *string
	gids                *[]int32
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	sids                *[]string
	sort                *[]string
	totalItemCount      *bool
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIDirectoryServicesLocalGroupsGetRequest) XRequestID(xRequestID string) APIDirectoryServicesLocalGroupsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIDirectoryServicesLocalGroupsGetRequest) AllowErrors(allowErrors bool) APIDirectoryServicesLocalGroupsGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIDirectoryServicesLocalGroupsGetRequest) ContextNames(contextNames []string) APIDirectoryServicesLocalGroupsGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIDirectoryServicesLocalGroupsGetRequest) ContinuationToken(continuationToken string) APIDirectoryServicesLocalGroupsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIDirectoryServicesLocalGroupsGetRequest) Filter(filter string) APIDirectoryServicesLocalGroupsGetRequest {
	r.filter = &filter
	return r
}

// Performs the operation on the specified GIDs. Enter multiple GIDs in comma-separated format. For example, &#x60;4234235,9681923&#x60;.
func (r APIDirectoryServicesLocalGroupsGetRequest) Gids(gids []int32) APIDirectoryServicesLocalGroupsGetRequest {
	r.gids = &gids
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectoryServicesLocalGroupsGetRequest) Ids(ids []string) APIDirectoryServicesLocalGroupsGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIDirectoryServicesLocalGroupsGetRequest) Limit(limit int32) APIDirectoryServicesLocalGroupsGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique name specified. For example, &#x60;name01&#x60;. Enter multiple names in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIDirectoryServicesLocalGroupsGetRequest) Names(names []string) APIDirectoryServicesLocalGroupsGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APIDirectoryServicesLocalGroupsGetRequest) Offset(offset int32) APIDirectoryServicesLocalGroupsGetRequest {
	r.offset = &offset
	return r
}

// Performs the operation on the object SID specified. Enter multiple SIDs in comma-separated format. For example, &#x60;S-1-2-532-582374278-329482934,S-1-2-532-234235245-423425234&#x60;.
func (r APIDirectoryServicesLocalGroupsGetRequest) Sids(sids []string) APIDirectoryServicesLocalGroupsGetRequest {
	r.sids = &sids
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIDirectoryServicesLocalGroupsGetRequest) Sort(sort []string) APIDirectoryServicesLocalGroupsGetRequest {
	r.sort = &sort
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIDirectoryServicesLocalGroupsGetRequest) TotalItemCount(totalItemCount bool) APIDirectoryServicesLocalGroupsGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

func (r APIDirectoryServicesLocalGroupsGetRequest) AuthorizationHeader(authorizationHeader string) APIDirectoryServicesLocalGroupsGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIDirectoryServicesLocalGroupsGetRequest) Execute() (*LocalGroupGetResponse, *http.Response, error) {
	return r.APIService.DirectoryServicesLocalGroupsGetExecute(r)
}

/*
DirectoryServicesLocalGroupsGet List local groups

Displays a list of local groups.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryServicesLocalGroupsGetRequest
*/
func (a *DirectoryServicesAPIService) DirectoryServicesLocalGroupsGet(ctx context.Context) APIDirectoryServicesLocalGroupsGetRequest {
	return APIDirectoryServicesLocalGroupsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalGroupGetResponse
func (a *DirectoryServicesAPIService) DirectoryServicesLocalGroupsGetExecute(r APIDirectoryServicesLocalGroupsGetRequest) (*LocalGroupGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LocalGroupGetResponse
	)

	endpoint := "DirectoryServicesAPIService.DirectoryServicesLocalGroupsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/directory-services/local/groups"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.gids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gids", r.gids, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sids", r.sids, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIDirectoryServicesLocalGroupsMembersDeleteRequest struct {
	ctx                        context.Context
	APIService                 *DirectoryServicesAPIService
	xRequestID                 *string
	contextNames               *[]string
	groupGids                  *[]int32
	groupNames                 *[]string
	groupSids                  *[]string
	localDirectoryServiceIds   *[]string
	localDirectoryServiceNames *[]string
	memberIds                  *[]int32
	memberNames                *[]string
	memberSids                 *[]string
	memberTypes                *[]string
	authorizationHeader        *string
}

// Supplied by client during request or generated by server.
func (r APIDirectoryServicesLocalGroupsMembersDeleteRequest) XRequestID(xRequestID string) APIDirectoryServicesLocalGroupsMembersDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersDeleteRequest) ContextNames(contextNames []string) APIDirectoryServicesLocalGroupsMembersDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the specified GIDs. Enter multiple GIDs in comma-separated format. For example, &#x60;4234235,9681923&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersDeleteRequest) GroupGids(groupGids []int32) APIDirectoryServicesLocalGroupsMembersDeleteRequest {
	r.groupGids = &groupGids
	return r
}

// Performs the operation on the group names specified. Enter multiple group names in comma-separated format. For example, &#x60;group1,group2&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersDeleteRequest) GroupNames(groupNames []string) APIDirectoryServicesLocalGroupsMembersDeleteRequest {
	r.groupNames = &groupNames
	return r
}

// Performs the operation on the specified group SID. Enter multiple group SIDs in comma-separated format. For example, &#x60;S-1-2-532-582374278-329482934,S-1-2-532-234235245-423425234&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersDeleteRequest) GroupSids(groupSids []string) APIDirectoryServicesLocalGroupsMembersDeleteRequest {
	r.groupSids = &groupSids
	return r
}

// Performs the operation on the specified local directory service. Supports exactly one value. When not specified, the local directory service connected to the &#x60;_array_server&#x60; will be used. This cannot be provided in conjunction with the &#x60;local_directory_service_names&#x60; parameter.
func (r APIDirectoryServicesLocalGroupsMembersDeleteRequest) LocalDirectoryServiceIds(localDirectoryServiceIds []string) APIDirectoryServicesLocalGroupsMembersDeleteRequest {
	r.localDirectoryServiceIds = &localDirectoryServiceIds
	return r
}

// Performs the operation on the specified local directory service. Supports exactly one value. When not specified, the local directory service connected to the &#x60;_array_server&#x60; will be used. This cannot be provided in conjunction with the &#x60;local_directory_service_ids&#x60; parameter.
func (r APIDirectoryServicesLocalGroupsMembersDeleteRequest) LocalDirectoryServiceNames(localDirectoryServiceNames []string) APIDirectoryServicesLocalGroupsMembersDeleteRequest {
	r.localDirectoryServiceNames = &localDirectoryServiceNames
	return r
}

// Performs the operation on the unique local member IDs specified. Enter multiple member IDs in comma-separated format. For local group IDs refer to group IDs (GID). For local user IDs refer to user IDs (UID). The &#x60;member_ids&#x60; and &#x60;member_names&#x60; parameters cannot be provided together.
func (r APIDirectoryServicesLocalGroupsMembersDeleteRequest) MemberIds(memberIds []int32) APIDirectoryServicesLocalGroupsMembersDeleteRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of member names.
func (r APIDirectoryServicesLocalGroupsMembersDeleteRequest) MemberNames(memberNames []string) APIDirectoryServicesLocalGroupsMembersDeleteRequest {
	r.memberNames = &memberNames
	return r
}

// Performs the operation on the specified member SID. Enter multiple member SIDs in comma-separated format. For example, &#x60;S-1-2-532-582374278-329482934,S-1-2-532-234235245-423425234&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersDeleteRequest) MemberSids(memberSids []string) APIDirectoryServicesLocalGroupsMembersDeleteRequest {
	r.memberSids = &memberSids
	return r
}

// A comma-separated list of member types for local directory services. Valid values are &#x60;User&#x60; and &#x60;Group&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersDeleteRequest) MemberTypes(memberTypes []string) APIDirectoryServicesLocalGroupsMembersDeleteRequest {
	r.memberTypes = &memberTypes
	return r
}

func (r APIDirectoryServicesLocalGroupsMembersDeleteRequest) AuthorizationHeader(authorizationHeader string) APIDirectoryServicesLocalGroupsMembersDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIDirectoryServicesLocalGroupsMembersDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.DirectoryServicesLocalGroupsMembersDeleteExecute(r)
}

/*
DirectoryServicesLocalGroupsMembersDelete Delete local group membership

Deletes one or more local group memberships.
The `group_names`, `group_sids`, or `group_gids` parameter is required, but cannot be set
together.
The `member_names`, `member_sids`, or `member_gids` parameter is required, but cannot be set
together.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryServicesLocalGroupsMembersDeleteRequest
*/
func (a *DirectoryServicesAPIService) DirectoryServicesLocalGroupsMembersDelete(ctx context.Context) APIDirectoryServicesLocalGroupsMembersDeleteRequest {
	return APIDirectoryServicesLocalGroupsMembersDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *DirectoryServicesAPIService) DirectoryServicesLocalGroupsMembersDeleteExecute(r APIDirectoryServicesLocalGroupsMembersDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "DirectoryServicesAPIService.DirectoryServicesLocalGroupsMembersDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/directory-services/local/groups/members"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.groupGids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_gids", r.groupGids, "csv")
	}
	if r.groupNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_names", r.groupNames, "csv")
	}
	if r.groupSids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_sids", r.groupSids, "csv")
	}
	if r.localDirectoryServiceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_directory_service_ids", r.localDirectoryServiceIds, "csv")
	}
	if r.localDirectoryServiceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_directory_service_names", r.localDirectoryServiceNames, "csv")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.memberNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_names", r.memberNames, "csv")
	}
	if r.memberSids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_sids", r.memberSids, "csv")
	}
	if r.memberTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_types", r.memberTypes, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIDirectoryServicesLocalGroupsMembersGetRequest struct {
	ctx                 context.Context
	APIService          *DirectoryServicesAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	filter              *string
	groupGids           *[]int32
	groupNames          *[]string
	groupSids           *[]string
	limit               *int32
	memberIds           *[]int32
	memberNames         *[]string
	memberSids          *[]string
	memberTypes         *[]string
	offset              *int32
	sort                *[]string
	totalItemCount      *bool
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIDirectoryServicesLocalGroupsMembersGetRequest) XRequestID(xRequestID string) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIDirectoryServicesLocalGroupsMembersGetRequest) AllowErrors(allowErrors bool) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersGetRequest) ContextNames(contextNames []string) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIDirectoryServicesLocalGroupsMembersGetRequest) ContinuationToken(continuationToken string) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIDirectoryServicesLocalGroupsMembersGetRequest) Filter(filter string) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.filter = &filter
	return r
}

// Performs the operation on the specified GIDs. Enter multiple GIDs in comma-separated format. For example, &#x60;4234235,9681923&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersGetRequest) GroupGids(groupGids []int32) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.groupGids = &groupGids
	return r
}

// Performs the operation on the group names specified. Enter multiple group names in comma-separated format. For example, &#x60;group1,group2&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersGetRequest) GroupNames(groupNames []string) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.groupNames = &groupNames
	return r
}

// Performs the operation on the specified group SID. Enter multiple group SIDs in comma-separated format. For example, &#x60;S-1-2-532-582374278-329482934,S-1-2-532-234235245-423425234&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersGetRequest) GroupSids(groupSids []string) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.groupSids = &groupSids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIDirectoryServicesLocalGroupsMembersGetRequest) Limit(limit int32) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique local member IDs specified. Enter multiple member IDs in comma-separated format. For local group IDs refer to group IDs (GID). For local user IDs refer to user IDs (UID). The &#x60;member_ids&#x60; and &#x60;member_names&#x60; parameters cannot be provided together.
func (r APIDirectoryServicesLocalGroupsMembersGetRequest) MemberIds(memberIds []int32) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of member names.
func (r APIDirectoryServicesLocalGroupsMembersGetRequest) MemberNames(memberNames []string) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.memberNames = &memberNames
	return r
}

// Performs the operation on the specified member SID. Enter multiple member SIDs in comma-separated format. For example, &#x60;S-1-2-532-582374278-329482934,S-1-2-532-234235245-423425234&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersGetRequest) MemberSids(memberSids []string) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.memberSids = &memberSids
	return r
}

// A comma-separated list of member types for local directory services. Valid values are &#x60;User&#x60; and &#x60;Group&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersGetRequest) MemberTypes(memberTypes []string) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.memberTypes = &memberTypes
	return r
}

// The offset of the first resource to return from a collection.
func (r APIDirectoryServicesLocalGroupsMembersGetRequest) Offset(offset int32) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIDirectoryServicesLocalGroupsMembersGetRequest) Sort(sort []string) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.sort = &sort
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersGetRequest) TotalItemCount(totalItemCount bool) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

func (r APIDirectoryServicesLocalGroupsMembersGetRequest) AuthorizationHeader(authorizationHeader string) APIDirectoryServicesLocalGroupsMembersGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIDirectoryServicesLocalGroupsMembersGetRequest) Execute() (*LocalMembershipGetResponse, *http.Response, error) {
	return r.APIService.DirectoryServicesLocalGroupsMembersGetExecute(r)
}

/*
DirectoryServicesLocalGroupsMembersGet List local group memberships

Displays a list of local group memberships.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryServicesLocalGroupsMembersGetRequest
*/
func (a *DirectoryServicesAPIService) DirectoryServicesLocalGroupsMembersGet(ctx context.Context) APIDirectoryServicesLocalGroupsMembersGetRequest {
	return APIDirectoryServicesLocalGroupsMembersGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalMembershipGetResponse
func (a *DirectoryServicesAPIService) DirectoryServicesLocalGroupsMembersGetExecute(r APIDirectoryServicesLocalGroupsMembersGetRequest) (*LocalMembershipGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LocalMembershipGetResponse
	)

	endpoint := "DirectoryServicesAPIService.DirectoryServicesLocalGroupsMembersGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/directory-services/local/groups/members"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.groupGids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_gids", r.groupGids, "csv")
	}
	if r.groupNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_names", r.groupNames, "csv")
	}
	if r.groupSids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_sids", r.groupSids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.memberNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_names", r.memberNames, "csv")
	}
	if r.memberSids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_sids", r.memberSids, "csv")
	}
	if r.memberTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_types", r.memberTypes, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIDirectoryServicesLocalGroupsMembersPostRequest struct {
	ctx                        context.Context
	APIService                 *DirectoryServicesAPIService
	localMembership            *LocalGroupMembershipPost
	xRequestID                 *string
	contextNames               *[]string
	groupGids                  *[]int32
	groupNames                 *[]string
	groupSids                  *[]string
	localDirectoryServiceIds   *[]string
	localDirectoryServiceNames *[]string
	authorizationHeader        *string
}

// The &#x60;member_names&#x60;, &#x60;member_sids&#x60;, or &#x60;member_gids&#x60; parameter is required, but cannot be set together.
func (r APIDirectoryServicesLocalGroupsMembersPostRequest) LocalMembership(localMembership LocalGroupMembershipPost) APIDirectoryServicesLocalGroupsMembersPostRequest {
	r.localMembership = &localMembership
	return r
}

// Supplied by client during request or generated by server.
func (r APIDirectoryServicesLocalGroupsMembersPostRequest) XRequestID(xRequestID string) APIDirectoryServicesLocalGroupsMembersPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersPostRequest) ContextNames(contextNames []string) APIDirectoryServicesLocalGroupsMembersPostRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the specified GIDs. Enter multiple GIDs in comma-separated format. For example, &#x60;4234235,9681923&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersPostRequest) GroupGids(groupGids []int32) APIDirectoryServicesLocalGroupsMembersPostRequest {
	r.groupGids = &groupGids
	return r
}

// Performs the operation on the group names specified. Enter multiple group names in comma-separated format. For example, &#x60;group1,group2&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersPostRequest) GroupNames(groupNames []string) APIDirectoryServicesLocalGroupsMembersPostRequest {
	r.groupNames = &groupNames
	return r
}

// Performs the operation on the specified group SID. Enter multiple group SIDs in comma-separated format. For example, &#x60;S-1-2-532-582374278-329482934,S-1-2-532-234235245-423425234&#x60;.
func (r APIDirectoryServicesLocalGroupsMembersPostRequest) GroupSids(groupSids []string) APIDirectoryServicesLocalGroupsMembersPostRequest {
	r.groupSids = &groupSids
	return r
}

// Performs the operation on the specified local directory service. Supports exactly one value. When not specified, the local directory service connected to the &#x60;_array_server&#x60; will be used. This cannot be provided in conjunction with the &#x60;local_directory_service_names&#x60; parameter.
func (r APIDirectoryServicesLocalGroupsMembersPostRequest) LocalDirectoryServiceIds(localDirectoryServiceIds []string) APIDirectoryServicesLocalGroupsMembersPostRequest {
	r.localDirectoryServiceIds = &localDirectoryServiceIds
	return r
}

// Performs the operation on the specified local directory service. Supports exactly one value. When not specified, the local directory service connected to the &#x60;_array_server&#x60; will be used. This cannot be provided in conjunction with the &#x60;local_directory_service_ids&#x60; parameter.
func (r APIDirectoryServicesLocalGroupsMembersPostRequest) LocalDirectoryServiceNames(localDirectoryServiceNames []string) APIDirectoryServicesLocalGroupsMembersPostRequest {
	r.localDirectoryServiceNames = &localDirectoryServiceNames
	return r
}

func (r APIDirectoryServicesLocalGroupsMembersPostRequest) AuthorizationHeader(authorizationHeader string) APIDirectoryServicesLocalGroupsMembersPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIDirectoryServicesLocalGroupsMembersPostRequest) Execute() (*LocalMembershipResponse, *http.Response, error) {
	return r.APIService.DirectoryServicesLocalGroupsMembersPostExecute(r)
}

/*
DirectoryServicesLocalGroupsMembersPost Create local group membership

Creates a local group membership with a group.
The `group_names`, `group_sids`, or `group_gids` parameter is required, but cannot be set
together.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIDirectoryServicesLocalGroupsMembersPostRequest
*/
func (a *DirectoryServicesAPIService) DirectoryServicesLocalGroupsMembersPost(ctx context.Context) APIDirectoryServicesLocalGroupsMembersPostRequest {
	return APIDirectoryServicesLocalGroupsMembersPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalMembershipResponse
func (a *DirectoryServicesAPIService) DirectoryServicesLocalGroupsMembersPostExecute(r APIDirectoryServicesLocalGroupsMembersPostRequest) (*LocalMembershipResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LocalMembershipResponse
	)

	endpoint := "DirectoryServicesAPIService.DirectoryServicesLocalGroupsMembersPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/directory-services/local/groups/members"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localMembership == nil {
		return localVarReturnValue, nil, reportError("localMembership is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.groupGids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_gids", r.groupGids, "csv")
	}
	if r.groupNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_names", r.groupNames, "csv")
	}
	if r.groupSids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_sids", r.groupSids, "csv")
	}
	if r.localDirectoryServiceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_directory_service_ids", r.localDirectoryServiceIds, "csv")
	}
	if r.localDirectoryServiceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_directory_service_names", r.localDirectoryServiceNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
[...]
