/*
FlashArray REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.6
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// RemoteProtectionGroupSnapshotsAPIService RemoteProtectionGroupSnapshotsAPI service
type RemoteProtectionGroupSnapshotsAPIService service

type APIRemoteProtectionGroupSnapshotsDeleteRequest struct {
	ctx           context.Context
	APIService    *RemoteProtectionGroupSnapshotsAPIService
	authorization *string
	xRequestID    *string
	names         *[]string
	on            *string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIRemoteProtectionGroupSnapshotsDeleteRequest) Authorization(authorization string) APIRemoteProtectionGroupSnapshotsDeleteRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIRemoteProtectionGroupSnapshotsDeleteRequest) XRequestID(xRequestID string) APIRemoteProtectionGroupSnapshotsDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIRemoteProtectionGroupSnapshotsDeleteRequest) Names(names []string) APIRemoteProtectionGroupSnapshotsDeleteRequest {
	r.names = &names
	return r
}

// Performs the operation on the target name specified. For example, &#x60;targetName01&#x60;.
func (r APIRemoteProtectionGroupSnapshotsDeleteRequest) On(on string) APIRemoteProtectionGroupSnapshotsDeleteRequest {
	r.on = &on
	return r
}

func (r APIRemoteProtectionGroupSnapshotsDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.RemoteProtectionGroupSnapshotsDeleteExecute(r)
}

/*
RemoteProtectionGroupSnapshotsDelete Delete a remote protection group snapshot

Deletes a remote protection group snapshot that has been destroyed and is pending eradication.
Eradicated remote protection group snapshots cannot be recovered.
Remote protection group snapshots are destroyed using the `PATCH` method.
The `names` parameter represents the name of the protection group snapshot.
The `on` parameter represents the name of the offload target.
The `names` and `on` parameters are required and must be used together.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRemoteProtectionGroupSnapshotsDeleteRequest
*/
func (a *RemoteProtectionGroupSnapshotsAPIService) RemoteProtectionGroupSnapshotsDelete(ctx context.Context) APIRemoteProtectionGroupSnapshotsDeleteRequest {
	return APIRemoteProtectionGroupSnapshotsDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *RemoteProtectionGroupSnapshotsAPIService) RemoteProtectionGroupSnapshotsDeleteExecute(r APIRemoteProtectionGroupSnapshotsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "RemoteProtectionGroupSnapshotsAPIService.RemoteProtectionGroupSnapshotsDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.6/remote-protection-group-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.on != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "on", r.on, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIRemoteProtectionGroupSnapshotsGetRequest struct {
	ctx            context.Context
	APIService     *RemoteProtectionGroupSnapshotsAPIService
	authorization  *string
	xRequestID     *string
	destroyed      *bool
	filter         *string
	limit          *int32
	names          *[]string
	offset         *int32
	on             *[]string
	sort           *[]string
	sourceNames    *[]string
	totalItemCount *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIRemoteProtectionGroupSnapshotsGetRequest) Authorization(authorization string) APIRemoteProtectionGroupSnapshotsGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIRemoteProtectionGroupSnapshotsGetRequest) XRequestID(xRequestID string) APIRemoteProtectionGroupSnapshotsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, lists only destroyed objects that are in the eradication pending state. If set to &#x60;false&#x60;, lists only objects that are not destroyed. For destroyed objects, the time remaining is displayed in milliseconds.
func (r APIRemoteProtectionGroupSnapshotsGetRequest) Destroyed(destroyed bool) APIRemoteProtectionGroupSnapshotsGetRequest {
	r.destroyed = &destroyed
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIRemoteProtectionGroupSnapshotsGetRequest) Filter(filter string) APIRemoteProtectionGroupSnapshotsGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIRemoteProtectionGroupSnapshotsGetRequest) Limit(limit int32) APIRemoteProtectionGroupSnapshotsGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIRemoteProtectionGroupSnapshotsGetRequest) Names(names []string) APIRemoteProtectionGroupSnapshotsGetRequest {
	r.names = &names
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIRemoteProtectionGroupSnapshotsGetRequest) Offset(offset int32) APIRemoteProtectionGroupSnapshotsGetRequest {
	r.offset = &offset
	return r
}

// Performs the operation on the target name specified. Enter multiple target names in comma-separated format. For example, &#x60;targetName01,targetName02&#x60;.
func (r APIRemoteProtectionGroupSnapshotsGetRequest) On(on []string) APIRemoteProtectionGroupSnapshotsGetRequest {
	r.on = &on
	return r
}

// Returns the response objects in the order specified. Set &#x60;sort&#x60; to the name in the response by which to sort. Sorting can be performed on any of the names in the response, and the objects can be sorted in ascending or descending order. By default, the response objects are sorted in ascending order. To sort in descending order, append the minus sign (&#x60;-&#x60;) to the name. A single request can be sorted on multiple objects. For example, you can sort all volumes from largest to smallest volume size, and then sort volumes of the same size in ascending order by volume name. To sort on multiple names, list the names as comma-separated values.
func (r APIRemoteProtectionGroupSnapshotsGetRequest) Sort(sort []string) APIRemoteProtectionGroupSnapshotsGetRequest {
	r.sort = &sort
	return r
}

// Performs the operation on the source name specified. Enter multiple source names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIRemoteProtectionGroupSnapshotsGetRequest) SourceNames(sourceNames []string) APIRemoteProtectionGroupSnapshotsGetRequest {
	r.sourceNames = &sourceNames
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIRemoteProtectionGroupSnapshotsGetRequest) TotalItemCount(totalItemCount bool) APIRemoteProtectionGroupSnapshotsGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

func (r APIRemoteProtectionGroupSnapshotsGetRequest) Execute() (*RemoteProtectionGroupSnapshotGetResponse, *http.Response, error) {
	return r.APIService.RemoteProtectionGroupSnapshotsGetExecute(r)
}

/*
RemoteProtectionGroupSnapshotsGet List remote protection group snapshots

Displays a list of remote protection group snapshots.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRemoteProtectionGroupSnapshotsGetRequest
*/
func (a *RemoteProtectionGroupSnapshotsAPIService) RemoteProtectionGroupSnapshotsGet(ctx context.Context) APIRemoteProtectionGroupSnapshotsGetRequest {
	return APIRemoteProtectionGroupSnapshotsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RemoteProtectionGroupSnapshotGetResponse
func (a *RemoteProtectionGroupSnapshotsAPIService) RemoteProtectionGroupSnapshotsGetExecute(r APIRemoteProtectionGroupSnapshotsGetRequest) (*RemoteProtectionGroupSnapshotGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RemoteProtectionGroupSnapshotGetResponse
	)

	endpoint := "RemoteProtectionGroupSnapshotsAPIService.RemoteProtectionGroupSnapshotsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.6/remote-protection-group-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.destroyed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destroyed", r.destroyed, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.on != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "on", r.on, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.sourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_names", r.sourceNames, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIRemoteProtectionGroupSnapshotsPatchRequest struct {
	ctx                           context.Context
	APIService                    *RemoteProtectionGroupSnapshotsAPIService
	remoteProtectionGroupSnapshot *DestroyedPatchPost
	authorization                 *string
	xRequestID                    *string
	names                         *[]string
	on                            *string
}

func (r APIRemoteProtectionGroupSnapshotsPatchRequest) RemoteProtectionGroupSnapshot(remoteProtectionGroupSnapshot DestroyedPatchPost) APIRemoteProtectionGroupSnapshotsPatchRequest {
	r.remoteProtectionGroupSnapshot = &remoteProtectionGroupSnapshot
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIRemoteProtectionGroupSnapshotsPatchRequest) Authorization(authorization string) APIRemoteProtectionGroupSnapshotsPatchRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIRemoteProtectionGroupSnapshotsPatchRequest) XRequestID(xRequestID string) APIRemoteProtectionGroupSnapshotsPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIRemoteProtectionGroupSnapshotsPatchRequest) Names(names []string) APIRemoteProtectionGroupSnapshotsPatchRequest {
	r.names = &names
	return r
}

// Performs the operation on the target name specified. For example, &#x60;targetName01&#x60;.
func (r APIRemoteProtectionGroupSnapshotsPatchRequest) On(on string) APIRemoteProtectionGroupSnapshotsPatchRequest {
	r.on = &on
	return r
}

func (r APIRemoteProtectionGroupSnapshotsPatchRequest) Execute() (*RemoteProtectionGroupSnapshotResponse, *http.Response, error) {
	return r.APIService.RemoteProtectionGroupSnapshotsPatchExecute(r)
}

/*
RemoteProtectionGroupSnapshotsPatch Modify a remote protection group snapshot

Modifies a remote protection group snapshot, removing it from the offload target and
destroying the snapshot.
The `on` parameter represents the name of the offload target.
The `ids` or `names` parameter and the `on` parameter are required and must be used together.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRemoteProtectionGroupSnapshotsPatchRequest
*/
func (a *RemoteProtectionGroupSnapshotsAPIService) RemoteProtectionGroupSnapshotsPatch(ctx context.Context) APIRemoteProtectionGroupSnapshotsPatchRequest {
	return APIRemoteProtectionGroupSnapshotsPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RemoteProtectionGroupSnapshotResponse
func (a *RemoteProtectionGroupSnapshotsAPIService) RemoteProtectionGroupSnapshotsPatchExecute(r APIRemoteProtectionGroupSnapshotsPatchRequest) (*RemoteProtectionGroupSnapshotResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RemoteProtectionGroupSnapshotResponse
	)

	endpoint := "RemoteProtectionGroupSnapshotsAPIService.RemoteProtectionGroupSnapshotsPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.6/remote-protection-group-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.remoteProtectionGroupSnapshot == nil {
		return localVarReturnValue, nil, reportError("remoteProtectionGroupSnapshot is required and must be specified")
	}

	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.on != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "on", r.on, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.remoteProtectionGroupSnapshot
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIRemoteProtectionGroupSnapshotsPostRequest struct {
	ctx                           context.Context
	APIService                    *RemoteProtectionGroupSnapshotsAPIService
	authorization                 *string
	xRequestID                    *string
	applyRetention                *bool
	convertSourceToBaseline       *bool
	forReplication                *bool
	names                         *[]string
	on                            *string
	replicate                     *bool
	replicateNow                  *bool
	sourceNames                   *[]string
	remoteProtectionGroupSnapshot *RemoteProtectionGroupSnapshotPost
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIRemoteProtectionGroupSnapshotsPostRequest) Authorization(authorization string) APIRemoteProtectionGroupSnapshotsPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIRemoteProtectionGroupSnapshotsPostRequest) XRequestID(xRequestID string) APIRemoteProtectionGroupSnapshotsPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// If &#x60;true&#x60;, applies the local and remote retention policy to the snapshots.
func (r APIRemoteProtectionGroupSnapshotsPostRequest) ApplyRetention(applyRetention bool) APIRemoteProtectionGroupSnapshotsPostRequest {
	r.applyRetention = &applyRetention
	return r
}

// Set to &#x60;true&#x60; to have the snapshot be eradicated when it is no longer baseline on source.
func (r APIRemoteProtectionGroupSnapshotsPostRequest) ConvertSourceToBaseline(convertSourceToBaseline bool) APIRemoteProtectionGroupSnapshotsPostRequest {
	r.convertSourceToBaseline = &convertSourceToBaseline
	return r
}

// If &#x60;true&#x60;, destroys and eradicates the snapshot after 1 hour.
func (r APIRemoteProtectionGroupSnapshotsPostRequest) ForReplication(forReplication bool) APIRemoteProtectionGroupSnapshotsPostRequest {
	r.forReplication = &forReplication
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIRemoteProtectionGroupSnapshotsPostRequest) Names(names []string) APIRemoteProtectionGroupSnapshotsPostRequest {
	r.names = &names
	return r
}

// Performs the operation on the target name specified. For example, &#x60;targetName01&#x60;.
func (r APIRemoteProtectionGroupSnapshotsPostRequest) On(on string) APIRemoteProtectionGroupSnapshotsPostRequest {
	r.on = &on
	return r
}

// If set to &#x60;true&#x60;, queues up and begins replicating to each allowed target after all earlier replication sessions for the same protection group have been completed to that target. The &#x60;replicate&#x60; and &#x60;replicate_now&#x60; parameters cannot be used together.
func (r APIRemoteProtectionGroupSnapshotsPostRequest) Replicate(replicate bool) APIRemoteProtectionGroupSnapshotsPostRequest {
	r.replicate = &replicate
	return r
}

// If set to &#x60;true&#x60;, replicates the snapshots to each allowed target. The &#x60;replicate&#x60; and &#x60;replicate_now&#x60; parameters cannot be used together.
func (r APIRemoteProtectionGroupSnapshotsPostRequest) ReplicateNow(replicateNow bool) APIRemoteProtectionGroupSnapshotsPostRequest {
	r.replicateNow = &replicateNow
	return r
}

// Performs the operation on the source name specified. Enter multiple source names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIRemoteProtectionGroupSnapshotsPostRequest) SourceNames(sourceNames []string) APIRemoteProtectionGroupSnapshotsPostRequest {
	r.sourceNames = &sourceNames
	return r
}

func (r APIRemoteProtectionGroupSnapshotsPostRequest) RemoteProtectionGroupSnapshot(remoteProtectionGroupSnapshot RemoteProtectionGroupSnapshotPost) APIRemoteProtectionGroupSnapshotsPostRequest {
	r.remoteProtectionGroupSnapshot = &remoteProtectionGroupSnapshot
	return r
}

func (r APIRemoteProtectionGroupSnapshotsPostRequest) Execute() (*RemoteProtectionGroupSnapshotResponse, *http.Response, error) {
	return r.APIService.RemoteProtectionGroupSnapshotsPostExecute(r)
}

/*
RemoteProtectionGroupSnapshotsPost Create remote protection group snapshot

Creates remote protection group snapshots.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRemoteProtectionGroupSnapshotsPostRequest
*/
func (a *RemoteProtectionGroupSnapshotsAPIService) RemoteProtectionGroupSnapshotsPost(ctx context.Context) APIRemoteProtectionGroupSnapshotsPostRequest {
	return APIRemoteProtectionGroupSnapshotsPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RemoteProtectionGroupSnapshotResponse
func (a *RemoteProtectionGroupSnapshotsAPIService) RemoteProtectionGroupSnapshotsPostExecute(r APIRemoteProtectionGroupSnapshotsPostRequest) (*RemoteProtectionGroupSnapshotResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RemoteProtectionGroupSnapshotResponse
	)

	endpoint := "RemoteProtectionGroupSnapshotsAPIService.RemoteProtectionGroupSnapshotsPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.6/remote-protection-group-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.applyRetention != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "apply_retention", r.applyRetention, "")
	}
	if r.convertSourceToBaseline != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "convert_source_to_baseline", r.convertSourceToBaseline, "")
	}
	if r.forReplication != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "for_replication", r.forReplication, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.on != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "on", r.on, "")
	}
	if r.replicate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "replicate", r.replicate, "")
	}
	if r.replicateNow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "replicate_now", r.replicateNow, "")
	}
	if r.sourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_names", r.sourceNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.remoteProtectionGroupSnapshot
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIRemoteProtectionGroupSnapshotsTransferGetRequest struct {
	ctx            context.Context
	APIService     *RemoteProtectionGroupSnapshotsAPIService
	authorization  *string
	xRequestID     *string
	destroyed      *bool
	filter         *string
	limit          *int32
	names          *[]string
	offset         *int32
	on             *[]string
	sort           *[]string
	sourceNames    *[]string
	totalItemCount *bool
	totalOnly      *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIRemoteProtectionGroupSnapshotsTransferGetRequest) Authorization(authorization string) APIRemoteProtectionGroupSnapshotsTransferGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIRemoteProtectionGroupSnapshotsTransferGetRequest) XRequestID(xRequestID string) APIRemoteProtectionGroupSnapshotsTransferGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, lists only destroyed objects that are in the eradication pending state. If set to &#x60;false&#x60;, lists only objects that are not destroyed. For destroyed objects, the time remaining is displayed in milliseconds.
func (r APIRemoteProtectionGroupSnapshotsTransferGetRequest) Destroyed(destroyed bool) APIRemoteProtectionGroupSnapshotsTransferGetRequest {
	r.destroyed = &destroyed
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIRemoteProtectionGroupSnapshotsTransferGetRequest) Filter(filter string) APIRemoteProtectionGroupSnapshotsTransferGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIRemoteProtectionGroupSnapshotsTransferGetRequest) Limit(limit int32) APIRemoteProtectionGroupSnapshotsTransferGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique name specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIRemoteProtectionGroupSnapshotsTransferGetRequest) Names(names []string) APIRemoteProtectionGroupSnapshotsTransferGetRequest {
	r.names = &names
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIRemoteProtectionGroupSnapshotsTransferGetRequest) Offset(offset int32) APIRemoteProtectionGroupSnapshotsTransferGetRequest {
	r.offset = &offset
	return r
}

// Performs the operation on the target name specified. Enter multiple target names in comma-separated format. For example, &#x60;targetName01,targetName02&#x60;.
func (r APIRemoteProtectionGroupSnapshotsTransferGetRequest) On(on []string) APIRemoteProtectionGroupSnapshotsTransferGetRequest {
	r.on = &on
	return r
}

// Returns the response objects in the order specified. Set &#x60;sort&#x60; to the name in the response by which to sort. Sorting can be performed on any of the names in the response, and the objects can be sorted in ascending or descending order. By default, the response objects are sorted in ascending order. To sort in descending order, append the minus sign (&#x60;-&#x60;) to the name. A single request can be sorted on multiple objects. For example, you can sort all volumes from largest to smallest volume size, and then sort volumes of the same size in ascending order by volume name. To sort on multiple names, list the names as comma-separated values.
func (r APIRemoteProtectionGroupSnapshotsTransferGetRequest) Sort(sort []string) APIRemoteProtectionGroupSnapshotsTransferGetRequest {
	r.sort = &sort
	return r
}

// Performs the operation on the source name specified. Enter multiple source names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIRemoteProtectionGroupSnapshotsTransferGetRequest) SourceNames(sourceNames []string) APIRemoteProtectionGroupSnapshotsTransferGetRequest {
	r.sourceNames = &sourceNames
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIRemoteProtectionGroupSnapshotsTransferGetRequest) TotalItemCount(totalItemCount bool) APIRemoteProtectionGroupSnapshotsTransferGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

// If set to &#x60;true&#x60;, returns the aggregate value of all items after filtering. Where it makes more sense, the average value is displayed instead. The values are displayed for each name where meaningful. If &#x60;total_only&#x3D;true&#x60;, the &#x60;items&#x60; list will be empty.
func (r APIRemoteProtectionGroupSnapshotsTransferGetRequest) TotalOnly(totalOnly bool) APIRemoteProtectionGroupSnapshotsTransferGetRequest {
	r.totalOnly = &totalOnly
	return r
}

func (r APIRemoteProtectionGroupSnapshotsTransferGetRequest) Execute() (*RemoteProtectionGroupSnapshotTransferGetResponse, *http.Response, error) {
	return r.APIService.RemoteProtectionGroupSnapshotsTransferGetExecute(r)
}

/*
RemoteProtectionGroupSnapshotsTransferGet List remote protection groups with transfer statistics

Returns a list of remote protection groups and their transfer statistics.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRemoteProtectionGroupSnapshotsTransferGetRequest
*/
func (a *RemoteProtectionGroupSnapshotsAPIService) RemoteProtectionGroupSnapshotsTransferGet(ctx context.Context) APIRemoteProtectionGroupSnapshotsTransferGetRequest {
	return APIRemoteProtectionGroupSnapshotsTransferGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RemoteProtectionGroupSnapshotTransferGetResponse
func (a *RemoteProtectionGroupSnapshotsAPIService) RemoteProtectionGroupSnapshotsTransferGetExecute(r APIRemoteProtectionGroupSnapshotsTransferGetRequest) (*RemoteProtectionGroupSnapshotTransferGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RemoteProtectionGroupSnapshotTransferGetResponse
	)

	endpoint := "RemoteProtectionGroupSnapshotsAPIService.RemoteProtectionGroupSnapshotsTransferGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.6/remote-protection-group-snapshots/transfer"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.destroyed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destroyed", r.destroyed, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.on != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "on", r.on, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.sourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_names", r.sourceNames, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	if r.totalOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_only", r.totalOnly, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
