/*
FlashArray REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.25
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// PodReplicaLinksAPIService PodReplicaLinksAPI service
type PodReplicaLinksAPIService service

type APIPodReplicaLinksDeleteRequest struct {
	ctx            context.Context
	APIService     *PodReplicaLinksAPIService
	authorization  *string
	xRequestID     *string
	ids            *[]string
	localPodIds    *[]string
	localPodNames  *[]string
	remotePodIds   *[]string
	remotePodNames *[]string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIPodReplicaLinksDeleteRequest) Authorization(authorization string) APIPodReplicaLinksDeleteRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIPodReplicaLinksDeleteRequest) XRequestID(xRequestID string) APIPodReplicaLinksDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIPodReplicaLinksDeleteRequest) Ids(ids []string) APIPodReplicaLinksDeleteRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of local pod IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_pod_names&#x60; query parameter.
func (r APIPodReplicaLinksDeleteRequest) LocalPodIds(localPodIds []string) APIPodReplicaLinksDeleteRequest {
	r.localPodIds = &localPodIds
	return r
}

// A comma-separated list of local pod names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_pod_ids&#x60; query parameter.
func (r APIPodReplicaLinksDeleteRequest) LocalPodNames(localPodNames []string) APIPodReplicaLinksDeleteRequest {
	r.localPodNames = &localPodNames
	return r
}

// A comma-separated list of remote pod IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_pod_names&#x60; query parameter.
func (r APIPodReplicaLinksDeleteRequest) RemotePodIds(remotePodIds []string) APIPodReplicaLinksDeleteRequest {
	r.remotePodIds = &remotePodIds
	return r
}

// A comma-separated list of remote pod names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_pod_ids&#x60; query parameter.
func (r APIPodReplicaLinksDeleteRequest) RemotePodNames(remotePodNames []string) APIPodReplicaLinksDeleteRequest {
	r.remotePodNames = &remotePodNames
	return r
}

func (r APIPodReplicaLinksDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.PodReplicaLinksDeleteExecute(r)
}

/*
PodReplicaLinksDelete Delete pod replica links

Deletes pod replica links. The `local_pod_names` and `remote_pod_names` are required. Valid values are `replicating`, `baselining`, `paused`, `unhealthy`, `quiescing`, and `quiesced`. A status of `replicating` indicates that the source array is replicating to the target array. A status of `baselining` indicates that the the initial version of the dataset is being sent. During this phase, you cannot promote the target pod. In addition, changing the link direction might trigger the `baselining` status to recur. A status of `paused ` indicates that data transfer between objects has stopped. A status of `unhealthy` indicates that the link is currently unhealthy and customers must perform some health checks to determine the cause. A status of `quiescing` indicates that the source pod is not accepting new write requests but the most recent changes to the source have not arrived on the target. A status of `quiesced` indicates that the source pod has been demoted and all changes have been replicated to the target pod.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIPodReplicaLinksDeleteRequest
*/
func (a *PodReplicaLinksAPIService) PodReplicaLinksDelete(ctx context.Context) APIPodReplicaLinksDeleteRequest {
	return APIPodReplicaLinksDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *PodReplicaLinksAPIService) PodReplicaLinksDeleteExecute(r APIPodReplicaLinksDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "PodReplicaLinksAPIService.PodReplicaLinksDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/pod-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.localPodIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_pod_ids", r.localPodIds, "csv")
	}
	if r.localPodNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_pod_names", r.localPodNames, "csv")
	}
	if r.remotePodIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_pod_ids", r.remotePodIds, "csv")
	}
	if r.remotePodNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_pod_names", r.remotePodNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIPodReplicaLinksGetRequest struct {
	ctx            context.Context
	APIService     *PodReplicaLinksAPIService
	authorization  *string
	xRequestID     *string
	filter         *string
	ids            *[]string
	limit          *int32
	localPodIds    *[]string
	localPodNames  *[]string
	offset         *int32
	remoteIds      *[]string
	remoteNames    *[]string
	remotePodIds   *[]string
	remotePodNames *[]string
	sort           *[]string
	totalItemCount *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIPodReplicaLinksGetRequest) Authorization(authorization string) APIPodReplicaLinksGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIPodReplicaLinksGetRequest) XRequestID(xRequestID string) APIPodReplicaLinksGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIPodReplicaLinksGetRequest) Filter(filter string) APIPodReplicaLinksGetRequest {
	r.filter = &filter
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIPodReplicaLinksGetRequest) Ids(ids []string) APIPodReplicaLinksGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIPodReplicaLinksGetRequest) Limit(limit int32) APIPodReplicaLinksGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of local pod IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_pod_names&#x60; query parameter.
func (r APIPodReplicaLinksGetRequest) LocalPodIds(localPodIds []string) APIPodReplicaLinksGetRequest {
	r.localPodIds = &localPodIds
	return r
}

// A comma-separated list of local pod names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_pod_ids&#x60; query parameter.
func (r APIPodReplicaLinksGetRequest) LocalPodNames(localPodNames []string) APIPodReplicaLinksGetRequest {
	r.localPodNames = &localPodNames
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIPodReplicaLinksGetRequest) Offset(offset int32) APIPodReplicaLinksGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of remote array IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIPodReplicaLinksGetRequest) RemoteIds(remoteIds []string) APIPodReplicaLinksGetRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_ids&#x60; query parameter.
func (r APIPodReplicaLinksGetRequest) RemoteNames(remoteNames []string) APIPodReplicaLinksGetRequest {
	r.remoteNames = &remoteNames
	return r
}

// A comma-separated list of remote pod IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_pod_names&#x60; query parameter.
func (r APIPodReplicaLinksGetRequest) RemotePodIds(remotePodIds []string) APIPodReplicaLinksGetRequest {
	r.remotePodIds = &remotePodIds
	return r
}

// A comma-separated list of remote pod names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_pod_ids&#x60; query parameter.
func (r APIPodReplicaLinksGetRequest) RemotePodNames(remotePodNames []string) APIPodReplicaLinksGetRequest {
	r.remotePodNames = &remotePodNames
	return r
}

// Returns the response objects in the order specified. Set &#x60;sort&#x60; to the name in the response by which to sort. Sorting can be performed on any of the names in the response, and the objects can be sorted in ascending or descending order. By default, the response objects are sorted in ascending order. To sort in descending order, append the minus sign (&#x60;-&#x60;) to the name. A single request can be sorted on multiple objects. For example, you can sort all volumes from largest to smallest volume size, and then sort volumes of the same size in ascending order by volume name. To sort on multiple names, list the names as comma-separated values.
func (r APIPodReplicaLinksGetRequest) Sort(sort []string) APIPodReplicaLinksGetRequest {
	r.sort = &sort
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIPodReplicaLinksGetRequest) TotalItemCount(totalItemCount bool) APIPodReplicaLinksGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

func (r APIPodReplicaLinksGetRequest) Execute() (*PodReplicaLinkGetResponse, *http.Response, error) {
	return r.APIService.PodReplicaLinksGetExecute(r)
}

/*
PodReplicaLinksGet List pod replica links

Displays the list of pod replica links that are configured between arrays.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIPodReplicaLinksGetRequest
*/
func (a *PodReplicaLinksAPIService) PodReplicaLinksGet(ctx context.Context) APIPodReplicaLinksGetRequest {
	return APIPodReplicaLinksGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PodReplicaLinkGetResponse
func (a *PodReplicaLinksAPIService) PodReplicaLinksGetExecute(r APIPodReplicaLinksGetRequest) (*PodReplicaLinkGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PodReplicaLinkGetResponse
	)

	endpoint := "PodReplicaLinksAPIService.PodReplicaLinksGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/pod-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.localPodIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_pod_ids", r.localPodIds, "csv")
	}
	if r.localPodNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_pod_names", r.localPodNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	if r.remotePodIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_pod_ids", r.remotePodIds, "csv")
	}
	if r.remotePodNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_pod_names", r.remotePodNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIPodReplicaLinksLagGetRequest struct {
	ctx            context.Context
	APIService     *PodReplicaLinksAPIService
	authorization  *string
	xRequestID     *string
	endTime        *int64
	filter         *string
	ids            *[]string
	limit          *int32
	localPodIds    *[]string
	localPodNames  *[]string
	offset         *int32
	remoteIds      *[]string
	remoteNames    *[]string
	remotePodIds   *[]string
	remotePodNames *[]string
	resolution     *int64
	sort           *[]string
	startTime      *int64
	totalItemCount *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIPodReplicaLinksLagGetRequest) Authorization(authorization string) APIPodReplicaLinksLagGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIPodReplicaLinksLagGetRequest) XRequestID(xRequestID string) APIPodReplicaLinksLagGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// Displays historical performance data for the specified time window, where &#x60;start_time&#x60; is the beginning of the time window, and &#x60;end_time&#x60; is the end of the time window. The &#x60;start_time&#x60; and &#x60;end_time&#x60; parameters are specified in milliseconds since the UNIX epoch. If &#x60;start_time&#x60; is not specified, the start time will default to one resolution before the end time, meaning that the most recent sample of performance data will be displayed. If &#x60;end_time&#x60;is not specified, the end time will default to the current time. Include the &#x60;resolution&#x60; parameter to display the performance data at the specified resolution. If not specified, &#x60;resolution&#x60; defaults to the lowest valid resolution.
func (r APIPodReplicaLinksLagGetRequest) EndTime(endTime int64) APIPodReplicaLinksLagGetRequest {
	r.endTime = &endTime
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIPodReplicaLinksLagGetRequest) Filter(filter string) APIPodReplicaLinksLagGetRequest {
	r.filter = &filter
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIPodReplicaLinksLagGetRequest) Ids(ids []string) APIPodReplicaLinksLagGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIPodReplicaLinksLagGetRequest) Limit(limit int32) APIPodReplicaLinksLagGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of local pod IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_pod_names&#x60; query parameter.
func (r APIPodReplicaLinksLagGetRequest) LocalPodIds(localPodIds []string) APIPodReplicaLinksLagGetRequest {
	r.localPodIds = &localPodIds
	return r
}

// A comma-separated list of local pod names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_pod_ids&#x60; query parameter.
func (r APIPodReplicaLinksLagGetRequest) LocalPodNames(localPodNames []string) APIPodReplicaLinksLagGetRequest {
	r.localPodNames = &localPodNames
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIPodReplicaLinksLagGetRequest) Offset(offset int32) APIPodReplicaLinksLagGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of remote array IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIPodReplicaLinksLagGetRequest) RemoteIds(remoteIds []string) APIPodReplicaLinksLagGetRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_ids&#x60; query parameter.
func (r APIPodReplicaLinksLagGetRequest) RemoteNames(remoteNames []string) APIPodReplicaLinksLagGetRequest {
	r.remoteNames = &remoteNames
	return r
}

// A comma-separated list of remote pod IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_pod_names&#x60; query parameter.
func (r APIPodReplicaLinksLagGetRequest) RemotePodIds(remotePodIds []string) APIPodReplicaLinksLagGetRequest {
	r.remotePodIds = &remotePodIds
	return r
}

// A comma-separated list of remote pod names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_pod_ids&#x60; query parameter.
func (r APIPodReplicaLinksLagGetRequest) RemotePodNames(remotePodNames []string) APIPodReplicaLinksLagGetRequest {
	r.remotePodNames = &remotePodNames
	return r
}

// The number of milliseconds between samples of historical data. For array-wide performance metrics (&#x60;/arrays/performance&#x60; endpoint), valid values are &#x60;1000&#x60; (1 second), &#x60;30000&#x60; (30 seconds), &#x60;300000&#x60; (5 minutes), &#x60;1800000&#x60; (30 minutes), &#x60;7200000&#x60; (2 hours), &#x60;28800000&#x60; (8 hours), and &#x60;86400000&#x60; (24 hours). For performance metrics on storage objects (&#x60;&lt;object name&gt;/performance&#x60; endpoint), such as volumes, valid values are &#x60;30000&#x60; (30 seconds), &#x60;300000&#x60; (5 minutes), &#x60;1800000&#x60; (30 minutes), &#x60;7200000&#x60; (2 hours), &#x60;28800000&#x60; (8 hours), and &#x60;86400000&#x60; (24 hours). For space metrics, (&#x60;&lt;object name&gt;/space&#x60; endpoint), valid values are &#x60;300000&#x60; (5 minutes), &#x60;1800000&#x60; (30 minutes), &#x60;7200000&#x60; (2 hours), &#x60;28800000&#x60; (8 hours), and &#x60;86400000&#x60; (24 hours). Include the &#x60;start_time&#x60; parameter to display the performance data starting at the specified start time. If &#x60;start_time&#x60; is not specified, the start time will default to one resolution before the end time, meaning that the most recent sample of performance data will be displayed. Include the &#x60;end_time&#x60; parameter to display the performance data until the specified end time. If &#x60;end_time&#x60;is not specified, the end time will default to the current time. If the &#x60;resolution&#x60; parameter is not specified but either the &#x60;start_time&#x60; or &#x60;end_time&#x60; parameter is, then &#x60;resolution&#x60; will default to the lowest valid resolution.
func (r APIPodReplicaLinksLagGetRequest) Resolution(resolution int64) APIPodReplicaLinksLagGetRequest {
	r.resolution = &resolution
	return r
}

// Returns the response objects in the order specified. Set &#x60;sort&#x60; to the name in the response by which to sort. Sorting can be performed on any of the names in the response, and the objects can be sorted in ascending or descending order. By default, the response objects are sorted in ascending order. To sort in descending order, append the minus sign (&#x60;-&#x60;) to the name. A single request can be sorted on multiple objects. For example, you can sort all volumes from largest to smallest volume size, and then sort volumes of the same size in ascending order by volume name. To sort on multiple names, list the names as comma-separated values.
func (r APIPodReplicaLinksLagGetRequest) Sort(sort []string) APIPodReplicaLinksLagGetRequest {
	r.sort = &sort
	return r
}

// Displays historical performance data for the specified time window, where &#x60;start_time&#x60; is the beginning of the time window, and &#x60;end_time&#x60; is the end of the time window. The &#x60;start_time&#x60; and &#x60;end_time&#x60; parameters are specified in milliseconds since the UNIX epoch. If &#x60;start_time&#x60; is not specified, the start time will default to one resolution before the end time, meaning that the most recent sample of performance data will be displayed. If &#x60;end_time&#x60;is not specified, the end time will default to the current time. Include the &#x60;resolution&#x60; parameter to display the performance data at the specified resolution. If not specified, &#x60;resolution&#x60; defaults to the lowest valid resolution.
func (r APIPodReplicaLinksLagGetRequest) StartTime(startTime int64) APIPodReplicaLinksLagGetRequest {
	r.startTime = &startTime
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIPodReplicaLinksLagGetRequest) TotalItemCount(totalItemCount bool) APIPodReplicaLinksLagGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

func (r APIPodReplicaLinksLagGetRequest) Execute() (*PodReplicaLinkLagGetResponse, *http.Response, error) {
	return r.APIService.PodReplicaLinksLagGetExecute(r)
}

/*
PodReplicaLinksLagGet List pod replica link lag

Displays the lag in milliseconds that the replication target is behind the source. This is the time difference between the current time and the recovery point.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIPodReplicaLinksLagGetRequest
*/
func (a *PodReplicaLinksAPIService) PodReplicaLinksLagGet(ctx context.Context) APIPodReplicaLinksLagGetRequest {
	return APIPodReplicaLinksLagGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PodReplicaLinkLagGetResponse
func (a *PodReplicaLinksAPIService) PodReplicaLinksLagGetExecute(r APIPodReplicaLinksLagGetRequest) (*PodReplicaLinkLagGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PodReplicaLinkLagGetResponse
	)

	endpoint := "PodReplicaLinksAPIService.PodReplicaLinksLagGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/pod-replica-links/lag"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.localPodIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_pod_ids", r.localPodIds, "csv")
	}
	if r.localPodNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_pod_names", r.localPodNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	if r.remotePodIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_pod_ids", r.remotePodIds, "csv")
	}
	if r.remotePodNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_pod_names", r.remotePodNames, "csv")
	}
	if r.resolution != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resolution", r.resolution, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime, "")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIPodReplicaLinksPatchRequest struct {
	ctx            context.Context
	APIService     *PodReplicaLinksAPIService
	podReplicaLink *PodReplicaLinkPatch
	authorization  *string
	xRequestID     *string
	ids            *[]string
	localPodIds    *[]string
	localPodNames  *[]string
	remoteIds      *[]string
	remoteNames    *[]string
	remotePodIds   *[]string
	remotePodNames *[]string
}

func (r APIPodReplicaLinksPatchRequest) PodReplicaLink(podReplicaLink PodReplicaLinkPatch) APIPodReplicaLinksPatchRequest {
	r.podReplicaLink = &podReplicaLink
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIPodReplicaLinksPatchRequest) Authorization(authorization string) APIPodReplicaLinksPatchRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIPodReplicaLinksPatchRequest) XRequestID(xRequestID string) APIPodReplicaLinksPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIPodReplicaLinksPatchRequest) Ids(ids []string) APIPodReplicaLinksPatchRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of local pod IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_pod_names&#x60; query parameter.
func (r APIPodReplicaLinksPatchRequest) LocalPodIds(localPodIds []string) APIPodReplicaLinksPatchRequest {
	r.localPodIds = &localPodIds
	return r
}

// A comma-separated list of local pod names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_pod_ids&#x60; query parameter.
func (r APIPodReplicaLinksPatchRequest) LocalPodNames(localPodNames []string) APIPodReplicaLinksPatchRequest {
	r.localPodNames = &localPodNames
	return r
}

// A comma-separated list of remote array IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIPodReplicaLinksPatchRequest) RemoteIds(remoteIds []string) APIPodReplicaLinksPatchRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_ids&#x60; query parameter.
func (r APIPodReplicaLinksPatchRequest) RemoteNames(remoteNames []string) APIPodReplicaLinksPatchRequest {
	r.remoteNames = &remoteNames
	return r
}

// A comma-separated list of remote pod IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_pod_names&#x60; query parameter.
func (r APIPodReplicaLinksPatchRequest) RemotePodIds(remotePodIds []string) APIPodReplicaLinksPatchRequest {
	r.remotePodIds = &remotePodIds
	return r
}

// A comma-separated list of remote pod names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_pod_ids&#x60; query parameter.
func (r APIPodReplicaLinksPatchRequest) RemotePodNames(remotePodNames []string) APIPodReplicaLinksPatchRequest {
	r.remotePodNames = &remotePodNames
	return r
}

func (r APIPodReplicaLinksPatchRequest) Execute() (*PodReplicaLinkResponse, *http.Response, error) {
	return r.APIService.PodReplicaLinksPatchExecute(r)
}

/*
PodReplicaLinksPatch Modify pod replica links

Modifies pod replica links. The `local_pod_names` and `remote_pod_names` are required. Valid values are `replicating`, `baselining`, `paused`, `unhealthy`, `quiescing`, and `quiesced`. A status of `replicating` indicates that the source array is replicating to the target array. A status of `baselining` indicates that the the initial version of the dataset is being sent. During this phase, you cannot promote the target pod. In addition, changing the link direction might trigger the `baselining` status to recur. A status of `paused ` indicates that data transfer between objects has stopped. A status of `unhealthy` indicates that the link is currently unhealthy and customers must perform some health checks to determine the cause. A status of `quiescing` indicates that the source pod is not accepting new write requests but the most recent changes to the source have not arrived on the target. A status of `quiesced` indicates that the source pod has been demoted and all changes have been replicated to the target pod.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIPodReplicaLinksPatchRequest
*/
func (a *PodReplicaLinksAPIService) PodReplicaLinksPatch(ctx context.Context) APIPodReplicaLinksPatchRequest {
	return APIPodReplicaLinksPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PodReplicaLinkResponse
func (a *PodReplicaLinksAPIService) PodReplicaLinksPatchExecute(r APIPodReplicaLinksPatchRequest) (*PodReplicaLinkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PodReplicaLinkResponse
	)

	endpoint := "PodReplicaLinksAPIService.PodReplicaLinksPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/pod-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.podReplicaLink == nil {
		return localVarReturnValue, nil, reportError("podReplicaLink is required and must be specified")
	}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.localPodIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_pod_ids", r.localPodIds, "csv")
	}
	if r.localPodNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_pod_names", r.localPodNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	if r.remotePodIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_pod_ids", r.remotePodIds, "csv")
	}
	if r.remotePodNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_pod_names", r.remotePodNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.podReplicaLink
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIPodReplicaLinksPerformanceReplicationGetRequest struct {
	ctx            context.Context
	APIService     *PodReplicaLinksAPIService
	authorization  *string
	xRequestID     *string
	endTime        *int64
	filter         *string
	ids            *[]string
	limit          *int32
	localPodIds    *[]string
	localPodNames  *[]string
	offset         *int32
	remoteIds      *[]string
	remoteNames    *[]string
	remotePodIds   *[]string
	remotePodNames *[]string
	resolution     *int64
	sort           *[]string
	startTime      *int64
	totalItemCount *bool
	totalOnly      *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) Authorization(authorization string) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) XRequestID(xRequestID string) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// Displays historical performance data for the specified time window, where &#x60;start_time&#x60; is the beginning of the time window, and &#x60;end_time&#x60; is the end of the time window. The &#x60;start_time&#x60; and &#x60;end_time&#x60; parameters are specified in milliseconds since the UNIX epoch. If &#x60;start_time&#x60; is not specified, the start time will default to one resolution before the end time, meaning that the most recent sample of performance data will be displayed. If &#x60;end_time&#x60;is not specified, the end time will default to the current time. Include the &#x60;resolution&#x60; parameter to display the performance data at the specified resolution. If not specified, &#x60;resolution&#x60; defaults to the lowest valid resolution.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) EndTime(endTime int64) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.endTime = &endTime
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) Filter(filter string) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.filter = &filter
	return r
}

// Performs the operation on the unique resource IDs specified. Enter multiple resource IDs in comma-separated format. The &#x60;ids&#x60; or &#x60;names&#x60; parameter is required, but they cannot be set together.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) Ids(ids []string) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) Limit(limit int32) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of local pod IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_pod_names&#x60; query parameter.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) LocalPodIds(localPodIds []string) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.localPodIds = &localPodIds
	return r
}

// A comma-separated list of local pod names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_pod_ids&#x60; query parameter.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) LocalPodNames(localPodNames []string) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.localPodNames = &localPodNames
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) Offset(offset int32) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of remote array IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) RemoteIds(remoteIds []string) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_ids&#x60; query parameter.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) RemoteNames(remoteNames []string) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.remoteNames = &remoteNames
	return r
}

// A comma-separated list of remote pod IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_pod_names&#x60; query parameter.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) RemotePodIds(remotePodIds []string) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.remotePodIds = &remotePodIds
	return r
}

// A comma-separated list of remote pod names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_pod_ids&#x60; query parameter.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) RemotePodNames(remotePodNames []string) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.remotePodNames = &remotePodNames
	return r
}

// The number of milliseconds between samples of historical data. For array-wide performance metrics (&#x60;/arrays/performance&#x60; endpoint), valid values are &#x60;1000&#x60; (1 second), &#x60;30000&#x60; (30 seconds), &#x60;300000&#x60; (5 minutes), &#x60;1800000&#x60; (30 minutes), &#x60;7200000&#x60; (2 hours), &#x60;28800000&#x60; (8 hours), and &#x60;86400000&#x60; (24 hours). For performance metrics on storage objects (&#x60;&lt;object name&gt;/performance&#x60; endpoint), such as volumes, valid values are &#x60;30000&#x60; (30 seconds), &#x60;300000&#x60; (5 minutes), &#x60;1800000&#x60; (30 minutes), &#x60;7200000&#x60; (2 hours), &#x60;28800000&#x60; (8 hours), and &#x60;86400000&#x60; (24 hours). For space metrics, (&#x60;&lt;object name&gt;/space&#x60; endpoint), valid values are &#x60;300000&#x60; (5 minutes), &#x60;1800000&#x60; (30 minutes), &#x60;7200000&#x60; (2 hours), &#x60;28800000&#x60; (8 hours), and &#x60;86400000&#x60; (24 hours). Include the &#x60;start_time&#x60; parameter to display the performance data starting at the specified start time. If &#x60;start_time&#x60; is not specified, the start time will default to one resolution before the end time, meaning that the most recent sample of performance data will be displayed. Include the &#x60;end_time&#x60; parameter to display the performance data until the specified end time. If &#x60;end_time&#x60;is not specified, the end time will default to the current time. If the &#x60;resolution&#x60; parameter is not specified but either the &#x60;start_time&#x60; or &#x60;end_time&#x60; parameter is, then &#x60;resolution&#x60; will default to the lowest valid resolution.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) Resolution(resolution int64) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.resolution = &resolution
	return r
}

// Returns the response objects in the order specified. Set &#x60;sort&#x60; to the name in the response by which to sort. Sorting can be performed on any of the names in the response, and the objects can be sorted in ascending or descending order. By default, the response objects are sorted in ascending order. To sort in descending order, append the minus sign (&#x60;-&#x60;) to the name. A single request can be sorted on multiple objects. For example, you can sort all volumes from largest to smallest volume size, and then sort volumes of the same size in ascending order by volume name. To sort on multiple names, list the names as comma-separated values.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) Sort(sort []string) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.sort = &sort
	return r
}

// Displays historical performance data for the specified time window, where &#x60;start_time&#x60; is the beginning of the time window, and &#x60;end_time&#x60; is the end of the time window. The &#x60;start_time&#x60; and &#x60;end_time&#x60; parameters are specified in milliseconds since the UNIX epoch. If &#x60;start_time&#x60; is not specified, the start time will default to one resolution before the end time, meaning that the most recent sample of performance data will be displayed. If &#x60;end_time&#x60;is not specified, the end time will default to the current time. Include the &#x60;resolution&#x60; parameter to display the performance data at the specified resolution. If not specified, &#x60;resolution&#x60; defaults to the lowest valid resolution.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) StartTime(startTime int64) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.startTime = &startTime
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) TotalItemCount(totalItemCount bool) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

// If set to &#x60;true&#x60;, only return the aggregate value of all items after filtering. For real-time performance, the values are aggregated for the latest timestamp. For historical performance, the values are aggregated for each timestamp from &#x60;start_time&#x60; to &#x60;end_time&#x60;. Where it makes more sense, the average value is displayed instead. The values are displayed for each name where meaningful. If &#x60;total_only&#x3D;true&#x60;, the &#x60;items&#x60; list will be empty.
func (r APIPodReplicaLinksPerformanceReplicationGetRequest) TotalOnly(totalOnly bool) APIPodReplicaLinksPerformanceReplicationGetRequest {
	r.totalOnly = &totalOnly
	return r
}

func (r APIPodReplicaLinksPerformanceReplicationGetRequest) Execute() (*PodReplicaLinkPerformanceReplicationGetResponse, *http.Response, error) {
	return r.APIService.PodReplicaLinksPerformanceReplicationGetExecute(r)
}

/*
PodReplicaLinksPerformanceReplicationGet Method for PodReplicaLinksPerformanceReplicationGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIPodReplicaLinksPerformanceReplicationGetRequest
*/
func (a *PodReplicaLinksAPIService) PodReplicaLinksPerformanceReplicationGet(ctx context.Context) APIPodReplicaLinksPerformanceReplicationGetRequest {
	return APIPodReplicaLinksPerformanceReplicationGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PodReplicaLinkPerformanceReplicationGetResponse
func (a *PodReplicaLinksAPIService) PodReplicaLinksPerformanceReplicationGetExecute(r APIPodReplicaLinksPerformanceReplicationGetRequest) (*PodReplicaLinkPerformanceReplicationGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PodReplicaLinkPerformanceReplicationGetResponse
	)

	endpoint := "PodReplicaLinksAPIService.PodReplicaLinksPerformanceReplicationGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/pod-replica-links/performance/replication"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.localPodIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_pod_ids", r.localPodIds, "csv")
	}
	if r.localPodNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_pod_names", r.localPodNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	if r.remotePodIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_pod_ids", r.remotePodIds, "csv")
	}
	if r.remotePodNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_pod_names", r.remotePodNames, "csv")
	}
	if r.resolution != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resolution", r.resolution, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime, "")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	if r.totalOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_only", r.totalOnly, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIPodReplicaLinksPostRequest struct {
	ctx            context.Context
	APIService     *PodReplicaLinksAPIService
	authorization  *string
	xRequestID     *string
	localPodIds    *[]string
	localPodNames  *[]string
	remoteIds      *[]string
	remoteNames    *[]string
	remotePodIds   *[]string
	remotePodNames *[]string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIPodReplicaLinksPostRequest) Authorization(authorization string) APIPodReplicaLinksPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIPodReplicaLinksPostRequest) XRequestID(xRequestID string) APIPodReplicaLinksPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of local pod IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_pod_names&#x60; query parameter.
func (r APIPodReplicaLinksPostRequest) LocalPodIds(localPodIds []string) APIPodReplicaLinksPostRequest {
	r.localPodIds = &localPodIds
	return r
}

// A comma-separated list of local pod names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_pod_ids&#x60; query parameter.
func (r APIPodReplicaLinksPostRequest) LocalPodNames(localPodNames []string) APIPodReplicaLinksPostRequest {
	r.localPodNames = &localPodNames
	return r
}

// A comma-separated list of remote array IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIPodReplicaLinksPostRequest) RemoteIds(remoteIds []string) APIPodReplicaLinksPostRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_ids&#x60; query parameter.
func (r APIPodReplicaLinksPostRequest) RemoteNames(remoteNames []string) APIPodReplicaLinksPostRequest {
	r.remoteNames = &remoteNames
	return r
}

// A comma-separated list of remote pod IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_pod_names&#x60; query parameter.
func (r APIPodReplicaLinksPostRequest) RemotePodIds(remotePodIds []string) APIPodReplicaLinksPostRequest {
	r.remotePodIds = &remotePodIds
	return r
}

// A comma-separated list of remote pod names. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_pod_ids&#x60; query parameter.
func (r APIPodReplicaLinksPostRequest) RemotePodNames(remotePodNames []string) APIPodReplicaLinksPostRequest {
	r.remotePodNames = &remotePodNames
	return r
}

func (r APIPodReplicaLinksPostRequest) Execute() (*PodReplicaLinkResponse, *http.Response, error) {
	return r.APIService.PodReplicaLinksPostExecute(r)
}

/*
PodReplicaLinksPost Create pod replica links

Creates pod replica links between two arrays. The `local_pod_names` and `remote_pod_names` are required. Valid values are `replicating`, `baselining`, `paused`, `unhealthy`, `quiescing`, and `quiesced`. A status of `replicating` indicates that the source array is replicating to the target array. A status of `baselining` indicates that the the initial version of the dataset is being sent. During this phase, you cannot promote the target pod. In addition, changing the link direction might trigger the `baselining` status to recur. A status of `paused ` indicates that data transfer between objects has stopped. A status of `unhealthy` indicates that the link is currently unhealthy and customers must perform some health checks to determine the cause. A status of `quiescing` indicates that the source pod is not accepting new write requests but the most recent changes to the source have not arrived on the target. A status of `quiesced` indicates that the source pod has been demoted and all changes have been replicated to the target pod.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIPodReplicaLinksPostRequest
*/
func (a *PodReplicaLinksAPIService) PodReplicaLinksPost(ctx context.Context) APIPodReplicaLinksPostRequest {
	return APIPodReplicaLinksPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PodReplicaLinkResponse
func (a *PodReplicaLinksAPIService) PodReplicaLinksPostExecute(r APIPodReplicaLinksPostRequest) (*PodReplicaLinkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PodReplicaLinkResponse
	)

	endpoint := "PodReplicaLinksAPIService.PodReplicaLinksPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.25/pod-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.localPodIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_pod_ids", r.localPodIds, "csv")
	}
	if r.localPodNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_pod_names", r.localPodNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	if r.remotePodIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_pod_ids", r.remotePodIds, "csv")
	}
	if r.remotePodNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_pod_names", r.remotePodNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
