/*
FlashBlade REST API

OpenAPI specification for FlashBlade REST API, developed by Everpure, Inc. (https://www.everpuredata.com/).

API version: 2.2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// BucketReplicaLinksAPIService BucketReplicaLinksAPI service
type BucketReplicaLinksAPIService service

type APIBucketReplicaLinksDeleteRequest struct {
	ctx                 context.Context
	APIService          *BucketReplicaLinksAPIService
	ids                 *[]string
	localBucketIds      *[]string
	localBucketNames    *[]string
	remoteBucketNames   *[]string
	remoteIds           *[]string
	remoteNames         *[]string
	authorizationHeader *string
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIBucketReplicaLinksDeleteRequest) Ids(ids []string) APIBucketReplicaLinksDeleteRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of local bucket IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_bucket_names&#x60; query parameter.
func (r APIBucketReplicaLinksDeleteRequest) LocalBucketIds(localBucketIds []string) APIBucketReplicaLinksDeleteRequest {
	r.localBucketIds = &localBucketIds
	return r
}

// A comma-separated list of local bucket names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_bucket_ids&#x60; query parameter.
func (r APIBucketReplicaLinksDeleteRequest) LocalBucketNames(localBucketNames []string) APIBucketReplicaLinksDeleteRequest {
	r.localBucketNames = &localBucketNames
	return r
}

// A comma-separated list of remote bucket names. If there is not at least one resource that matches each of the elements, then an error is returned.
func (r APIBucketReplicaLinksDeleteRequest) RemoteBucketNames(remoteBucketNames []string) APIBucketReplicaLinksDeleteRequest {
	r.remoteBucketNames = &remoteBucketNames
	return r
}

// A comma-separated list of remote array IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIBucketReplicaLinksDeleteRequest) RemoteIds(remoteIds []string) APIBucketReplicaLinksDeleteRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;remote_ids&#x60; query parameter.
func (r APIBucketReplicaLinksDeleteRequest) RemoteNames(remoteNames []string) APIBucketReplicaLinksDeleteRequest {
	r.remoteNames = &remoteNames
	return r
}

func (r APIBucketReplicaLinksDeleteRequest) AuthorizationHeader(authorizationHeader string) APIBucketReplicaLinksDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketReplicaLinksDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.BucketReplicaLinksDeleteExecute(r)
}

/*
BucketReplicaLinksDelete DELETE bucket-replica-links

Delete a bucket replica link.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketReplicaLinksDeleteRequest
*/
func (a *BucketReplicaLinksAPIService) BucketReplicaLinksDelete(ctx context.Context) APIBucketReplicaLinksDeleteRequest {
	return APIBucketReplicaLinksDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *BucketReplicaLinksAPIService) BucketReplicaLinksDeleteExecute(r APIBucketReplicaLinksDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "BucketReplicaLinksAPIService.BucketReplicaLinksDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.2/bucket-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.localBucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_bucket_ids", r.localBucketIds, "csv")
	}
	if r.localBucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_bucket_names", r.localBucketNames, "csv")
	}
	if r.remoteBucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_bucket_names", r.remoteBucketNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("x-auth-token"), r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
		403: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIBucketReplicaLinksGetRequest struct {
	ctx                 context.Context
	APIService          *BucketReplicaLinksAPIService
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	localBucketIds      *[]string
	localBucketNames    *[]string
	offset              *int32
	remoteBucketNames   *[]string
	remoteIds           *[]string
	remoteNames         *[]string
	sort                *[]string
	totalOnly           *bool
	authorizationHeader *string
}

// An opaque token used to iterate over a collection. The token to use on the next request is returned in the &#x60;continuation_token&#x60; field of the result.
func (r APIBucketReplicaLinksGetRequest) ContinuationToken(continuationToken string) APIBucketReplicaLinksGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APIBucketReplicaLinksGetRequest) Filter(filter string) APIBucketReplicaLinksGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIBucketReplicaLinksGetRequest) Ids(ids []string) APIBucketReplicaLinksGetRequest {
	r.ids = &ids
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APIBucketReplicaLinksGetRequest) Limit(limit int32) APIBucketReplicaLinksGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of local bucket IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_bucket_names&#x60; query parameter.
func (r APIBucketReplicaLinksGetRequest) LocalBucketIds(localBucketIds []string) APIBucketReplicaLinksGetRequest {
	r.localBucketIds = &localBucketIds
	return r
}

// A comma-separated list of local bucket names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_bucket_ids&#x60; query parameter.
func (r APIBucketReplicaLinksGetRequest) LocalBucketNames(localBucketNames []string) APIBucketReplicaLinksGetRequest {
	r.localBucketNames = &localBucketNames
	return r
}

// The offset of the first resource to return from a collection.
func (r APIBucketReplicaLinksGetRequest) Offset(offset int32) APIBucketReplicaLinksGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of remote bucket names. If there is not at least one resource that matches each of the elements, then an error is returned.
func (r APIBucketReplicaLinksGetRequest) RemoteBucketNames(remoteBucketNames []string) APIBucketReplicaLinksGetRequest {
	r.remoteBucketNames = &remoteBucketNames
	return r
}

// A comma-separated list of remote array IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIBucketReplicaLinksGetRequest) RemoteIds(remoteIds []string) APIBucketReplicaLinksGetRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;remote_ids&#x60; query parameter.
func (r APIBucketReplicaLinksGetRequest) RemoteNames(remoteNames []string) APIBucketReplicaLinksGetRequest {
	r.remoteNames = &remoteNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIBucketReplicaLinksGetRequest) Sort(sort []string) APIBucketReplicaLinksGetRequest {
	r.sort = &sort
	return r
}

// Only return the total record for the specified items. The total record will be the total of all items after filtering. The &#x60;items&#x60; list will be empty.
func (r APIBucketReplicaLinksGetRequest) TotalOnly(totalOnly bool) APIBucketReplicaLinksGetRequest {
	r.totalOnly = &totalOnly
	return r
}

func (r APIBucketReplicaLinksGetRequest) AuthorizationHeader(authorizationHeader string) APIBucketReplicaLinksGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketReplicaLinksGetRequest) Execute() (*BucketReplicaLinkGetResponse, *http.Response, error) {
	return r.APIService.BucketReplicaLinksGetExecute(r)
}

/*
BucketReplicaLinksGet GET bucket-replica-links

List bucket replica links for object replication.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketReplicaLinksGetRequest
*/
func (a *BucketReplicaLinksAPIService) BucketReplicaLinksGet(ctx context.Context) APIBucketReplicaLinksGetRequest {
	return APIBucketReplicaLinksGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BucketReplicaLinkGetResponse
func (a *BucketReplicaLinksAPIService) BucketReplicaLinksGetExecute(r APIBucketReplicaLinksGetRequest) (*BucketReplicaLinkGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BucketReplicaLinkGetResponse
	)

	endpoint := "BucketReplicaLinksAPIService.BucketReplicaLinksGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.2/bucket-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.localBucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_bucket_ids", r.localBucketIds, "csv")
	}
	if r.localBucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_bucket_names", r.localBucketNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.remoteBucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_bucket_names", r.remoteBucketNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_only", r.totalOnly, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("x-auth-token"), r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
		403: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIBucketReplicaLinksPatchRequest struct {
	ctx                 context.Context
	APIService          *BucketReplicaLinksAPIService
	bucketReplicaLink   *BucketReplicaLink
	ids                 *[]string
	localBucketIds      *[]string
	localBucketNames    *[]string
	remoteBucketNames   *[]string
	remoteIds           *[]string
	remoteNames         *[]string
	authorizationHeader *string
}

func (r APIBucketReplicaLinksPatchRequest) BucketReplicaLink(bucketReplicaLink BucketReplicaLink) APIBucketReplicaLinksPatchRequest {
	r.bucketReplicaLink = &bucketReplicaLink
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIBucketReplicaLinksPatchRequest) Ids(ids []string) APIBucketReplicaLinksPatchRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of local bucket IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_bucket_names&#x60; query parameter.
func (r APIBucketReplicaLinksPatchRequest) LocalBucketIds(localBucketIds []string) APIBucketReplicaLinksPatchRequest {
	r.localBucketIds = &localBucketIds
	return r
}

// A comma-separated list of local bucket names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_bucket_ids&#x60; query parameter.
func (r APIBucketReplicaLinksPatchRequest) LocalBucketNames(localBucketNames []string) APIBucketReplicaLinksPatchRequest {
	r.localBucketNames = &localBucketNames
	return r
}

// A comma-separated list of remote bucket names. If there is not at least one resource that matches each of the elements, then an error is returned.
func (r APIBucketReplicaLinksPatchRequest) RemoteBucketNames(remoteBucketNames []string) APIBucketReplicaLinksPatchRequest {
	r.remoteBucketNames = &remoteBucketNames
	return r
}

// A comma-separated list of remote array IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIBucketReplicaLinksPatchRequest) RemoteIds(remoteIds []string) APIBucketReplicaLinksPatchRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;remote_ids&#x60; query parameter.
func (r APIBucketReplicaLinksPatchRequest) RemoteNames(remoteNames []string) APIBucketReplicaLinksPatchRequest {
	r.remoteNames = &remoteNames
	return r
}

func (r APIBucketReplicaLinksPatchRequest) AuthorizationHeader(authorizationHeader string) APIBucketReplicaLinksPatchRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketReplicaLinksPatchRequest) Execute() (*BucketReplicaLinkResponse, *http.Response, error) {
	return r.APIService.BucketReplicaLinksPatchExecute(r)
}

/*
BucketReplicaLinksPatch PATCH bucket-replica-links

Modify the configuration of a bucket replica link including whether the link is paused and the object store remote credentials used.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketReplicaLinksPatchRequest
*/
func (a *BucketReplicaLinksAPIService) BucketReplicaLinksPatch(ctx context.Context) APIBucketReplicaLinksPatchRequest {
	return APIBucketReplicaLinksPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BucketReplicaLinkResponse
func (a *BucketReplicaLinksAPIService) BucketReplicaLinksPatchExecute(r APIBucketReplicaLinksPatchRequest) (*BucketReplicaLinkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BucketReplicaLinkResponse
	)

	endpoint := "BucketReplicaLinksAPIService.BucketReplicaLinksPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.2/bucket-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bucketReplicaLink == nil {
		return localVarReturnValue, nil, reportError("bucketReplicaLink is required and must be specified")
	}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.localBucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_bucket_ids", r.localBucketIds, "csv")
	}
	if r.localBucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_bucket_names", r.localBucketNames, "csv")
	}
	if r.remoteBucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_bucket_names", r.remoteBucketNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("x-auth-token"), r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.bucketReplicaLink
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
		403: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIBucketReplicaLinksPostRequest struct {
	ctx                    context.Context
	APIService             *BucketReplicaLinksAPIService
	bucketReplicaLink      *BucketReplicaLinkPost
	localBucketIds         *[]string
	localBucketNames       *[]string
	remoteBucketNames      *[]string
	remoteCredentialsIds   *[]string
	remoteCredentialsNames *[]string
	authorizationHeader    *string
}

func (r APIBucketReplicaLinksPostRequest) BucketReplicaLink(bucketReplicaLink BucketReplicaLinkPost) APIBucketReplicaLinksPostRequest {
	r.bucketReplicaLink = &bucketReplicaLink
	return r
}

// A comma-separated list of local bucket IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_bucket_names&#x60; query parameter.
func (r APIBucketReplicaLinksPostRequest) LocalBucketIds(localBucketIds []string) APIBucketReplicaLinksPostRequest {
	r.localBucketIds = &localBucketIds
	return r
}

// A comma-separated list of local bucket names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_bucket_ids&#x60; query parameter.
func (r APIBucketReplicaLinksPostRequest) LocalBucketNames(localBucketNames []string) APIBucketReplicaLinksPostRequest {
	r.localBucketNames = &localBucketNames
	return r
}

// A comma-separated list of remote bucket names. If there is not at least one resource that matches each of the elements, then an error is returned.
func (r APIBucketReplicaLinksPostRequest) RemoteBucketNames(remoteBucketNames []string) APIBucketReplicaLinksPostRequest {
	r.remoteBucketNames = &remoteBucketNames
	return r
}

// A comma-separated list of remote credentials IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_credentials_names&#x60; query parameter.
func (r APIBucketReplicaLinksPostRequest) RemoteCredentialsIds(remoteCredentialsIds []string) APIBucketReplicaLinksPostRequest {
	r.remoteCredentialsIds = &remoteCredentialsIds
	return r
}

// A comma-separated list of remote credentials names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_credentials_ids&#x60; query parameter.
func (r APIBucketReplicaLinksPostRequest) RemoteCredentialsNames(remoteCredentialsNames []string) APIBucketReplicaLinksPostRequest {
	r.remoteCredentialsNames = &remoteCredentialsNames
	return r
}

func (r APIBucketReplicaLinksPostRequest) AuthorizationHeader(authorizationHeader string) APIBucketReplicaLinksPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketReplicaLinksPostRequest) Execute() (*BucketReplicaLinkResponse, *http.Response, error) {
	return r.APIService.BucketReplicaLinksPostExecute(r)
}

/*
BucketReplicaLinksPost POST bucket-replica-links

Create a bucket replica link for object replication.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketReplicaLinksPostRequest
*/
func (a *BucketReplicaLinksAPIService) BucketReplicaLinksPost(ctx context.Context) APIBucketReplicaLinksPostRequest {
	return APIBucketReplicaLinksPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BucketReplicaLinkResponse
func (a *BucketReplicaLinksAPIService) BucketReplicaLinksPostExecute(r APIBucketReplicaLinksPostRequest) (*BucketReplicaLinkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BucketReplicaLinkResponse
	)

	endpoint := "BucketReplicaLinksAPIService.BucketReplicaLinksPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.2/bucket-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bucketReplicaLink == nil {
		return localVarReturnValue, nil, reportError("bucketReplicaLink is required and must be specified")
	}

	if r.localBucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_bucket_ids", r.localBucketIds, "csv")
	}
	if r.localBucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_bucket_names", r.localBucketNames, "csv")
	}
	if r.remoteBucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_bucket_names", r.remoteBucketNames, "csv")
	}
	if r.remoteCredentialsIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_credentials_ids", r.remoteCredentialsIds, "csv")
	}
	if r.remoteCredentialsNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_credentials_names", r.remoteCredentialsNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("x-auth-token"), r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.bucketReplicaLink
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
		403: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
