/*
FlashArray REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.52
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// VolumeSnapshotsAPIService VolumeSnapshotsAPI service
type VolumeSnapshotsAPIService service

type APIVolumeSnapshotsBatchPostRequest struct {
	ctx            context.Context
	APIService     *VolumeSnapshotsAPIService
	volumeSnapshot *[]VolumeSnapshotBatchPost
	authorization  *string
	xRequestID     *string
	allowThrottle  *bool
	contextNames   *[]string
	on             *string
}

// The list of volume snapshots to be created.
func (r APIVolumeSnapshotsBatchPostRequest) VolumeSnapshot(volumeSnapshot []VolumeSnapshotBatchPost) APIVolumeSnapshotsBatchPostRequest {
	r.volumeSnapshot = &volumeSnapshot
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIVolumeSnapshotsBatchPostRequest) Authorization(authorization string) APIVolumeSnapshotsBatchPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIVolumeSnapshotsBatchPostRequest) XRequestID(xRequestID string) APIVolumeSnapshotsBatchPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, allows snapshot to fail if array health is not optimal.
func (r APIVolumeSnapshotsBatchPostRequest) AllowThrottle(allowThrottle bool) APIVolumeSnapshotsBatchPostRequest {
	r.allowThrottle = &allowThrottle
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIVolumeSnapshotsBatchPostRequest) ContextNames(contextNames []string) APIVolumeSnapshotsBatchPostRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the target name specified. For example, &#x60;targetName01&#x60;.
func (r APIVolumeSnapshotsBatchPostRequest) On(on string) APIVolumeSnapshotsBatchPostRequest {
	r.on = &on
	return r
}

func (r APIVolumeSnapshotsBatchPostRequest) Execute() (*VolumeSnapshotBatchResponse, *http.Response, error) {
	return r.APIService.VolumeSnapshotsBatchPostExecute(r)
}

/*
VolumeSnapshotsBatchPost Create volume snapshots and create tags.

Creates point-in-time snapshots of the contents of volumes.
The destroyed parameter, suffixes, and tags can be different for each snapshot.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIVolumeSnapshotsBatchPostRequest
*/
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsBatchPost(ctx context.Context) APIVolumeSnapshotsBatchPostRequest {
	return APIVolumeSnapshotsBatchPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return VolumeSnapshotBatchResponse
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsBatchPostExecute(r APIVolumeSnapshotsBatchPostRequest) (*VolumeSnapshotBatchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *VolumeSnapshotBatchResponse
	)

	endpoint := "VolumeSnapshotsAPIService.VolumeSnapshotsBatchPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.52/volume-snapshots/batch"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.volumeSnapshot == nil {
		return localVarReturnValue, nil, reportError("volumeSnapshot is required and must be specified")
	}

	if r.allowThrottle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_throttle", r.allowThrottle, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.on != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "on", r.on, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.volumeSnapshot
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIVolumeSnapshotsDeleteRequest struct {
	ctx                 context.Context
	APIService          *VolumeSnapshotsAPIService
	authorization       *string
	xRequestID          *string
	contextNames        *[]string
	ids                 *[]string
	names               *[]string
	replicationSnapshot *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIVolumeSnapshotsDeleteRequest) Authorization(authorization string) APIVolumeSnapshotsDeleteRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIVolumeSnapshotsDeleteRequest) XRequestID(xRequestID string) APIVolumeSnapshotsDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIVolumeSnapshotsDeleteRequest) ContextNames(contextNames []string) APIVolumeSnapshotsDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of unique resource IDs. At least one resource must match  each specified ID, otherwise an error is returned. This parameter is required   if ids or names is not provided, but it cannot be used together with name or names.
func (r APIVolumeSnapshotsDeleteRequest) Ids(ids []string) APIVolumeSnapshotsDeleteRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIVolumeSnapshotsDeleteRequest) Names(names []string) APIVolumeSnapshotsDeleteRequest {
	r.names = &names
	return r
}

// If set to &#x60;true&#x60;, allow destruction/eradication of snapshots in use by replication. If set to &#x60;false&#x60;, allow destruction/eradication of snapshots not in use by replication. If not specified, defaults to &#x60;false&#x60;.
func (r APIVolumeSnapshotsDeleteRequest) ReplicationSnapshot(replicationSnapshot bool) APIVolumeSnapshotsDeleteRequest {
	r.replicationSnapshot = &replicationSnapshot
	return r
}

func (r APIVolumeSnapshotsDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.VolumeSnapshotsDeleteExecute(r)
}

/*
VolumeSnapshotsDelete Delete a volume snapshot

Deletes a volume snapshot that has been destroyed and is pending eradication.
Eradicated volume snapshots cannot be recovered.
Volume snapshots are destroyed by using the `PATCH` method.
The `ids` or `names` parameter is required, but they cannot be set together.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIVolumeSnapshotsDeleteRequest
*/
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsDelete(ctx context.Context) APIVolumeSnapshotsDeleteRequest {
	return APIVolumeSnapshotsDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsDeleteExecute(r APIVolumeSnapshotsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "VolumeSnapshotsAPIService.VolumeSnapshotsDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.52/volume-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.replicationSnapshot != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "replication_snapshot", r.replicationSnapshot, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIVolumeSnapshotsGetRequest struct {
	ctx               context.Context
	APIService        *VolumeSnapshotsAPIService
	authorization     *string
	xRequestID        *string
	allowErrors       *bool
	contextNames      *[]string
	continuationToken *string
	destroyed         *bool
	filter            *string
	ids               *[]string
	limit             *int32
	names             *[]string
	offset            *int32
	sort              *[]string
	sourceIds         *[]string
	sourceNames       *[]string
	totalItemCount    *bool
	totalOnly         *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIVolumeSnapshotsGetRequest) Authorization(authorization string) APIVolumeSnapshotsGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIVolumeSnapshotsGetRequest) XRequestID(xRequestID string) APIVolumeSnapshotsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIVolumeSnapshotsGetRequest) AllowErrors(allowErrors bool) APIVolumeSnapshotsGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIVolumeSnapshotsGetRequest) ContextNames(contextNames []string) APIVolumeSnapshotsGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIVolumeSnapshotsGetRequest) ContinuationToken(continuationToken string) APIVolumeSnapshotsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// If set to &#x60;true&#x60;, lists only destroyed objects that are in the eradication pending state. If set to &#x60;false&#x60;, lists only objects that are not destroyed. If not set, lists both objects that are destroyed and those that are not destroyed.  For destroyed objects, the time remaining is displayed in milliseconds.  If object name(s) or id(s) are specified, then each object referenced must exist. If &#x60;destroyed&#x60; is set to &#x60;true&#x60;, then each object referenced must also be destroyed. If &#x60;destroyed&#x60; is set to &#x60;false&#x60;, then each object referenced must also not be destroyed. An error is returned if any of these conditions are not met.
func (r APIVolumeSnapshotsGetRequest) Destroyed(destroyed bool) APIVolumeSnapshotsGetRequest {
	r.destroyed = &destroyed
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIVolumeSnapshotsGetRequest) Filter(filter string) APIVolumeSnapshotsGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of unique resource IDs. At least one resource must match  each specified ID, otherwise an error is returned. This parameter is required   if ids or names is not provided, but it cannot be used together with name or names.
func (r APIVolumeSnapshotsGetRequest) Ids(ids []string) APIVolumeSnapshotsGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIVolumeSnapshotsGetRequest) Limit(limit int32) APIVolumeSnapshotsGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIVolumeSnapshotsGetRequest) Names(names []string) APIVolumeSnapshotsGetRequest {
	r.names = &names
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIVolumeSnapshotsGetRequest) Offset(offset int32) APIVolumeSnapshotsGetRequest {
	r.offset = &offset
	return r
}

// Sorts the response objects by the specified fields. Sorting can be applied to any field name  in the response, in ascending order by default, or in descending order by prefixing the  field name with a minus sign (-). Multiple fields can be specified as a comma-separated  list (e.g., sort volumes by size descending, then by name ascending). If sort is provided,  the response will not include a continuation_token.
func (r APIVolumeSnapshotsGetRequest) Sort(sort []string) APIVolumeSnapshotsGetRequest {
	r.sort = &sort
	return r
}

// Performs the operation on the source ID specified. Enter multiple source IDs in comma-separated format.
func (r APIVolumeSnapshotsGetRequest) SourceIds(sourceIds []string) APIVolumeSnapshotsGetRequest {
	r.sourceIds = &sourceIds
	return r
}

// Performs the operation on the source name specified. Enter multiple source names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIVolumeSnapshotsGetRequest) SourceNames(sourceNames []string) APIVolumeSnapshotsGetRequest {
	r.sourceNames = &sourceNames
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIVolumeSnapshotsGetRequest) TotalItemCount(totalItemCount bool) APIVolumeSnapshotsGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

// If set to &#x60;true&#x60;, returns the aggregate value of all items after filtering. Where it makes more sense, the average value is displayed instead. The values are displayed for each name where meaningful. If &#x60;total_only&#x3D;true&#x60;, the &#x60;items&#x60; list will be empty.
func (r APIVolumeSnapshotsGetRequest) TotalOnly(totalOnly bool) APIVolumeSnapshotsGetRequest {
	r.totalOnly = &totalOnly
	return r
}

func (r APIVolumeSnapshotsGetRequest) Execute() (*VolumeSnapshotGetResponse, *http.Response, error) {
	return r.APIService.VolumeSnapshotsGetExecute(r)
}

/*
VolumeSnapshotsGet List volume snapshots

Displays a list of volume snapshots, including those pending eradication.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIVolumeSnapshotsGetRequest
*/
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsGet(ctx context.Context) APIVolumeSnapshotsGetRequest {
	return APIVolumeSnapshotsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return VolumeSnapshotGetResponse
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsGetExecute(r APIVolumeSnapshotsGetRequest) (*VolumeSnapshotGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *VolumeSnapshotGetResponse
	)

	endpoint := "VolumeSnapshotsAPIService.VolumeSnapshotsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.52/volume-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.destroyed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destroyed", r.destroyed, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.sourceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_ids", r.sourceIds, "csv")
	}
	if r.sourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_names", r.sourceNames, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	if r.totalOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_only", r.totalOnly, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIVolumeSnapshotsPatchRequest struct {
	ctx                 context.Context
	APIService          *VolumeSnapshotsAPIService
	volumeSnapshot      *VolumeSnapshotPatch
	authorization       *string
	xRequestID          *string
	contextNames        *[]string
	ids                 *[]string
	names               *[]string
	replicationSnapshot *bool
}

func (r APIVolumeSnapshotsPatchRequest) VolumeSnapshot(volumeSnapshot VolumeSnapshotPatch) APIVolumeSnapshotsPatchRequest {
	r.volumeSnapshot = &volumeSnapshot
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIVolumeSnapshotsPatchRequest) Authorization(authorization string) APIVolumeSnapshotsPatchRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIVolumeSnapshotsPatchRequest) XRequestID(xRequestID string) APIVolumeSnapshotsPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIVolumeSnapshotsPatchRequest) ContextNames(contextNames []string) APIVolumeSnapshotsPatchRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of unique resource IDs. At least one resource must match  each specified ID, otherwise an error is returned. This parameter is required   if ids or names is not provided, but it cannot be used together with name or names.
func (r APIVolumeSnapshotsPatchRequest) Ids(ids []string) APIVolumeSnapshotsPatchRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIVolumeSnapshotsPatchRequest) Names(names []string) APIVolumeSnapshotsPatchRequest {
	r.names = &names
	return r
}

// If set to &#x60;true&#x60;, allow destruction/eradication of snapshots in use by replication. If set to &#x60;false&#x60;, allow destruction/eradication of snapshots not in use by replication. If not specified, defaults to &#x60;false&#x60;.
func (r APIVolumeSnapshotsPatchRequest) ReplicationSnapshot(replicationSnapshot bool) APIVolumeSnapshotsPatchRequest {
	r.replicationSnapshot = &replicationSnapshot
	return r
}

func (r APIVolumeSnapshotsPatchRequest) Execute() (*VolumeSnapshotResponse, *http.Response, error) {
	return r.APIService.VolumeSnapshotsPatchExecute(r)
}

/*
VolumeSnapshotsPatch Modify a volume snapshot

Modifies a volume snapshot by renaming, destroying, or recovering it.
To rename the suffix of a volume snapshot, set `name` to the new suffix name.
To recover a volume snapshot that has been destroyed and is pending eradication,
set `destroyed=true`.
The `ids` or `names` parameter is required, but they cannot be set together.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIVolumeSnapshotsPatchRequest
*/
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsPatch(ctx context.Context) APIVolumeSnapshotsPatchRequest {
	return APIVolumeSnapshotsPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return VolumeSnapshotResponse
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsPatchExecute(r APIVolumeSnapshotsPatchRequest) (*VolumeSnapshotResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *VolumeSnapshotResponse
	)

	endpoint := "VolumeSnapshotsAPIService.VolumeSnapshotsPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.52/volume-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.volumeSnapshot == nil {
		return localVarReturnValue, nil, reportError("volumeSnapshot is required and must be specified")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.replicationSnapshot != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "replication_snapshot", r.replicationSnapshot, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.volumeSnapshot
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIVolumeSnapshotsPostRequest struct {
	ctx            context.Context
	APIService     *VolumeSnapshotsAPIService
	volumeSnapshot *VolumeSnapshotPost
	authorization  *string
	xRequestID     *string
	allowThrottle  *bool
	contextNames   *[]string
	on             *string
	sourceIds      *[]string
	sourceNames    *[]string
}

func (r APIVolumeSnapshotsPostRequest) VolumeSnapshot(volumeSnapshot VolumeSnapshotPost) APIVolumeSnapshotsPostRequest {
	r.volumeSnapshot = &volumeSnapshot
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIVolumeSnapshotsPostRequest) Authorization(authorization string) APIVolumeSnapshotsPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIVolumeSnapshotsPostRequest) XRequestID(xRequestID string) APIVolumeSnapshotsPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, allows snapshot to fail if array health is not optimal.
func (r APIVolumeSnapshotsPostRequest) AllowThrottle(allowThrottle bool) APIVolumeSnapshotsPostRequest {
	r.allowThrottle = &allowThrottle
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIVolumeSnapshotsPostRequest) ContextNames(contextNames []string) APIVolumeSnapshotsPostRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the target name specified. For example, &#x60;targetName01&#x60;.
func (r APIVolumeSnapshotsPostRequest) On(on string) APIVolumeSnapshotsPostRequest {
	r.on = &on
	return r
}

// Performs the operation on the source ID specified. Enter multiple source IDs in comma-separated format.
func (r APIVolumeSnapshotsPostRequest) SourceIds(sourceIds []string) APIVolumeSnapshotsPostRequest {
	r.sourceIds = &sourceIds
	return r
}

// Performs the operation on the source name specified. Enter multiple source names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIVolumeSnapshotsPostRequest) SourceNames(sourceNames []string) APIVolumeSnapshotsPostRequest {
	r.sourceNames = &sourceNames
	return r
}

func (r APIVolumeSnapshotsPostRequest) Execute() (*VolumeSnapshotResponse, *http.Response, error) {
	return r.APIService.VolumeSnapshotsPostExecute(r)
}

/*
VolumeSnapshotsPost Create a volume snapshot and tags

Creates a point-in-time snapshot of the contents of a volume.
The `source_ids` or `source_names` parameter is required, but they cannot be set together.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIVolumeSnapshotsPostRequest
*/
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsPost(ctx context.Context) APIVolumeSnapshotsPostRequest {
	return APIVolumeSnapshotsPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return VolumeSnapshotResponse
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsPostExecute(r APIVolumeSnapshotsPostRequest) (*VolumeSnapshotResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *VolumeSnapshotResponse
	)

	endpoint := "VolumeSnapshotsAPIService.VolumeSnapshotsPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.52/volume-snapshots"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.volumeSnapshot == nil {
		return localVarReturnValue, nil, reportError("volumeSnapshot is required and must be specified")
	}

	if r.allowThrottle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_throttle", r.allowThrottle, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.on != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "on", r.on, "")
	}
	if r.sourceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_ids", r.sourceIds, "csv")
	}
	if r.sourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_names", r.sourceNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.volumeSnapshot
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIVolumeSnapshotsTagsBatchPutRequest struct {
	ctx           context.Context
	APIService    *VolumeSnapshotsAPIService
	tag           *[]TagBatch
	authorization *string
	xRequestID    *string
	contextNames  *[]string
	resourceIds   *[]string
	resourceNames *[]string
}

// A list of tags to be created or modified.
func (r APIVolumeSnapshotsTagsBatchPutRequest) Tag(tag []TagBatch) APIVolumeSnapshotsTagsBatchPutRequest {
	r.tag = &tag
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIVolumeSnapshotsTagsBatchPutRequest) Authorization(authorization string) APIVolumeSnapshotsTagsBatchPutRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIVolumeSnapshotsTagsBatchPutRequest) XRequestID(xRequestID string) APIVolumeSnapshotsTagsBatchPutRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIVolumeSnapshotsTagsBatchPutRequest) ContextNames(contextNames []string) APIVolumeSnapshotsTagsBatchPutRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of resource IDs. The &#x60;resource_ids&#x60; or &#x60;resource_names&#x60; parameter is required, but they cannot be set together.
func (r APIVolumeSnapshotsTagsBatchPutRequest) ResourceIds(resourceIds []string) APIVolumeSnapshotsTagsBatchPutRequest {
	r.resourceIds = &resourceIds
	return r
}

// A comma-separated list of resource names. The &#x60;resource_ids&#x60; or &#x60;resource_names&#x60; parameter is required, but they cannot be set together.
func (r APIVolumeSnapshotsTagsBatchPutRequest) ResourceNames(resourceNames []string) APIVolumeSnapshotsTagsBatchPutRequest {
	r.resourceNames = &resourceNames
	return r
}

func (r APIVolumeSnapshotsTagsBatchPutRequest) Execute() (*TagResponse, *http.Response, error) {
	return r.APIService.VolumeSnapshotsTagsBatchPutExecute(r)
}

/*
VolumeSnapshotsTagsBatchPut Update tags

Updates tags.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIVolumeSnapshotsTagsBatchPutRequest
*/
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsTagsBatchPut(ctx context.Context) APIVolumeSnapshotsTagsBatchPutRequest {
	return APIVolumeSnapshotsTagsBatchPutRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TagResponse
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsTagsBatchPutExecute(r APIVolumeSnapshotsTagsBatchPutRequest) (*TagResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TagResponse
	)

	endpoint := "VolumeSnapshotsAPIService.VolumeSnapshotsTagsBatchPut"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.52/volume-snapshots/tags/batch"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tag == nil {
		return localVarReturnValue, nil, reportError("tag is required and must be specified")
	}
	if len(*r.tag) < 1 {
		return localVarReturnValue, nil, reportError("tag must have at least 1 elements")
	}
	if len(*r.tag) > 30 {
		return localVarReturnValue, nil, reportError("tag must have less than 30 elements")
	}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.resourceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_ids", r.resourceIds, "csv")
	}
	if r.resourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_names", r.resourceNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.tag
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIVolumeSnapshotsTagsDeleteRequest struct {
	ctx           context.Context
	APIService    *VolumeSnapshotsAPIService
	authorization *string
	xRequestID    *string
	contextNames  *[]string
	keys          *[]string
	namespaces    *[]string
	resourceIds   *[]string
	resourceNames *[]string
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIVolumeSnapshotsTagsDeleteRequest) Authorization(authorization string) APIVolumeSnapshotsTagsDeleteRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIVolumeSnapshotsTagsDeleteRequest) XRequestID(xRequestID string) APIVolumeSnapshotsTagsDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIVolumeSnapshotsTagsDeleteRequest) ContextNames(contextNames []string) APIVolumeSnapshotsTagsDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of tag keys.
func (r APIVolumeSnapshotsTagsDeleteRequest) Keys(keys []string) APIVolumeSnapshotsTagsDeleteRequest {
	r.keys = &keys
	return r
}

// A comma-separated list of namespaces. Only one namespace is allowed per delete request.
func (r APIVolumeSnapshotsTagsDeleteRequest) Namespaces(namespaces []string) APIVolumeSnapshotsTagsDeleteRequest {
	r.namespaces = &namespaces
	return r
}

// A comma-separated list of resource IDs. The &#x60;resource_ids&#x60; or &#x60;resource_names&#x60; parameter is required, but they cannot be set together.
func (r APIVolumeSnapshotsTagsDeleteRequest) ResourceIds(resourceIds []string) APIVolumeSnapshotsTagsDeleteRequest {
	r.resourceIds = &resourceIds
	return r
}

// A comma-separated list of resource names. The &#x60;resource_ids&#x60; or &#x60;resource_names&#x60; parameter is required, but they cannot be set together.
func (r APIVolumeSnapshotsTagsDeleteRequest) ResourceNames(resourceNames []string) APIVolumeSnapshotsTagsDeleteRequest {
	r.resourceNames = &resourceNames
	return r
}

func (r APIVolumeSnapshotsTagsDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.VolumeSnapshotsTagsDeleteExecute(r)
}

/*
VolumeSnapshotsTagsDelete Delete tags

Deletes specified tags.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIVolumeSnapshotsTagsDeleteRequest
*/
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsTagsDelete(ctx context.Context) APIVolumeSnapshotsTagsDeleteRequest {
	return APIVolumeSnapshotsTagsDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsTagsDeleteExecute(r APIVolumeSnapshotsTagsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "VolumeSnapshotsAPIService.VolumeSnapshotsTagsDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.52/volume-snapshots/tags"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.keys != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keys", r.keys, "csv")
	}
	if r.namespaces != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespaces", r.namespaces, "csv")
	}
	if r.resourceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_ids", r.resourceIds, "csv")
	}
	if r.resourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_names", r.resourceNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIVolumeSnapshotsTagsGetRequest struct {
	ctx               context.Context
	APIService        *VolumeSnapshotsAPIService
	authorization     *string
	xRequestID        *string
	allowErrors       *bool
	contextNames      *[]string
	continuationToken *string
	filter            *string
	limit             *int32
	namespaces        *[]string
	offset            *int32
	resourceDestroyed *bool
	resourceIds       *[]string
	resourceNames     *[]string
	sort              *[]string
	totalItemCount    *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIVolumeSnapshotsTagsGetRequest) Authorization(authorization string) APIVolumeSnapshotsTagsGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIVolumeSnapshotsTagsGetRequest) XRequestID(xRequestID string) APIVolumeSnapshotsTagsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIVolumeSnapshotsTagsGetRequest) AllowErrors(allowErrors bool) APIVolumeSnapshotsTagsGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIVolumeSnapshotsTagsGetRequest) ContextNames(contextNames []string) APIVolumeSnapshotsTagsGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIVolumeSnapshotsTagsGetRequest) ContinuationToken(continuationToken string) APIVolumeSnapshotsTagsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIVolumeSnapshotsTagsGetRequest) Filter(filter string) APIVolumeSnapshotsTagsGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIVolumeSnapshotsTagsGetRequest) Limit(limit int32) APIVolumeSnapshotsTagsGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of namespaces.
func (r APIVolumeSnapshotsTagsGetRequest) Namespaces(namespaces []string) APIVolumeSnapshotsTagsGetRequest {
	r.namespaces = &namespaces
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIVolumeSnapshotsTagsGetRequest) Offset(offset int32) APIVolumeSnapshotsTagsGetRequest {
	r.offset = &offset
	return r
}

// If set to &#x60;true&#x60;, returns only objects from destroyed resources. Returns an error if the name of a live resource is specified in the &#x60;resource_names&#x60; query parameter. If set to &#x60;false&#x60;, returns only objects from live resources. Returns an error if the name of a destroyed resource is specified in the &#x60;resource_names&#x60; query parameter.
func (r APIVolumeSnapshotsTagsGetRequest) ResourceDestroyed(resourceDestroyed bool) APIVolumeSnapshotsTagsGetRequest {
	r.resourceDestroyed = &resourceDestroyed
	return r
}

// A comma-separated list of resource IDs. The &#x60;resource_ids&#x60; or &#x60;resource_names&#x60; parameter is required, but they cannot be set together.
func (r APIVolumeSnapshotsTagsGetRequest) ResourceIds(resourceIds []string) APIVolumeSnapshotsTagsGetRequest {
	r.resourceIds = &resourceIds
	return r
}

// A comma-separated list of resource names. The &#x60;resource_ids&#x60; or &#x60;resource_names&#x60; parameter is required, but they cannot be set together.
func (r APIVolumeSnapshotsTagsGetRequest) ResourceNames(resourceNames []string) APIVolumeSnapshotsTagsGetRequest {
	r.resourceNames = &resourceNames
	return r
}

// Sorts the response objects by the specified fields. Sorting can be applied to any field name  in the response, in ascending order by default, or in descending order by prefixing the  field name with a minus sign (-). Multiple fields can be specified as a comma-separated  list (e.g., sort volumes by size descending, then by name ascending). If sort is provided,  the response will not include a continuation_token.
func (r APIVolumeSnapshotsTagsGetRequest) Sort(sort []string) APIVolumeSnapshotsTagsGetRequest {
	r.sort = &sort
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIVolumeSnapshotsTagsGetRequest) TotalItemCount(totalItemCount bool) APIVolumeSnapshotsTagsGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

func (r APIVolumeSnapshotsTagsGetRequest) Execute() (*TagGetResponse, *http.Response, error) {
	return r.APIService.VolumeSnapshotsTagsGetExecute(r)
}

/*
VolumeSnapshotsTagsGet List tags

Displays the list of tags.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIVolumeSnapshotsTagsGetRequest
*/
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsTagsGet(ctx context.Context) APIVolumeSnapshotsTagsGetRequest {
	return APIVolumeSnapshotsTagsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TagGetResponse
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsTagsGetExecute(r APIVolumeSnapshotsTagsGetRequest) (*TagGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TagGetResponse
	)

	endpoint := "VolumeSnapshotsAPIService.VolumeSnapshotsTagsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.52/volume-snapshots/tags"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.namespaces != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespaces", r.namespaces, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.resourceDestroyed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_destroyed", r.resourceDestroyed, "")
	}
	if r.resourceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_ids", r.resourceIds, "csv")
	}
	if r.resourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_names", r.resourceNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIVolumeSnapshotsTestPostRequest struct {
	ctx            context.Context
	APIService     *VolumeSnapshotsAPIService
	volumeSnapshot *VolumeSnapshotPost
	authorization  *string
	xRequestID     *string
	allowThrottle  *bool
	contextNames   *[]string
	on             *string
	sourceIds      *[]string
	sourceNames    *[]string
}

func (r APIVolumeSnapshotsTestPostRequest) VolumeSnapshot(volumeSnapshot VolumeSnapshotPost) APIVolumeSnapshotsTestPostRequest {
	r.volumeSnapshot = &volumeSnapshot
	return r
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIVolumeSnapshotsTestPostRequest) Authorization(authorization string) APIVolumeSnapshotsTestPostRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIVolumeSnapshotsTestPostRequest) XRequestID(xRequestID string) APIVolumeSnapshotsTestPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, allows snapshot to fail if array health is not optimal.
func (r APIVolumeSnapshotsTestPostRequest) AllowThrottle(allowThrottle bool) APIVolumeSnapshotsTestPostRequest {
	r.allowThrottle = &allowThrottle
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APIVolumeSnapshotsTestPostRequest) ContextNames(contextNames []string) APIVolumeSnapshotsTestPostRequest {
	r.contextNames = &contextNames
	return r
}

// Performs the operation on the target name specified. For example, &#x60;targetName01&#x60;.
func (r APIVolumeSnapshotsTestPostRequest) On(on string) APIVolumeSnapshotsTestPostRequest {
	r.on = &on
	return r
}

// Performs the operation on the source ID specified. Enter multiple source IDs in comma-separated format.
func (r APIVolumeSnapshotsTestPostRequest) SourceIds(sourceIds []string) APIVolumeSnapshotsTestPostRequest {
	r.sourceIds = &sourceIds
	return r
}

// Performs the operation on the source name specified. Enter multiple source names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIVolumeSnapshotsTestPostRequest) SourceNames(sourceNames []string) APIVolumeSnapshotsTestPostRequest {
	r.sourceNames = &sourceNames
	return r
}

func (r APIVolumeSnapshotsTestPostRequest) Execute() (*TestResultWithResourcePostResponse, *http.Response, error) {
	return r.APIService.VolumeSnapshotsTestPostExecute(r)
}

/*
VolumeSnapshotsTestPost Create the volume snapshot path

Creates the volume snapshot path without actually taking a volume snapshot.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIVolumeSnapshotsTestPostRequest
*/
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsTestPost(ctx context.Context) APIVolumeSnapshotsTestPostRequest {
	return APIVolumeSnapshotsTestPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TestResultWithResourcePostResponse
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsTestPostExecute(r APIVolumeSnapshotsTestPostRequest) (*TestResultWithResourcePostResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TestResultWithResourcePostResponse
	)

	endpoint := "VolumeSnapshotsAPIService.VolumeSnapshotsTestPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.52/volume-snapshots/test"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.volumeSnapshot == nil {
		return localVarReturnValue, nil, reportError("volumeSnapshot is required and must be specified")
	}

	if r.allowThrottle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_throttle", r.allowThrottle, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.on != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "on", r.on, "")
	}
	if r.sourceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_ids", r.sourceIds, "csv")
	}
	if r.sourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_names", r.sourceNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.volumeSnapshot
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIVolumeSnapshotsTransferGetRequest struct {
	ctx               context.Context
	APIService        *VolumeSnapshotsAPIService
	authorization     *string
	xRequestID        *string
	allowErrors       *bool
	contextNames      *[]string
	continuationToken *string
	destroyed         *bool
	filter            *string
	ids               *[]string
	limit             *int32
	names             *[]string
	offset            *int32
	sort              *[]string
	sourceIds         *[]string
	sourceNames       *[]string
	totalItemCount    *bool
	totalOnly         *bool
}

// Access token (in JWT format) required to use any API endpoint (except &#x60;/oauth2&#x60;, &#x60;/login&#x60;, and &#x60;/logout&#x60;)
func (r APIVolumeSnapshotsTransferGetRequest) Authorization(authorization string) APIVolumeSnapshotsTransferGetRequest {
	r.authorization = &authorization
	return r
}

// Supplied by client during request or generated by server.
func (r APIVolumeSnapshotsTransferGetRequest) XRequestID(xRequestID string) APIVolumeSnapshotsTransferGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APIVolumeSnapshotsTransferGetRequest) AllowErrors(allowErrors bool) APIVolumeSnapshotsTransferGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIVolumeSnapshotsTransferGetRequest) ContextNames(contextNames []string) APIVolumeSnapshotsTransferGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIVolumeSnapshotsTransferGetRequest) ContinuationToken(continuationToken string) APIVolumeSnapshotsTransferGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// If set to &#x60;true&#x60;, lists only destroyed objects that are in the eradication pending state. If set to &#x60;false&#x60;, lists only objects that are not destroyed. If not set, lists both objects that are destroyed and those that are not destroyed.  For destroyed objects, the time remaining is displayed in milliseconds.  If object name(s) or id(s) are specified, then each object referenced must exist. If &#x60;destroyed&#x60; is set to &#x60;true&#x60;, then each object referenced must also be destroyed. If &#x60;destroyed&#x60; is set to &#x60;false&#x60;, then each object referenced must also not be destroyed. An error is returned if any of these conditions are not met.
func (r APIVolumeSnapshotsTransferGetRequest) Destroyed(destroyed bool) APIVolumeSnapshotsTransferGetRequest {
	r.destroyed = &destroyed
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIVolumeSnapshotsTransferGetRequest) Filter(filter string) APIVolumeSnapshotsTransferGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of unique resource IDs. At least one resource must match  each specified ID, otherwise an error is returned. This parameter is required   if ids or names is not provided, but it cannot be used together with name or names.
func (r APIVolumeSnapshotsTransferGetRequest) Ids(ids []string) APIVolumeSnapshotsTransferGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIVolumeSnapshotsTransferGetRequest) Limit(limit int32) APIVolumeSnapshotsTransferGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APIVolumeSnapshotsTransferGetRequest) Names(names []string) APIVolumeSnapshotsTransferGetRequest {
	r.names = &names
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APIVolumeSnapshotsTransferGetRequest) Offset(offset int32) APIVolumeSnapshotsTransferGetRequest {
	r.offset = &offset
	return r
}

// Sorts the response objects by the specified fields. Sorting can be applied to any field name  in the response, in ascending order by default, or in descending order by prefixing the  field name with a minus sign (-). Multiple fields can be specified as a comma-separated  list (e.g., sort volumes by size descending, then by name ascending). If sort is provided,  the response will not include a continuation_token.
func (r APIVolumeSnapshotsTransferGetRequest) Sort(sort []string) APIVolumeSnapshotsTransferGetRequest {
	r.sort = &sort
	return r
}

// Performs the operation on the source ID specified. Enter multiple source IDs in comma-separated format.
func (r APIVolumeSnapshotsTransferGetRequest) SourceIds(sourceIds []string) APIVolumeSnapshotsTransferGetRequest {
	r.sourceIds = &sourceIds
	return r
}

// Performs the operation on the source name specified. Enter multiple source names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APIVolumeSnapshotsTransferGetRequest) SourceNames(sourceNames []string) APIVolumeSnapshotsTransferGetRequest {
	r.sourceNames = &sourceNames
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APIVolumeSnapshotsTransferGetRequest) TotalItemCount(totalItemCount bool) APIVolumeSnapshotsTransferGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

// If set to &#x60;true&#x60;, returns the aggregate value of all items after filtering. Where it makes more sense, the average value is displayed instead. The values are displayed for each name where meaningful. If &#x60;total_only&#x3D;true&#x60;, the &#x60;items&#x60; list will be empty.
func (r APIVolumeSnapshotsTransferGetRequest) TotalOnly(totalOnly bool) APIVolumeSnapshotsTransferGetRequest {
	r.totalOnly = &totalOnly
	return r
}

func (r APIVolumeSnapshotsTransferGetRequest) Execute() (*VolumeSnapshotTransferGetResponse, *http.Response, error) {
	return r.APIService.VolumeSnapshotsTransferGetExecute(r)
}

/*
VolumeSnapshotsTransferGet List volume snapshots with transfer statistics

Displays a list of volume snapshots and their transfer statistics.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIVolumeSnapshotsTransferGetRequest
*/
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsTransferGet(ctx context.Context) APIVolumeSnapshotsTransferGetRequest {
	return APIVolumeSnapshotsTransferGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return VolumeSnapshotTransferGetResponse
func (a *VolumeSnapshotsAPIService) VolumeSnapshotsTransferGetExecute(r APIVolumeSnapshotsTransferGetRequest) (*VolumeSnapshotTransferGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *VolumeSnapshotTransferGetResponse
	)

	endpoint := "VolumeSnapshotsAPIService.VolumeSnapshotsTransferGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.52/volume-snapshots/transfer"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.destroyed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destroyed", r.destroyed, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.sourceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_ids", r.sourceIds, "csv")
	}
	if r.sourceNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_names", r.sourceNames, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	if r.totalOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_only", r.totalOnly, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
