/*
FlashBlade REST API

OpenAPI specification for FlashBlade REST API, developed by Everpure, Inc. (https://www.everpuredata.com/).

API version: 2.11
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// PoliciesAllAPIService PoliciesAllAPI service
type PoliciesAllAPIService service

type APIPoliciesAllGetRequest struct {
	ctx                 context.Context
	APIService          *PoliciesAllAPIService
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// An opaque token used to iterate over a collection. The token to use on the next request is returned in the &#x60;continuation_token&#x60; field of the result.
func (r APIPoliciesAllGetRequest) ContinuationToken(continuationToken string) APIPoliciesAllGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APIPoliciesAllGetRequest) Filter(filter string) APIPoliciesAllGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIPoliciesAllGetRequest) Ids(ids []string) APIPoliciesAllGetRequest {
	r.ids = &ids
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APIPoliciesAllGetRequest) Limit(limit int32) APIPoliciesAllGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APIPoliciesAllGetRequest) Names(names []string) APIPoliciesAllGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APIPoliciesAllGetRequest) Offset(offset int32) APIPoliciesAllGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIPoliciesAllGetRequest) Sort(sort []string) APIPoliciesAllGetRequest {
	r.sort = &sort
	return r
}

func (r APIPoliciesAllGetRequest) AuthorizationHeader(authorizationHeader string) APIPoliciesAllGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIPoliciesAllGetRequest) Execute() (*PolicyBaseGetResponse, *http.Response, error) {
	return r.APIService.PoliciesAllGetExecute(r)
}

/*
PoliciesAllGet GET policies-all

List all policies of all types.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIPoliciesAllGetRequest
*/
func (a *PoliciesAllAPIService) PoliciesAllGet(ctx context.Context) APIPoliciesAllGetRequest {
	return APIPoliciesAllGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PolicyBaseGetResponse
func (a *PoliciesAllAPIService) PoliciesAllGetExecute(r APIPoliciesAllGetRequest) (*PolicyBaseGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PolicyBaseGetResponse
	)

	endpoint := "PoliciesAllAPIService.PoliciesAllGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.11/policies-all"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIPoliciesAllMembersGetRequest struct {
	ctx                   context.Context
	APIService            *PoliciesAllAPIService
	continuationToken     *string
	filter                *string
	limit                 *int32
	localFileSystemIds    *[]string
	localFileSystemNames  *[]string
	memberIds             *[]string
	memberNames           *[]string
	memberTypes           *[]string
	offset                *int32
	policyIds             *[]string
	policyNames           *[]string
	remoteFileSystemIds   *[]string
	remoteFileSystemNames *[]string
	remoteIds             *[]string
	remoteNames           *[]string
	sort                  *[]string
	authorizationHeader   *string
}

// An opaque token used to iterate over a collection. The token to use on the next request is returned in the &#x60;continuation_token&#x60; field of the result.
func (r APIPoliciesAllMembersGetRequest) ContinuationToken(continuationToken string) APIPoliciesAllMembersGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APIPoliciesAllMembersGetRequest) Filter(filter string) APIPoliciesAllMembersGetRequest {
	r.filter = &filter
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APIPoliciesAllMembersGetRequest) Limit(limit int32) APIPoliciesAllMembersGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of local file system IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_file_system_names&#x60; query parameter.
func (r APIPoliciesAllMembersGetRequest) LocalFileSystemIds(localFileSystemIds []string) APIPoliciesAllMembersGetRequest {
	r.localFileSystemIds = &localFileSystemIds
	return r
}

// A comma-separated list of local file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_file_system_ids&#x60; query parameter.
func (r APIPoliciesAllMembersGetRequest) LocalFileSystemNames(localFileSystemNames []string) APIPoliciesAllMembersGetRequest {
	r.localFileSystemNames = &localFileSystemNames
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIPoliciesAllMembersGetRequest) MemberIds(memberIds []string) APIPoliciesAllMembersGetRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of member names.
func (r APIPoliciesAllMembersGetRequest) MemberNames(memberNames []string) APIPoliciesAllMembersGetRequest {
	r.memberNames = &memberNames
	return r
}

// A comma-separated list of member types. Valid values are &#x60;file-systems&#x60;, &#x60;file-system-snapshots&#x60;, &#x60;file-system-replica-links&#x60;, and &#x60;object-store-users&#x60;. Different endpoints may accept different subsets of these values.
func (r APIPoliciesAllMembersGetRequest) MemberTypes(memberTypes []string) APIPoliciesAllMembersGetRequest {
	r.memberTypes = &memberTypes
	return r
}

// The offset of the first resource to return from a collection.
func (r APIPoliciesAllMembersGetRequest) Offset(offset int32) APIPoliciesAllMembersGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIPoliciesAllMembersGetRequest) PolicyIds(policyIds []string) APIPoliciesAllMembersGetRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIPoliciesAllMembersGetRequest) PolicyNames(policyNames []string) APIPoliciesAllMembersGetRequest {
	r.policyNames = &policyNames
	return r
}

// A comma-separated list of remote file system IDs. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_file_system_names&#x60; query parameter.
func (r APIPoliciesAllMembersGetRequest) RemoteFileSystemIds(remoteFileSystemIds []string) APIPoliciesAllMembersGetRequest {
	r.remoteFileSystemIds = &remoteFileSystemIds
	return r
}

// A comma-separated list of remote file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_file_system_ids&#x60; query parameter.
func (r APIPoliciesAllMembersGetRequest) RemoteFileSystemNames(remoteFileSystemNames []string) APIPoliciesAllMembersGetRequest {
	r.remoteFileSystemNames = &remoteFileSystemNames
	return r
}

// A comma-separated list of remote array IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIPoliciesAllMembersGetRequest) RemoteIds(remoteIds []string) APIPoliciesAllMembersGetRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;remote_ids&#x60; query parameter.
func (r APIPoliciesAllMembersGetRequest) RemoteNames(remoteNames []string) APIPoliciesAllMembersGetRequest {
	r.remoteNames = &remoteNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIPoliciesAllMembersGetRequest) Sort(sort []string) APIPoliciesAllMembersGetRequest {
	r.sort = &sort
	return r
}

func (r APIPoliciesAllMembersGetRequest) AuthorizationHeader(authorizationHeader string) APIPoliciesAllMembersGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIPoliciesAllMembersGetRequest) Execute() (*PolicyMemberWithRemoteGetResponse, *http.Response, error) {
	return r.APIService.PoliciesAllMembersGetExecute(r)
}

/*
PoliciesAllMembersGet GET policies-all/members

List policies (of all types) mapped to other entities (file systems,
snapshots, file system replica links, and object store users).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIPoliciesAllMembersGetRequest
*/
func (a *PoliciesAllAPIService) PoliciesAllMembersGet(ctx context.Context) APIPoliciesAllMembersGetRequest {
	return APIPoliciesAllMembersGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PolicyMemberWithRemoteGetResponse
func (a *PoliciesAllAPIService) PoliciesAllMembersGetExecute(r APIPoliciesAllMembersGetRequest) (*PolicyMemberWithRemoteGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PolicyMemberWithRemoteGetResponse
	)

	endpoint := "PoliciesAllAPIService.PoliciesAllMembersGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.11/policies-all/members"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.localFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_ids", r.localFileSystemIds, "csv")
	}
	if r.localFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_names", r.localFileSystemNames, "csv")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.memberNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_names", r.memberNames, "csv")
	}
	if r.memberTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_types", r.memberTypes, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.remoteFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_file_system_ids", r.remoteFileSystemIds, "csv")
	}
	if r.remoteFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_file_system_names", r.remoteFileSystemNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
