/*
FlashBlade REST API

OpenAPI specification for FlashBlade REST API, developed by Everpure, Inc. (https://www.everpuredata.com/).

API version: 2.11
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// FileSystemReplicaLinksAPIService FileSystemReplicaLinksAPI service
type FileSystemReplicaLinksAPIService service

type APIFileSystemReplicaLinksDeleteRequest struct {
	ctx                       context.Context
	APIService                *FileSystemReplicaLinksAPIService
	cancelInProgressTransfers *bool
	ids                       *[]string
	localFileSystemIds        *[]string
	localFileSystemNames      *[]string
	remoteFileSystemIds       *[]string
	remoteFileSystemNames     *[]string
	remoteIds                 *[]string
	remoteNames               *[]string
	authorizationHeader       *string
}

// This parameter must be set to &#x60;true&#x60; in order to delete a file system replication link (which can cancel any in-progress replication transfers). Setting this parameter to &#x60;true&#x60; is acknowledgement that any in-progress replication transfers on the specified links will be cancelled when this request is fulfilled.
func (r APIFileSystemReplicaLinksDeleteRequest) CancelInProgressTransfers(cancelInProgressTransfers bool) APIFileSystemReplicaLinksDeleteRequest {
	r.cancelInProgressTransfers = &cancelInProgressTransfers
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIFileSystemReplicaLinksDeleteRequest) Ids(ids []string) APIFileSystemReplicaLinksDeleteRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of local file system IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksDeleteRequest) LocalFileSystemIds(localFileSystemIds []string) APIFileSystemReplicaLinksDeleteRequest {
	r.localFileSystemIds = &localFileSystemIds
	return r
}

// A comma-separated list of local file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksDeleteRequest) LocalFileSystemNames(localFileSystemNames []string) APIFileSystemReplicaLinksDeleteRequest {
	r.localFileSystemNames = &localFileSystemNames
	return r
}

// A comma-separated list of remote file system IDs. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksDeleteRequest) RemoteFileSystemIds(remoteFileSystemIds []string) APIFileSystemReplicaLinksDeleteRequest {
	r.remoteFileSystemIds = &remoteFileSystemIds
	return r
}

// A comma-separated list of remote file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksDeleteRequest) RemoteFileSystemNames(remoteFileSystemNames []string) APIFileSystemReplicaLinksDeleteRequest {
	r.remoteFileSystemNames = &remoteFileSystemNames
	return r
}

// A comma-separated list of remote array IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksDeleteRequest) RemoteIds(remoteIds []string) APIFileSystemReplicaLinksDeleteRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;remote_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksDeleteRequest) RemoteNames(remoteNames []string) APIFileSystemReplicaLinksDeleteRequest {
	r.remoteNames = &remoteNames
	return r
}

func (r APIFileSystemReplicaLinksDeleteRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemReplicaLinksDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemReplicaLinksDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.FileSystemReplicaLinksDeleteExecute(r)
}

/*
FileSystemReplicaLinksDelete DELETE file-system-replica-links

Delete a file system replication link.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemReplicaLinksDeleteRequest
*/
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksDelete(ctx context.Context) APIFileSystemReplicaLinksDeleteRequest {
	return APIFileSystemReplicaLinksDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksDeleteExecute(r APIFileSystemReplicaLinksDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "FileSystemReplicaLinksAPIService.FileSystemReplicaLinksDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.11/file-system-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cancelInProgressTransfers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cancel_in_progress_transfers", r.cancelInProgressTransfers, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.localFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_ids", r.localFileSystemIds, "csv")
	}
	if r.localFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_names", r.localFileSystemNames, "csv")
	}
	if r.remoteFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_file_system_ids", r.remoteFileSystemIds, "csv")
	}
	if r.remoteFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_file_system_names", r.remoteFileSystemNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIFileSystemReplicaLinksGetRequest struct {
	ctx                   context.Context
	APIService            *FileSystemReplicaLinksAPIService
	continuationToken     *string
	filter                *string
	ids                   *[]string
	limit                 *int32
	localFileSystemIds    *[]string
	localFileSystemNames  *[]string
	offset                *int32
	remoteFileSystemIds   *[]string
	remoteFileSystemNames *[]string
	remoteIds             *[]string
	remoteNames           *[]string
	sort                  *[]string
	authorizationHeader   *string
}

// An opaque token used to iterate over a collection. The token to use on the next request is returned in the &#x60;continuation_token&#x60; field of the result.
func (r APIFileSystemReplicaLinksGetRequest) ContinuationToken(continuationToken string) APIFileSystemReplicaLinksGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APIFileSystemReplicaLinksGetRequest) Filter(filter string) APIFileSystemReplicaLinksGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIFileSystemReplicaLinksGetRequest) Ids(ids []string) APIFileSystemReplicaLinksGetRequest {
	r.ids = &ids
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APIFileSystemReplicaLinksGetRequest) Limit(limit int32) APIFileSystemReplicaLinksGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of local file system IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksGetRequest) LocalFileSystemIds(localFileSystemIds []string) APIFileSystemReplicaLinksGetRequest {
	r.localFileSystemIds = &localFileSystemIds
	return r
}

// A comma-separated list of local file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksGetRequest) LocalFileSystemNames(localFileSystemNames []string) APIFileSystemReplicaLinksGetRequest {
	r.localFileSystemNames = &localFileSystemNames
	return r
}

// The offset of the first resource to return from a collection.
func (r APIFileSystemReplicaLinksGetRequest) Offset(offset int32) APIFileSystemReplicaLinksGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of remote file system IDs. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksGetRequest) RemoteFileSystemIds(remoteFileSystemIds []string) APIFileSystemReplicaLinksGetRequest {
	r.remoteFileSystemIds = &remoteFileSystemIds
	return r
}

// A comma-separated list of remote file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksGetRequest) RemoteFileSystemNames(remoteFileSystemNames []string) APIFileSystemReplicaLinksGetRequest {
	r.remoteFileSystemNames = &remoteFileSystemNames
	return r
}

// A comma-separated list of remote array IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksGetRequest) RemoteIds(remoteIds []string) APIFileSystemReplicaLinksGetRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;remote_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksGetRequest) RemoteNames(remoteNames []string) APIFileSystemReplicaLinksGetRequest {
	r.remoteNames = &remoteNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIFileSystemReplicaLinksGetRequest) Sort(sort []string) APIFileSystemReplicaLinksGetRequest {
	r.sort = &sort
	return r
}

func (r APIFileSystemReplicaLinksGetRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemReplicaLinksGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemReplicaLinksGetRequest) Execute() (*FileSystemReplicaLinkGetResponse, *http.Response, error) {
	return r.APIService.FileSystemReplicaLinksGetExecute(r)
}

/*
FileSystemReplicaLinksGet GET file-system-replica-links

List file system replication link.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemReplicaLinksGetRequest
*/
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksGet(ctx context.Context) APIFileSystemReplicaLinksGetRequest {
	return APIFileSystemReplicaLinksGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileSystemReplicaLinkGetResponse
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksGetExecute(r APIFileSystemReplicaLinksGetRequest) (*FileSystemReplicaLinkGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FileSystemReplicaLinkGetResponse
	)

	endpoint := "FileSystemReplicaLinksAPIService.FileSystemReplicaLinksGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.11/file-system-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.localFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_ids", r.localFileSystemIds, "csv")
	}
	if r.localFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_names", r.localFileSystemNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.remoteFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_file_system_ids", r.remoteFileSystemIds, "csv")
	}
	if r.remoteFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_file_system_names", r.remoteFileSystemNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIFileSystemReplicaLinksPoliciesDeleteRequest struct {
	ctx                  context.Context
	APIService           *FileSystemReplicaLinksAPIService
	localFileSystemIds   *[]string
	localFileSystemNames *[]string
	memberIds            *[]string
	policyIds            *[]string
	policyNames          *[]string
	remoteIds            *[]string
	remoteNames          *[]string
	authorizationHeader  *string
}

// A comma-separated list of local file system IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) LocalFileSystemIds(localFileSystemIds []string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.localFileSystemIds = &localFileSystemIds
	return r
}

// A comma-separated list of local file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) LocalFileSystemNames(localFileSystemNames []string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.localFileSystemNames = &localFileSystemNames
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) MemberIds(memberIds []string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) PolicyIds(policyIds []string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) PolicyNames(policyNames []string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.policyNames = &policyNames
	return r
}

// A comma-separated list of remote array IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) RemoteIds(remoteIds []string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;remote_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) RemoteNames(remoteNames []string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.remoteNames = &remoteNames
	return r
}

func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemReplicaLinksPoliciesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.FileSystemReplicaLinksPoliciesDeleteExecute(r)
}

/*
FileSystemReplicaLinksPoliciesDelete DELETE file-system-replica-links/policies

Remove a policy from a file system replication link.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemReplicaLinksPoliciesDeleteRequest
*/
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPoliciesDelete(ctx context.Context) APIFileSystemReplicaLinksPoliciesDeleteRequest {
	return APIFileSystemReplicaLinksPoliciesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPoliciesDeleteExecute(r APIFileSystemReplicaLinksPoliciesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "FileSystemReplicaLinksAPIService.FileSystemReplicaLinksPoliciesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.11/file-system-replica-links/policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.localFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_ids", r.localFileSystemIds, "csv")
	}
	if r.localFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_names", r.localFileSystemNames, "csv")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIFileSystemReplicaLinksPoliciesGetRequest struct {
	ctx                   context.Context
	APIService            *FileSystemReplicaLinksAPIService
	continuationToken     *string
	filter                *string
	limit                 *int32
	localFileSystemIds    *[]string
	localFileSystemNames  *[]string
	memberIds             *[]string
	offset                *int32
	policyIds             *[]string
	policyNames           *[]string
	remoteFileSystemIds   *[]string
	remoteFileSystemNames *[]string
	remoteIds             *[]string
	remoteNames           *[]string
	sort                  *[]string
	authorizationHeader   *string
}

// An opaque token used to iterate over a collection. The token to use on the next request is returned in the &#x60;continuation_token&#x60; field of the result.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) ContinuationToken(continuationToken string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) Filter(filter string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.filter = &filter
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) Limit(limit int32) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of local file system IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) LocalFileSystemIds(localFileSystemIds []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.localFileSystemIds = &localFileSystemIds
	return r
}

// A comma-separated list of local file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) LocalFileSystemNames(localFileSystemNames []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.localFileSystemNames = &localFileSystemNames
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) MemberIds(memberIds []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.memberIds = &memberIds
	return r
}

// The offset of the first resource to return from a collection.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) Offset(offset int32) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) PolicyIds(policyIds []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) PolicyNames(policyNames []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.policyNames = &policyNames
	return r
}

// A comma-separated list of remote file system IDs. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) RemoteFileSystemIds(remoteFileSystemIds []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.remoteFileSystemIds = &remoteFileSystemIds
	return r
}

// A comma-separated list of remote file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) RemoteFileSystemNames(remoteFileSystemNames []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.remoteFileSystemNames = &remoteFileSystemNames
	return r
}

// A comma-separated list of remote array IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) RemoteIds(remoteIds []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;remote_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) RemoteNames(remoteNames []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.remoteNames = &remoteNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIFileSystemReplicaLinksPoliciesGetRequest) Sort(sort []string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.sort = &sort
	return r
}

func (r APIFileSystemReplicaLinksPoliciesGetRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemReplicaLinksPoliciesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemReplicaLinksPoliciesGetRequest) Execute() (*PolicyMemberWithRemoteGetResponse, *http.Response, error) {
	return r.APIService.FileSystemReplicaLinksPoliciesGetExecute(r)
}

/*
FileSystemReplicaLinksPoliciesGet GET file-system-replica-links/policies

List file system replication link policies.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemReplicaLinksPoliciesGetRequest
*/
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPoliciesGet(ctx context.Context) APIFileSystemReplicaLinksPoliciesGetRequest {
	return APIFileSystemReplicaLinksPoliciesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PolicyMemberWithRemoteGetResponse
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPoliciesGetExecute(r APIFileSystemReplicaLinksPoliciesGetRequest) (*PolicyMemberWithRemoteGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PolicyMemberWithRemoteGetResponse
	)

	endpoint := "FileSystemReplicaLinksAPIService.FileSystemReplicaLinksPoliciesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.11/file-system-replica-links/policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.localFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_ids", r.localFileSystemIds, "csv")
	}
	if r.localFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_names", r.localFileSystemNames, "csv")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.remoteFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_file_system_ids", r.remoteFileSystemIds, "csv")
	}
	if r.remoteFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_file_system_names", r.remoteFileSystemNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIFileSystemReplicaLinksPoliciesPostRequest struct {
	ctx                  context.Context
	APIService           *FileSystemReplicaLinksAPIService
	localFileSystemIds   *[]string
	localFileSystemNames *[]string
	memberIds            *[]string
	policyIds            *[]string
	policyNames          *[]string
	remoteIds            *[]string
	remoteNames          *[]string
	authorizationHeader  *string
}

// A comma-separated list of local file system IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesPostRequest) LocalFileSystemIds(localFileSystemIds []string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.localFileSystemIds = &localFileSystemIds
	return r
}

// A comma-separated list of local file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesPostRequest) LocalFileSystemNames(localFileSystemNames []string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.localFileSystemNames = &localFileSystemNames
	return r
}

// A comma-separated list of member IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;member_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;member_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesPostRequest) MemberIds(memberIds []string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.memberIds = &memberIds
	return r
}

// A comma-separated list of policy IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;policy_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;policy_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesPostRequest) PolicyIds(policyIds []string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.policyIds = &policyIds
	return r
}

// A comma-separated list of policy names.
func (r APIFileSystemReplicaLinksPoliciesPostRequest) PolicyNames(policyNames []string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.policyNames = &policyNames
	return r
}

// A comma-separated list of remote array IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesPostRequest) RemoteIds(remoteIds []string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;remote_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPoliciesPostRequest) RemoteNames(remoteNames []string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.remoteNames = &remoteNames
	return r
}

func (r APIFileSystemReplicaLinksPoliciesPostRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemReplicaLinksPoliciesPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemReplicaLinksPoliciesPostRequest) Execute() (*PolicyMemberWithRemoteResponse, *http.Response, error) {
	return r.APIService.FileSystemReplicaLinksPoliciesPostExecute(r)
}

/*
FileSystemReplicaLinksPoliciesPost POST file-system-replica-links/policies

Add a policy to a file system replication link.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemReplicaLinksPoliciesPostRequest
*/
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPoliciesPost(ctx context.Context) APIFileSystemReplicaLinksPoliciesPostRequest {
	return APIFileSystemReplicaLinksPoliciesPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PolicyMemberWithRemoteResponse
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPoliciesPostExecute(r APIFileSystemReplicaLinksPoliciesPostRequest) (*PolicyMemberWithRemoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PolicyMemberWithRemoteResponse
	)

	endpoint := "FileSystemReplicaLinksAPIService.FileSystemReplicaLinksPoliciesPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.11/file-system-replica-links/policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.localFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_ids", r.localFileSystemIds, "csv")
	}
	if r.localFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_names", r.localFileSystemNames, "csv")
	}
	if r.memberIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "member_ids", r.memberIds, "csv")
	}
	if r.policyIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_ids", r.policyIds, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIFileSystemReplicaLinksPostRequest struct {
	ctx                   context.Context
	APIService            *FileSystemReplicaLinksAPIService
	fileSystemReplicaLink *FileSystemReplicaLink
	ids                   *[]string
	localFileSystemIds    *[]string
	localFileSystemNames  *[]string
	remoteFileSystemNames *[]string
	remoteIds             *[]string
	remoteNames           *[]string
	authorizationHeader   *string
}

func (r APIFileSystemReplicaLinksPostRequest) FileSystemReplicaLink(fileSystemReplicaLink FileSystemReplicaLink) APIFileSystemReplicaLinksPostRequest {
	r.fileSystemReplicaLink = &fileSystemReplicaLink
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIFileSystemReplicaLinksPostRequest) Ids(ids []string) APIFileSystemReplicaLinksPostRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of local file system IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_file_system_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPostRequest) LocalFileSystemIds(localFileSystemIds []string) APIFileSystemReplicaLinksPostRequest {
	r.localFileSystemIds = &localFileSystemIds
	return r
}

// A comma-separated list of local file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPostRequest) LocalFileSystemNames(localFileSystemNames []string) APIFileSystemReplicaLinksPostRequest {
	r.localFileSystemNames = &localFileSystemNames
	return r
}

// A comma-separated list of remote file system names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_file_system_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPostRequest) RemoteFileSystemNames(remoteFileSystemNames []string) APIFileSystemReplicaLinksPostRequest {
	r.remoteFileSystemNames = &remoteFileSystemNames
	return r
}

// A comma-separated list of remote array IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksPostRequest) RemoteIds(remoteIds []string) APIFileSystemReplicaLinksPostRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;remote_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksPostRequest) RemoteNames(remoteNames []string) APIFileSystemReplicaLinksPostRequest {
	r.remoteNames = &remoteNames
	return r
}

func (r APIFileSystemReplicaLinksPostRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemReplicaLinksPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemReplicaLinksPostRequest) Execute() (*FileSystemReplicaLinkResponse, *http.Response, error) {
	return r.APIService.FileSystemReplicaLinksPostExecute(r)
}

/*
FileSystemReplicaLinksPost POST file-system-replica-links

Create a file system replication link.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemReplicaLinksPostRequest
*/
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPost(ctx context.Context) APIFileSystemReplicaLinksPostRequest {
	return APIFileSystemReplicaLinksPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileSystemReplicaLinkResponse
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksPostExecute(r APIFileSystemReplicaLinksPostRequest) (*FileSystemReplicaLinkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FileSystemReplicaLinkResponse
	)

	endpoint := "FileSystemReplicaLinksAPIService.FileSystemReplicaLinksPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.11/file-system-replica-links"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.fileSystemReplicaLink == nil {
		return localVarReturnValue, nil, reportError("fileSystemReplicaLink is required and must be specified")
	}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.localFileSystemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_ids", r.localFileSystemIds, "csv")
	}
	if r.localFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_file_system_names", r.localFileSystemNames, "csv")
	}
	if r.remoteFileSystemNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_file_system_names", r.remoteFileSystemNames, "csv")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.fileSystemReplicaLink
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIFileSystemReplicaLinksTransferGetRequest struct {
	ctx                 context.Context
	APIService          *FileSystemReplicaLinksAPIService
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	namesOrOwnerNames   *[]string
	offset              *int32
	remoteIds           *[]string
	remoteNames         *[]string
	sort                *[]string
	totalOnly           *bool
	authorizationHeader *string
}

// An opaque token used to iterate over a collection. The token to use on the next request is returned in the &#x60;continuation_token&#x60; field of the result.
func (r APIFileSystemReplicaLinksTransferGetRequest) ContinuationToken(continuationToken string) APIFileSystemReplicaLinksTransferGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APIFileSystemReplicaLinksTransferGetRequest) Filter(filter string) APIFileSystemReplicaLinksTransferGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIFileSystemReplicaLinksTransferGetRequest) Ids(ids []string) APIFileSystemReplicaLinksTransferGetRequest {
	r.ids = &ids
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APIFileSystemReplicaLinksTransferGetRequest) Limit(limit int32) APIFileSystemReplicaLinksTransferGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. Either the names of the snapshots or the owning file systems.
func (r APIFileSystemReplicaLinksTransferGetRequest) NamesOrOwnerNames(namesOrOwnerNames []string) APIFileSystemReplicaLinksTransferGetRequest {
	r.namesOrOwnerNames = &namesOrOwnerNames
	return r
}

// The offset of the first resource to return from a collection.
func (r APIFileSystemReplicaLinksTransferGetRequest) Offset(offset int32) APIFileSystemReplicaLinksTransferGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of remote array IDs. If after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_names&#x60; query parameter.
func (r APIFileSystemReplicaLinksTransferGetRequest) RemoteIds(remoteIds []string) APIFileSystemReplicaLinksTransferGetRequest {
	r.remoteIds = &remoteIds
	return r
}

// A comma-separated list of remote array names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;remote_ids&#x60; query parameter.
func (r APIFileSystemReplicaLinksTransferGetRequest) RemoteNames(remoteNames []string) APIFileSystemReplicaLinksTransferGetRequest {
	r.remoteNames = &remoteNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIFileSystemReplicaLinksTransferGetRequest) Sort(sort []string) APIFileSystemReplicaLinksTransferGetRequest {
	r.sort = &sort
	return r
}

// Only return the total record for the specified items. The total record will be the total of all items after filtering. The &#x60;items&#x60; list will be empty.
func (r APIFileSystemReplicaLinksTransferGetRequest) TotalOnly(totalOnly bool) APIFileSystemReplicaLinksTransferGetRequest {
	r.totalOnly = &totalOnly
	return r
}

func (r APIFileSystemReplicaLinksTransferGetRequest) AuthorizationHeader(authorizationHeader string) APIFileSystemReplicaLinksTransferGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIFileSystemReplicaLinksTransferGetRequest) Execute() (*FileSystemSnapshotGetTransferResponse, *http.Response, error) {
	return r.APIService.FileSystemReplicaLinksTransferGetExecute(r)
}

/*
FileSystemReplicaLinksTransferGet GET file-system-replica-links/transfer

List the transfer status details for file system replication.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIFileSystemReplicaLinksTransferGetRequest
*/
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksTransferGet(ctx context.Context) APIFileSystemReplicaLinksTransferGetRequest {
	return APIFileSystemReplicaLinksTransferGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileSystemSnapshotGetTransferResponse
func (a *FileSystemReplicaLinksAPIService) FileSystemReplicaLinksTransferGetExecute(r APIFileSystemReplicaLinksTransferGetRequest) (*FileSystemSnapshotGetTransferResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FileSystemSnapshotGetTransferResponse
	)

	endpoint := "FileSystemReplicaLinksAPIService.FileSystemReplicaLinksTransferGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.11/file-system-replica-links/transfer"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.namesOrOwnerNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names_or_owner_names", r.namesOrOwnerNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.remoteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_ids", r.remoteIds, "csv")
	}
	if r.remoteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_names", r.remoteNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_only", r.totalOnly, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
