/*
FlashBlade REST API

OpenAPI specification for FlashBlade REST API, developed by Everpure, Inc. (https://www.everpuredata.com/).

API version: 2.29
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// TelemetryMetricsCollectionsAPIService TelemetryMetricsCollectionsAPI service
type TelemetryMetricsCollectionsAPIService service

type APITelemetryMetricsCollectionsGetRequest struct {
	ctx                 context.Context
	APIService          *TelemetryMetricsCollectionsAPIService
	xRequestID          *string
	allowErrors         *bool
	contextNames        *[]string
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APITelemetryMetricsCollectionsGetRequest) XRequestID(xRequestID string) APITelemetryMetricsCollectionsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APITelemetryMetricsCollectionsGetRequest) AllowErrors(allowErrors bool) APITelemetryMetricsCollectionsGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APITelemetryMetricsCollectionsGetRequest) ContextNames(contextNames []string) APITelemetryMetricsCollectionsGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APITelemetryMetricsCollectionsGetRequest) ContinuationToken(continuationToken string) APITelemetryMetricsCollectionsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APITelemetryMetricsCollectionsGetRequest) Filter(filter string) APITelemetryMetricsCollectionsGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APITelemetryMetricsCollectionsGetRequest) Ids(ids []string) APITelemetryMetricsCollectionsGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APITelemetryMetricsCollectionsGetRequest) Limit(limit int32) APITelemetryMetricsCollectionsGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APITelemetryMetricsCollectionsGetRequest) Names(names []string) APITelemetryMetricsCollectionsGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APITelemetryMetricsCollectionsGetRequest) Offset(offset int32) APITelemetryMetricsCollectionsGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APITelemetryMetricsCollectionsGetRequest) Sort(sort []string) APITelemetryMetricsCollectionsGetRequest {
	r.sort = &sort
	return r
}

func (r APITelemetryMetricsCollectionsGetRequest) AuthorizationHeader(authorizationHeader string) APITelemetryMetricsCollectionsGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APITelemetryMetricsCollectionsGetRequest) Execute() (*TelemetryMetricsCollectionGetResponse, *http.Response, error) {
	return r.APIService.TelemetryMetricsCollectionsGetExecute(r)
}

/*
TelemetryMetricsCollectionsGet GET telemetry-metrics-collections

Displays a list of telemetry metrics collections. Collections are
pre-defined groupings of related metrics with supported resolutions.
Collections are read-only and cannot be created, modified, or deleted.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APITelemetryMetricsCollectionsGetRequest
*/
func (a *TelemetryMetricsCollectionsAPIService) TelemetryMetricsCollectionsGet(ctx context.Context) APITelemetryMetricsCollectionsGetRequest {
	return APITelemetryMetricsCollectionsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TelemetryMetricsCollectionGetResponse
func (a *TelemetryMetricsCollectionsAPIService) TelemetryMetricsCollectionsGetExecute(r APITelemetryMetricsCollectionsGetRequest) (*TelemetryMetricsCollectionGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TelemetryMetricsCollectionGetResponse
	)

	endpoint := "TelemetryMetricsCollectionsAPIService.TelemetryMetricsCollectionsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.29/telemetry-metrics-collections"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("x-auth-token"), r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
		403: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APITelemetryMetricsCollectionsMetricsGetRequest struct {
	ctx                 context.Context
	APIService          *TelemetryMetricsCollectionsAPIService
	xRequestID          *string
	allowErrors         *bool
	collectionIds       *[]string
	collectionNames     *[]string
	contextNames        *[]string
	continuationToken   *string
	filter              *string
	limit               *int32
	metricIds           *[]string
	metricNames         *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APITelemetryMetricsCollectionsMetricsGetRequest) XRequestID(xRequestID string) APITelemetryMetricsCollectionsMetricsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APITelemetryMetricsCollectionsMetricsGetRequest) AllowErrors(allowErrors bool) APITelemetryMetricsCollectionsMetricsGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// A comma-separated list of collection IDs. If, after filtering, there is not at least one resource that matches each of the elements of &#x60;collection_ids&#x60;, an error is returned. This parameter cannot be provided together with the &#x60;collection_names&#x60; query parameter.
func (r APITelemetryMetricsCollectionsMetricsGetRequest) CollectionIds(collectionIds []string) APITelemetryMetricsCollectionsMetricsGetRequest {
	r.collectionIds = &collectionIds
	return r
}

// A comma-separated list of collection names. If, after filtering, there is not at least one resource that matches each of the elements of &#x60;collection_names&#x60;, an error is returned. This parameter cannot be provided together with the &#x60;collection_ids&#x60; query parameter.
func (r APITelemetryMetricsCollectionsMetricsGetRequest) CollectionNames(collectionNames []string) APITelemetryMetricsCollectionsMetricsGetRequest {
	r.collectionNames = &collectionNames
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APITelemetryMetricsCollectionsMetricsGetRequest) ContextNames(contextNames []string) APITelemetryMetricsCollectionsMetricsGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APITelemetryMetricsCollectionsMetricsGetRequest) ContinuationToken(continuationToken string) APITelemetryMetricsCollectionsMetricsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APITelemetryMetricsCollectionsMetricsGetRequest) Filter(filter string) APITelemetryMetricsCollectionsMetricsGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APITelemetryMetricsCollectionsMetricsGetRequest) Limit(limit int32) APITelemetryMetricsCollectionsMetricsGetRequest {
	r.limit = &limit
	return r
}

// Performs the specified operation on the unique metric IDs specified. Enter multiple IDs in comma-separated format.
func (r APITelemetryMetricsCollectionsMetricsGetRequest) MetricIds(metricIds []string) APITelemetryMetricsCollectionsMetricsGetRequest {
	r.metricIds = &metricIds
	return r
}

// Performs the specified operation on the unique metric names specified. Enter multiple names in comma-separated format.
func (r APITelemetryMetricsCollectionsMetricsGetRequest) MetricNames(metricNames []string) APITelemetryMetricsCollectionsMetricsGetRequest {
	r.metricNames = &metricNames
	return r
}

// The offset of the first resource to return from a collection.
func (r APITelemetryMetricsCollectionsMetricsGetRequest) Offset(offset int32) APITelemetryMetricsCollectionsMetricsGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APITelemetryMetricsCollectionsMetricsGetRequest) Sort(sort []string) APITelemetryMetricsCollectionsMetricsGetRequest {
	r.sort = &sort
	return r
}

func (r APITelemetryMetricsCollectionsMetricsGetRequest) AuthorizationHeader(authorizationHeader string) APITelemetryMetricsCollectionsMetricsGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APITelemetryMetricsCollectionsMetricsGetRequest) Execute() (*TelemetryMetricsCollectionMetricMemberGetResponse, *http.Response, error) {
	return r.APIService.TelemetryMetricsCollectionsMetricsGetExecute(r)
}

/*
TelemetryMetricsCollectionsMetricsGet GET telemetry-metrics-collections/metrics

Lists the membership relationships between telemetry metrics collections
and metrics. This operation returns which metrics belong to which
collections. It supports a many-to-many relationship model, allowing
metrics to belong to multiple collections (though currently all
collections are system-defined and non-overlapping).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APITelemetryMetricsCollectionsMetricsGetRequest
*/
func (a *TelemetryMetricsCollectionsAPIService) TelemetryMetricsCollectionsMetricsGet(ctx context.Context) APITelemetryMetricsCollectionsMetricsGetRequest {
	return APITelemetryMetricsCollectionsMetricsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TelemetryMetricsCollectionMetricMemberGetResponse
func (a *TelemetryMetricsCollectionsAPIService) TelemetryMetricsCollectionsMetricsGetExecute(r APITelemetryMetricsCollectionsMetricsGetRequest) (*TelemetryMetricsCollectionMetricMemberGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TelemetryMetricsCollectionMetricMemberGetResponse
	)

	endpoint := "TelemetryMetricsCollectionsAPIService.TelemetryMetricsCollectionsMetricsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.29/telemetry-metrics-collections/metrics"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.collectionIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_ids", r.collectionIds, "csv")
	}
	if r.collectionNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "collection_names", r.collectionNames, "csv")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.metricIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metric_ids", r.metricIds, "csv")
	}
	if r.metricNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metric_names", r.metricNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("x-auth-token"), r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
		403: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
