/*
FlashBlade REST API

A lightweight client for FlashBlade REST API 2.16, developed by Pure Storage, Inc. (http://www.purestorage.com/).

API version: 2.16
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// BucketsAPIService BucketsAPI service
type BucketsAPIService service

type APIBucketsBucketAccessPoliciesDeleteRequest struct {
	ctx                 context.Context
	APIService          *BucketsAPIService
	xRequestID          *string
	bucketIds           *[]string
	bucketNames         *[]string
	names               *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIBucketsBucketAccessPoliciesDeleteRequest) XRequestID(xRequestID string) APIBucketsBucketAccessPoliciesDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of bucket IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;bucket_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_names&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsBucketAccessPoliciesDeleteRequest) BucketIds(bucketIds []string) APIBucketsBucketAccessPoliciesDeleteRequest {
	r.bucketIds = &bucketIds
	return r
}

// A comma-separated list of bucket names. If there is not at least one resource that matches each of the elements of &#x60;bucket_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_ids&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsBucketAccessPoliciesDeleteRequest) BucketNames(bucketNames []string) APIBucketsBucketAccessPoliciesDeleteRequest {
	r.bucketNames = &bucketNames
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APIBucketsBucketAccessPoliciesDeleteRequest) Names(names []string) APIBucketsBucketAccessPoliciesDeleteRequest {
	r.names = &names
	return r
}

func (r APIBucketsBucketAccessPoliciesDeleteRequest) AuthorizationHeader(authorizationHeader string) APIBucketsBucketAccessPoliciesDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketsBucketAccessPoliciesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.BucketsBucketAccessPoliciesDeleteExecute(r)
}

/*
BucketsBucketAccessPoliciesDelete DELETE buckets/bucket-access-policies

Delete a bucket policy of the specified bucket. Either `names` or `bucket_names`/`bucket_ids`
query parameters can be used.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketsBucketAccessPoliciesDeleteRequest
*/
func (a *BucketsAPIService) BucketsBucketAccessPoliciesDelete(ctx context.Context) APIBucketsBucketAccessPoliciesDeleteRequest {
	return APIBucketsBucketAccessPoliciesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *BucketsAPIService) BucketsBucketAccessPoliciesDeleteExecute(r APIBucketsBucketAccessPoliciesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "BucketsAPIService.BucketsBucketAccessPoliciesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.16/buckets/bucket-access-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_ids", r.bucketIds, "csv")
	}
	if r.bucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_names", r.bucketNames, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIBucketsBucketAccessPoliciesGetRequest struct {
	ctx                 context.Context
	APIService          *BucketsAPIService
	xRequestID          *string
	bucketIds           *[]string
	bucketNames         *[]string
	continuationToken   *string
	filter              *string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIBucketsBucketAccessPoliciesGetRequest) XRequestID(xRequestID string) APIBucketsBucketAccessPoliciesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of bucket IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;bucket_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_names&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsBucketAccessPoliciesGetRequest) BucketIds(bucketIds []string) APIBucketsBucketAccessPoliciesGetRequest {
	r.bucketIds = &bucketIds
	return r
}

// A comma-separated list of bucket names. If there is not at least one resource that matches each of the elements of &#x60;bucket_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_ids&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsBucketAccessPoliciesGetRequest) BucketNames(bucketNames []string) APIBucketsBucketAccessPoliciesGetRequest {
	r.bucketNames = &bucketNames
	return r
}

// An opaque token used to iterate over a collection. The token to use on the next request is returned in the &#x60;continuation_token&#x60; field of the result.
func (r APIBucketsBucketAccessPoliciesGetRequest) ContinuationToken(continuationToken string) APIBucketsBucketAccessPoliciesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APIBucketsBucketAccessPoliciesGetRequest) Filter(filter string) APIBucketsBucketAccessPoliciesGetRequest {
	r.filter = &filter
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APIBucketsBucketAccessPoliciesGetRequest) Limit(limit int32) APIBucketsBucketAccessPoliciesGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APIBucketsBucketAccessPoliciesGetRequest) Names(names []string) APIBucketsBucketAccessPoliciesGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APIBucketsBucketAccessPoliciesGetRequest) Offset(offset int32) APIBucketsBucketAccessPoliciesGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIBucketsBucketAccessPoliciesGetRequest) Sort(sort []string) APIBucketsBucketAccessPoliciesGetRequest {
	r.sort = &sort
	return r
}

func (r APIBucketsBucketAccessPoliciesGetRequest) AuthorizationHeader(authorizationHeader string) APIBucketsBucketAccessPoliciesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketsBucketAccessPoliciesGetRequest) Execute() (*BucketAccessPolicyGetResponse, *http.Response, error) {
	return r.APIService.BucketsBucketAccessPoliciesGetExecute(r)
}

/*
BucketsBucketAccessPoliciesGet GET buckets/bucket-access-policies

List a policy for the specified bucket and its attributes. Either `names` or
`bucket_names`/`bucket_ids` query parameters can be used.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketsBucketAccessPoliciesGetRequest
*/
func (a *BucketsAPIService) BucketsBucketAccessPoliciesGet(ctx context.Context) APIBucketsBucketAccessPoliciesGetRequest {
	return APIBucketsBucketAccessPoliciesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BucketAccessPolicyGetResponse
func (a *BucketsAPIService) BucketsBucketAccessPoliciesGetExecute(r APIBucketsBucketAccessPoliciesGetRequest) (*BucketAccessPolicyGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BucketAccessPolicyGetResponse
	)

	endpoint := "BucketsAPIService.BucketsBucketAccessPoliciesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.16/buckets/bucket-access-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_ids", r.bucketIds, "csv")
	}
	if r.bucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_names", r.bucketNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIBucketsBucketAccessPoliciesPostRequest struct {
	ctx                 context.Context
	APIService          *BucketsAPIService
	xRequestID          *string
	bucketIds           *[]string
	bucketNames         *[]string
	policy              *BucketAccessPolicyPost
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIBucketsBucketAccessPoliciesPostRequest) XRequestID(xRequestID string) APIBucketsBucketAccessPoliciesPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of bucket IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;bucket_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_names&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsBucketAccessPoliciesPostRequest) BucketIds(bucketIds []string) APIBucketsBucketAccessPoliciesPostRequest {
	r.bucketIds = &bucketIds
	return r
}

// A comma-separated list of bucket names. If there is not at least one resource that matches each of the elements of &#x60;bucket_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_ids&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsBucketAccessPoliciesPostRequest) BucketNames(bucketNames []string) APIBucketsBucketAccessPoliciesPostRequest {
	r.bucketNames = &bucketNames
	return r
}

func (r APIBucketsBucketAccessPoliciesPostRequest) Policy(policy BucketAccessPolicyPost) APIBucketsBucketAccessPoliciesPostRequest {
	r.policy = &policy
	return r
}

func (r APIBucketsBucketAccessPoliciesPostRequest) AuthorizationHeader(authorizationHeader string) APIBucketsBucketAccessPoliciesPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketsBucketAccessPoliciesPostRequest) Execute() (*BucketAccessPolicyResponse, *http.Response, error) {
	return r.APIService.BucketsBucketAccessPoliciesPostExecute(r)
}

/*
BucketsBucketAccessPoliciesPost POST buckets/bucket-access-policies

Create a new policy for the specified bucket. Policy's name will be autogenerated
by the system.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketsBucketAccessPoliciesPostRequest
*/
func (a *BucketsAPIService) BucketsBucketAccessPoliciesPost(ctx context.Context) APIBucketsBucketAccessPoliciesPostRequest {
	return APIBucketsBucketAccessPoliciesPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BucketAccessPolicyResponse
func (a *BucketsAPIService) BucketsBucketAccessPoliciesPostExecute(r APIBucketsBucketAccessPoliciesPostRequest) (*BucketAccessPolicyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BucketAccessPolicyResponse
	)

	endpoint := "BucketsAPIService.BucketsBucketAccessPoliciesPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.16/buckets/bucket-access-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_ids", r.bucketIds, "csv")
	}
	if r.bucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_names", r.bucketNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.policy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIBucketsBucketAccessPoliciesRulesDeleteRequest struct {
	ctx                 context.Context
	APIService          *BucketsAPIService
	xRequestID          *string
	bucketIds           *[]string
	bucketNames         *[]string
	names               *[]string
	policyNames         *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIBucketsBucketAccessPoliciesRulesDeleteRequest) XRequestID(xRequestID string) APIBucketsBucketAccessPoliciesRulesDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of bucket IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;bucket_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_names&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsBucketAccessPoliciesRulesDeleteRequest) BucketIds(bucketIds []string) APIBucketsBucketAccessPoliciesRulesDeleteRequest {
	r.bucketIds = &bucketIds
	return r
}

// A comma-separated list of bucket names. If there is not at least one resource that matches each of the elements of &#x60;bucket_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_ids&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsBucketAccessPoliciesRulesDeleteRequest) BucketNames(bucketNames []string) APIBucketsBucketAccessPoliciesRulesDeleteRequest {
	r.bucketNames = &bucketNames
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APIBucketsBucketAccessPoliciesRulesDeleteRequest) Names(names []string) APIBucketsBucketAccessPoliciesRulesDeleteRequest {
	r.names = &names
	return r
}

// A comma-separated list of policy names.
func (r APIBucketsBucketAccessPoliciesRulesDeleteRequest) PolicyNames(policyNames []string) APIBucketsBucketAccessPoliciesRulesDeleteRequest {
	r.policyNames = &policyNames
	return r
}

func (r APIBucketsBucketAccessPoliciesRulesDeleteRequest) AuthorizationHeader(authorizationHeader string) APIBucketsBucketAccessPoliciesRulesDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketsBucketAccessPoliciesRulesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.BucketsBucketAccessPoliciesRulesDeleteExecute(r)
}

/*
BucketsBucketAccessPoliciesRulesDelete DELETE buckets/bucket-access-policies/rules

Delete one or more bucket policy rules for the specified bucket. Either `policy_names`
or `bucket_names`/`bucket_ids` query parameters can be used.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketsBucketAccessPoliciesRulesDeleteRequest
*/
func (a *BucketsAPIService) BucketsBucketAccessPoliciesRulesDelete(ctx context.Context) APIBucketsBucketAccessPoliciesRulesDeleteRequest {
	return APIBucketsBucketAccessPoliciesRulesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *BucketsAPIService) BucketsBucketAccessPoliciesRulesDeleteExecute(r APIBucketsBucketAccessPoliciesRulesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "BucketsAPIService.BucketsBucketAccessPoliciesRulesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.16/buckets/bucket-access-policies/rules"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_ids", r.bucketIds, "csv")
	}
	if r.bucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_names", r.bucketNames, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIBucketsBucketAccessPoliciesRulesGetRequest struct {
	ctx                 context.Context
	APIService          *BucketsAPIService
	xRequestID          *string
	bucketIds           *[]string
	bucketNames         *[]string
	continuationToken   *string
	filter              *string
	limit               *int32
	names               *[]string
	offset              *int32
	policyNames         *[]string
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIBucketsBucketAccessPoliciesRulesGetRequest) XRequestID(xRequestID string) APIBucketsBucketAccessPoliciesRulesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of bucket IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;bucket_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_names&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsBucketAccessPoliciesRulesGetRequest) BucketIds(bucketIds []string) APIBucketsBucketAccessPoliciesRulesGetRequest {
	r.bucketIds = &bucketIds
	return r
}

// A comma-separated list of bucket names. If there is not at least one resource that matches each of the elements of &#x60;bucket_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_ids&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsBucketAccessPoliciesRulesGetRequest) BucketNames(bucketNames []string) APIBucketsBucketAccessPoliciesRulesGetRequest {
	r.bucketNames = &bucketNames
	return r
}

// An opaque token used to iterate over a collection. The token to use on the next request is returned in the &#x60;continuation_token&#x60; field of the result.
func (r APIBucketsBucketAccessPoliciesRulesGetRequest) ContinuationToken(continuationToken string) APIBucketsBucketAccessPoliciesRulesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APIBucketsBucketAccessPoliciesRulesGetRequest) Filter(filter string) APIBucketsBucketAccessPoliciesRulesGetRequest {
	r.filter = &filter
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APIBucketsBucketAccessPoliciesRulesGetRequest) Limit(limit int32) APIBucketsBucketAccessPoliciesRulesGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APIBucketsBucketAccessPoliciesRulesGetRequest) Names(names []string) APIBucketsBucketAccessPoliciesRulesGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APIBucketsBucketAccessPoliciesRulesGetRequest) Offset(offset int32) APIBucketsBucketAccessPoliciesRulesGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of policy names.
func (r APIBucketsBucketAccessPoliciesRulesGetRequest) PolicyNames(policyNames []string) APIBucketsBucketAccessPoliciesRulesGetRequest {
	r.policyNames = &policyNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIBucketsBucketAccessPoliciesRulesGetRequest) Sort(sort []string) APIBucketsBucketAccessPoliciesRulesGetRequest {
	r.sort = &sort
	return r
}

func (r APIBucketsBucketAccessPoliciesRulesGetRequest) AuthorizationHeader(authorizationHeader string) APIBucketsBucketAccessPoliciesRulesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketsBucketAccessPoliciesRulesGetRequest) Execute() (*BucketAccessPolicyRuleGetResponse, *http.Response, error) {
	return r.APIService.BucketsBucketAccessPoliciesRulesGetExecute(r)
}

/*
BucketsBucketAccessPoliciesRulesGet GET buckets/bucket-access-policies/rules

List bucket policy rules for the specified bucket and their attributes. Either `policy_names`
or `bucket_names`/`bucket_ids` query parameters can be used.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketsBucketAccessPoliciesRulesGetRequest
*/
func (a *BucketsAPIService) BucketsBucketAccessPoliciesRulesGet(ctx context.Context) APIBucketsBucketAccessPoliciesRulesGetRequest {
	return APIBucketsBucketAccessPoliciesRulesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BucketAccessPolicyRuleGetResponse
func (a *BucketsAPIService) BucketsBucketAccessPoliciesRulesGetExecute(r APIBucketsBucketAccessPoliciesRulesGetRequest) (*BucketAccessPolicyRuleGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BucketAccessPolicyRuleGetResponse
	)

	endpoint := "BucketsAPIService.BucketsBucketAccessPoliciesRulesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.16/buckets/bucket-access-policies/rules"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_ids", r.bucketIds, "csv")
	}
	if r.bucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_names", r.bucketNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIBucketsBucketAccessPoliciesRulesPostRequest struct {
	ctx                 context.Context
	APIService          *BucketsAPIService
	names               *[]string
	rule                *BucketAccessPolicyRulePost
	xRequestID          *string
	bucketIds           *[]string
	bucketNames         *[]string
	policyNames         *[]string
	authorizationHeader *string
}

// A comma-separated list of resource names.
func (r APIBucketsBucketAccessPoliciesRulesPostRequest) Names(names []string) APIBucketsBucketAccessPoliciesRulesPostRequest {
	r.names = &names
	return r
}

func (r APIBucketsBucketAccessPoliciesRulesPostRequest) Rule(rule BucketAccessPolicyRulePost) APIBucketsBucketAccessPoliciesRulesPostRequest {
	r.rule = &rule
	return r
}

// Supplied by client during request or generated by server.
func (r APIBucketsBucketAccessPoliciesRulesPostRequest) XRequestID(xRequestID string) APIBucketsBucketAccessPoliciesRulesPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of bucket IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;bucket_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_names&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsBucketAccessPoliciesRulesPostRequest) BucketIds(bucketIds []string) APIBucketsBucketAccessPoliciesRulesPostRequest {
	r.bucketIds = &bucketIds
	return r
}

// A comma-separated list of bucket names. If there is not at least one resource that matches each of the elements of &#x60;bucket_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_ids&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsBucketAccessPoliciesRulesPostRequest) BucketNames(bucketNames []string) APIBucketsBucketAccessPoliciesRulesPostRequest {
	r.bucketNames = &bucketNames
	return r
}

// A comma-separated list of policy names.
func (r APIBucketsBucketAccessPoliciesRulesPostRequest) PolicyNames(policyNames []string) APIBucketsBucketAccessPoliciesRulesPostRequest {
	r.policyNames = &policyNames
	return r
}

func (r APIBucketsBucketAccessPoliciesRulesPostRequest) AuthorizationHeader(authorizationHeader string) APIBucketsBucketAccessPoliciesRulesPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketsBucketAccessPoliciesRulesPostRequest) Execute() (*BucketAccessPolicyRuleResponse, *http.Response, error) {
	return r.APIService.BucketsBucketAccessPoliciesRulesPostExecute(r)
}

/*
BucketsBucketAccessPoliciesRulesPost POST buckets/bucket-access-policies/rules

Create a new bucket policy rule for the specified bucket. Either `policy_names`
or `bucket_names`/`bucket_ids` query parameters can be used.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketsBucketAccessPoliciesRulesPostRequest
*/
func (a *BucketsAPIService) BucketsBucketAccessPoliciesRulesPost(ctx context.Context) APIBucketsBucketAccessPoliciesRulesPostRequest {
	return APIBucketsBucketAccessPoliciesRulesPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BucketAccessPolicyRuleResponse
func (a *BucketsAPIService) BucketsBucketAccessPoliciesRulesPostExecute(r APIBucketsBucketAccessPoliciesRulesPostRequest) (*BucketAccessPolicyRuleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BucketAccessPolicyRuleResponse
	)

	endpoint := "BucketsAPIService.BucketsBucketAccessPoliciesRulesPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.16/buckets/bucket-access-policies/rules"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.names == nil {
		return localVarReturnValue, nil, reportError("names is required and must be specified")
	}
	if r.rule == nil {
		return localVarReturnValue, nil, reportError("rule is required and must be specified")
	}

	if r.bucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_ids", r.bucketIds, "csv")
	}
	if r.bucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_names", r.bucketNames, "csv")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.rule
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIBucketsCrossOriginResourceSharingPoliciesDeleteRequest struct {
	ctx                 context.Context
	APIService          *BucketsAPIService
	xRequestID          *string
	bucketIds           *[]string
	bucketNames         *[]string
	names               *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIBucketsCrossOriginResourceSharingPoliciesDeleteRequest) XRequestID(xRequestID string) APIBucketsCrossOriginResourceSharingPoliciesDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of bucket IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;bucket_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_names&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsCrossOriginResourceSharingPoliciesDeleteRequest) BucketIds(bucketIds []string) APIBucketsCrossOriginResourceSharingPoliciesDeleteRequest {
	r.bucketIds = &bucketIds
	return r
}

// A comma-separated list of bucket names. If there is not at least one resource that matches each of the elements of &#x60;bucket_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_ids&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsCrossOriginResourceSharingPoliciesDeleteRequest) BucketNames(bucketNames []string) APIBucketsCrossOriginResourceSharingPoliciesDeleteRequest {
	r.bucketNames = &bucketNames
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APIBucketsCrossOriginResourceSharingPoliciesDeleteRequest) Names(names []string) APIBucketsCrossOriginResourceSharingPoliciesDeleteRequest {
	r.names = &names
	return r
}

func (r APIBucketsCrossOriginResourceSharingPoliciesDeleteRequest) AuthorizationHeader(authorizationHeader string) APIBucketsCrossOriginResourceSharingPoliciesDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketsCrossOriginResourceSharingPoliciesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.BucketsCrossOriginResourceSharingPoliciesDeleteExecute(r)
}

/*
BucketsCrossOriginResourceSharingPoliciesDelete DELETE buckets/cross-origin-resource-sharing-policies

Delete a cross origin resource sharing policy of the specified bucket.
Either `names` or `bucket_names`/`bucket_ids` query parameters can be used.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketsCrossOriginResourceSharingPoliciesDeleteRequest
*/
func (a *BucketsAPIService) BucketsCrossOriginResourceSharingPoliciesDelete(ctx context.Context) APIBucketsCrossOriginResourceSharingPoliciesDeleteRequest {
	return APIBucketsCrossOriginResourceSharingPoliciesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *BucketsAPIService) BucketsCrossOriginResourceSharingPoliciesDeleteExecute(r APIBucketsCrossOriginResourceSharingPoliciesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "BucketsAPIService.BucketsCrossOriginResourceSharingPoliciesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.16/buckets/cross-origin-resource-sharing-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_ids", r.bucketIds, "csv")
	}
	if r.bucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_names", r.bucketNames, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIBucketsCrossOriginResourceSharingPoliciesGetRequest struct {
	ctx                 context.Context
	APIService          *BucketsAPIService
	xRequestID          *string
	bucketIds           *[]string
	bucketNames         *[]string
	continuationToken   *string
	filter              *string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIBucketsCrossOriginResourceSharingPoliciesGetRequest) XRequestID(xRequestID string) APIBucketsCrossOriginResourceSharingPoliciesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of bucket IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;bucket_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_names&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsCrossOriginResourceSharingPoliciesGetRequest) BucketIds(bucketIds []string) APIBucketsCrossOriginResourceSharingPoliciesGetRequest {
	r.bucketIds = &bucketIds
	return r
}

// A comma-separated list of bucket names. If there is not at least one resource that matches each of the elements of &#x60;bucket_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_ids&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsCrossOriginResourceSharingPoliciesGetRequest) BucketNames(bucketNames []string) APIBucketsCrossOriginResourceSharingPoliciesGetRequest {
	r.bucketNames = &bucketNames
	return r
}

// An opaque token used to iterate over a collection. The token to use on the next request is returned in the &#x60;continuation_token&#x60; field of the result.
func (r APIBucketsCrossOriginResourceSharingPoliciesGetRequest) ContinuationToken(continuationToken string) APIBucketsCrossOriginResourceSharingPoliciesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APIBucketsCrossOriginResourceSharingPoliciesGetRequest) Filter(filter string) APIBucketsCrossOriginResourceSharingPoliciesGetRequest {
	r.filter = &filter
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APIBucketsCrossOriginResourceSharingPoliciesGetRequest) Limit(limit int32) APIBucketsCrossOriginResourceSharingPoliciesGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APIBucketsCrossOriginResourceSharingPoliciesGetRequest) Names(names []string) APIBucketsCrossOriginResourceSharingPoliciesGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APIBucketsCrossOriginResourceSharingPoliciesGetRequest) Offset(offset int32) APIBucketsCrossOriginResourceSharingPoliciesGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIBucketsCrossOriginResourceSharingPoliciesGetRequest) Sort(sort []string) APIBucketsCrossOriginResourceSharingPoliciesGetRequest {
	r.sort = &sort
	return r
}

func (r APIBucketsCrossOriginResourceSharingPoliciesGetRequest) AuthorizationHeader(authorizationHeader string) APIBucketsCrossOriginResourceSharingPoliciesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketsCrossOriginResourceSharingPoliciesGetRequest) Execute() (*CrossOriginResourceSharingPolicyGetResponse, *http.Response, error) {
	return r.APIService.BucketsCrossOriginResourceSharingPoliciesGetExecute(r)
}

/*
BucketsCrossOriginResourceSharingPoliciesGet GET buckets/cross-origin-resource-sharing-policies

List cross origin resource sharing policy for the specified bucket and its attributes.
Either `names` or `bucket_names`/`bucket_ids` query parameters can be used.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketsCrossOriginResourceSharingPoliciesGetRequest
*/
func (a *BucketsAPIService) BucketsCrossOriginResourceSharingPoliciesGet(ctx context.Context) APIBucketsCrossOriginResourceSharingPoliciesGetRequest {
	return APIBucketsCrossOriginResourceSharingPoliciesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CrossOriginResourceSharingPolicyGetResponse
func (a *BucketsAPIService) BucketsCrossOriginResourceSharingPoliciesGetExecute(r APIBucketsCrossOriginResourceSharingPoliciesGetRequest) (*CrossOriginResourceSharingPolicyGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CrossOriginResourceSharingPolicyGetResponse
	)

	endpoint := "BucketsAPIService.BucketsCrossOriginResourceSharingPoliciesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.16/buckets/cross-origin-resource-sharing-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_ids", r.bucketIds, "csv")
	}
	if r.bucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_names", r.bucketNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIBucketsCrossOriginResourceSharingPoliciesPostRequest struct {
	ctx                 context.Context
	APIService          *BucketsAPIService
	xRequestID          *string
	bucketIds           *[]string
	bucketNames         *[]string
	policy              *CrossOriginResourceSharingPolicyPatch
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIBucketsCrossOriginResourceSharingPoliciesPostRequest) XRequestID(xRequestID string) APIBucketsCrossOriginResourceSharingPoliciesPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of bucket IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;bucket_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_names&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsCrossOriginResourceSharingPoliciesPostRequest) BucketIds(bucketIds []string) APIBucketsCrossOriginResourceSharingPoliciesPostRequest {
	r.bucketIds = &bucketIds
	return r
}

// A comma-separated list of bucket names. If there is not at least one resource that matches each of the elements of &#x60;bucket_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_ids&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsCrossOriginResourceSharingPoliciesPostRequest) BucketNames(bucketNames []string) APIBucketsCrossOriginResourceSharingPoliciesPostRequest {
	r.bucketNames = &bucketNames
	return r
}

func (r APIBucketsCrossOriginResourceSharingPoliciesPostRequest) Policy(policy CrossOriginResourceSharingPolicyPatch) APIBucketsCrossOriginResourceSharingPoliciesPostRequest {
	r.policy = &policy
	return r
}

func (r APIBucketsCrossOriginResourceSharingPoliciesPostRequest) AuthorizationHeader(authorizationHeader string) APIBucketsCrossOriginResourceSharingPoliciesPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketsCrossOriginResourceSharingPoliciesPostRequest) Execute() (*CrossOriginResourceSharingPolicyResponse, *http.Response, error) {
	return r.APIService.BucketsCrossOriginResourceSharingPoliciesPostExecute(r)
}

/*
BucketsCrossOriginResourceSharingPoliciesPost POST buckets/cross-origin-resource-sharing-policies

Create a new cross origin resource sharing policy for the specified bucket.
Policy's name will be autogenerated by the system.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketsCrossOriginResourceSharingPoliciesPostRequest
*/
func (a *BucketsAPIService) BucketsCrossOriginResourceSharingPoliciesPost(ctx context.Context) APIBucketsCrossOriginResourceSharingPoliciesPostRequest {
	return APIBucketsCrossOriginResourceSharingPoliciesPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CrossOriginResourceSharingPolicyResponse
func (a *BucketsAPIService) BucketsCrossOriginResourceSharingPoliciesPostExecute(r APIBucketsCrossOriginResourceSharingPoliciesPostRequest) (*CrossOriginResourceSharingPolicyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CrossOriginResourceSharingPolicyResponse
	)

	endpoint := "BucketsAPIService.BucketsCrossOriginResourceSharingPoliciesPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.16/buckets/cross-origin-resource-sharing-policies"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_ids", r.bucketIds, "csv")
	}
	if r.bucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_names", r.bucketNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.policy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest struct {
	ctx                 context.Context
	APIService          *BucketsAPIService
	xRequestID          *string
	bucketIds           *[]string
	bucketNames         *[]string
	names               *[]string
	policyNames         *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest) XRequestID(xRequestID string) APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of bucket IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;bucket_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_names&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest) BucketIds(bucketIds []string) APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest {
	r.bucketIds = &bucketIds
	return r
}

// A comma-separated list of bucket names. If there is not at least one resource that matches each of the elements of &#x60;bucket_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_ids&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest) BucketNames(bucketNames []string) APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest {
	r.bucketNames = &bucketNames
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest) Names(names []string) APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest {
	r.names = &names
	return r
}

// A comma-separated list of policy names.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest) PolicyNames(policyNames []string) APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest {
	r.policyNames = &policyNames
	return r
}

func (r APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest) AuthorizationHeader(authorizationHeader string) APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.BucketsCrossOriginResourceSharingPoliciesRulesDeleteExecute(r)
}

/*
BucketsCrossOriginResourceSharingPoliciesRulesDelete DELETE buckets/cross-origin-resource-sharing-policies/rules

Delete one or more cross origin resource sharing policy rules for the specified bucket.
Either `policy_names` or `bucket_names` query parameters can be used.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest
*/
func (a *BucketsAPIService) BucketsCrossOriginResourceSharingPoliciesRulesDelete(ctx context.Context) APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest {
	return APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *BucketsAPIService) BucketsCrossOriginResourceSharingPoliciesRulesDeleteExecute(r APIBucketsCrossOriginResourceSharingPoliciesRulesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "BucketsAPIService.BucketsCrossOriginResourceSharingPoliciesRulesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.16/buckets/cross-origin-resource-sharing-policies/rules"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_ids", r.bucketIds, "csv")
	}
	if r.bucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_names", r.bucketNames, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest struct {
	ctx                 context.Context
	APIService          *BucketsAPIService
	xRequestID          *string
	bucketIds           *[]string
	bucketNames         *[]string
	continuationToken   *string
	filter              *string
	limit               *int32
	names               *[]string
	offset              *int32
	policyNames         *[]string
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest) XRequestID(xRequestID string) APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of bucket IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;bucket_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_names&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest) BucketIds(bucketIds []string) APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest {
	r.bucketIds = &bucketIds
	return r
}

// A comma-separated list of bucket names. If there is not at least one resource that matches each of the elements of &#x60;bucket_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_ids&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest) BucketNames(bucketNames []string) APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest {
	r.bucketNames = &bucketNames
	return r
}

// An opaque token used to iterate over a collection. The token to use on the next request is returned in the &#x60;continuation_token&#x60; field of the result.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest) ContinuationToken(continuationToken string) APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Exclude resources that don&#39;t match the specified criteria.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest) Filter(filter string) APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest {
	r.filter = &filter
	return r
}

// Limit the size of the response to the specified number of resources. A &#x60;limit&#x60; of &#x60;0&#x60; can be used to get the number of resources without getting all of the resources. It will be returned in the &#x60;total_item_count&#x60; field. If a client asks for a page size larger than the available number, the request is still valid. In that case the server just returns the available number of items, disregarding the client&#39;s page size request.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest) Limit(limit int32) APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest) Names(names []string) APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest) Offset(offset int32) APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of policy names.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest) PolicyNames(policyNames []string) APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest {
	r.policyNames = &policyNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest) Sort(sort []string) APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest {
	r.sort = &sort
	return r
}

func (r APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest) AuthorizationHeader(authorizationHeader string) APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest) Execute() (*CrossOriginResourceSharingPolicyRuleGetResponse, *http.Response, error) {
	return r.APIService.BucketsCrossOriginResourceSharingPoliciesRulesGetExecute(r)
}

/*
BucketsCrossOriginResourceSharingPoliciesRulesGet GET buckets/cross-origin-resource-sharing-policies/rules

List cross origin resource sharing policy rules for the specified bucket and their attributes.
Either `policy_names` or `bucket_names` query parameters can be used.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest
*/
func (a *BucketsAPIService) BucketsCrossOriginResourceSharingPoliciesRulesGet(ctx context.Context) APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest {
	return APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CrossOriginResourceSharingPolicyRuleGetResponse
func (a *BucketsAPIService) BucketsCrossOriginResourceSharingPoliciesRulesGetExecute(r APIBucketsCrossOriginResourceSharingPoliciesRulesGetRequest) (*CrossOriginResourceSharingPolicyRuleGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CrossOriginResourceSharingPolicyRuleGetResponse
	)

	endpoint := "BucketsAPIService.BucketsCrossOriginResourceSharingPoliciesRulesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.16/buckets/cross-origin-resource-sharing-policies/rules"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_ids", r.bucketIds, "csv")
	}
	if r.bucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_names", r.bucketNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.policyNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_names", r.policyNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIBucketsCrossOriginResourceSharingPoliciesRulesPostRequest struct {
	ctx                 context.Context
	APIService          *BucketsAPIService
	names               *[]string
	rule                *CrossOriginResourceSharingPolicyRulePost
	xRequestID          *string
	bucketIds           *[]string
	bucketNames         *[]string
	policyNames         *[]string
	authorizationHeader *string
}

// A comma-separated list of resource names.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesPostRequest) Names(names []string) APIBucketsCrossOriginResourceSharingPoliciesRulesPostRequest {
	r.names = &names
	return r
}

func (r APIBucketsCrossOriginResourceSharingPoliciesRulesPostRequest) Rule(rule CrossOriginResourceSharingPolicyRulePost) APIBucketsCrossOriginResourceSharingPoliciesRulesPostRequest {
	r.rule = &rule
	return r
}

// Supplied by client during request or generated by server.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesPostRequest) XRequestID(xRequestID string) APIBucketsCrossOriginResourceSharingPoliciesRulesPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of bucket IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;bucket_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_names&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesPostRequest) BucketIds(bucketIds []string) APIBucketsCrossOriginResourceSharingPoliciesRulesPostRequest {
	r.bucketIds = &bucketIds
	return r
}

// A comma-separated list of bucket names. If there is not at least one resource that matches each of the elements of &#x60;bucket_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_ids&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesPostRequest) BucketNames(bucketNames []string) APIBucketsCrossOriginResourceSharingPoliciesRulesPostRequest {
	r.bucketNames = &bucketNames
	return r
}

// A comma-separated list of policy names.
func (r APIBucketsCrossOriginResourceSharingPoliciesRulesPostRequest) PolicyNames(policyNames []string) APIBucketsCrossOriginResourceSharingPoliciesRulesPostRequest {
	r.policyNames = &policyNames
	return r
}

func (r APIBucketsCrossOriginResourceSharingPoliciesRulesPostRequest) AuthorizationHeader(authorizationHeader string) APIBucketsCrossOriginResourceSharingPoliciesRulesPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIBucketsCrossOriginResourceSharingPoliciesRulesPostRequest) Execute() (*CrossOriginResourceSharingPolicyRuleResponse, *http.Response, error) {
	return r.APIService.BucketsCrossOriginResourceSharingPoliciesRulesPostExecute(r)
}

/*
BucketsCrossOriginResourceSharingPoliciesRulesPost POST buckets/cross-origin-resource-sharing-policies/rules

Create a new cross origin resource sharing policy rule for the specified bucket.
Either `policy_names` or `bucket_names` query parameters can be used.

[...]
