/*
FlashBlade REST API

OpenAPI specification for FlashBlade REST API, developed by Pure Storage, Inc. (https://www.purestorage.com/).

API version: 2.26
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// RealmConnectionsAPIService RealmConnectionsAPI service
type RealmConnectionsAPIService service

type APIRealmConnectionsConnectionKeyDeleteRequest struct {
	ctx                 context.Context
	APIService          *RealmConnectionsAPIService
	xRequestID          *string
	realmIds            *[]string
	realmNames          *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIRealmConnectionsConnectionKeyDeleteRequest) XRequestID(xRequestID string) APIRealmConnectionsConnectionKeyDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of realm IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;realm_names&#x60; query parameter.
func (r APIRealmConnectionsConnectionKeyDeleteRequest) RealmIds(realmIds []string) APIRealmConnectionsConnectionKeyDeleteRequest {
	r.realmIds = &realmIds
	return r
}

// A comma-separated list of realm names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;realm_ids&#x60; query parameter.
func (r APIRealmConnectionsConnectionKeyDeleteRequest) RealmNames(realmNames []string) APIRealmConnectionsConnectionKeyDeleteRequest {
	r.realmNames = &realmNames
	return r
}

func (r APIRealmConnectionsConnectionKeyDeleteRequest) AuthorizationHeader(authorizationHeader string) APIRealmConnectionsConnectionKeyDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIRealmConnectionsConnectionKeyDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.RealmConnectionsConnectionKeyDeleteExecute(r)
}

/*
RealmConnectionsConnectionKeyDelete DELETE realm-connections/connection-key

Delete a realm connection key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRealmConnectionsConnectionKeyDeleteRequest
*/
func (a *RealmConnectionsAPIService) RealmConnectionsConnectionKeyDelete(ctx context.Context) APIRealmConnectionsConnectionKeyDeleteRequest {
	return APIRealmConnectionsConnectionKeyDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *RealmConnectionsAPIService) RealmConnectionsConnectionKeyDeleteExecute(r APIRealmConnectionsConnectionKeyDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "RealmConnectionsAPIService.RealmConnectionsConnectionKeyDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.26/realm-connections/connection-key"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.realmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "realm_ids", r.realmIds, "csv")
	}
	if r.realmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "realm_names", r.realmNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIRealmConnectionsConnectionKeyGetRequest struct {
	ctx                 context.Context
	APIService          *RealmConnectionsAPIService
	xRequestID          *string
	continuationToken   *string
	filter              *string
	limit               *int32
	offset              *int32
	realmIds            *[]string
	realmNames          *[]string
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIRealmConnectionsConnectionKeyGetRequest) XRequestID(xRequestID string) APIRealmConnectionsConnectionKeyGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIRealmConnectionsConnectionKeyGetRequest) ContinuationToken(continuationToken string) APIRealmConnectionsConnectionKeyGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIRealmConnectionsConnectionKeyGetRequest) Filter(filter string) APIRealmConnectionsConnectionKeyGetRequest {
	r.filter = &filter
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIRealmConnectionsConnectionKeyGetRequest) Limit(limit int32) APIRealmConnectionsConnectionKeyGetRequest {
	r.limit = &limit
	return r
}

// The offset of the first resource to return from a collection.
func (r APIRealmConnectionsConnectionKeyGetRequest) Offset(offset int32) APIRealmConnectionsConnectionKeyGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of realm IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;realm_names&#x60; query parameter.
func (r APIRealmConnectionsConnectionKeyGetRequest) RealmIds(realmIds []string) APIRealmConnectionsConnectionKeyGetRequest {
	r.realmIds = &realmIds
	return r
}

// A comma-separated list of realm names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;realm_ids&#x60; query parameter.
func (r APIRealmConnectionsConnectionKeyGetRequest) RealmNames(realmNames []string) APIRealmConnectionsConnectionKeyGetRequest {
	r.realmNames = &realmNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIRealmConnectionsConnectionKeyGetRequest) Sort(sort []string) APIRealmConnectionsConnectionKeyGetRequest {
	r.sort = &sort
	return r
}

func (r APIRealmConnectionsConnectionKeyGetRequest) AuthorizationHeader(authorizationHeader string) APIRealmConnectionsConnectionKeyGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIRealmConnectionsConnectionKeyGetRequest) Execute() (*RealmConnectionKeyGetResponse, *http.Response, error) {
	return r.APIService.RealmConnectionsConnectionKeyGetExecute(r)
}

/*
RealmConnectionsConnectionKeyGet GET realm-connections/connection-key

List realm connection keys.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRealmConnectionsConnectionKeyGetRequest
*/
func (a *RealmConnectionsAPIService) RealmConnectionsConnectionKeyGet(ctx context.Context) APIRealmConnectionsConnectionKeyGetRequest {
	return APIRealmConnectionsConnectionKeyGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RealmConnectionKeyGetResponse
func (a *RealmConnectionsAPIService) RealmConnectionsConnectionKeyGetExecute(r APIRealmConnectionsConnectionKeyGetRequest) (*RealmConnectionKeyGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RealmConnectionKeyGetResponse
	)

	endpoint := "RealmConnectionsAPIService.RealmConnectionsConnectionKeyGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.26/realm-connections/connection-key"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.realmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "realm_ids", r.realmIds, "csv")
	}
	if r.realmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "realm_names", r.realmNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIRealmConnectionsConnectionKeyPostRequest struct {
	ctx                 context.Context
	APIService          *RealmConnectionsAPIService
	xRequestID          *string
	realmIds            *[]string
	realmNames          *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIRealmConnectionsConnectionKeyPostRequest) XRequestID(xRequestID string) APIRealmConnectionsConnectionKeyPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of realm IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;realm_names&#x60; query parameter.
func (r APIRealmConnectionsConnectionKeyPostRequest) RealmIds(realmIds []string) APIRealmConnectionsConnectionKeyPostRequest {
	r.realmIds = &realmIds
	return r
}

// A comma-separated list of realm names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;realm_ids&#x60; query parameter.
func (r APIRealmConnectionsConnectionKeyPostRequest) RealmNames(realmNames []string) APIRealmConnectionsConnectionKeyPostRequest {
	r.realmNames = &realmNames
	return r
}

func (r APIRealmConnectionsConnectionKeyPostRequest) AuthorizationHeader(authorizationHeader string) APIRealmConnectionsConnectionKeyPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIRealmConnectionsConnectionKeyPostRequest) Execute() (*RealmConnectionKeyResponse, *http.Response, error) {
	return r.APIService.RealmConnectionsConnectionKeyPostExecute(r)
}

/*
RealmConnectionsConnectionKeyPost POST realm-connections/connection-key

Create a realm connection key.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRealmConnectionsConnectionKeyPostRequest
*/
func (a *RealmConnectionsAPIService) RealmConnectionsConnectionKeyPost(ctx context.Context) APIRealmConnectionsConnectionKeyPostRequest {
	return APIRealmConnectionsConnectionKeyPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RealmConnectionKeyResponse
func (a *RealmConnectionsAPIService) RealmConnectionsConnectionKeyPostExecute(r APIRealmConnectionsConnectionKeyPostRequest) (*RealmConnectionKeyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RealmConnectionKeyResponse
	)

	endpoint := "RealmConnectionsAPIService.RealmConnectionsConnectionKeyPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.26/realm-connections/connection-key"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.realmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "realm_ids", r.realmIds, "csv")
	}
	if r.realmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "realm_names", r.realmNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIRealmConnectionsDeleteRequest struct {
	ctx                 context.Context
	APIService          *RealmConnectionsAPIService
	xRequestID          *string
	localRealmIds       *[]string
	localRealmNames     *[]string
	remoteRealmIds      *[]string
	remoteRealmNames    *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIRealmConnectionsDeleteRequest) XRequestID(xRequestID string) APIRealmConnectionsDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of local realm IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_realm_names&#x60; query parameter.
func (r APIRealmConnectionsDeleteRequest) LocalRealmIds(localRealmIds []string) APIRealmConnectionsDeleteRequest {
	r.localRealmIds = &localRealmIds
	return r
}

// A comma-separated list of local realm names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_realm_ids&#x60; query parameter.
func (r APIRealmConnectionsDeleteRequest) LocalRealmNames(localRealmNames []string) APIRealmConnectionsDeleteRequest {
	r.localRealmNames = &localRealmNames
	return r
}

// A comma-separated list of remote realm IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_realm_names&#x60; query parameter.
func (r APIRealmConnectionsDeleteRequest) RemoteRealmIds(remoteRealmIds []string) APIRealmConnectionsDeleteRequest {
	r.remoteRealmIds = &remoteRealmIds
	return r
}

// A comma-separated list of remote realm names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;remote_realm_ids&#x60; query parameter.
func (r APIRealmConnectionsDeleteRequest) RemoteRealmNames(remoteRealmNames []string) APIRealmConnectionsDeleteRequest {
	r.remoteRealmNames = &remoteRealmNames
	return r
}

func (r APIRealmConnectionsDeleteRequest) AuthorizationHeader(authorizationHeader string) APIRealmConnectionsDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIRealmConnectionsDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.RealmConnectionsDeleteExecute(r)
}

/*
RealmConnectionsDelete DELETE realm-connections

Delete realm connection.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRealmConnectionsDeleteRequest
*/
func (a *RealmConnectionsAPIService) RealmConnectionsDelete(ctx context.Context) APIRealmConnectionsDeleteRequest {
	return APIRealmConnectionsDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *RealmConnectionsAPIService) RealmConnectionsDeleteExecute(r APIRealmConnectionsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "RealmConnectionsAPIService.RealmConnectionsDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.26/realm-connections"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.localRealmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_realm_ids", r.localRealmIds, "csv")
	}
	if r.localRealmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_realm_names", r.localRealmNames, "csv")
	}
	if r.remoteRealmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_realm_ids", r.remoteRealmIds, "csv")
	}
	if r.remoteRealmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_realm_names", r.remoteRealmNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APIRealmConnectionsGetRequest struct {
	ctx                 context.Context
	APIService          *RealmConnectionsAPIService
	xRequestID          *string
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	localRealmIds       *[]string
	localRealmNames     *[]string
	offset              *int32
	remoteRealmIds      *[]string
	remoteRealmNames    *[]string
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APIRealmConnectionsGetRequest) XRequestID(xRequestID string) APIRealmConnectionsGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APIRealmConnectionsGetRequest) ContinuationToken(continuationToken string) APIRealmConnectionsGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APIRealmConnectionsGetRequest) Filter(filter string) APIRealmConnectionsGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APIRealmConnectionsGetRequest) Ids(ids []string) APIRealmConnectionsGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APIRealmConnectionsGetRequest) Limit(limit int32) APIRealmConnectionsGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of local realm IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_realm_names&#x60; query parameter.
func (r APIRealmConnectionsGetRequest) LocalRealmIds(localRealmIds []string) APIRealmConnectionsGetRequest {
	r.localRealmIds = &localRealmIds
	return r
}

// A comma-separated list of local realm names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_realm_ids&#x60; query parameter.
func (r APIRealmConnectionsGetRequest) LocalRealmNames(localRealmNames []string) APIRealmConnectionsGetRequest {
	r.localRealmNames = &localRealmNames
	return r
}

// The offset of the first resource to return from a collection.
func (r APIRealmConnectionsGetRequest) Offset(offset int32) APIRealmConnectionsGetRequest {
	r.offset = &offset
	return r
}

// A comma-separated list of remote realm IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_realm_names&#x60; query parameter.
func (r APIRealmConnectionsGetRequest) RemoteRealmIds(remoteRealmIds []string) APIRealmConnectionsGetRequest {
	r.remoteRealmIds = &remoteRealmIds
	return r
}

// A comma-separated list of remote realm names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;remote_realm_ids&#x60; query parameter.
func (r APIRealmConnectionsGetRequest) RemoteRealmNames(remoteRealmNames []string) APIRealmConnectionsGetRequest {
	r.remoteRealmNames = &remoteRealmNames
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APIRealmConnectionsGetRequest) Sort(sort []string) APIRealmConnectionsGetRequest {
	r.sort = &sort
	return r
}

func (r APIRealmConnectionsGetRequest) AuthorizationHeader(authorizationHeader string) APIRealmConnectionsGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIRealmConnectionsGetRequest) Execute() (*RealmConnectionGetResponse, *http.Response, error) {
	return r.APIService.RealmConnectionsGetExecute(r)
}

/*
RealmConnectionsGet GET realm-connections

List realm connections.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRealmConnectionsGetRequest
*/
func (a *RealmConnectionsAPIService) RealmConnectionsGet(ctx context.Context) APIRealmConnectionsGetRequest {
	return APIRealmConnectionsGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RealmConnectionGetResponse
func (a *RealmConnectionsAPIService) RealmConnectionsGetExecute(r APIRealmConnectionsGetRequest) (*RealmConnectionGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RealmConnectionGetResponse
	)

	endpoint := "RealmConnectionsAPIService.RealmConnectionsGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.26/realm-connections"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.localRealmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_realm_ids", r.localRealmIds, "csv")
	}
	if r.localRealmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_realm_names", r.localRealmNames, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.remoteRealmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_realm_ids", r.remoteRealmIds, "csv")
	}
	if r.remoteRealmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_realm_names", r.remoteRealmNames, "csv")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APIRealmConnectionsPostRequest struct {
	ctx                 context.Context
	APIService          *RealmConnectionsAPIService
	realmConnectionPost *RealmConnectionPost
	xRequestID          *string
	localRealmIds       *[]string
	localRealmNames     *[]string
	remoteRealmIds      *[]string
	remoteRealmNames    *[]string
	authorizationHeader *string
}

func (r APIRealmConnectionsPostRequest) RealmConnectionPost(realmConnectionPost RealmConnectionPost) APIRealmConnectionsPostRequest {
	r.realmConnectionPost = &realmConnectionPost
	return r
}

// Supplied by client during request or generated by server.
func (r APIRealmConnectionsPostRequest) XRequestID(xRequestID string) APIRealmConnectionsPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of local realm IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;local_realm_names&#x60; query parameter.
func (r APIRealmConnectionsPostRequest) LocalRealmIds(localRealmIds []string) APIRealmConnectionsPostRequest {
	r.localRealmIds = &localRealmIds
	return r
}

// A comma-separated list of local realm names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;local_realm_ids&#x60; query parameter.
func (r APIRealmConnectionsPostRequest) LocalRealmNames(localRealmNames []string) APIRealmConnectionsPostRequest {
	r.localRealmNames = &localRealmNames
	return r
}

// A comma-separated list of remote realm IDs. If, after filtering, there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with the &#x60;remote_realm_names&#x60; query parameter.
func (r APIRealmConnectionsPostRequest) RemoteRealmIds(remoteRealmIds []string) APIRealmConnectionsPostRequest {
	r.remoteRealmIds = &remoteRealmIds
	return r
}

// A comma-separated list of remote realm names. If there is not at least one resource that matches each of the elements, then an error is returned. This cannot be provided together with &#x60;remote_realm_ids&#x60; query parameter.
func (r APIRealmConnectionsPostRequest) RemoteRealmNames(remoteRealmNames []string) APIRealmConnectionsPostRequest {
	r.remoteRealmNames = &remoteRealmNames
	return r
}

func (r APIRealmConnectionsPostRequest) AuthorizationHeader(authorizationHeader string) APIRealmConnectionsPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APIRealmConnectionsPostRequest) Execute() (*RealmConnectionResponse, *http.Response, error) {
	return r.APIService.RealmConnectionsPostExecute(r)
}

/*
RealmConnectionsPost POST realm-connections

Create a realm connection.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APIRealmConnectionsPostRequest
*/
func (a *RealmConnectionsAPIService) RealmConnectionsPost(ctx context.Context) APIRealmConnectionsPostRequest {
	return APIRealmConnectionsPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RealmConnectionResponse
func (a *RealmConnectionsAPIService) RealmConnectionsPostExecute(r APIRealmConnectionsPostRequest) (*RealmConnectionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RealmConnectionResponse
	)

	endpoint := "RealmConnectionsAPIService.RealmConnectionsPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.26/realm-connections"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.realmConnectionPost == nil {
		return localVarReturnValue, nil, reportError("realmConnectionPost is required and must be specified")
	}

	if r.localRealmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_realm_ids", r.localRealmIds, "csv")
	}
	if r.localRealmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "local_realm_names", r.localRealmNames, "csv")
	}
	if r.remoteRealmIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_realm_ids", r.remoteRealmIds, "csv")
	}
	if r.remoteRealmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_realm_names", r.remoteRealmNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.realmConnectionPost
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
