/*
FlashArray REST API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.54
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// LifecycleRulesAPIService LifecycleRulesAPI service
type LifecycleRulesAPIService service

type APILifecycleRulesDeleteRequest struct {
	ctx          context.Context
	APIService   *LifecycleRulesAPIService
	xRequestID   *string
	bucketIds    *[]string
	bucketNames  *[]string
	contextNames *[]string
	ids          *[]string
	names        *[]string
}

// Supplied by client during request or generated by server.
func (r APILifecycleRulesDeleteRequest) XRequestID(xRequestID string) APILifecycleRulesDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of bucket IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;bucket_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_names&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APILifecycleRulesDeleteRequest) BucketIds(bucketIds []string) APILifecycleRulesDeleteRequest {
	r.bucketIds = &bucketIds
	return r
}

// A comma-separated list of bucket names. If there is not at least one resource that matches each of the elements of &#x60;bucket_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_ids&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APILifecycleRulesDeleteRequest) BucketNames(bucketNames []string) APILifecycleRulesDeleteRequest {
	r.bucketNames = &bucketNames
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APILifecycleRulesDeleteRequest) ContextNames(contextNames []string) APILifecycleRulesDeleteRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of unique resource IDs. At least one resource must match  each specified ID, otherwise an error is returned. This parameter is required   if ids or names is not provided, but it cannot be used together with name or names.
func (r APILifecycleRulesDeleteRequest) Ids(ids []string) APILifecycleRulesDeleteRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APILifecycleRulesDeleteRequest) Names(names []string) APILifecycleRulesDeleteRequest {
	r.names = &names
	return r
}

func (r APILifecycleRulesDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.LifecycleRulesDeleteExecute(r)
}

/*
LifecycleRulesDelete DELETE lifecycle-rules

Deletes individual lifecycle rules by name or id, or deletes all rules for a bucket.
If `ids` is specified, `bucket_names` or `bucket_ids` is also required.
If `bucket_names` or `bucket_ids` are specified without `ids`,
delete all the rules for the bucket.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APILifecycleRulesDeleteRequest
*/
func (a *LifecycleRulesAPIService) LifecycleRulesDelete(ctx context.Context) APILifecycleRulesDeleteRequest {
	return APILifecycleRulesDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *LifecycleRulesAPIService) LifecycleRulesDeleteExecute(r APILifecycleRulesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "LifecycleRulesAPIService.LifecycleRulesDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.54/lifecycle-rules"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_ids", r.bucketIds, "csv")
	}
	if r.bucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_names", r.bucketNames, "csv")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APILifecycleRulesGetRequest struct {
	ctx               context.Context
	APIService        *LifecycleRulesAPIService
	xRequestID        *string
	allowErrors       *bool
	bucketIds         *[]string
	bucketNames       *[]string
	contextNames      *[]string
	continuationToken *string
	filter            *string
	ids               *[]string
	limit             *int32
	names             *[]string
	offset            *int32
	sort              *[]string
	totalItemCount    *bool
}

// Supplied by client during request or generated by server.
func (r APILifecycleRulesGetRequest) XRequestID(xRequestID string) APILifecycleRulesGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, the API will allow the operation to continue even if there are errors. Any errors will be returned in the &#x60;errors&#x60; field of the response. If set to &#x60;false&#x60;, the operation will fail if there are any errors.
func (r APILifecycleRulesGetRequest) AllowErrors(allowErrors bool) APILifecycleRulesGetRequest {
	r.allowErrors = &allowErrors
	return r
}

// A comma-separated list of bucket IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;bucket_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_names&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APILifecycleRulesGetRequest) BucketIds(bucketIds []string) APILifecycleRulesGetRequest {
	r.bucketIds = &bucketIds
	return r
}

// A comma-separated list of bucket names. If there is not at least one resource that matches each of the elements of &#x60;bucket_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_ids&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APILifecycleRulesGetRequest) BucketNames(bucketNames []string) APILifecycleRulesGetRequest {
	r.bucketNames = &bucketNames
	return r
}

// Performs the operation on the unique contexts specified.  If specified, each context name must be the name of an array in the same fleet or the name of the fleet itself.  If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.  Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.
func (r APILifecycleRulesGetRequest) ContextNames(contextNames []string) APILifecycleRulesGetRequest {
	r.contextNames = &contextNames
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APILifecycleRulesGetRequest) ContinuationToken(continuationToken string) APILifecycleRulesGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APILifecycleRulesGetRequest) Filter(filter string) APILifecycleRulesGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of unique resource IDs. At least one resource must match  each specified ID, otherwise an error is returned. This parameter is required   if ids or names is not provided, but it cannot be used together with name or names.
func (r APILifecycleRulesGetRequest) Ids(ids []string) APILifecycleRulesGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APILifecycleRulesGetRequest) Limit(limit int32) APILifecycleRulesGetRequest {
	r.limit = &limit
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APILifecycleRulesGetRequest) Names(names []string) APILifecycleRulesGetRequest {
	r.names = &names
	return r
}

// The starting position based on the results of the query in relation to the full set of response objects returned.
func (r APILifecycleRulesGetRequest) Offset(offset int32) APILifecycleRulesGetRequest {
	r.offset = &offset
	return r
}

// Sorts the response objects by the specified fields. Sorting can be applied to any field name  in the response, in ascending order by default, or in descending order by prefixing the  field name with a minus sign (-). Multiple fields can be specified as a comma-separated  list (e.g., sort volumes by size descending, then by name ascending). If sort is provided,  the response will not include a continuation_token.
func (r APILifecycleRulesGetRequest) Sort(sort []string) APILifecycleRulesGetRequest {
	r.sort = &sort
	return r
}

// If set to &#x60;true&#x60;, the &#x60;total_item_count&#x60; matching the specified query parameters is calculated and returned in the response. If set to &#x60;false&#x60;, the &#x60;total_item_count&#x60; is &#x60;null&#x60; in the response. This may speed up queries where the &#x60;total_item_count&#x60; is large. If not specified, defaults to &#x60;false&#x60;.
func (r APILifecycleRulesGetRequest) TotalItemCount(totalItemCount bool) APILifecycleRulesGetRequest {
	r.totalItemCount = &totalItemCount
	return r
}

func (r APILifecycleRulesGetRequest) Execute() (*LifecycleRuleGetResponse, *http.Response, error) {
	return r.APIService.LifecycleRulesGetExecute(r)
}

/*
LifecycleRulesGet GET lifecycle-rules

Returns a list of lifecycle rules.
When `names` is specified, list the individual rules.
When `ids` is specified, `bucket_names` or `bucket_ids` is also required.
When `bucket_names` or `bucket_ids` are specified without `ids`,
if there are at most 10 buckets with lifecycle rules in the system,
list all the rules for the bucket, else it returns an error.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APILifecycleRulesGetRequest
*/
func (a *LifecycleRulesAPIService) LifecycleRulesGet(ctx context.Context) APILifecycleRulesGetRequest {
	return APILifecycleRulesGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LifecycleRuleGetResponse
func (a *LifecycleRulesAPIService) LifecycleRulesGetExecute(r APILifecycleRulesGetRequest) (*LifecycleRuleGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LifecycleRuleGetResponse
	)

	endpoint := "LifecycleRulesAPIService.LifecycleRulesGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.54/lifecycle-rules"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allow_errors", r.allowErrors, "")
	}
	if r.bucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_ids", r.bucketIds, "csv")
	}
	if r.bucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_names", r.bucketNames, "csv")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	if r.totalItemCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "total_item_count", r.totalItemCount, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APILifecycleRulesPatchRequest struct {
	ctx          context.Context
	APIService   *LifecycleRulesAPIService
	lifecycle    *LifecycleRulePatchBase
	xRequestID   *string
	bucketIds    *[]string
	bucketNames  *[]string
	confirmDate  *bool
	contextNames *[]string
	ids          *[]string
	names        *[]string
}

func (r APILifecycleRulesPatchRequest) Lifecycle(lifecycle LifecycleRulePatchBase) APILifecycleRulesPatchRequest {
	r.lifecycle = &lifecycle
	return r
}

// Supplied by client during request or generated by server.
func (r APILifecycleRulesPatchRequest) XRequestID(xRequestID string) APILifecycleRulesPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of bucket IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;bucket_ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_names&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APILifecycleRulesPatchRequest) BucketIds(bucketIds []string) APILifecycleRulesPatchRequest {
	r.bucketIds = &bucketIds
	return r
}

// A comma-separated list of bucket names. If there is not at least one resource that matches each of the elements of &#x60;bucket_names&#x60;, then an error is returned. This cannot be provided together with the &#x60;bucket_ids&#x60; query parameter. This can be provided with the &#x60;ids&#x60; query parameter but not with &#x60;names&#x60;.
func (r APILifecycleRulesPatchRequest) BucketNames(bucketNames []string) APILifecycleRulesPatchRequest {
	r.bucketNames = &bucketNames
	return r
}

// If set to &#x60;true&#x60;, then confirm the date of &#x60;keep_current_version_until&#x60; is correct.
func (r APILifecycleRulesPatchRequest) ConfirmDate(confirmDate bool) APILifecycleRulesPatchRequest {
	r.confirmDate = &confirmDate
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APILifecycleRulesPatchRequest) ContextNames(contextNames []string) APILifecycleRulesPatchRequest {
	r.contextNames = &contextNames
	return r
}

// A comma-separated list of unique resource IDs. At least one resource must match  each specified ID, otherwise an error is returned. This parameter is required   if ids or names is not provided, but it cannot be used together with name or names.
func (r APILifecycleRulesPatchRequest) Ids(ids []string) APILifecycleRulesPatchRequest {
	r.ids = &ids
	return r
}

// Performs the operation on the unique names specified. Enter multiple names in comma-separated format. For example, &#x60;name01,name02&#x60;.  If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned, except when creating new resources.
func (r APILifecycleRulesPatchRequest) Names(names []string) APILifecycleRulesPatchRequest {
	r.names = &names
	return r
}

func (r APILifecycleRulesPatchRequest) Execute() (*LifecycleRuleResponse, *http.Response, error) {
	return r.APIService.LifecycleRulesPatchExecute(r)
}

/*
LifecycleRulesPatch PATCH lifecycle-rules

Modify an existing lifecycle rule by name or id.
If `ids` is specified, `bucket_names` or `bucket_ids` is also required.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APILifecycleRulesPatchRequest
*/
func (a *LifecycleRulesAPIService) LifecycleRulesPatch(ctx context.Context) APILifecycleRulesPatchRequest {
	return APILifecycleRulesPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LifecycleRuleResponse
func (a *LifecycleRulesAPIService) LifecycleRulesPatchExecute(r APILifecycleRulesPatchRequest) (*LifecycleRuleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LifecycleRuleResponse
	)

	endpoint := "LifecycleRulesAPIService.LifecycleRulesPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.54/lifecycle-rules"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.lifecycle == nil {
		return localVarReturnValue, nil, reportError("lifecycle is required and must be specified")
	}

	if r.bucketIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_ids", r.bucketIds, "csv")
	}
	if r.bucketNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_names", r.bucketNames, "csv")
	}
	if r.confirmDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "confirm_date", r.confirmDate, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.lifecycle
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APILifecycleRulesPostRequest struct {
	ctx          context.Context
	APIService   *LifecycleRulesAPIService
	rule         *LifecycleRulePostBase
	xRequestID   *string
	confirmDate  *bool
	contextNames *[]string
}

func (r APILifecycleRulesPostRequest) Rule(rule LifecycleRulePostBase) APILifecycleRulesPostRequest {
	r.rule = &rule
	return r
}

// Supplied by client during request or generated by server.
func (r APILifecycleRulesPostRequest) XRequestID(xRequestID string) APILifecycleRulesPostRequest {
	r.xRequestID = &xRequestID
	return r
}

// If set to &#x60;true&#x60;, then confirm the date of &#x60;keep_current_version_until&#x60; is correct.
func (r APILifecycleRulesPostRequest) ConfirmDate(confirmDate bool) APILifecycleRulesPostRequest {
	r.confirmDate = &confirmDate
	return r
}

// Performs the operation on the context specified.  If specified, the context names must be an array of size 1, and the single element must be the name of an array in the same fleet or the name of the fleet itself. If not specified, the context will default to the array that received this request.  Other parameters provided with the request, such as names of volumes or snapshots, are resolved relative to the provided &#x60;context&#x60;.
func (r APILifecycleRulesPostRequest) ContextNames(contextNames []string) APILifecycleRulesPostRequest {
	r.contextNames = &contextNames
	return r
}

func (r APILifecycleRulesPostRequest) Execute() (*LifecycleRuleResponse, *http.Response, error) {
	return r.APIService.LifecycleRulesPostExecute(r)
}

/*
LifecycleRulesPost POST lifecycle-rules

Creates a lifecycle rule.
`bucket` and `keep_previous_version_for` are required.
If `rule_id` is not specified,
it will be automatically generated in the format "faRuleIdX".

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APILifecycleRulesPostRequest
*/
func (a *LifecycleRulesAPIService) LifecycleRulesPost(ctx context.Context) APILifecycleRulesPostRequest {
	return APILifecycleRulesPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LifecycleRuleResponse
func (a *LifecycleRulesAPIService) LifecycleRulesPostExecute(r APILifecycleRulesPostRequest) (*LifecycleRuleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LifecycleRuleResponse
	)

	endpoint := "LifecycleRulesAPIService.LifecycleRulesPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	nonAuthEndpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authenticator Authenticator
	if !nonAuthEndpoints[endpoint] {
		authenticator = a.client.cfg.Authenticator
	} else {
		authenticator = nil
	}

	if authenticator != nil {
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, nil, err
		}
	}

	localVarPath := localBasePath + "/api/2.54/lifecycle-rules"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.rule == nil {
		return localVarReturnValue, nil, reportError("rule is required and must be specified")
	}

	if r.confirmDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "confirm_date", r.confirmDate, "")
	}
	if r.contextNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context_names", r.contextNames, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, http.CanonicalHeaderKey("X-Request-ID"), r.xRequestID, "")
	}
	// body params
	localVarPostBody = r.rule
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignoredEndpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	authStatusCodes := map[int]bool{
		401: true,
	}

	if authStatusCodes[localVarHTTPResponse.StatusCode] && !ignoredEndpoints[endpoint] && authenticator != nil {
		// Drain and close the first response body so its connection can be
		// reused; keep a buffered copy readable in case the retry fails and
		// this response is returned to the caller.
		firstRespBody, _ := io.ReadAll(localVarHTTPResponse.Body)
		localVarHTTPResponse.Body.Close()
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(firstRespBody))
		// retry with token refresh
		err = authenticator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		if err := authenticator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
