/*
FlashBlade REST API

A lightweight client for FlashBlade REST API 2.19, developed by Pure Storage, Inc. (http://www.purestorage.com/).

API version: 2.19
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gopureclient

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// SNMPManagersAPIService SNMPManagersAPI service
type SNMPManagersAPIService service

type APISnmpManagersDeleteRequest struct {
	ctx                 context.Context
	APIService          *SNMPManagersAPIService
	xRequestID          *string
	ids                 *[]string
	names               *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APISnmpManagersDeleteRequest) XRequestID(xRequestID string) APISnmpManagersDeleteRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APISnmpManagersDeleteRequest) Ids(ids []string) APISnmpManagersDeleteRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APISnmpManagersDeleteRequest) Names(names []string) APISnmpManagersDeleteRequest {
	r.names = &names
	return r
}

func (r APISnmpManagersDeleteRequest) AuthorizationHeader(authorizationHeader string) APISnmpManagersDeleteRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APISnmpManagersDeleteRequest) Execute() (*http.Response, error) {
	return r.APIService.SnmpManagersDeleteExecute(r)
}

/*
SnmpManagersDelete DELETE snmp-managers

Remove an SNMP manager.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APISnmpManagersDeleteRequest
*/
func (a *SNMPManagersAPIService) SnmpManagersDelete(ctx context.Context) APISnmpManagersDeleteRequest {
	return APISnmpManagersDeleteRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *SNMPManagersAPIService) SnmpManagersDeleteExecute(r APISnmpManagersDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	endpoint := "SNMPManagersAPIService.SnmpManagersDelete"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.19/snmp-managers"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type APISnmpManagersGetRequest struct {
	ctx                 context.Context
	APIService          *SNMPManagersAPIService
	xRequestID          *string
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APISnmpManagersGetRequest) XRequestID(xRequestID string) APISnmpManagersGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APISnmpManagersGetRequest) ContinuationToken(continuationToken string) APISnmpManagersGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APISnmpManagersGetRequest) Filter(filter string) APISnmpManagersGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APISnmpManagersGetRequest) Ids(ids []string) APISnmpManagersGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APISnmpManagersGetRequest) Limit(limit int32) APISnmpManagersGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APISnmpManagersGetRequest) Names(names []string) APISnmpManagersGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APISnmpManagersGetRequest) Offset(offset int32) APISnmpManagersGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APISnmpManagersGetRequest) Sort(sort []string) APISnmpManagersGetRequest {
	r.sort = &sort
	return r
}

func (r APISnmpManagersGetRequest) AuthorizationHeader(authorizationHeader string) APISnmpManagersGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APISnmpManagersGetRequest) Execute() (*SnmpManagerGetResponse, *http.Response, error) {
	return r.APIService.SnmpManagersGetExecute(r)
}

/*
SnmpManagersGet GET snmp-managers

List SNMP managers and their attributes.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APISnmpManagersGetRequest
*/
func (a *SNMPManagersAPIService) SnmpManagersGet(ctx context.Context) APISnmpManagersGetRequest {
	return APISnmpManagersGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SnmpManagerGetResponse
func (a *SNMPManagersAPIService) SnmpManagersGetExecute(r APISnmpManagersGetRequest) (*SnmpManagerGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SnmpManagerGetResponse
	)

	endpoint := "SNMPManagersAPIService.SnmpManagersGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.19/snmp-managers"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APISnmpManagersPatchRequest struct {
	ctx                 context.Context
	APIService          *SNMPManagersAPIService
	snmpManager         *SnmpManager
	xRequestID          *string
	ids                 *[]string
	names               *[]string
	authorizationHeader *string
}

func (r APISnmpManagersPatchRequest) SnmpManager(snmpManager SnmpManager) APISnmpManagersPatchRequest {
	r.snmpManager = &snmpManager
	return r
}

// Supplied by client during request or generated by server.
func (r APISnmpManagersPatchRequest) XRequestID(xRequestID string) APISnmpManagersPatchRequest {
	r.xRequestID = &xRequestID
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APISnmpManagersPatchRequest) Ids(ids []string) APISnmpManagersPatchRequest {
	r.ids = &ids
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APISnmpManagersPatchRequest) Names(names []string) APISnmpManagersPatchRequest {
	r.names = &names
	return r
}

func (r APISnmpManagersPatchRequest) AuthorizationHeader(authorizationHeader string) APISnmpManagersPatchRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APISnmpManagersPatchRequest) Execute() (*SnmpManagerResponse, *http.Response, error) {
	return r.APIService.SnmpManagersPatchExecute(r)
}

/*
SnmpManagersPatch PATCH snmp-managers

Modify SNMP manager attributes such as versions.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APISnmpManagersPatchRequest
*/
func (a *SNMPManagersAPIService) SnmpManagersPatch(ctx context.Context) APISnmpManagersPatchRequest {
	return APISnmpManagersPatchRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SnmpManagerResponse
func (a *SNMPManagersAPIService) SnmpManagersPatchExecute(r APISnmpManagersPatchRequest) (*SnmpManagerResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SnmpManagerResponse
	)

	endpoint := "SNMPManagersAPIService.SnmpManagersPatch"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.19/snmp-managers"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.snmpManager == nil {
		return localVarReturnValue, nil, reportError("snmpManager is required and must be specified")
	}

	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.snmpManager
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APISnmpManagersPostRequest struct {
	ctx                 context.Context
	APIService          *SNMPManagersAPIService
	names               *[]string
	snmpManager         *SnmpManagerPost
	xRequestID          *string
	authorizationHeader *string
}

// A comma-separated list of resource names.
func (r APISnmpManagersPostRequest) Names(names []string) APISnmpManagersPostRequest {
	r.names = &names
	return r
}

func (r APISnmpManagersPostRequest) SnmpManager(snmpManager SnmpManagerPost) APISnmpManagersPostRequest {
	r.snmpManager = &snmpManager
	return r
}

// Supplied by client during request or generated by server.
func (r APISnmpManagersPostRequest) XRequestID(xRequestID string) APISnmpManagersPostRequest {
	r.xRequestID = &xRequestID
	return r
}

func (r APISnmpManagersPostRequest) AuthorizationHeader(authorizationHeader string) APISnmpManagersPostRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APISnmpManagersPostRequest) Execute() (*SnmpManagerResponse, *http.Response, error) {
	return r.APIService.SnmpManagersPostExecute(r)
}

/*
SnmpManagersPost POST snmp-managers

Create an SNMP manager.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APISnmpManagersPostRequest
*/
func (a *SNMPManagersAPIService) SnmpManagersPost(ctx context.Context) APISnmpManagersPostRequest {
	return APISnmpManagersPostRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SnmpManagerResponse
func (a *SNMPManagersAPIService) SnmpManagersPostExecute(r APISnmpManagersPostRequest) (*SnmpManagerResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SnmpManagerResponse
	)

	endpoint := "SNMPManagersAPIService.SnmpManagersPost"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.19/snmp-managers"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.names == nil {
		return localVarReturnValue, nil, reportError("names is required and must be specified")
	}
	if r.snmpManager == nil {
		return localVarReturnValue, nil, reportError("snmpManager is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	// body params
	localVarPostBody = r.snmpManager
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type APISnmpManagersTestGetRequest struct {
	ctx                 context.Context
	APIService          *SNMPManagersAPIService
	xRequestID          *string
	continuationToken   *string
	filter              *string
	ids                 *[]string
	limit               *int32
	names               *[]string
	offset              *int32
	sort                *[]string
	authorizationHeader *string
}

// Supplied by client during request or generated by server.
func (r APISnmpManagersTestGetRequest) XRequestID(xRequestID string) APISnmpManagersTestGetRequest {
	r.xRequestID = &xRequestID
	return r
}

// A token used to retrieve the next page of data with some consistency guaranteed. The token is a Base64 encoded value. Set &#x60;continuation_token&#x60; to the system-generated token taken from the &#x60;x-next-token&#x60; header field of the response. A query has reached its last page when the response does not include a token. Pagination requires the &#x60;limit&#x60; and &#x60;continuation_token&#x60; query parameters.
func (r APISnmpManagersTestGetRequest) ContinuationToken(continuationToken string) APISnmpManagersTestGetRequest {
	r.continuationToken = &continuationToken
	return r
}

// Narrows down the results to only the response objects that satisfy the filter criteria.
func (r APISnmpManagersTestGetRequest) Filter(filter string) APISnmpManagersTestGetRequest {
	r.filter = &filter
	return r
}

// A comma-separated list of resource IDs. If after filtering, there is not at least one resource that matches each of the elements of &#x60;ids&#x60;, then an error is returned. This cannot be provided together with the &#x60;name&#x60; or &#x60;names&#x60; query parameters.
func (r APISnmpManagersTestGetRequest) Ids(ids []string) APISnmpManagersTestGetRequest {
	r.ids = &ids
	return r
}

// Limits the size of the response to the specified number of objects on each page. To return the total number of resources, set &#x60;limit&#x3D;0&#x60;. The total number of resources is returned as a &#x60;total_item_count&#x60; value. If the page size requested is larger than the system maximum limit, the server returns the maximum limit, disregarding the requested page size.
func (r APISnmpManagersTestGetRequest) Limit(limit int32) APISnmpManagersTestGetRequest {
	r.limit = &limit
	return r
}

// A comma-separated list of resource names. If there is not at least one resource that matches each of the elements of &#x60;names&#x60;, then an error is returned.
func (r APISnmpManagersTestGetRequest) Names(names []string) APISnmpManagersTestGetRequest {
	r.names = &names
	return r
}

// The offset of the first resource to return from a collection.
func (r APISnmpManagersTestGetRequest) Offset(offset int32) APISnmpManagersTestGetRequest {
	r.offset = &offset
	return r
}

// Sort the response by the specified fields (in descending order if &#39;-&#39; is appended to the field name). NOTE: If you provide a sort you will not get a &#x60;continuation_token&#x60; in the response.
func (r APISnmpManagersTestGetRequest) Sort(sort []string) APISnmpManagersTestGetRequest {
	r.sort = &sort
	return r
}

func (r APISnmpManagersTestGetRequest) AuthorizationHeader(authorizationHeader string) APISnmpManagersTestGetRequest {
	r.authorizationHeader = &authorizationHeader
	return r
}

func (r APISnmpManagersTestGetRequest) Execute() (*TestResultGetResponse, *http.Response, error) {
	return r.APIService.SnmpManagersTestGetExecute(r)
}

/*
SnmpManagersTestGet GET snmp-managers/test

Test if the configuration of an SNMP manager is valid.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return APISnmpManagersTestGetRequest
*/
func (a *SNMPManagersAPIService) SnmpManagersTestGet(ctx context.Context) APISnmpManagersTestGetRequest {
	return APISnmpManagersTestGetRequest{
		APIService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TestResultGetResponse
func (a *SNMPManagersAPIService) SnmpManagersTestGetExecute(r APISnmpManagersTestGetRequest) (*TestResultGetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TestResultGetResponse
	)

	endpoint := "SNMPManagersAPIService.SnmpManagersTestGet"
	localVarHeaderParams := make(map[string]string)

	localBasePath := a.client.cfg.ArrayURL

	non_auth_endpoints := map[string]bool{
		"AuthorizationAPIService.Oauth210TokenPost": true,
		"AuthorizationAPIService.LoginPost":         true,
	}
	var authentificator Authentificator
	if !non_auth_endpoints[endpoint] {
		authentificator = a.client.cfg.Authentificator
	} else {
		authentificator = nil
	}

	if authentificator != nil {
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
	}

	localVarPath := localBasePath + "/api/2.19/snmp-managers/test"

	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.continuationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continuation_token", r.continuationToken, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "csv")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRequestID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Request-ID", r.xRequestID, "")
	}
	if r.authorizationHeader != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.authorizationHeader, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	ignored_endpoints := map[string]bool{
		"AuthorizationAPIService.LogoutPost": true,
	}

	auth_status_codes := map[int]bool{
		401: true,
		403: true,
	}

	if auth_status_codes[localVarHTTPResponse.StatusCode] && !ignored_endpoints[endpoint] && authentificator != nil {
		// retry with token refresh
		err = authentificator.RefreshAccessToken(r.ctx, *a.client.AuthorizationAPI)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		// Update auth header
		authentificator.SetAuthHeader(r.ctx, *a.client.AuthorizationAPI, localVarHeaderParams)
		req, err = a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		localVarHTTPResponse, err = a.client.callAPI(req)
		if err != nil || localVarHTTPResponse == nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &ErrorResponse{
			StatusCode: localVarHTTPResponse.StatusCode,
			Headers:    localVarHTTPResponse.Header,
		}
		err = a.client.decode(&newErr, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, &GenericOpenAPIError{
				body:  localVarBody,
				error: localVarHTTPResponse.Status,
			}
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
